[2015-04-09 23:11] dknaan opened #9 "Decrease the number of samples"
Hi,

There are currently 12 samples. Some of them don't demonstrate any special feature and some have duplicated code.
I consider dcreasing the number of samples and adding new samples that demonstrate specific features or abilities of the GVRF library.
In general, I would prefer to have simple samples that are demonstrate well a specific feature and easy to understand.

Having too many samples, m

[2015-04-10 22:30] thomasflynn commented on #9
Agreed.  It would be a good idea to focus our samples a bit better:  Remove redundant ones and make new ones to highlight how to use features that aren’t already covered in the existing samples.  Removing Cockpit, Panorama, Gvr-sample sound like good candidates.  Simplegallery and Opacityanigallery seem like they could be perhaps merged into one with some option to select which animation to use.

[2015-04-13 06:15] chenchao1407 commented on #9
I would rather keep gvrsample since it is a very basic and clear example for people to get into GVRF.

[2015-04-13 18:39] dknaan commented on #9
Don’t you think that the simple-sample enough to demonstrate the basics?

From: chenchao1407 [mailto:notifications@github.com]
Sent: Sunday, April 12, 2015 11:15 PM
To: Samsung/GearVRf
Cc: Dotan Knaan
Subject: Re: [GearVRf] Decrease the number of samples (#9)

I would rather keep gvrsample since it is a very basic and clear example for people to get into GVRF.

—
Reply to this email directly or vi

[2015-04-14 12:52] nathan-almeida opened #13 "GVRAnimation::new GVRAnimation - nested animation crashes api"
When trying to nest animations the api crashes.

[code]

[2015-04-14 22:09] JonShemitz commented on #13
Nathan, I can not reproduce this issue on 1.6.5, whether I launch the nested animation from `onInit()` or `onStep()`. Even when I do something really dumb - launching the nested animation on **every** `onStep()`, so that there are hundred of animations running, stepping on each other - I can not make it crash.

I don't think there's any way to attach a tarball to this issue; could you please mail

[2015-04-16 16:00] nathan-almeida commented on #13
Hi Jon,

we were using an older version of gvrf when we reported this issue. We updated it and it's now working just as you said.

I'm closing this issue.

[2015-04-16 16:00] #13 closed

[2015-04-17 15:58] nathan-almeida opened #19 "GVRAccelerateDecelerateInterpolator::mapRatio(float) - Error message"
The message when passing an invalid mapRatio to **GVRAccelerateDecelerateInterpolator::mapRatio()** could be more user friendly.

[code]

[2015-04-17 16:15] nathan-almeida opened #20 "GVRAccelerateDecelerateInterpolator::mapRatio(float) - Positive infinity"
A map ratio for positive infinity value returns NAN instead of POSITIVE_INFINITY

[code]

[2015-04-17 16:16] nathan-almeida opened #21 "GVRAccelerateDecelerateInterpolator::mapRatio(float) - Negative infinity"
A map ratio for positive infinity value returns NAN instead of NEGATIVE_INFINITY

[code]

[2015-04-17 18:21] JonShemitz commented on #21
I'm not sure there's any point to testing this parameter: This is _not_ user-facing code; it is only called by the animation engine, and the inputs are always in the range [0, 1].

[2015-04-17 18:21] JonShemitz commented on #20
I'm not sure there's any point to testing this parameter: This is _not_ user-facing code; it is only called by the animation engine, and the inputs are always in the range [0, 1].

[2015-04-17 18:22] JonShemitz commented on #19
I'm not sure there's any point to testing this parameter: This is _not_ user-facing code; it is only called by the animation engine, and the inputs are always in the range [0, 1].

[2015-04-17 19:06] JonShemitz opened #24 "GVRF reference counting"
GVRF uses a (native code) `std::shared_ptr` based reference counting scheme. It works well enough in 'normal' cases, but does break down in the not-so-special case where you have an object (we see this commonly with scene objects and textures, but it could happen with other objects, too) that goes in and out of the scene graph: When GVRF sees that an object has no native references (just the refer

[2015-04-17 19:14] thomasflynn commented on #24
I think we need to go back and investigate how other scene graphs handle this issue.  Grant it, we might have a bit of a special case by having this division between native code and java code.  But I don't remember encountering these kinds of problem with other scene graphs.

[2015-04-17 19:40] nathan-almeida opened #25 "GVRVideoSceneObject::new GVRVideoSceneObject(GVRContext, float, float, MediaPlayer, int) - Error message"
The message when passing an invalid videoType in GVRVideoSceneObject creation could be more user friendly.

[code]

[2015-04-17 19:55] nathanalmeida opened #26 "GVRCameraRig::setCameraRigType(int) - Invalid parameter"
There could be an IllegalArgumentException message for passing an invalid cameraRigType to GVRCameraRig::setCameraRigType().

[code]

[2015-04-17 20:06] JonShemitz commented on #25
It _does_ throw an `IllegalArgumentException` and the docs _do_ say that that means "an invalid `videoType` parameter" - that sure seems like enough, to me.

Beyond that, your proposed exception message seems wrong, to me: it's going to show the decimal values of the constants, not their symbolic names.

[2015-04-17 20:08] JonShemitz commented on #26
Yes. Low priority, imho.

[2015-04-17 21:16] chenchao1407 commented on #24
How about something like register/unregister mechanism or add flag in constructor to let developer to say if it should be reserved without recycling?

[2015-04-17 21:26] JonShemitz commented on #24
There are a lot of constructors; I don't think we want to change each and every one to handle something that only applies to maybe 1% to 5% of all GVRF objects.

How does a "register/unregister mechanism" differ from touch/release?

[2015-04-17 22:38] jason2kim commented on #24
Can’t it be more natural to keep object intact by default unless the user explicitly call recycle(), I mean the opposite approach? From the app developers’ perspective, I think they’d better don’t know about the reference counts in the framework. As Tom suggested, one way would be learn best practices for it from investigating other SGs.

[2015-04-17 22:53] JonShemitz commented on #24
Leaving resource lifecycle management to the app is one heck of a burden, Jason. It would slow app development tremendously, and most app developers would get it wrong: They'd leak some resources by not freeing them, and have dangling reference issues from freeing other resources prematurely. (Just look at how much easier app development is in a garbage collected environment than it is in C!)

[2015-04-17 23:13] JonShemitz commented on #24
Huh - I thought I replied to Tom's reply. I think it may indeed be the case that we are in a very sparsely populated part of the 'state space'.

It's 100% common for managed code (Java or C# or whatever) to have classes that wrap native code. But - generally - there's a 1:1 relationship between native instances and managed wrappers, and most of the action happens in the 'wrapped side'. An Android

[2015-04-20 19:17] JonShemitz commented on #24
A different - though much more programmer-intensive - way to solve this problem is to totally ditch the native reference counting, and let Java drive the recycling. We would only free a native object when its Java object is `finalize()`d (or, perhaps, explicitly `close()`d). This would eliminate all need for the 'object identity' code, manually manipulating reference counts, and `setKeepWrapper()`

[2015-04-20 23:49] chenchao1407 commented on #24
Actually I was thinking of finalized() also. But I guess somehow we would lose direct control for the gabbage collection because those JNI object will be released only when GC cycle is triggered. And also, the whole mechanism for our current reference counting recycling may need to be restructured.

[2015-04-22 15:21] nathanalmeida opened #27 "GVRBitmapTexture::new GVRBitmapTexture(GVRContext, String) - native crash"
When passing an empty or null String to **GVRBitmapTexture**'s constructor, a native crash occurs.

[code]

[code]

[2015-04-22 15:54] nathan-almeida commented on #27
In fact, maybe just a better feedback for the user, telling in which line or which object made this issue happen, could be enough.

[2015-04-22 16:00] nathanalmeida opened #28 "GVRCameraRig::getFloat(String) - native crash"
When passing a not inatialized  key to **GVRCameraRig::getFloat(String)**, a native crash occurs.

[code]

If we add the line

[code]

before calling the **get** method, the error doesn`t happen anymore.

[2015-04-22 16:00] nathan-almeida commented on #28
In fact, maybe just a better feedback for the user, telling in which line or which object made this issue happen, could be enough.

[2015-04-23 18:34] nathan-almeida opened #29 "GVRMaterial::getVec2(String) - native crash"
When passing a not inatialized key to **GVRMaterial::getVec2(String)**, a native crash occurs.

[code]

If we add the line
[code]

before calling the **get** method, the error doesn`t happen anymore.

This also happens for **getVec3** and **getVec4**

[2015-04-23 19:44] nathan-almeida opened #30 "GVRSceneObject::setName(String) - native crash"
When setting a null String in **GVRSceneObject::setName(String)**, a native crash occurs.

[code]

[2015-04-27 17:29] JonShemitz commented on #24
Chao wrote:

In some ways, this is good: we currently poll for dead objects, 60 times a second. Leaving most of that work to the much less frequent garbage collection will leave more cycles for rendering.

Plus, adding a manual `close()` method lets app code release transient resources well before gc would get to them. (This, too, is Industry Standard.)

No, not "restructured": it would be gutted.

[2015-04-27 19:56] DanielNogueiraAndroid opened #32 "GVRContext::loadMesh(GVRAndroidResource androidResource) - non-triangle meshes are not getting visible"
When trying to load non-triangle meshes as parameter to **GVRContext.loadMesh(GVRAndroidResource androidResource)**, application runs normally without crashing but the Mesh is not visible.

We are using this code (that works, the cube is visible):
[code]
And that code (that does not works, the cube is invisible):
[code]
About Triangulation Ricardo Maginador explained:

The only difference between

[2015-04-27 20:27] JonShemitz commented on #32
http://ogldev.atspace.co.uk/www/tutorial22/tutorial22.html suggests that Assimp does support non-triangle meshes; a quick glance at our code shows that we don't seem to be using those APIs.

I think changing this should be a pretty low-priority, but we should probably add a 'triangles only' note to the JavaDoc, in the meanwhile.

[2015-04-30 22:44] #19 closed

[2015-04-30 22:44] #20 closed

[2015-04-30 22:45] #21 closed

[2015-05-04 17:56] #25 closed

[2015-05-08 23:59] chenchao1407 opened #39 "For gvrvideo, you can't stop audio after pressing home key."
You can hear audio still playing after stop the app. It means the Media Player is still running even though we quit the app. Only killing the process can stop everything( and it definitely should be.)..

[2015-05-12 17:05] JonShemitz commented on #24
https://github.com/Samsung/GearVRf/pull/41

[2015-05-12 17:05] #24 closed

[2015-05-14 21:33] santhyago opened #46 "GVRTransform::getRotationPitch - Result is NaN"
We think that **pitch** value must be **between 0 and 360**, but the method is returning **NaN**.

[code]
The first time, **pitch** gets a *"valid"* value (*1.63E-43*, I don't know if this is a valid value, but is in the range).
[code]
The second time, with these values, **pitch** gets a **NaN** as value.

[2015-05-15 01:11] chenchao1407 commented on #39
Fixed.

[2015-05-15 01:11] #39 closed

[2015-05-18 22:16] JonShemitz commented on #46
BoundsValues.getFloatList().get(0),
    BoundsValues.getFloatList().get(0),
    BoundsValues.getFloatList().get(0));
    // ...
    mSceneObject.getTransform().setRotation(1.0f,
    BoundsValues.getFloatList().get(1),
    BoundsValues.getFloatList().get(1),
    BoundsValues.getFloatList().get(1));

This is probably a genuine bug - but what are the values returned by `BoundsValues.getFloatList().ge

[2015-05-19 13:13] santhyago commented on #46
[code]

[code]

[code]

[code]

[2015-05-19 17:12] JonShemitz commented on #46
Thanks - it's probably an over (or under) flow error. Would you take a look, @guodongrong? `jni/objects/components/transform.h` defines

    float rotation_pitch() const {
        return glm::pitch(rotation_);
    }

I see that glm::pitch() takes an `precision` type parameter, but I don't know enough about (quaternions or) glm to start poking around.

[2015-05-20 02:31] chenchao1407 opened #55 "Issue with GVRSphereSceneObject."
I just merged the pull request #48 for not stopping our progress on other stuffs. But actually as you may see in the sample app provided by #48 . The texture content is somehow distorted in a wrong way.

[2015-05-21 02:39] chenchao1407 opened #60 "Issue with GVRBitmapTexture.update()"
Right now, the GVRBitmapTexture.update() only works on VrThread. It means, if you want to trigger the update() with your input event or any other thread, the update() doesn't work.

We may find a way to fix it or somehow do a workaround like hold the most recent update until next onDrawEyeView get triggered.

[2015-05-21 16:53] JonShemitz commented on #60
It's a GL operation - of course it has to run on the GL thread.

[2015-05-21 16:53] #60 closed

[2015-05-21 20:30] elidelsonc opened #63 "GVRFloatTexture::Constructor - It is not throwing the exception"
The exception below is not been thrown.

*IllegalArgumentException - If width or height is <= 0, or if data is null, or if data.length < height * width * 2*
[GVRFloatTexture Documentation](http://docs.gearvrf.org/org/gearvrf/GVRFloatTexture.html#constructor_summary)

[code]

[2015-05-21 20:38] JonShemitz commented on #63
Thanks! `GVRFloatTexture` line 49 should call Java `update()`, not `NativeFloatTexture.update()`.

My bad, will fix, though perhaps not until next week.

[2015-05-22 18:04] JonShemitz commented on #63
Should be fine now, @elidelsonc.

[2015-05-22 18:04] #63 closed

[2015-05-22 18:59] DanielNogueiraAndroid opened #69 "SpeechRecognizer should be used only from the application's main thread on GVRScript"
It is possible to run on a class that extends from GVRScript, some code that going to run on main Thread ?
I'm trying to run this code:
 "SpeechRecognizer.createSpeechRecognizer(gvrContext.getContext());"
this is the error:
java.lang.RuntimeException: SpeechRecognizer should be used only from the application's main thread

[2015-05-22 19:07] JonShemitz commented on #69
If you pass your GVRActivity to the script’s constructor, you can call Activity methods like runOnUiThread() from your script.

From: DanielNogueiraAndroid [mailto:notifications@github.com]
Sent: Friday, May 22, 2015 12:00 PM
To: Samsung/GearVRf
Subject: [GearVRf] SpeechRecognizer should be used only from the application's main thread on GVRScript (#69)

It is possible to run on a class that exten

[2015-05-22 20:37] DanielNogueiraAndroid commented on #69
Ok it works !!!
You have any idea how to do that if i need to call this code:
"SpeechRecognizer.createSpeechRecognizer(gvrContext.getContext());"
inside a class that extends from GVRSceneObject ?
without pass GVRActivity as parameter (avoiding to have instance of GVRActivity inside GVRSceneObject)
something like gvrContext.runOnGlThread but for MainThread

[2015-05-22 20:47] JonShemitz commented on #69
We're having a slow-motion internal discussion about exposing the `GVRActivity` _via_ `GVRContext`. One of the changes I made very early on was changing `GVRContext.getContext()` to return the `ApplicationContext`, not the `Activity`. This was robotic, Android 101 thinking on my part: You don't hold onto an `Activity` because that can be a huge memory leak. But GVRF has turned out to be very singl

[2015-05-22 21:07] DanielNogueiraAndroid commented on #69
Great !!!

[2015-05-22 23:45] rongguodong commented on #55
Can you check whether this issue is fixed with my change #68?

[2015-05-23 19:52] mkeblx opened #74 "Input samples"
It would be useful to have some samples that demonstrate usage of external input like a gamepad and keyboard. A lot of applications beyond gaming could use good text entry support.

[2015-05-24 06:15] tflynnt commented on #74
I tried replying to the email notification of then when i got this earlier today.  Apparently it wasn't enough.  Here was my reply:

Fair enough.  We can create some samples that include various input.  Here are some references in the meantime:

for keyboard input, override onKeyDown in your activity:  http://developer.android.com/reference/android/app/Activity.html

Gamepad:  https://developer.an

[2015-05-24 17:35] mkeblx commented on #74
Hmm, I couldn't get onKeyDown/onKeyUp to invoke. Had to resort to shimming with dispatchKeyEvent:

[code]

[2015-05-24 18:15] thomasflynn commented on #74
interesting.  we'll have to take a closer look into that.  we had problems earlier with the oculus sdk intercepting touch events and not passing them to the activity.  we had to work-around it in a similar way.  maybe something similar is happening with the keyboard.

[2015-05-24 18:40] mkeblx commented on #74
That's likely it. The physical back button near the headset touchpad is using that code path.

[2015-05-24 21:39] mkeblx opened #75 "Monoscopic mode"
Currently there is no way to force monoscopic rendering iff isVrSupported but monoscopic should be able to be used on GearVR supported phones.

[code]

[2015-05-29 20:01] thomasflynn opened #81 "gvr-sample showing green"
The gvr-sample was just showing green on a Nexus 5 in monoscopic mode.

[2015-05-29 20:02] thomasflynn opened #82 "Level Of Detail (LOD) support"
We should really add support for level of detail nodes.

[2015-05-29 20:03] thomasflynn opened #83 "Add lighting."
Add initial support for lighting.

[2015-05-29 20:04] thomasflynn opened #84 "Stats"
Add support to see the number of triangles, number of draw calls, amount of time spent on the CPU and spent on the GPU.

[2015-05-29 20:05] thomasflynn opened #85 ".fbx file support"
Assimp 3.1 (which we use) has support for the .fbx format.  However, that code requires rtti support.  The oculus sdk requires compiling with -fno-rtti.  We cannot link them in the same application :(.  Need to find a work-around.

[2015-05-29 20:07] thomasflynn opened #86 "Support for shadows."
Need support for rendering shadows.

[2015-05-29 20:08] thomasflynn opened #87 "Allow specifying texture parameters."
Need to allow setting of texture parameters: min & mag filters, format, type, aniso, etc.

[2015-05-29 20:09] thomasflynn opened #88 "Initial configuration support."
Right now we hard-code settings for multisample, cpu & gpu levels, and so on.  There's are hard-coded in activity_jni.cpp in the oculus/ directory.  We should allow setting those before we send them to the oculus sdk.

[2015-05-29 20:11] thomasflynn opened #89 "Do culling per-scene, not per-eye."
Currently, frustum culling is done in renderCamera() in renderer.cpp.  renderCamera() is called per-eye.  It would be more ideal to do that culling once per frame, rather than twice.  That culling should be perhaps done against a combined left/right eye frustum.

[2015-05-29 20:14] thomasflynn opened #90 "Occlusion culling improvements"
first verify the implementation that exists.
next, perhaps allow certain objects to be marked as occluders (i.e. a wall) and only render those occluders.  it looks like the current code treats all objects as possible occluders.

[2015-05-29 20:15] thomasflynn opened #91 "state sorting"
Add support for state sorting.  At least add grouping by shader if not other bits of state.

[2015-05-29 20:15] thomasflynn opened #92 "GL_OVR_multiview support"
When this extension becomes available, add support for using it in gvrf's default shaders.

[2015-05-29 20:16] thomasflynn opened #93 "sRGB support"
Add support for sRGB render targets and textures.

[2015-05-29 20:17] thomasflynn opened #94 "Vertex skinning and blending"
Add support for vertex skinning and blending with 4 blend weights.

[2015-05-29 20:17] thomasflynn opened #95 "multipass support"
Allow multipass support for a SceneObject to allow for interesting effects.

[2015-05-29 20:18] thomasflynn opened #96 "Investigate integration with Beast"
Investigate integration with Beast for automated lightmap generation.

[2015-05-29 20:19] thomasflynn opened #97 "remove getOwnerObject from samples."
verify we can get rid of getOwnerObject from our samples.  and see we can possibly deprecate that api all together.

[2015-05-29 20:23] thomasflynn opened #98 "Simplify picking"
picking currently requires setting up a bounding Mesh for a object, creating an EyePointee, add the EyePointee to an EyePointeeHolder and then adding the EyePointeeHolder to the SceneObject.  While flexible, it is a lot for a developer to go through to have the ability to pick.  We saw this sort of trouble during the recent hackathon.  We can provide a simple enablePicking() api that will construc

[2015-05-30 01:04] chenchao1407 opened #100 "Crash with AssimpImporter."
The scenario is that I tried to create a bunny in performancetest sample about 2 or 3 times per second using the following codes(actually I just wanted to put stress on GC and see how our GC thread reacts):
        mMainScene = mGVRContext.getMainScene();
        GVRCameraRig mainCameraRig = mMainScene.getMainCameraRig();
        int i = (int)(counter / 15);

[code]

After some random time, it wil

[2015-05-30 01:47] DanielNogueiraAndroid opened #102 "Problem on GVRSceneObject.attachEyePointeeHolder(GVRMeshEyePointee eyePointee)"
On gvreyepickingsample  all the objects that use method attachBoundingBoxEyePointee are not getting selected, the other objects that use method attachDefaultEyePointee the selection works fine.

[2015-05-30 02:10] thomasflynn commented on #74
hi jason, can you take care of the keyboard dispatching?  should probably be a quick change.

[2015-06-01 17:14] jason2kim commented on #74
sure, i am in the middle of something, let me get to this shortly.

[2015-06-01 17:50] JonShemitz commented on #69
Pull request https://github.com/Samsung/GearVRf/pull/80

[2015-06-01 17:50] #69 closed

[2015-06-01 19:35] DanielNogueiraAndroid opened #105 "GearVRf on Android Studio."
How to use GearVRf on Android Studio ?

[2015-06-02 00:43] thomasflynn commented on #105
hey, jason, could you reply with your list of instructions?  thanks.

[2015-06-02 00:47] thomasflynn commented on #105
Just as a note.  The whole Android Studio problem has been complicated by the fact that Oculus requires that you build their mobile sdk with Eclipse.  And that requirement comes from AndroidStudio's poor NDK support.  Supposedly that it doesn't support dependencies on external libs in the NDK side.  The recently announced upcoming AndroidStudio 1.3 will supposedly improve all that.  So, hopefully

[2015-06-02 13:29] elidelsonc opened #107 "GVRSphereSceneObject, cube, cone and cylinder accepts null for GVRContext parameter"
GVRSphereSceneObject::GVRSphereSceneObject - accepts null for GVRContext parameter

[code]

[2015-06-03 01:08] thomasflynn commented on #75
a setForceMonoscopic() api was just merged into master.  this will allow forcing to monoscopic even on Note4 and S6.

[2015-06-03 01:08] #75 closed

[2015-06-03 18:05] thomasflynn opened #110 "Need proper transparency sorting"
Currently in GearVRf, objects can be assigned a 'Rendering Order' (background, geometry, transparent, and overlay. see GVRRenderingOrder in GVRRenderData.java) and objects are sorted according to that.  That's a good start.  Though, within the list of objects marked as transparent, those should be sorted by distance from the camera.  That's currently not being done.  We should fix that.

[2015-06-03 23:22] tparisi opened #111 "Developer Mode Crashes"
We have a simple test app that crashes, but only when the headset is on and when Gear VR Service is in Developer Mode. This didn't used to happen but it seems to happen since upgrading the Gear VR Service after installing Lollipop. Since we can only repro it with the headset on, and we're using Note 4's, we haven't been able to locate the source of the crash.

Has anyone else seen this? Any pointe

[2015-06-03 23:26] thomasflynn commented on #111
quick link for debugging over wifi:
http://stackoverflow.com/questions/4893953/android-run-install-debug-applications-over-wifi

without a stacktrace or sample code, it is going to be hard to debug what is going on.  fwiw, we're all on lollipop here at the moment.

[2015-06-03 23:29] tparisi commented on #111
FYI this didn't happen after the Lollipop upgrade UNTIL we also upgraded the Gear VR Service module. So that's a clue. Let me see if I can get more info, thanks for the pointer.

[2015-06-04 19:53] JonShemitz commented on #102
This _might_ be fixed by pull request https://github.com/Samsung/GearVRf/pull/112.

[2015-06-04 23:27] JonShemitz commented on #110
One complication here is that `GVRRenderingOrder` is not an enum, but more a set of bucket midpoints:

        public static final int BACKGROUND = 1000;
        public static final int GEOMETRY = 2000;
        public static final int TRANSPARENT = 3000;
        public static final int OVERLAY = 4000;

That is, there really isn't such a thing as "a" transparent rendering order: `TRANSPARENT-1` dra

[2015-06-04 23:47] thomasflynn commented on #110
TRANSPARENT-1 is a good point.  otherwise, my extremely casual, not-fully-thought-out idea was to do a sort by distance when render orders match (sounds like maybe what you're suggesting?).  Where objects marked as 3000 would be sorted together, then objects at 3001 sorted together, then objects at 3002, etc.  I hadn't considered -1.

The way i've seen other scene graphs do this is to have separat

[2015-06-04 23:55] JonShemitz commented on #107
True, it doesn't test for `null` - but neither do any of the other constructors. Does this constructor do anything differently with `null` than any other GVRF constructor does?

In general, I think getting a `NullPointerException` with the `GVRSphereSceneObject` constructor on the stack ought to be enough of a clue as to what you did wrong. We've added runtime parameter checks in cases where bad p

[2015-06-05 00:05] JonShemitz commented on #110
Yeah, pretty much. I'd imagined calculating distance-from-camera for every scene object, but the sort-comparison function would only look at the delta-distance if delta-order equals 0.

[2015-06-08 22:03] #81 closed

[2015-06-09 22:39] DanielNogueiraAndroid commented on #98
Excellent improvement !!!

[2015-06-09 22:57] DanielNogueiraAndroid opened #122 "How to get picking listener direct from Scene Object"
There is a way to get direct from the GVRSceneObject if he is picked? like:
[code]
or
[code]

[2015-06-09 23:02] JonShemitz commented on #122
No, there is not. Nor am I sure that this is desirable. One doesn't always care about only what is exactly in  the center of the field of view: Imagine, for example, an app that tracks the position of the user's hands, and wants to use picking to figure out what she might be touching.

[2015-06-09 23:09] DanielNogueiraAndroid commented on #122
Ok so the method can call onCenter(GVREyePointeeHolder e) instead onPick(GVREyePointeeHolder e)?

[2015-06-09 23:19] DanielNogueiraAndroid commented on #122
By this moment I'm controlling 50 objects (and rising) "onCenter" inside a GVRScript for ... this is not looking good.

[2015-06-09 23:27] thomasflynn commented on #122
This kind of picking is not an unusual use case, but it does require deeper thought than just onPick() (which i assume would map to intersection with object and tapping the touchpad?).  Just off-hand, I can think of onEnter, onLeave, onSelected, onDeselected, and you may want to apply a filter based on the type of object.  This type of thing has been thought out before in APIs like Inventor and X3

[2015-06-09 23:42] JonShemitz commented on #122
In addition to the `onPick()` _vs._ `onCenter()` issue (and the Other APIs issue that @thomasflynn  cites) I'm having some trouble seeing why this is desirable.

First, the current `pickScene()` and `findObjects()` APIs sort hits by their distance from the camera. This lets you do things like pay attention to transparency and walk the list until you get to the object the user 'means to' interact w

[2015-06-10 15:24] DanielNogueiraAndroid commented on #122
If we avoid using intanceof, and instead get this info directly on GVRSceneObject, we'll make the bottleneck, that is handling every state of eyepicking, smaller.

For instance, we have to control elements when they are selected and when they are not. If this control was held to GVRSceneObject, we wouldn't have to do it checking the eyepointeeholder.
[code]

[2015-06-10 18:49] JonShemitz commented on #122
[code]

This seems like a lot of overhead, and I'm not sure it's any different that

    if (lastItem != null) {
      lastItem.restorteObject();
    }
____

Similarly, it's not all obvious why the second branch enumerates all the eye pointee holders in an outer loop, then enumerates all the objects in the scene graph in an inner loop. Picking should never return an object that's not in the scene

[2015-06-10 18:56] JonShemitz commented on #102
@DanielNogueiraAndroid is this fixed?

[2015-06-10 20:31] nathan-almeida commented on #102
Yes, it is fixed. Thank you

[2015-06-10 20:51] nathan-almeida opened #123 "Problem on GVRTextViewSceneObject"
When we try to create more than 1 GVRTextViewSceneObject, the scene objects start flickering after moving head.

This even happen in the sample gvrtextviewsample, after creating another GVRTextViewSceneObject

[2015-06-10 21:04] nathan-almeida opened #124 "GVRSceneObject.lookAt()"
There could be a method where we can make a sceneObject look at another one, or look at a position.

It is too hard to calculate an euler angle between two sceneObjects and use it to turn one object to another.

[2015-06-10 21:35] #102 closed

[2015-06-10 21:42] JonShemitz commented on #124
I see that `GVRTransform` has `getRotationYaw()`, `getRotationPitch()`, and `getRotationRoll()` but no `setRotationYaw()`, `setRotationPitch()`, and `setRotationRoll()`, just `setRotation()` which takes a quaternion.

Sounds like adding the `SetRotationX()` methods would address this issue, yes?

[2015-06-10 22:01] chenchao1407 commented on #123
I will take a look at that later.

Do you mind sending your test sample to me? My email address is c.chen@samsung.com

[2015-06-10 22:16] JonShemitz commented on #123
Yes, please do send along test code - I did a quick smoke test, and saw no flickering:

    GVRTextViewSceneObject sceneObject, sceneObject2;

    /* snip */

    @Override
    public void onInit(GVRContext gvrContext) {
        GVRScene nextMainScene = gvrContext.getNextMainScene();

        sceneObject = new GVRTextViewSceneObject(gvrContext, mActivity);
        textSize = sceneObject.getTextSiz

[2015-06-11 00:06] JonShemitz opened #125 "How inaccurate is eye picking against bounding boxes?"
Should we, perhaps, pick against the actual mesh after getting a hit on the bounding box?

[2015-06-11 00:24] #98 closed

[2015-06-11 02:13] thomasflynn commented on #125
Actually, the SceneObject->setPickingEnabled() api that you added calls down to attachEyePointeeHolder() which adds the entire object mesh as the mesh to pick against.  So, it is already picking against the actual mesh.

[2015-06-11 16:54] rahul27 opened #127 "Exposing the ProximityReceiver"
Receiving notifications from the proximity sensor would make it convenient for developers to detect device mount and unmount states allowing them to render objects in the current field of view rather than having the user look around to find the objects that were drawn when onInit() was last called.

Currently we can implement our own BroadcastReceiver for the proximity sensor intent just like the

[2015-06-11 17:41] JonShemitz commented on #125
Well, yes, but pull request https://github.com/Samsung/GearVRf/pull/126 changes the default picking to use a bounding box ... and one can always create an eye pickee manually.

[2015-06-11 17:59] thomasflynn commented on #125
ah, was comparing against what was already merged.  fair enough.  yeah, there could be a flag to continue on to the actual mesh.  meaning the user would opt-in to the more expensive check.

[2015-06-11 20:18] nathan-almeida commented on #123
I've sent the code to chen`s email

[2015-06-11 20:22] nathan-almeida commented on #124
It could solve as long as there is also an animation that rotates the object to the desired position without using euler angles.

[2015-06-11 20:42] JonShemitz commented on #124
Sounds perfectly reasonable, to me.

[2015-06-11 23:42] chenchao1407 commented on #123
Hi Nathan

I tested with your codes and I don't see the view flickering. Can you tell me what device you used to test? Is it Qualcomm chipset(adreno) or Samsung chipset(mali)?

[2015-06-12 00:50] chenchao1407 commented on #74
Hi @mkeblx

I think your issue with key event dispatching is resolved by pull request #116

I think you can try it now. I think the sample app will be added later.

[2015-06-12 11:52] nathan-almeida commented on #123
It is a Qualcomm.

It's the scene objects that flick when we keep moving our head. Have you run the sample in Oculus?

[2015-06-13 00:27] chenchao1407 commented on #125
As far as I can see, in short, the closer, the worse; the farther, the better...

[2015-06-13 00:27] chenchao1407 commented on #123
Yeah. I still can't see flickering or blinking. What is your android version?

Thanks in advance.

[2015-06-15 11:11] niusounds opened #132 "Volume UI is shown on incorrect position (with my Galaxy S6 edge)"
Volume adjustment UI of GearVR is shown on incorrect position (like mirrored).
I have only Galaxy S6 edge. I can't test that it is phone specific problem or not. sorry.

[2015-06-15 17:56] chenchao1407 commented on #132
Hi.

Did you merge recent commits from the repository? I thought this was resolved by the pull request #51

[2015-06-15 19:21] nathan-almeida commented on #123
My android version is 5.0.1

I am using a note 4, but I noticed that on S6 it is harder to notice this with only 2 GVRTextViewSceneObjects. Please change the source code I set to:

[code]

[2015-06-15 23:57] thomasflynn opened #133 "update samples to have minSdk set to 19"
a lot of the samples are inconsistent w.r.t. the minsdk setting in the AndroidManifest.xml.  they took whatever the default was when you create a new project in Eclipse / android create project.  They should all be updated to api level 19.

[2015-06-16 04:42] niusounds commented on #132
Oh, sorry. It works perfect on newest version! Thank you.

[2015-06-16 04:59] chenchao1407 commented on #132
Never mind. Thanks for reporting this also.

[2015-06-16 10:52] niusounds commented on #105
Hi.
I built VrLib and GearVRf with Eclipse and copy built `.so` files to my Android Studio project.
I created simple-sample example project for Android Studio.
https://github.com/ejeinc/GearVRf_simplesample

[2015-06-16 19:06] #133 closed

[2015-06-16 19:54] jason2kim commented on #105
I have been recommending to use prebuilt lib for both gvrf and ovr for several reasons. This posting could align with the approach. Thanks for the posting.
However, migrating or merging similar to this one is on hold, considering impacts to the Eclipse users and some accompanying issues.
For prebuilt libraries, people should be able to download from each site respectively. Also there is an instruc

[2015-06-16 21:23] chenchao1407 commented on #123
Hi.
We just found there are two side effects we can see in your sample. One is because that in your sample, every GVRTextViewSceneObject has the same Z-value and they are overlapping with each other so there will be kind of Z-offer fighting effect. Actually all 2-D SceneObjects will trigger such effect in that case and I am not quite sure if it is a bug.

Another thing we can see is like flickerin

[2015-06-17 06:36] soumyajitdeb commented on #87
We'll take this one up as it is important and requires immediate attention.

[2015-06-17 22:44] chenchao1407 commented on #105
@niusounds Thanks for your support. Just took a quick review on your repo and have a small question here:
I see that for native side you are using so files, but for java side, you are still using source for reference. Is there any way to use jar files instead of Java source? Thanks in advance.

[2015-06-18 17:16] thomasflynn commented on #89
![frustumcull](https://cloud.githubusercontent.com/assets/9667914/8237288/07753ffe-15a3-11e5-9717-044a32577df6.jpg)

[2015-06-18 23:35] #123 closed

[2015-06-23 19:17] deepakrawat22 commented on #97
After some analysis I found that get/setOwnerObject is used extensively in the Framework. Even in JNI code owner object is used by transform, render data. Owner object is used to main transformation hierarchies in scene objects.

So I think the objective of this enhancement will only be limited to removing getOwnerObject from Application usage?

In case of GVREyePointeeHolder, there is already a n

[2015-06-24 01:14] thomasflynn commented on #132
so, this issue could be closed, right?

[2015-06-24 01:15] #132 closed

[2015-06-24 08:00] lokeshguddu commented on #105
By when can we expect migration from eclipse to Android Studio?

[2015-06-24 16:50] jason2kim commented on #105
The prebuilt library approach for Android Studio for app developers can be found at: https://github.com/Samsung/GearVRf/releases.
However, migration schedule for the framework developers are still under discussion on its priority because of aforementioned reasons.

[2015-06-25 17:18] jason2kim commented on #97
1) In Solar System demo app, … not able to get rid of this usage
=> Removing this is important for the app developers. Can you consider channg in JNI level if needed?

2) Once done, we need to make getOwnerObject(), if still alive, visible only to the framework package, not to the applications as public.

3) otherwise this change is only a second best solution^^

[2015-06-25 17:36] jason2kim commented on #97
If too much for changing the JNI side, a Java side trick would be overloading GVRSceneObject.addChildObject() with GVRComponent or GVRCameraRig. But, it would be not so consistent as you know.

[2015-06-25 20:18] thomasflynn commented on #93
this is related to the initial configuration issue.

[2015-06-25 21:05] chenchao1407 commented on #93
Ok. Working on it now.

[2015-07-01 15:42] dknaan commented on #74
I created a new sample application (#147) to demonstrate how to use a gamepad to control the scene. Fire keys change background color. Left motion key translates the scene.

[2015-07-02 01:37] deepakrawat22 commented on #85
Compiled Assimp with RTTI flag on and still have issue in loading fbx file. Without passing hint parameter as "fbx" in Assimp::Importer.ReadFileFromMemory() assimp will simple return NULL. After hint as "fbx" there is segmentation fault in assimp.

07-01 18:17:49.940: A/libc(24979): Fatal signal 7 (SIGBUS), code 1, fault addr 0xa0d1b456 in tid 25049 (GLThread 14839)

Currently I tried loading fbx

[2015-07-02 06:56] niusounds opened #148 "onKeyUp is called multiple times when back button is pressed"
I want to handle GearVR back button pressing event to cancel showing default Oculus Home dialog.
I implement `public boolean onKeyUp(int keyCode, KeyEvent event)` in my Activity class.

[code]

`return true;` cancels dialog. It's I expected. But `onKeyUp` method was actually called twice unexpectedly.

I suspect that would be wrong key event handling in `GVRActivity::OnKeyEvent`.

[code]

In above

[2015-07-02 17:05] jason2kim commented on #148
Hi, I remember the KEY UP event was tested working correctly with the previous Oculus version of 0.5.
Can you please let us know a more details, including Ovr version, which key code (BACK only or other keys), long press, and test log if you have? thanks.

[2015-07-02 17:12] jason2kim commented on #85
Deepak, at SIGBUS, do you have any stack information that shows the crashed line number, coming from a native tool? In case you want to peek into, the crashed source line would give some clue.

[2015-07-02 17:31] deepakrawat22 commented on #100
I think the root cause for this issue is that for any bad file or the file which Assimp is unable to parse (does not parsing FBX also) Assimp::Importer->ReadFileFromMemory will return NULL and will internally store the aiScene as NULL. When Later on do assimp_importer_->GetScene()->mMeshes[index] it will result in segmentation fault.

At JNI I think its better to handle this case we can check for

[2015-07-02 17:52] jason2kim commented on #85
Chao, are you using addr2line tool something simple one that Deepak can use for native codes?

[2015-07-02 18:08] chenchao1407 commented on #85
Please take a look at this link to see how to use arm-eabi-addr2line
http://stackoverflow.com/questions/2314273/get-function-names-from-call-stack

And please see the answer with 15 "useful".

In our case, /path/to/lib/with/symbols.so refers to /GVRf/Framework/obj/local/armeabi-v7a/libgvrf.so

[2015-07-02 18:08] chenchao1407 commented on #85
And if you can't find arm-eabi-addr2line in your ndk folder. I can send you my own copy.

Thanks

[2015-07-02 18:09] thomasflynn commented on #85
if you look at the NDK programmer's guide located in your android-ndk folder (android-ndk-r10d/docs/Programmers_Guide/html/md_3__key__topics__debugging_debugging.html), you'll see there is an ndk-stack command that can help with this.  this'll essentially do the addr2line on the stacktrace given what you see in logcat.

[2015-07-03 03:09] niusounds commented on #148
I'm using Oculus Mobile SDK 0.6.0 because I found "Initial check-in of port to OVR SDK 0.6.0" commit message.
(...Is GVRf not supporting 0.6.0 yet?)

* When I push back button shortly -> onKeyUp is called twice.
* When I push back button long -> onKeyUp is called once.

My problem occurs with key code 4 (android.view.KeyEvent.KEYCODE_BACK) which is back button on GearVR near touch pad. I have not

[2015-07-05 06:23] dknaan commented on #148
dispatchKeyEvent() is also called twice when I use a gamepad

[2015-07-05 21:50] dknaan opened #150 "GVRConsole::writeLine() doesn't print text on screen"
GVRConsole::writeLine() used to print text for debugging purpose. Recently it doesn't print anything.
I didn't check yet which commit broke it.

[2015-07-06 17:17] jason2kim commented on #148
Hi, thanks for the details. Let me try to reproduce your situation from here and get back to you soon.
(I was asking ovr version, as these events are intercepted and delivered from ovr’s native side)

[2015-07-06 18:40] chenchao1407 commented on #150
No. I think GVRConsole still works. As you may see in the solar system or gvrcollision, the stats messages are actually from a built-in GVRConsole.

Can you just tell me how you use the writeLine()?

[2015-07-06 19:34] jason2kim commented on #148
On my try, it does not happen. I mean, it calls onKeyUp() only once when short pressed.

Hi Chao, can you please try on your side, in case I am missing something? Thank you!
I was testing by adding some log messages in the existing onKeyUp() handler in our gvr video sample:

public class VideoActivity extends GVRActivity implements
        OnTouchPadGestureListener {
    @Override
    public boole

[2015-07-06 21:13] deepakrawat22 commented on #85
Assimp is loading FBX file even with the old compiled assimp.so library. We just need to pass the fbx string as hint parameter in the Assimp::Importer.ReadFileFromMemory() API. Currently NULL is passed and Assimp try to guess the format and fails so get NULL mesh and that's why segmentation fault.

With the above change, still there is a minor problem. All the fbx file I have are having quad faces

[2015-07-07 14:54] phi-lira commented on #85
FBX supports both quad and triangle faces. Most of the models you'll find will be quads because it's easier for 3D artists to work that way.

There's a triangulate method exposed in the FBXSDK that will convert from quad face mesh to triangles but I don't know if there's something similar on Assimp. If not, it's really easy to make a c++ tool to triangulate fbx models offline. The problem is that

[2015-07-07 14:55] phi-lira commented on #95
This is implemented on pull request #143

[2015-07-08 07:07] niusounds commented on #148
I have tried your code. `onKeyUp` still called twice when back button is pressed.
This log line is printed twice.

    07-08 15:12:21.691  19453-19482/com.eje_c.gvrtest D/keyboard-trace VideoActivity﹕ onKeyUp 4, event = KeyEvent { action=ACTION_UP, keyCode=KEYCODE_BACK, scanCode=0, metaState=0, flags=0x0, repeatCount=0, eventTime=0, downTime=0, deviceId=-1, displayId=0, source=0x0 }

code:

[code]

[2015-07-08 07:34] niusounds commented on #105
@chenchao1407 Thanks for advice.

I rebuild project for simple maintenance.
https://github.com/ejeinc/GearVRf_simplesample
now `gearvrf` module contains only .so and .jar files.

[2015-07-08 22:31] dknaan commented on #150
In SampleViewManager:
I initialize: console = new GVRConsole(mGVRContext, EyeMode.LEFT_EYE);
And then in onStep() I write: console.writeLine("test");

It used to work for me in the past and this is also what Jon used to write.

I don't see that writeLine() is called from the ViewManager of solar system or gvrcollision. Is it called from somewhere else?

[2015-07-08 22:45] thomasflynn commented on #150
The Stats code uses GVRConsole and calls writeLine().  The solar-system sample uses stats.

From: dknaan [mailto:notifications@github.com]
Sent: Wednesday, July 08, 2015 3:32 PM
To: Samsung/GearVRf
Subject: Re: [GearVRf] GVRConsole::writeLine() doesn't print text on screen (#150)

In SampleViewManager:
I initialize: console = new GVRConsole(mGVRContext, EyeMode.LEFT_EYE);
And then in onStep() I wr

[2015-07-09 00:01] jason2kim commented on #148
After many tries using several HMD devices (pressing the back button on the device, short and long), I could see the KEY UP event was delivered twice sometimes. It usually happens when the repeat count was not greater than 0 (short pressed). It is not easy to reproduce it consistently while wearing the HMD.

As said in my previous posting, the Java key up and down handlers were called from OVR nat

[2015-07-09 00:17] dknaan commented on #150
When I add stats to simple-sample the data is displayed on the screen, but when I call writeLine() from onStep() with similar code it doesn't.
The main difference I see is that updateStats() is called from GVRViewManager::afterDrawEyes() instead of from onStep().

[2015-07-09 00:28] jason2kim commented on #148
Hi Dotan, Do you have the adb log captured to share with me when the dispatch was called twice? Just wanted to make sure. Thanks.

From: dknaan [mailto:notifications@github.com]
Sent: Saturday, July 04, 2015 11:24 PM
To: Samsung/GearVRf
Cc: Jason Kim
Subject: Re: [GearVRf] onKeyUp is called multiple times when back button is pressed (#148)

dispatchKeyEvent() is also called twice when I use a game

[2015-07-09 00:45] deepakrawat22 commented on #85
Pull Request #154 will conclude this enhancement request.

[2015-07-09 21:58] phi-lira opened #155 "[UPDATE] Can't run samples on S5 [+with Lollipop libraries]."
When I run samples on S5 I only get a screen with clear color displayed. Nothing gets rendered besides that. Checking logcat it outputs a couple of <core_glEnableVertexAttribArray:193>: GL_INVALID_VALUE

I'm on Android 5.0. G900M.

Here follows logcat output.
![logcat_s5](https://cloud.githubusercontent.com/assets/7453395/8607832/d67385c4-2663-11e5-9b6e-672eeabec886.JPG)

[2015-07-09 23:30] rongguodong opened #156 "RenderData of an object does not affect its children objects"
In the current design, the only property of an object that can affect its children objects is the Transform. All properties in the associated RenderData have no effects on the children objects. For example, if an object is set to be invisible for both eyes (by calling "getRenderData().setRenderMask(0)"), all its children are still visible to both eyes (unless their own renderMask is set). This is

[2015-07-10 03:11] lokeshguddu commented on #155
Hi @phi-lira ,

I think you can only use the devices that are mentioned in the developer documentation.

Hardware Requirements: Samsung Galaxy Note 4 or Samsung Galaxy S6.

Hope it helps.

[2015-07-10 03:29] thomasflynn commented on #155
The S5 I have has a QualComm GPU.  Is your a Mali device?

And @lokeshguddu if you run on a device other than Note 4 or S6, then it will fall back to the monoscopic renderer.  It will still run, but you will only see one eye, centered in the middle of the screen.

[2015-07-10 12:50] phi-lira commented on #155
@thomasflynn  Mine is Qualcomm Snapdragon too. Can you send me an apk so I can confirm is not something on my build settings?

[2015-07-10 13:11] phi-lira commented on #156
IMO it would be better to implement visibility propagation by setting a property on SceneObject.

If an object and it's children are not visible then one does not want to perform frustum/occlusion culling on it and waste unecessary gpu resources by sending it down to the graphics pipeline. (color mask will happen on output merging stage after fragment shader).

[2015-07-10 19:14] thomasflynn commented on #155
There's a limit on the size of attachments we can send over email and even simple-sample is just barely over the limit.  Instead, I created a branch and checked them in :).  Go here:

https://github.com/thomasflynn/GearVRf/tree/s5/GVRf/apks

I have apks for both simple-sample and solar-system.  They both work on my s5.  Let me know if they work for you.

[2015-07-13 08:42] niusounds opened #157 "Internal sensor should be used only in developing"
I think it is good idea that internal sensor rotates viewport in developing but it should be turned off in release APK for performance reason.
Probably `GVRInternalSensorListener.onSensorChanged` is no worth with in production environment.

...isn't it?

[2015-07-13 10:54] lokeshguddu commented on #87
Hi @thomasflynn ,

We have done some implementation as a test for implementing texture enhancement parameters.

The change commit is here(https://github.com/SRIB-GRAPHICS/GearVRf/commit/8f0d6d66add2407247551913dd316ccc84661fc4) on the branch (https://github.com/SRIB-GRAPHICS/GearVRf/tree/texture-enhancement).

Please review the implementation approach so that we can proceed on similar lines.

Refe

[2015-07-14 02:45] #97 closed

[2015-07-14 02:46] thomasflynn commented on #95
that pull request has been merged.  is there anything else?  or can this issue be closed now?

[2015-07-14 02:58] thomasflynn commented on #87
did a quick skim of the code.  some comments:
1) I don't see the point of creating enums for GL_LINEAR, GL_NEAREST, etc.  Just allow the user to pass in GL_LINEAR, GL_NEAREST, etc.  It'll get rid of all the switch() statements as well.
2) Is there any way to guarantee that getMaxAnisotropicValue() occurs on the GL thread?  We should probably get this value and whether it is supported when we first

[2015-07-14 03:03] #95 closed

[2015-07-14 17:22] deepakrawat22 commented on #32
#153 resolved this issue. A quad face from 3D model is added as 2 triangles in GearVRf

[2015-07-15 19:29] phi-lira commented on #155
@thomasflynn Thanks for the apks and sorry for the delay to reply this. I got tangled in some issues.

Ok. Both of them are working perfecly here, which means it's definitely something on my environment. Do you make any changes to manifest (like vr-dual or something else) or to project to get this working on S5?

[2015-07-15 19:41] oliveira500 opened #160 "Distortion in Object rotation"
Using the method getTransform().setRotation(w,x,y,z) is occurring distortion of the object .

![distortion](https://cloud.githubusercontent.com/assets/4211447/8708040/9fba747c-2b07-11e5-85a8-73ecb41a7fe2.png)
![object](https://cloud.githubusercontent.com/assets/4211447/8708041/9fccb11e-2b07-11e5-9ba1-d4c29a17d667.png)

[2015-07-15 19:50] thomasflynn commented on #155
no changes.

[2015-07-15 19:50] phi-lira commented on #160
Are you passing in an normalized vector (x, y, z) to setRotation? Can you share the values?

[2015-07-15 19:56] phi-lira commented on #155
Oh boy. I'll try to figure it out what's happening.

I'll close this.

[2015-07-15 19:56] oliveira500 commented on #160
Yes, I'm passing a normalized vector. This bug does not happen with simple objects, It's occurring the object, which is composed of multiple polygons.
Can I share the values, object and texture.

[2015-07-16 02:34] phi-lira opened #162 "Support for setting cpu/gpu levels at runtime."
It would be nice to have the ability to change cpu/gpu levels at runtime based on scene complexity. Some scenes might be more gpu intensive than others. We can set these leves many times across application lifetime to maximize playtime/battery.

Oculus Unity Plugin allows this by exposing the following functions in OculusPlugin.dll

    void OVR_VrModeParms_SetCpuLevel(int cpuLevel);
    void OVR_

[2015-07-16 04:08] lokeshguddu commented on #87
Hi @thomasflynn ,

We've taken care of the point (2) [https://github.com/SRIB-GRAPHICS/GearVRf/commit/1d8bf33e11360067abcf2eddf49cd47513886caa] & (3) [https://github.com/SRIB-GRAPHICS/GearVRf/commit/b8ac24e69008773f75ed1d2e5c69848f1bbec224] in the latest commit.

For point (1), we think that using enum along with switch is much cleaner as we tried using String for the first time and the code was n

[2015-07-16 05:02] phyuzion commented on #162
Yes that api also can use from Android.
You cas see android.app.IVRManager,
==================================================================
abstract public boolean setFreq( String pkg, int gpuFreqLev, int cpuFreqLev );
abstract public int[] SetVrClocks( String pkg, int cpuLevel, int gpuLevel );
==================================================================

It control Note4 and GS6's clock.

[2015-07-16 14:49] phi-lira commented on #87
I did a quick skim and in general I think it's good. I just have a few points:

1) I think it would be better to have separate functions to set filter, wrap mode etc. If one wants to set filtering there's no need to reupload wrap state. This will avoid adding unnecessary driver overhead by issuing redundant api calls.

2) Regarding Tom's comment on enum, if you're making just a wrapper that calls

[2015-07-16 15:14] phi-lira commented on #155
Found out the problem. It does work on S5 when building with lollipop libraries (api 21 and above).
I built with api 19 and it's working now.

I'm not sure if this is a known issue or not. That's why I'm reopening this.

[2015-07-16 17:30] thomasflynn commented on #155
perhaps we need to start comparing configurations?  I changed simple-sample's AndroidManifest.xml from:

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

to

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

and that still works.  Also made sure all my android sdks were up to date.  What else do I need to do?

[2015-07-16 17:40] phi-lira commented on #155
I was previously building libOVR, VrApi, VrAppFramework and Framework with Library 5.0.1 set on my Android build target. Now that I changed it to 4.4.2 it worked.

![buildpath](https://cloud.githubusercontent.com/assets/7453395/8730596/cdd95162-2bbf-11e5-9e28-8b7a4dc1190a.JPG)

I also changed Oculus SDK 0.6.0 to 0.6.1 (but I'm almost certain I tested before changing build path and it didn't work)

[2015-07-16 18:00] thomasflynn commented on #155
ok, set all my projects to 5.0.1, still worked.  still worked.  I've been using Oculus SDK 0.6.0.1 since i did the port to it.  maybe there's a difference between building on Linux vs Windows.  i'm about to be sucked into endless meetings most of the rest of the day.  I'll try a build from Windows after I get out.

[2015-07-16 18:16] phi-lira commented on #155
No. Don't bother. I just reverted back to 5.0.1 and it worked. I guess this is one of those problems that gets fixes by itself and I'm just glad it's working now.

Closing again. Sorry for the mess.

[2015-07-16 18:16] #155 closed

[2015-07-17 02:42] #82 closed

[2015-07-17 02:42] #46 closed

[2015-07-17 07:42] chenchao1407 commented on #162
As far as I know, Oculus has its own VR service to control cpu clock and gpu clock. Even though you can set a fixed clock of GPU and CPU through Configuration. The VR service will still be controlling the cpu and gpu level when the temperature(or even battery level? not quite sure) is at some certain levels. It means normally the CPU and GPU will run on the clock you set in VrAppInterface::Configu

[2015-07-17 07:44] chenchao1407 commented on #160
Can you send me the whole project package to me about the bug? Thanks in advance.
My email address is c.chen@samsung.com

[2015-07-17 07:46] chenchao1407 commented on #157
Do you mean that for released APK it will only be able to run with GearVR? Correct?

[2015-07-17 07:47] chenchao1407 commented on #150
Did you attach the stats to any scene?

[2015-07-17 09:44] niusounds commented on #157
I think GearVRf can be used only in app with GearVR.
If GearVRf supports (will support) not only GearVR but also other devices like a Cardboard or standalone app, I'm barking up the wrong tree.

[2015-07-17 09:59] phyuzion commented on #157
@niusounds Yes correct, but we have plan that spread out to every devices. Thank you for your comment and we will do asap. :)

[2015-07-17 11:50] lokeshguddu commented on #87
Hi @phi-lira ,

Thank you for such an elaborate explanation.

We will surely start with this new suggestion.

Thanks

[2015-07-17 14:40] oliveira500 commented on #160
I thank you attention. I'll send now.

[2015-07-17 19:22] MarcosGorll opened #167 "Can not apply two or more animations on the same object at the same time"
When I apply two or more animations of same type (like transform animations) at the same time on the same object the target object is resized incorrectly.

[2015-07-17 19:29] MarcosGorll opened #168 "Can not apply one animation on GVROnFinish::finished"
The scenario:
- Create a GVROpacityAnimation animation, with 0 to 1 values and 2 seconds for time
- Set a GVROnFinish that creates and starts another GVROpacityAnimation with 1 to 0 opacity values, and 2 seconds for time on the same object
- Start the first animation

Has the result
- Object appears correctly from 0 to 1 opacity levels, and them disappears instantly like the second animation had 0

[2015-07-17 19:34] MarcosGorll opened #169 "GVRSceneObject::isColiding colides with an object that is not present in the scene"
I have an object in the scene, when another object colides with this, I remove it from the scene. The isColiding returns true even when the object is not in the scene anymore.

[2015-07-17 20:02] vitolito opened #170 "GVRSceneObject.isColliding not working as should"
I've put two objects in scene (obj 1, obj 2).

The obj 1 is a fence with big diameter surrounding the obj 2. When I move the object 2 that is always inside the empty area of obj 1 isColliding method from GRVScene always  returns true.

[2015-07-17 22:31] rongguodong opened #172 "Lacking API to set material/texture for object"
Currently, if the user want to set material/texture for an object, he/she should do like following:
object.getRenderData().setMaterial(material); or
object.getRenderData().getMaterial().setMainTexture(texture);

It should be good to add new APIs in GVRSceneObject to set material/texture directly. The advantage of this approach are:
1. The user do not need to care about inner data structure (e.g. R

[2015-07-20 00:25] phi-lira opened #176 "[SUGGESTION] Use Trello for feature Requests/Discussion"
I'd like to propose to separate issues from feature requests and discussion. I think Trello has a nice and easy API in which someone can add feature requests and improvements. Also it makes possible to people vote on each suggested feature/improvement making it really easy to see the ones that are most urgent/desider.

A real world example of trello can be found here: https://trello.com/b/gHooNW9I

[2015-07-20 02:10] phyuzion commented on #176
I agree with you.

[2015-07-20 13:28] phi-lira commented on #160
I got the project and tested here.

I think this is more of a SDK misleading interface problem than a bug. setRotation does not work as you expect. It takes a raw quaternion instead and passing an angle/axis will produce wrong composition of rotation/scale matrix.

IMO, we should make obsolete setRotation(w, x, y, z) as this is error prone. We should also add interface to setRotationByEulerAngles(

[2015-07-20 13:40] phi-lira commented on #172
I agree with adding setMaterial/SetTexture interface to SceneObject.

About setting it recursively I think that should be discussed with more care. If done, it should definitely not be default behaviour as this can be error prone.

[2015-07-20 15:50] rongguodong commented on #172
Sure, the recursive setting should not be a default behavior. We should have a boolean variable to control it, and it should be set to "false" by default. The user can call an API to set the boolean variable.

[2015-07-20 17:07] phi-lira commented on #172
It's ok for me.

[2015-07-20 17:17] tparisi commented on #172
I think it shouldn't be done recursively. That's a pretty unusual pattern for a scene graph API. It might be better to have scene traversal iterators that can be called recursively so someone could build that as a utility if they really need it.

[2015-07-20 17:20] thomasflynn commented on #160
Right, the GVRTransform api seems to have been written assuming using quaternions would be the more frequent use case.  For the traditional glRotatef() type functions, you're expected to use rotateByAxis() method.  Though, note, even if you do, there's no equivalent to glLoadIdentity() that i saw.  GVRTransform could certainly be cleaned up a bit more.  I will likely add a loadIdentity() method to

[2015-07-20 17:28] thomasflynn commented on #172
I agree with @tparisi .  Since GVRSceneObject is treated as both a drawable and a group object, you want to approach this with caution.  For the derived SceneObjects (like GVRSphereSceneObject and friends), there should definitely be some convenience methods that 'just does the right thing' for setting a texture/material on that object.  Those derived objects know about their internals and will kn

[2015-07-20 17:39] thomasflynn commented on #176
I need more convincing.  I really don't enjoy having multiple issue trackers for the same project.  New users, especially ones used to github, will use github's issue system even if we give lots of links to the associated trello page.  We do this now with the developer mailing list.  Yet other developers seem to prefer to open a new issue than have a discussion on the mailing list.

You can alread

[2015-07-20 17:42] phi-lira commented on #160
I think it's good to keep GVRTransform.rotation as a quaternion. We should just make sure client code don't have access to set it to values that don't make sense (like setRotation currently does).

I agree a loadIdentity would be really helpful. I think calling it reset() would make it even more user friendly as not everyone is used to the matrix identity jargon.

I'll create feature request for G

[2015-07-20 17:51] phi-lira opened #177 "It would be desirable to have Quaternion and Vector classes on GearVRf Java API"
I think it would be a great addition to have a GVRVector class to handle things like cross/dot/forward and a GVRQuaternion class to handle quaternion creation.

[2015-07-20 18:09] phi-lira commented on #176
I agree there'll be an increase in complexity and management and there's no argument for this. What I can speak in favor of trello over github is that it will increase focus on both features and bugs. So, for instance, when you open up a trello board, features are already categorized, prioritized and organized in a single view. One can easily spot the most urgent/desired features and tackle them.

[2015-07-21 05:55] lokeshguddu commented on #87
Hi,

We tried the suggested pattern on the Java side and, with some modifications we came to this [https://github.com/SRIB-GRAPHICS/GearVRf/commit/0337010fd7bb54296d3f13eb2aa4b2cf03a652d8] state.

Please give your input.

The conversion of float to int is still not taken care of. We are working on that.

Thanks.

[2015-07-23 17:35] #110 closed

[2015-07-23 17:36] thomasflynn commented on #100
is this still a problem?

[2015-07-27 13:51] oliveira500 opened #185 "Support for changing fonts and styles: bold, italic"
Options to change font types and styles: bold, italic e etc.

[2015-07-28 00:27] deepakrawat22 opened #188 "jAssimp: 3D Model loading fails if first level children has no mesh"
GearVRf jAssimp feature will fail to load a 3D model if the node hierarchy is such that first level children do not have any mesh.

![untitled](https://cloud.githubusercontent.com/assets/8952072/8920906/4f86b07a-3484-11e5-9876-975c104ab0a0.png)

Currently it just ignores rest of hierarchy in the function getAssimpModel().

The test file I used is f16a.fbx (https://github.com/deepakrawat22/GearVRAp

[2015-07-28 03:00] lokeshguddu commented on #188
Hi @deepakrawat22 ,

Thanks for bringing this to our notice. We will have a look into the implementation and revert back with a solution. Meanwhile if you find something else, please let us know.

Thanks.

[2015-07-28 06:19] lokeshguddu commented on #188
Hi @deepakrawat22 ,

We've fixed the issue. Please have a look [https://github.com/Samsung/GearVRf/pull/189].

In case we missed something, please let us know.

Thanks

[2015-07-28 09:40] lcbasu opened #190 "GVRf AR integration."
Hi @thomasflynn ,

We've proposed changes to the existing GVRf library to allow third party AR libraries, such as Vuforia to use GVRf as their rendering api. Some small changes are required to the core of GVRf to integrate AR. Here [https://github.com/SRIB-GRAPHICS/GearVRf-AR] is the repo with all those changes and a simple sample app to test the integration.

Please provide your feedback on this

[2015-07-28 15:34] phi-lira commented on #190
Is it possible to create subclasses of material for these new AR features? Like GVRARMaterial and ARMaterial? I think this would be better as we would make AR code transparent to regular SDK use and we would avoid all the if (ar) blocks.

Also, is there a way to avoid setting MVP (and similar) directly by passing to SDK the AR object transform and setting an AR camera? If so, no changes would be r

[2015-07-28 18:38] #87 closed

[2015-07-28 18:39] thomasflynn commented on #185
Iirc, you can pass in the Paint which specifies font and other info.

[2015-07-28 18:42] thomasflynn commented on #74
Input samples Have been merged

[2015-07-28 18:42] #74 closed

[2015-07-28 18:43] thomasflynn commented on #55
This should be fixed now.  Let me know if it isnt

[2015-07-28 18:43] #32 closed

[2015-07-28 18:54] thomasflynn commented on #190
We have a gvr-vuforia sample that show how to pass a matrix of a market to a sceneobject.  I think it is just setModelMatrix().  Check the sample.  I'm on PTO 'til friday, i'll take a closer look at the code then.  Meanwhile @chenchao, can you ask Gaurav to take a look at this?  Thanks.

[2015-07-28 23:12] liaxim opened #192 "Dynamic switching between Oculus and internal sensors for head-tracking"
It is very finicky at the moment. Benoit's fix is more elegant but suddenly Oculus started reporting the device as docked all the time for me. Still looking into it but I might have to revert the change Benoit reverted (where we observe for dock events ourselves).

[2015-07-28 23:38] chenchao1407 commented on #190
OK.

[2015-07-29 17:15] liaxim commented on #192
It did work somehow when I verified Benoit's patch but it just stopped since yesterday. No source code to look at but this trace is more than telling (the device is not docked at the time):

07-29 13:06:59.190 11564 11585 I VrApi   : vrapi_EnterVrMode: defaulting to docked due to lack of dock events

So unfortunately I don't think we can use Benoit's fix; I will have to resubmit the one where GVRF

[2015-07-29 21:25] gaurav-mcl commented on #190
Hello @lokeshguddu,

There are jni errors while building Framework. Seems to be missing ovr_mobile_sdk directory.

/home/gaurav001.s/This_Folder_Is_Backedup/Downloads/adt-bundle-linux-x86_64-20140321/ndk/ndk-build -j16 OVR_DEBUG=0 NDK_DEBUG=0
Android NDK: WARNING: Ignoring unknown import directory: ../../ovr_mobile_sdk
jni/Android.mk:36: ../../ovr_mobile_sdk/cflags.mk: No such file or directory
An

[2015-07-29 21:38] gaurav-mcl commented on #190
Sorry, please ignore previous comment. I didn't know that ovr_mobile_sdk referred to Oculus mobile sdk.

[2015-07-29 22:56] gaurav-mcl commented on #190
The sample app ARVRChess complains of a missing lib EFXLib on the build path.

![builderror](https://cloud.githubusercontent.com/assets/12072415/8971952/529562fc-360a-11e5-8ecc-86eff9f699c3.png)

[2015-07-30 04:29] lokeshguddu opened #194 "Plugin/Extensions support for GVRf"
Hi,

We have been thinking of adding support for plugin/extension for the GVRf. The reason behind this thought was to keep the existing library small and robust and make application specific features as a plugin/extension like remote model loading or SDF font support or anything similar which is specific to an application that is being built on top of the GVRf.

The major task is to first decide w

[2015-07-30 05:05] lokeshguddu commented on #190
Hi @gaurav-mcl ,

Thanks for bringing this to our notice.

We found out the issue and will be pushing the changes soon.

[2015-07-30 18:56] dknaan commented on #150
The problem is the color of the background. The text is not really printed on the front (it has a depth), so it can be hidden behind the objects and also behind the background...
As a result, a green text is not seen on a white background but it is visible on a black or a gray one.

This should be fixed if we want to continue to use it.

[2015-07-31 05:19] eesha19 commented on #190
Hi @gaurav-mcl ,
Here are the changes that we made (https://github.com/SRIB-GRAPHICS/GearVRf-AR/commit/bdfaebcc3377129528a71e1a6948916eb65f2187).
If the EFXLib (missing) is still visible in the Java Build Path, please remove it, use the changed .classpath file, and then try building.
Hope it runs fine now.

[2015-08-03 07:30] #157 closed

[2015-08-03 07:30] #148 closed

[2015-08-03 17:09] thomasflynn commented on #190
I took a deeper look at this over the weekend.  This appears to be a pretty heavy change.  Especially with introducing a AR vs VR mode.  It appears as though AR mode is needed for two things:

1)  passing a vuforia matrix to a SceneObject
2)  using the vuforia fbo for rendering the pass-through camera.

Is there something else I'm missing?

We already have an example of #1 in the gvr-vuforia sampl

[2015-08-03 17:20] thomasflynn commented on #194
We would certainly like to understand better how this would be structured.  We've considered this before.  We can see how gvrf could be used as a plugin.  For example as a plugin to a game engine such that the game engine uses gvrf for head-tracking and stereo and distortion correction.

As far as plugins/extensions _for_ gvrf, since gvrf is an Android/Java library, we haven't seen much overlap.

[2015-08-03 17:21] #188 closed

[2015-08-03 17:23] thomasflynn commented on #93
the check-in for initial configuration was merged.  You can now enable an sRGB framebuffer.  Is there anything else needed for this?

[2015-08-03 17:24] #88 closed

[2015-08-03 18:40] gaurav-mcl commented on #190
In addition to Tom's comment, I am also having difficulty running the app on the device. I am using a Note 4 device. The app crashes with the below logcat. The only changes I made to your sample app are: (1) remove EFXLib from the classpath, (2) changed the path of Vuforia.jar to match the location on my machine. It builds and installs fine but crashes right on startup. Just to add, I am starting

[2015-08-04 22:40] deepakrawat22 opened #200 "Jassimp: Skeletal Animation in GearVRf"
Since now GearVRf can support full hierarchical 3D model loading, skeletal animation can be added to GearVRf. Jassimp/Assimp already support skeletal animation.

[2015-08-05 01:46] gaurav-mcl commented on #190
OK, I have your sample app running with some effort. For some reason, the Vuforia.jar was not getting packaged with the apk and hence the app was crashing due to not finding the Vuforia classes.

So the app shows a camera passthrough using GVRF and you can track a marker by displaying teapot on it.

As Tom mentioned, we have a app of our own which integrates Vuforia with GVRF. It does not have cam

[2015-08-05 17:50] thomasflynn commented on #89
I'm working on this now.

The first step here will be to create a center camera for the camera rig.  That is done as part of https://github.com/Samsung/GearVRf/pull/202

Second step will be to move the culling to a method that happens before calling of renderCamera for either left or right eyes.

Third step will be to make the bounding volumes hierarchical so that whole subgraphs can be eliminated

[2015-08-06 06:02] lokeshguddu opened #206 "Black texture."
Hi,

While trying to test some models with min filter set as GL_LINEAR_MIPMAP_LINEAR and warp state set as GL_REPEAT, I'm getting a black texture on all the objects.

Anyone else having same issue?

[2015-08-06 15:55] thomasflynn commented on #206
are the textures mipmapped or mipmappable?  For example TEXTURE_EXTERNAL won't work with trilinear filtering, there's no mimap levels.  I think we had a similar problem with cubemaps.

Another thing to look into is if you are loading asynchronously.  if you load synchronously, does the problem go away?

[2015-08-07 21:17] chenchao1407 commented on #162
@phyuzion Hi Insu, you just mentioned android.app.IVRManager. I want to take a look at that, but it seems to me that it is not an open Android API. Can you tell me how we can import that?

Thanks in advance.
Sincerely
-Chao Chen

[2015-08-07 22:16] chenchao1407 commented on #162
@phyuzion I just found that IVRManager is a class from Oculus mobile SDK 0.5.x. And after 0.6.x it is not supported now.. Please correct me if I am wrong.

[2015-08-08 05:23] rongguodong opened #210 "Better way to deal with multiple shaders"
To be able to apply different shaders on a same mesh correctly, my commit #73 generates different VAOs for different shaders and cached them in a map. The reason for that is because the order of the parameters in different shaders may be different. As the result, a same attribute may be in different locations in different shaders (e.g. "normal" may be the 2nd attribute in shader 1, but be the 3rd

[2015-08-08 07:19] danke-sra opened #211 "Refactor idea: make GVRComponent.getOwnerObjecct() protected"
There are multiple ways to do the same thing now, such as,

GVRCameraRig.getTransform() vs GVRCameraRig.getOwnerObject().getTransform()
GVRCameraRig.addChildObject() vs GVRCameraRig.getOwnerObject().addChildObject()
...

There are other reasons for doing so. Please see details in the patch:

https://github.com/danke-sra/GearVRf/commit/69164150afdc8b898a8d32bdf853137af5fca62d

[2015-08-08 20:43] thomasflynn commented on #210
Thanks Guodong!  Good to hear from you :).  I have a new guy starting on Monday.  I now know his first assignment :)  Thanks again man.

[2015-08-10 21:48] gaurav-mcl commented on #190
Hello @lokeshguddu,

I created a pull request https://github.com/Samsung/GearVRf/pull/212 which modified the gvr-vuforia sample to enable camera passthrough. Can you please review this pull request to see if this is the functionality you are looking for ?

The modifications I made may seem overwhelming but most of them are related to cleaning up the way Vuforia initialization is done in the app an

[2015-08-11 10:38] lokeshguddu commented on #206
Hi @thomasflynn ,

I'll try synchronously and test.

Thanks for the reply.

[2015-08-11 10:40] lokeshguddu commented on #190
@eesha19 can you look into the pull request made by @gaurav-mcl. Thanks.

[2015-08-11 21:44] danke-sra opened #214 "Fix memory leak in native layer"
C++ objects allocated in JNI files are never deallocated.

For example, the Material object allocated in the native constructor is never freed.

JNIEXPORT jlong JNICALL
Java_org_gearvrf_NativeMaterial_ctor(JNIEnv * env, jobject obj,
    jint shader_type) {
return reinterpret_cast<jlong>(new Material(static_cast<Material::ShaderType>(shader_type)));
}

This applies to other C++ objects allocated in

[2015-08-11 23:04] liaxim commented on #214
See hybrid_object_jni.cpp and GVRHybridObject.GVRReference.

[2015-08-11 23:09] dknaan commented on #214
Please check GVRF2.0 commit by Jon regarding dislocation of JNI objects: https://github.com/Samsung/GearVRf/commit/9a8df14a37cdd99c48d8df9565cfe9a69639d293

[2015-08-12 00:07] #214 closed

[2015-08-12 00:11] #211 closed

[2015-08-12 15:56] liaxim commented on #192
Had to resort to using our own docking event observer.

[2015-08-12 15:56] #192 closed

[2015-08-12 19:23] douglasalipio opened #219 "BUG gvrContext.loadFutureCubemapTexture()"
I have a file home.zip in folder raw. When I load file home.zip using the gvrContext.LoadFutureCubemapTexture I get error:

`java`
E/gvrf(28904): Error detected in Renderer::renderRenderData; name : , error : Material::getTexture() : main_texture not found
`java`

Just change beach.zip file from the sample gvrCubmap.

![enricokitchen_07](https://cloud.githubusercontent.com/assets/896757/9233920/cf

[2015-08-12 19:58] dknaan opened #220 "Use LEFT_EYE, RIGHT_EYE as enum instead of integers"
In some places in the code we use 0,1 to indicate left and right eye

It would be much clearer to use LEFT_EYE, RIGHT_EYE (and also BOTH_EYES) enums instead
There is already an enum definition in GVRConsole which we have to move to somewhere else (gearvrf.utility?) and use everywhere.

[2015-08-12 20:01] dknaan opened #221 "Store left,right,center eye data in arrays"
Currently most of the data about the left/right/center eye is stored as separate data members (i.e. leftCameraObject/rightCameraObject/centerCameraObject in GVRCameraRIG or mScreenShotLeftCallback/mScreenShotRightCallback/mScreenShotCenterCallback in GVRViewManager).
Each data member has a different name and therefore code has to duplicated to take care of each eye separately.

Storing this data i

[2015-08-12 20:03] thomasflynn commented on #220
also, GVRRenderData has the GVRRenderMaskBit which has Left and Right as 1 and 2 respectively.  Of course, Oculus seems to use 0 and 1 respectively.  It's kinda handy having 0 mean neither eye.  But yeah, we should be consistent and reference it from a single place.

[2015-08-13 03:23] thomasflynn commented on #219
FYI, Danke on our team will take a look at this issue.

[2015-08-13 20:11] danke-sra commented on #219
@douglasalipio

Thanks for reporting the issue. We are working on a fix.

Meanwhile you may try a workaround.
1) Use another environment type supported by the sample gvrcubemap. That is, in the file CubemapScript.java, change mEnvironmentType from 0 to 1 (line 48).

2) Put your images in Android resource res/drawable-xxxhdpi, and replace the existing images "back.png", "bottom.png", "front.png", "

[2015-08-14 16:37] douglasalipio commented on #219
Thank you @danke-sra it's work for me.

[2015-08-17 12:40] douglasalipio opened #224 "fbx animation"
Is it possible to work with fbx animation in GVRf Api? Any samples  available?

[2015-08-17 17:13] thomasflynn commented on #224
We haven't added support for Assimp's (and therefore fbx's) animations yet.  It's in the plans.  Will likely start work on it later this month.

[2015-08-17 18:28] douglasalipio commented on #224
Great!

[2015-08-18 17:37] gaurav-mcl commented on #190
Hello @lokeshguddu, @eesha19 do you have any comments on the pull request https://github.com/Samsung/GearVRf/pull/212 that I created a few days ago ?

We made some minor improvements to the app since then. So please check it out. My colleagues here have already reviewed the pull request. So if this is serving your needs, we can merge it in the main branch.

[2015-08-18 22:00] mkeblx commented on #177
I believe GearVRf utilizes the Apache Commons Mathematics Library (v3.2): http://commons.apache.org/proper/commons-math which has such math objects and methods that work well.

[2015-08-19 06:11] lokeshguddu commented on #190
Hi @gaurav-mcl ,

We will get back to you with the review asap.

[2015-08-20 00:53] mkeblx opened #227 "External Views framerate"
I'm finding the ability to map live Android views onto in-world geometry handy but a desired update rate of 60fps seems out of reach with current implementation. Ex.: a 1024x1024 view @ 60fps is ~2Gbps cpu->gpu. Are there any other approaches that you see working at this time with current implementation of SurfaceTexture, etc?

[2015-08-20 21:40] thomasflynn commented on #227
that's a good question.  i'm open to suggestions.

[2015-08-20 21:50] thomasflynn commented on #93
if there is anything else needed for this, please open a new issue.  thanks.

[2015-08-20 21:50] #93 closed

[2015-08-20 21:53] thomasflynn opened #229 "draw call batching"
once we have state sorting (#91) implemented.  we should look into batching draw calls.  (combining meshes that have the same shader and textures into a single draw call).

[2015-08-21 16:44] danke-sra commented on #219
The sample gvrcubemap has been updated to include a sample showing how to use cubemap with textures loaded from a .zip file. I think the issue can be closed. https://github.com/Samsung/GearVRf/pull/225

[2015-08-24 20:36] elidelsonc opened #230 "native mipmappedConstructor:(I)J not found"
Hello,

I am trying to write unit test for class GVRCompressedTexture and I am getting the following error:

GVRCompressedTexture :: NativeCompressedTexture

java.lang.UnsatisfiedLinkError: Native method not found: org.gearvrf.asynchronous.NativeCompressedTexture.mipmappedConstructor:(I)J

[code]

Best regards,

Elidelson Carvalho
Sidia Brazil - UX team

[2015-08-24 22:52] liaxim commented on #230
In compressed_texture_jni.cpp the method name has been changed to Java_org_gearvrf_asynchronous_1textures_NativeCompressedTexture_mipmappedConstructor (notice the "1textures"). You could correct the name to "Java_org_gearvrf_asynchronous_NativeCompressedTexture_mipmappedConstructor" and it should be found. Maybe someone knows why was this done - the history log is of no help.

[2015-08-25 15:13] DanielNogueiraAndroid opened #231 "GearVR TouchPad MotionEvent.AXIS always start in center."
I'm having a hard time getting the absolute touch position on GearVR TouchPad, the value of X and Y always start with 0 even if I'm not touching on the center of touch pad.
To get position x and y, I'm using :
[code]

[2015-08-26 12:42] eesha19 commented on #190
Hi @gaurav-mcl ,

We have updated our framework setup to have minimum number of changes now. The only major thing is passing the following:
- isAR flag
- MVP Matrix
- Viewport Offsets.

 If we avoid doing these changes in the framework, there are significant issues as seen in the recently merged app - Viewport settings will be incorrect with the tracked object going outside the preview window. The

[2015-08-27 21:31] gaurav-mcl commented on #190
I will review the change.

Just one quick comment .... the statement "Another problem with that app is that there is no control on when to display the virtual object - the virtual object is visible even in the splash screen which is incorrect. " is not accurate.

This was an issue in the initial few commits of the app that we merged recently. But in the final commit, you only see the virtual objec

[2015-08-28 02:00] thomasflynn commented on #230
@elidelsonc, did you try what @liaxim suggested?  did that fix it for you?  if so, we'll submit a quick fix.

[2015-08-28 02:03] thomasflynn commented on #231
That is how the touchpad works on the GearVR works.  No matter where you touch down on the pad, it reports the initial position as 0 and then gives relative coordinates from there.  It's configured that way in the firmware of the touchpad.  The touchpad is really only good for taps and swipes.

[2015-08-28 02:04] #219 closed

[2015-08-28 19:37] mteofilo commented on #231
Thank you for the clarification. We'll represent just tap, long press, and swipes in Controls sample. This issue can be closed.

[2015-08-28 21:44] mkeblx commented on #227
I've played with this:
https://github.com/ArtemBogush/AndroidViewToGLRendering
and testing out I can get quite high performance and acceptable update rate, ~30-60fps where currently limited to a few fps now.

Looking at the this and gearvrf they are almost exactly the same in overall methodology but something slightly/subtly different.

Also: http://www.felixjones.co.uk/neo%20website/Android_View/

[2015-08-29 01:55] #231 closed

[2015-08-29 02:17] thomasflynn opened #239 "Find SceneObject by name"
I can't believe this doesn't already exist (that I could find anyway).  We should add a method to both GVRScene and GVRSceneObject to find a SceneObject by name.  So when people load in their models, they can find the articulated objects (by name) and move them.

[2015-08-29 19:16] chenchao1407 commented on #239
Let me take care of it.

[2015-08-31 16:07] elidelsonc opened #240 "GVRBitmapTexture does not throws IllegalArgumentException for byte[] grayscaleData constructor"
Hello,

When writing unit test for GVRBitmapTexture (byte[] grayscaledata), I noted that the constructor does not throws IllegalArgumentException as described in the constructor header.

I have tested with height=0, width=0 and grayscaleData.length < height * width.

Class: GVRBitmapTexture
Constructor: Create a new, grayscale texture, from an array of luminance bytes.

[code]

Best regards,

Elid

[2015-08-31 20:05] danke-sra opened #241 "Cubemap is not working on Nexus 5/6"
The textures are drawn on the first frame. After that, there is some glErrors and the background becomes black. In gvr-cubemap app, the FPS text is still shown in on black frames.

The issue is probably in cubemap shader. This issue is found on the master branch (without pull-request about compressed cubemap; the compressed cubemap patch also works on the first frame so it is not the issue).

Log:

[2015-08-31 21:06] rongguodong commented on #241
@danke-sra I see you can reproduce what I see on my phone. So you do not need my logcat any more now. :)

Since this sample used to work fine on nexus, it must be a regression introduced by recent commits. A simple search on recent commits touching the cubemap shaders should reveal the culprit.

[2015-08-31 21:24] danke-sra commented on #241
@rongguodong Thanks guodong for the quick comments. That's a good point.

[2015-09-01 01:45] danke-sra commented on #241
@rongguodong Hi Guodong, there is some new finding. The cubemap works on vr-mode but not monoscopic mode. This is the same for all the phones (I tested nexus 5 and s6). I think if you add Nexus 6 to GVRActivity.isVrSupported(), then it will work. Any idea will be appreciated!

[2015-09-02 21:54] elidelsonc commented on #230
Hello Thomas,

I have tried to liaxim´s suggestion and it solved the issue.

Thank you.

[2015-09-03 21:54] kuldeep-samsung opened #243 "Lots of threads"
looks like GVRF is creating lots of thread in startup (~30) and inherits the render thread's priority.

[2015-09-04 18:04] danke-sra commented on #241
This issue has been fixed: https://github.com/Samsung/GearVRf/pull/242

[2015-09-04 18:04] #241 closed

[2015-09-08 18:13] xcaostagit commented on #243
I will work on this one together with some other thread-related issues.

[2015-09-08 18:35] douglasalipio opened #246 "Can I set typeface font in GVRTextViewSceneObject class?"
How do I set typeface font in GVRTextViewSceneObject?

[code]

[2015-09-13 05:24] rongguodong opened #251 "Redundant parameter of gvr::Mesh::getVAOId"
After the pull request #236, this function does not need a parameter any more. The redundant parameter should be removed.

[2015-09-13 18:17] thomasflynn commented on #251
@Vittalbabu, here's a little more clean up for ya.

[2015-09-13 23:20] mkeblx commented on #246
Currently you cannot as `GVRTextViewSceneObject` uses a `TextView` internally that isn't fully accessible besides a few helper methods. (See:  https://github.com/Samsung/GearVRf/blob/master/GVRf/Framework/src/org/gearvrf/scene_objects/GVRTextViewSceneObject.java)

`setTypeFace` would be a useful one to add, or a method that returns the `TextView` so one could call any of it's methods.

[2015-09-14 18:14] chenchao1407 commented on #246
I think you can do that since at the beginning I created this type of scene object with just basic APIs. You can add whatever is available from TextView.

[2015-09-15 00:16] thomasflynn commented on #230
the fix is merged into master.

[2015-09-15 00:16] #230 closed

[2015-09-15 17:59] elidelsonc commented on #230
Ok! Thank You.

[2015-09-15 21:18] Ncit opened #254 "Video sample help"
Can you assist in creating simple video play demo?

[2015-09-15 21:21] thomasflynn commented on #254
We have some samples that use video in our Samples/ directory.  There's gvr-video/ and then our scene-objects/ sample is a bit simpler.  After trying / looking at those, let us know what you need.

[2015-09-15 21:27] Ncit commented on #254
Is it possible to add 3d support for existing app? Do that I don't need to change layouts?

[2015-09-15 21:32] thomasflynn commented on #254
I'm not sure what you're asking for.  You can add any 3d objects you want into the scene.  If you want to texture map a 3d object with a video, you'll need to use a GVRExternalTexture and can look at the source code for GVRVideoSceneObject.java as an example of how that is done.

[2015-09-15 21:39] chenchao1407 commented on #254
/GVRf/Framework/src/org/gearvrf/scene_objects/GVRVideoSceneObject.java

Please take a look at this class and also gvrsample app, it shows how we port Android MediaPlayer to play video.

[2015-09-15 21:44] Ncit commented on #254
I have a project that use custom ooyala player for drm videos, I need to add support for that app. Also I need to migrate to android studio, because of lots of gradle dependecies.

[2015-09-15 22:04] thomasflynn commented on #254
I don't think any of us are familiar with ooyala, but if you have it already running in Android, you should be able to get it running with GVRf.  As for Android studio, it might be easier to work with one of our binary releases.  @jason2kim might be able to help you with what you need to do for that.  Our source currently needs to be either built with Eclipse or with our experimental ant build scr

[2015-09-15 22:08] Ncit commented on #254
How can I contact with him, because I did not manage to run android 1.4 with gvr-video

[2015-09-15 22:10] thomasflynn commented on #254
i've talked with him, he'll write you back here.

[2015-09-16 17:01] jason2kim commented on #254
Please refer to these pages in case you are using pre-built binaries:

https://github.com/Samsung/GearVRf/releases/tag/2.2
(older: https://github.com/Samsung/GearVRf/releases/tag/2.1  gvr-video-staticlib-androidstudio.zip\README.txt)
http://www.gearvrf.org/bin/view/GearVRfDeveloperGuide/GearVRfDevGuide200Start#BuildInstruct

[2015-09-16 17:05] Ncit commented on #254
Is it possible to add simple frame layout to the scene?

[2015-09-16 18:13] chenchao1407 commented on #254
As far as I can see, the answer should be yes. Actually you can take a look at some customized scene objects like GVRWebViewSceneObject, GVRTextViewSceneObject which render android layout into a surface texture and make it as a Android's View-based scene object.

[2015-09-16 18:17] Ncit commented on #254
I found that, so for now trying to create cinema with framelayout as screen

[2015-09-16 18:20] chenchao1407 commented on #254
Good. Please let me know if you face any issue or not. Please be aware that the refresh rate should be handled well otherwise there will be a performance issue since SurfaceTexture is not that efficient.

[2015-09-16 21:17] elidelsonc opened #255 "ovr_sdk_mobile instead of ovr_mobile_sdk"
Hello!

The last Oculus mobile sdk comes with the label: ovr_sdk_mobile_0.6.2.0.zip.
That's different from version ovr_mobile_sdk_0.6.0.1.zip.
I mean the words sdk and mobile had their position changed.
So when one unzip the file will get the oculus path name different. ovr_sdk_mobile instead of ovr_mobile_sdk.
That can be confusing for users.

Best Regards,

Elidelson Carvalho
SIDIA BR - UX TEAM

[2015-09-17 04:26] danke-sra commented on #210
This is fixed by https://github.com/Samsung/GearVRf/commit/eb2f16d79cfe7d08ec13162c53fd0360fa3321d9

Can this be closed?

[2015-09-17 05:35] Ncit commented on #254
I used gear-video sample from 2.2 version, but it asks for vrappframework.VrActivity dependency. Using framework jar from oculus sdk gives me nothing.

[2015-09-17 11:27] Ncit commented on #254
I did not manage to run in android studio 1.4 gear video https://github.com/Ncit/gear_video

[2015-09-18 00:30] rongguodong opened #256 "Monoscopic mode not supported now?"
With the latest pull, I cannot run any sample on my Nexus 5 phone. (Previously I can run all samples in monoscopic mode)

From the adb logcat, I can see
ovr_StartSystemActivity: failMenu {
    "extraData":	{
        "Reason":	"failOSig",
        "Tag":	"VrApi",
        "Message":	"Thread priority security exception. Make sure the APK is signed."
    }
}

But I already have a signature file in asse

[2015-09-18 00:34] thomasflynn commented on #256
it should work.  and you shouldn't need a signature if you're on a non-samsung phone anyway.  we did recently upgrade to version 0.6.2 of the oculus mobile sdk.  maybe something changed then?  gimme a few minutes and i'll try on my S5....

[2015-09-18 00:37] rongguodong commented on #256
It broken after the change to 0.6.1, and is still bad after 0.6.2. :(

[2015-09-18 01:08] thomasflynn commented on #256
ok, i can reproduce the problem.  i don't have a suggestion for a work-around yet.  need to better understand what they changed.  seems like the point where vrapi_Initialize gets called got moved maybe.

[2015-09-18 02:34] thomasflynn commented on #256
it seems to be happening inside the nativeOnCreate of VrActivity.  i think we need to stop using VrAppFramework and just use VrApi directly.  that way we don't need to derive from VrActivity and we'll have more control over when things get initialized.  That'll be a non-trivial port.  Probably worth doing though.

[2015-09-18 03:59] #210 closed

[2015-09-21 02:30] thomasflynn commented on #256
another approach would be to have GVRActivity be a proxy activity of some sort and have it create and route events to the VrActivity when we decide to do so.  I took a closer look at the VrApi this past weekend.  It's definitely the right long term way to go.  It would be a fairly significant change though.

[2015-09-22 19:23] elidelsonc opened #257 "Bug in solar-system sample"
Hello,

We have noted the following strange behaving with solar-system sample:

1 - the sample starts normally
2 - We press the back button and the "exit to oculus home ?" message appears
3 - if We press "no" to come back to the application, the application's sceneObjects don't appear anymore.
4 - Only the statistical display, switch to on/off if we touch in the pad.

what could be happening?

Bes

[2015-09-22 23:35] jason2kim commented on #254
Ncit, in case you are still stuck with Android Studio, this new release would be helpful: https://github.com/Samsung/GearVRf/releases/tag/2.2.1
Let me know if you have any further questions.

[2015-09-28 17:58] #176 closed

[2015-09-28 19:32] phi-lira opened #258 "Support for per-pixel lighting"
If there's no one currently working on lighting in GVRf I'd like to improve it by adding support to per-pixel point and directional lights. Currently there's only support for point lights and no support to real per-pixel light as tangent space is never calculated in the shader. (plus the one there uses blinn not blinn-phong which is far from ideal)

This is my plan (Think of each number as separat

[2015-09-29 03:07] thomasflynn commented on #258
Sounds awesome Phil, go for it!

[2015-09-29 17:51] ethernyEonian opened #262 "Head tracking threshold"
Hi, when i change my head direction (left to right and invert), i have a strange effect.
A little threshold i needed to detect new move direction.
This give me a bad feeling.

[2015-09-29 18:10] ethernyEonian commented on #262
I have this problem in each samples.

[2015-09-29 19:16] liaxim commented on #262
Hi there,
What kind of a device do you have? Have you tried the Oculus apps - do they work well? Asking about Oculus because we use the Oculus SDK for head tracking.

[2015-09-29 20:43] ethernyEonian commented on #262
Hi, yes oculus native apps works well and unity app too, perfect head tracking.
I have a note4 and gear vr stuff.
I m an unity dev, and i want to migrate to your framework, but i need to check some requirements.
I your samples, i have a little tracking effect when make little moves left to right.

[2015-09-30 23:08] ethernyEonian commented on #262
No idea ?
Do you have the same problem ?

[2015-10-01 18:17] mrgzadeh opened #264 "Button"
Dear All,

How can I add button to my GearVR framework application (If Possible at all)?
Thanks,

[2015-10-01 20:00] Maginador commented on #86
We are planning on shadows support implementation.
The main idea is to start with hard shadows based on something like shadow mapping technique.

Our initial definitions for parameters to expose for the user :

Light Parameters (GVRLight)

UseShadows (on/off) - bool useShadow
	if the light is going to use shadow or not, in the case of more than one light, error/warning.

Shadow Type (hard/soft) -

[2015-10-01 21:22] liaxim commented on #262
I have no idea. Will run few tests and probably come up with some logs that could help identify the problem.

In the meantime, could you let me know what happens if you change in activity_jni.h "typedef GVRActivityT<OculusHeadRotation> GVRActivity;" to "typedef GVRActivityT<KSensorHeadRotation> GVRActivity;"? Thanks.

[2015-10-02 00:11] ethernyEonian commented on #262
Hi perhaps a type mistake you want i change typedef to the same ?
I tried on change this :

//typedef GVRActivityT<OculusHeadRotation> GVRActivity;
typedef GVRActivityT<KSensorHeadRotation> GVRActivity;

But no effect.

[2015-10-02 04:29] thomasflynn commented on #262
Yeah, I think those were the lines he was referring to.  The OculusHeadRotation line uses the Oculus code for sensor fusion and predicted head movement.  The KSensorHeadRotation uses code we originally had for sensor fusion.  We switched to the Oculus code because it had better prediction and filtering.  The OculusHeadRotation code is using the same vrapi any Oculus app ends up using so _theoretic

[2015-10-02 04:30] thomasflynn commented on #264
i think you might need to be a little more specific.

one suggestion could be to look at the eye-picking sample and then listen to taps from the touchpad for 'clicking' the 3d object you're pointing to.

[2015-10-02 15:06] Maginador commented on #264
gvrf_controls_sample has some facilitators related to button, interaction and things like that, take a look, specially in the ControlSceneObject.

https://github.com/Samsung/GearVRf/blob/805bedebb3eb957539cb649c2afee426615a57dd/GVRf/Sample/gvrf_controls_sample/src/org/gearvrf/controls/focus/ControlSceneObject.java

[2015-10-02 18:50] fredduarte commented on #224
Hi, Thomas.

Is there any preview of the FBX support via Assimp on the GearVRf? Also, is there an estimate of when
it will become available on the framework?

[2015-10-03 01:51] thomasflynn commented on #257
i suspect we have a bug in onResume() or thereabouts with restoring the GL context and associated buffers.  will have to look more closely.  thanks for pointing this out.

[2015-10-03 02:01] thomasflynn commented on #255
Oculus does a lot of confusing things :).  They had a different naming scheme before 0.5.0 as well.  And each minor 0.x.y point release has major, wide reaching API changes in it.  It can be a bit of a pain.  For all we know their release engineer got dyslexic with the name and it'll change back in the next release.  We'll have to see.

At Oculus Connect, they announced they'll have a 1.0 release

[2015-10-03 02:03] thomasflynn commented on #254
@Ncit, did you ever get anywhere?

[2015-10-03 02:04] thomasflynn commented on #243
what's the status on this?

[2015-10-03 02:07] thomasflynn commented on #224
I'm so sorry.  An internal release here sucked most of us in and took most of our time.  There hasn't been any progress on it in the meantime :(  I don't have a timeline right now.  Hopefully we can get things back on track next week.

[2015-10-03 02:07] thomasflynn commented on #239
how's that coming along?-)  or should I take it up?

[2015-10-05 11:54] ragner commented on #227
Hi,
@mkeblx Do you have any example implemented over GearVRF and Android OpenGL that we could use to compare the performance?

@thomasflynn  I have seen some REFRESH_INTERVAL at GVRWebViewSceneObject.
Is there another logic at GearVRF limiting its refresh interval?

[2015-10-05 17:34] xcaostagit commented on #243
With my commit fcf7f36174dc35034c1906abd6778f538d1107fd (Using GrowBeforeQueueThreadPoolExecutor as the threadPool) merged this is no longer an issue. Can we close this ticket?

[2015-10-05 17:36] thomasflynn commented on #243
ok, good, that's what i thought

[2015-10-05 17:37] thomasflynn commented on #243
looks like i cannot close it.  perhaps @kuldeep-samsung is supposed to close it.

[2015-10-05 17:37] #243 closed

[2015-10-05 18:21] thomasflynn commented on #227
@mkeblx, i think the key difference between the implementation with AndroidViewToGLRendering and our implementation is that the other one derives its own WebView to override draw(), in that draw() it uses the canvas provided by the AndroidViewToGLRenderer class rather than the passed in draw.  in the AndroidViewToGLRenderer, it only calls SurfaceTexture.updateTexImage() in onDrawFrame() and nothin

[2015-10-05 20:59] mkeblx commented on #227
@ragner What's your email? m.blix@samsung.com

[2015-10-06 01:04] mkeblx commented on #227
@thomasflynn Is there any downside to the other approach? If not performance, complexity, etc. I'm not sure where the additional perf issue would be for a View updating every frame but I think it exists.

@ragner The native mobile Oculus SDK examples may contain some similar View handling, but that might just be view video specific.

One recent example of performant View texture usage is the Netfl

[2015-10-06 03:34] thomasflynn commented on #227
the only drawback i can see to the other approach is complexity.  we would need to user to derive their own webview to implement draw() themselves so they can use the SurfaceView provided by the WebViewSceneObject and we'd have to expose a way to get that SurfaecView in WebViewSceneObject.  This wouldn't be too hard an experiment to try.  I'm kinda swamped right now.  any volunteers?  I can help c

[2015-10-06 14:26] ragner commented on #227
@thomasflynn with your code review, I would like to work on it.  May I?

My email is ragner.n@samsung.com

[2015-10-06 17:30] thomasflynn commented on #227
Go for it.  You won't need collaborator access.  You can just fork the repo, clone your own fork, create a branch, work in there, when ready do a pull-request here.  If you want me to go over it before you do the pull-request, you can send me a link to your branch and I'll be able to comment on it.

once you do the pull-request everyone watching this repo will get an email and we'll be able to rev

[2015-10-06 18:02] ragner commented on #227
Ok,
thank you.

[2015-10-06 18:56] Ncit commented on #254
I failed in running sample from 2.2.1 and also failed in created relative layout in the scene

[2015-10-06 21:49] liaxim commented on #262
@ethernyEonian, your issue is rather unique and I don't know where to start. I can add logging to various places and the whole process will most likely take numerous iterations. Are you willing to help me out with testing various builds and sending back the logs?

Another suggestion: what happens if you run the samples without the phone being docked into GearVR? To allow the apps to run in this ca

[2015-10-06 21:51] liaxim commented on #239
@thomasflynn, I could help with this one if you'd like.

[2015-10-06 22:07] thomasflynn commented on #239
Sure, go for it.  Should be quick enough.

[2015-10-07 14:46] ethernyEonian commented on #262
Hi, yes i can send you logs. What i need to do ? Pull the new code and restart app ?

For you suggestion : i tried but it's difficult to see that on a little screen, but it seems to be the same.

[2015-10-07 16:39] jason2kim commented on #254
@Ncit,
Were you able to build this app, 2.2.1 gvr-video-staticlib-androidstuido.zip, using binaries collected from both gear vrf and oculus as instructed?

[2015-10-07 21:42] liaxim commented on #262
For starters you can do a "adb shell dumpsys" and send me the output. I am having doubts your problem has anything to do with the head-tracking.

I will see what logs I can enable and add and will send you a link to a branch in my forked repo.

[2015-10-07 21:47] liaxim commented on #262
You could also capture the complete output of "adb logcat -v threadtime V:*" when you start some of the GVRF apps that exhibits the problem you describe.

[2015-10-07 22:15] ethernyEonian commented on #262
could you give me an email address to send you my logs, i don't want to put this in public area. Thank you.

[2015-10-07 22:38] liaxim commented on #262
Sure, you can send to m.marinov@samsung.com

[2015-10-08 17:29] liaxim commented on #262
Do you see this strange effect when you are moving your head left/right very slowly? Is it any different to when you move your head at normal speed? How about when you try to move fast?

[2015-10-08 19:38] ethernyEonian commented on #262
When i do long moves (slow or fast) it's ok.
It's when i make little moves left to right like if you have a parkinson disease (very small moves).
I have a move log entry when i make long moves, but not with this kind of "parkinson disease" move.

[2015-10-08 21:46] ragner commented on #227
@thomasflynn I have finished at https://github.com/ragner/GearVRf/tree/issue-227
that branch also add a RenderableView sample that shows
how to use GVRViewSceneObject.
The sample is based on  https://github.com/ArtemBogush/AndroidViewToGLRendering
Could you please, review it?

[2015-10-08 21:52] ragner commented on #227
After launch the RenderableView  sample, you can scroll the Web page and select some link using the oculus touchpad.

[2015-10-08 23:19] thomasflynn commented on #227
Just reviewed the code, haven't tried running it yet.  Couple comments:
- don't need the import for WebView in GVRViewSceneObject.java :)
- should look how to modify the WebViewSceneObject to use this method so there aren't multiple conflicting ways of doing the same thing.
- don't necessarily need a separate sample for this.  could just modify the existing scene-objects sample.

[2015-10-08 23:47] thomasflynn commented on #262
@ethernyEonian, can you try this change request and see if it improves things?
https://github.com/Samsung/GearVRf/pull/268

[2015-10-08 23:52] ethernyEonian commented on #262
Yes i tried.
It's better but i have always the problem but smaller

On Thu, Oct 8, 2015 at 7:47 PM, thomasflynn <notifications@github.com>
wrote:

[2015-10-09 01:08] thomasflynn commented on #262
alright, well, perhaps we're on the right track.  merged the change.  Mihail is on PTO tomorrow, but he'll continue to work with you on this.

[2015-10-09 14:51] Bonch90 opened #270 "camera preview faster"
I've made a simple app on Galaxy S6 that activate the rear camera and show the preview, I've used the 0.5 version of the ovr sdk. Comparing with the Passthrough Camera app inside the Gear Menu I've noticed that this one is "faster" than mine, the preview seems be accelerated, I've tried to change fps range preview but is not possible going over 30 fps, is there a way to reach the same result?

Tha

[2015-10-09 17:50] thomasflynn commented on #270
I think there's some special calls that can be made on Samsung phones to set the camera into a higher fps.  I'll have someone investigate and report back.

[2015-10-09 20:02] Ncit commented on #254
No I did not. I downloaded the 2.2.1 sample project. Added all libs as said in readme. But after opening in android stuido I cannot find a lot of imports

[2015-10-09 21:56] Ncit commented on #254
I managed to create GVRRelativeLayoutSceneObject with relativelayout, but when I created such object, added subviews to layout, nothing happens. On the screen I can see only relativeLayout.

[2015-10-09 23:04] rahul27 opened #271 "glError 0x502 on app relaunch"
I've noticed this bug while running apps with the Gear VR developer mode ON. I am able to recreate it quite consistently.

Recreation:
1) Turn on Gear VR Developer mode in Settings.
2) Open a sample app with textures (I've tried EyePicker and Solar System).
3) Once launched (past the splash sceen), hit the back button. This will take you to the "Exit to Oculus Home?" Screen.
4) Now hit back again

[2015-10-09 23:06] rahul27 commented on #271
Looks like someone has already reported this one:

https://github.com/Samsung/GearVRf/issues/257

[2015-10-09 23:06] #271 closed

[2015-10-10 01:56] ethernyEonian commented on #262
Hi, i m working of a use of your lib in clojure.

When i run the application i have this log :

Perhaps this talk you. I m lost :)
I checked the content of my apk and all is the same as in one of your final
sample apk.

D/NativeLibraryHelper(  925): Successfully fsync
/data/app/vmdl1746303542.tmp/lib/arm/libgvrf.so
D/NativeLibraryHelper(  925): Successfully fsync
/data/app/vmdl1746303542.tmp/lib/a

[2015-10-10 17:14] Ncit commented on #254
Can you advise, on how can I replace surfacetexture for mediaplayer on my custom ooayala player layout?

[2015-10-12 01:45] ethernyEonian opened #272 "Clojure integration"
Hi, i m working to use your SDK under clojure but i have an error at resource loading at application start.
When the application start i receive an resource Exception :
App start, and crash just before oculus loading ring.

It's looks like the loading ring resource not found. But i don't have the resource name.

[code]

[2015-10-12 01:48] ethernyEonian commented on #272
[code]

[2015-10-12 01:54] ethernyEonian commented on #272
I campare your gvrtextviewsample APK containt with the clojure APK, it looks good.

[2015-10-12 15:52] Liahim commented on #272
Hi there. I am not familiar with Clojure so it will take me couple of days to get up and running and study the problems. In the meantime you could send me a sample clojure project that exhibits the described problems - it may turn out faster.

[2015-10-12 16:07] liaxim commented on #264
@mrgzadeh did the two samples mentioned help you? Do you need further help? If not, can we consider this issue closed?

[2015-10-12 16:19] liaxim opened #274 "GVRBitmapTexture problems when instantiated from non-GL thread"
@ejsamsung had problem when creating two scene objects from non-GL thread. He created two separate GVRBitmapTextures, GVRMaterials and GVRSceneObjects but the two scene objects were rendered with the same texture. Once the instantiation was moved to the GL thread everything worked. GVRBitmapTexture's ctor uses the update call which can be made on any thread but the native ctor makes GL calls so th

[2015-10-12 18:01] thomasflynn commented on #256
FWIW, I took a stab at the hacky solution over the weekend.  I couldn't get it to work again with Oculus although it looks like it theoretically should.  Seems to fail inside native code inside the Oculus libs looking to call back into Java.  I've obviously missed something.

If you're interested, take a look.  Maybe debug it :)  I'll be going on PTO soon and I likely won't have time to hack at th

[2015-10-12 21:09] gaurav-mcl commented on #270
Hello @Bonch90, @thomasflynn asked me to look into this. We have some internal code that may be used to run cameras on Samsung phones with a higher fps. I will investigate as to whether we can use that to accelerate the pass through camera fps in GVRF.

[2015-10-12 22:11] ethernyEonian commented on #272
Hi thank you for your interest !
You need to do some things to be able to compile the project.
You need first add maven local dependencies :
[code]
Install leiningen :
Download from https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein
Install in you /use/bin (or in your .bachrc)
You can unzip and go to the project folder and run lein with
lein droid do all
This command will comp

[2015-10-12 22:27] ethernyEonian commented on #262
Any new for this issue ?

[2015-10-13 12:14] ethernyEonian commented on #272
You need to comment in GVRActivity.java
Because of reflexion error in AOT compilation.
[code]

[2015-10-13 15:48] liaxim commented on #262
We found the low-hanging fruit and fixed that. I will continue to look into this but I don't have anything at the moment.

[2015-10-13 15:49] liaxim commented on #264
I assume it is all good. @mrgzadeh please open another issue if necessary.

[2015-10-13 15:49] #264 closed

[2015-10-13 15:50] liaxim commented on #239
The corresponding APIs have been added to GVRScene and GVRSceneObjects.

[2015-10-13 15:50] #239 closed

[2015-10-13 17:34] ethernyEonian commented on #262
Cool thank you !

On Tue, Oct 13, 2015 at 11:48 AM, Mihail <notifications@github.com> wrote:

[2015-10-13 19:01] liaxim commented on #257
Fix has been merged.

[2015-10-13 19:01] #257 closed

[2015-10-13 22:56] liaxim commented on #272
Oculus for some reason refers to a resource id of 0x00000000. Given that this comes out of Oculus code we don't have the sources for, it could be tricky.

10-13 17:03:23.299  9448  9977 I VrApi   : vrapi_EnterVrMode: defaulting to docked due to lack of dock events
10-13 17:03:23.299  9448  9977 I VrApi   : vrapi_EnterVrMode: defaulting to mounted due to lack of mount events
10-13 17:03:23.299  944

[2015-10-13 23:14] rahul27 commented on #257
The texture loading issue seems to be fixed with this patch. But on relaunch the splash screen cuts off for me. Do you see the same?

[2015-10-14 02:20] thomasflynn opened #279 "Support All Assimp Shaders"
We should support the same built-in shaders that Assimp supports.  For reference we can look at the Shaders.cpp file in Assimp's github in tools/assimp_view/ directory.

[2015-10-14 14:57] liaxim commented on #257
Could you please open another issue then? I doubt it is related to the original reported here.

[2015-10-14 22:41] rahul27 opened #283 "The splash screen cuts off on relaunch"
Recreation:
1) Open an app.
2) Hit the back button, this will take you to the "Exit to Oculus Home?" Screen.
3) Hit back again.
4) The splash screen appears and then cuts off immediately.

[2015-10-15 19:04] liaxim commented on #254
Hi there. I had a quick look at OoyalaPlayer and I don't see an equivalent to MediaPlayer's setSurface api. You may want to ask Ooyala this question as they have a better chance of answering conclusively.

[2015-10-15 23:01] ethernyEonian commented on #272
Tried to launch SampleActivity directly and i have the same issue.

[2015-10-16 00:08] danke-sra opened #284 "Compressed textures with gradient alpha values are not working"
Currently, only binary alpha values are supported. See if we can support 0 - 255 levels.

[2015-10-19 16:35] liaxim commented on #254
@Ncit do you still have any gvrf issues we could help you with?

[2015-10-20 00:41] danke-sra commented on #284
Checked both PKM and ASTC work with RGBA format.

[2015-10-20 00:41] #284 closed

[2015-10-20 14:23] andersonkxiass opened #285 "can not record the screen when in stereoscopic mode"
It can not record the screen when in stereoscopic mode, I have tried a lot of different ways to record screen but none are able to record the screen when the mode is stereoscopic.

When we change to the monoscopic mode all forms work well.

any idea what  happens?

[2015-10-20 16:50] liaxim commented on #285
Hi. Are you trying to capture a video? If all you need is a screen shot - GVRF has built-in API to do that.

[2015-10-20 17:44] andersonacs commented on #285
yes, I need to capture a video.

[2015-10-20 18:13] liaxim commented on #285
I see. Nothing works for me too. We will have to study this further. There might be a need of special facility in GVRF like the one for the screenshots.

[2015-10-20 18:38] Maginador commented on #285
We are developing a screen mirror api to work with GVRF, to achieve it we would need to record and stream the screen content. Do you think you could give us some starting point and/or guideline on how to get into it? We could help develop this facility through the screen mirror development.

[2015-10-20 21:23] liaxim commented on #285
The built-in Samsung Screen Mirroring doesn't work either? If you want something in GVRF itself, there is always the screenshot code in the GVRViewManager. It may be a decent starting place.

[2015-10-20 21:29] Maginador commented on #285
The built-in Samsung Screen Mirroring FPS goes down a lot when entering GVRF application, probably something around 1/2 fps

[2015-10-21 06:34] bonniemathew opened #286 "Textures not loading while loading a 3d model."
Hi,

While working on loading a 3d model, we have found that some of the textures are not loading. It works on models with very few textures but the models with 8 - 12 texture references fails to load. This issue started happening from this commit c108b1af2220eb30b6df0062689c365e17b3caa0 (#253).

-private static ExecutorService threadPool = Executors.newCachedThreadPool();
+private static Executor

[2015-10-21 13:11] Ncit commented on #254
big thanks,for now I do not have questions.
19 Окт 2015 г. 19:35 пользователь "Mihail" <notifications@github.com>
написал:

[2015-10-21 14:00] liaxim commented on #254
You are welcome @Ncit . Closing this issue.

[2015-10-21 14:00] #254 closed

[2015-10-21 14:07] liaxim commented on #286
Thank you for the detailed report. We will investigate. Do you happen to have a problematic model you could share?

[2015-10-21 14:54] tflynnt commented on #285
Have you tried 'adb shell screenrecord'?  We've done some internal video captures with that.  Though, i wasn't doing the recording, so i don't know the performance.

[2015-10-21 14:58] Maginador commented on #285
Yes @tflynnt we've tried this way. When we do it, it just does not record anything while we are inside the GVRF application.

[2015-10-21 15:04] tflynnt commented on #285
Hm, maybe it worked because it was on an engineering build?  Mihail, can you ask waddah about this?  He did the recording.

[2015-10-21 15:08] liaxim commented on #285
I tried it too. On engineering build. Didn't work - if lucky it might capture a frame or two. Most of the times it was all black. I tried one of the popular third-party recorders (Recordable) with the same results. Will check with Waddah.

[2015-10-21 15:42] andersonacs commented on #285
I'm not sure about this, but I checked the Android Screen Record API and it requires an Activity so in order to use it, It's moved to background (generally using this `moveTaskToBack(true);` ). Android can kill backgound processes when it needs extra resources could it be the case?

[2015-10-21 18:44] liaxim commented on #285
The recording issue is related to using Oculus..

[2015-10-22 05:03] #206 closed

[2015-10-22 05:27] bonniemathew commented on #286
I have sent the problematic model via email... (to m.marinov@samsung.com).

[2015-10-22 21:48] mteofilo commented on #285
Do you have more information about Oculus issue?

[2015-10-22 22:08] liaxim commented on #285
I have no specifics other that I can't record any of the Oculus apps I tried (non-gvrf based). Someone will investigate.

[2015-10-22 23:28] m-blix commented on #285
I saw this a while back, grabs frame buffers among other things. If works might help narrow down.
https://developer.oculus.com/documentation/mobilesdk/latest/concepts/mobile-remote-monitor/

[2015-10-23 15:21] ragner commented on #227
Hi @thomasflynn,
thank you.
I have other try:
https://github.com/ragner/GearVRf/commits/issue-227

[2015-10-23 15:27] ragner commented on #227
Basic sample, of how to use it
https://github.com/ragner/GearVRf/commits/renderable

[2015-10-23 15:39] mitridate opened #288 "Conversion to Dalvik format failed with error 1"
Good morning to try to compile the application I get the following error is appearing:
Conversion to Dalvik format failed with error 1

[2015-10-23 15:59] liaxim commented on #288
Hello, any chance you could send the full build log?

[2015-10-23 16:33] liaxim commented on #285
Interesting tool.. Even that works for 5-10 seconds before it stops capturing. It is still much better than anything else: while it works it captures seemingly all the frames. The resolution though is very low.

[2015-10-23 19:07] mitridate commented on #288
Thank you for your prompt response I send what appears on the console me because I see nothing in the logs

[2015-10-23 14:26:55 - Unable to launch cygpath. Is Cygwin on the path?] java.io.IOException: Cannot run program "cygpath": CreateProcess error=2, The system cannot find the file specified
[2015-10-23 14:27:49 - gvrbulletsample] Dx Uncaught translation error: java.lang.IllegalArgumentExcepti

[2015-10-23 19:48] liaxim commented on #286
The pool gets exhausted. There are so many Future.get()'s waiting that they use up all the threads and prevent the actual texture loading from proceeding.

[2015-10-23 20:37] liaxim commented on #286
Please let me know whether pull request #289 works for you. Thanks.

[2015-10-23 20:43] liaxim commented on #288
The "java.lang.IllegalArgumentException: already added" might be caused by you somehow including the gvrf jar (framework.jar) more than once in your project. Please double-check that.

I can't tell much about the "Unable to launch cygpath. Is Cygwin on the path?" error. Based on my quick research you might want to make sure you are using the latest NDK.

[2015-10-23 20:44] mitridate commented on #288
TANKKKKKSSSS

[2015-10-23 21:09] liaxim commented on #288
Does this mean your issue is resolved?

[2015-10-23 21:24] mitridate commented on #288
Again thanks for your help finally achieve compile but the app does not start, I click the icon and nothing.

10-23 16:50:19.086: E/event-handler(3836): P150209_00225 SendEven Cannot send event [type=3]
10-23 16:50:24.116: E/Sensors(3301): mCompEngine is NULL
10-23 16:50:31.836: E/event-handler(3836): P150209_00225 SendEven Cannot send event [type=3]
10-23 16:50:34.146: E/Sensors(3301): mCompEngin

[2015-10-23 21:27] liaxim commented on #288
Please capture the complete logcat output when you try to launch the app and attach it here or send it to m.marinov@samsung.com. Thanks.

[2015-10-23 21:29] liaxim commented on #285
The only thing that seems to record for extended period of time is Mobizen. Choppy video and everything.. but still.

[2015-10-23 21:31] liaxim commented on #270
@Bonch90 Just letting you know that @gaurav-mcl is still looking into this.

[2015-10-23 21:47] mitridate commented on #288
And I send you all the info thanks.

[2015-10-23 22:25] liaxim commented on #272
In your AndroidManifest.template.xml change the label to "android:label="@string/app_name"". Apparently there is a bug in Oculus if the label is not a resource id. This should get you past the resource-not-found exception. Afterwards I see some class-not-found exceptions but you can tackle these I hope.

[2015-10-24 03:20] ethernyEonian commented on #272
Hi thank you for your answer the next Class not found is about the splashscreen texture loading on GVRScript class.
When i look in the res (@root source) folder of the gvrtextviewsample project i don't find any trace of this __default_splash_screen__ as needed at getSplashTexture of GVRScript class. But if i open the apk (bin) build by eclipse (with your instructions) i found the __default_splash_

[2015-10-26 06:42] bonniemathew commented on #286
It's loading all the textures. Verified with two other models. Thanks for the change..

[2015-10-26 06:42] #286 closed

[2015-10-26 13:11] andersonacs commented on #285
the mobizen was the first application we try to use, though it can record for a long time, the result is pretty bad, and video is lagging.

[2015-10-26 18:48] liaxim commented on #288
I think you still have build problems. The apk you've sent me crashes because of this:

10-26 13:41:38.980 20709 20709 F art     : sart/runtime/runtime.cc:286] Pending exception java.lang.ClassNotFoundException thrown by 'unknown throw location'
10-26 13:41:38.980 20709 20709 F art     : sart/runtime/runtime.cc:286] java.lang.ClassNotFoundException: Didn't find class "com.oculus.vrapi.loader.Entry

[2015-10-27 02:20] mitridate commented on #288
Hi Mihail in all examples generate the same mistake I am I reinstall
everything from scratch and begin flight. I followed all the steps to the
letter but unfortunately still errors.
El oct. 26, 2015 2:18 PM, "Mihail" <notifications@github.com> escribió:

[2015-10-27 15:56] liaxim commented on #288
How about trying to generate a build log per my previous post: "If you are still stuck you have to enable the verbose build log from (in case of Eclipse) Window->Preferences->Android->Build->Build output and send it to me." ?

[2015-10-27 16:48] liaxim commented on #272
Hi there. Nothing fancy like "super apk aggregators"; in the case you describe the image is picked from the Framework (GVRF) project.

Not really a fix but you could just turn off the splash screen by adding this to your SampleViewManager:

[code]

Or implement your own "public GVRTexture getSplashTexture(GVRContext gvrContext)" method that uses whatever splash you want. HTH.

[2015-10-27 17:48] mitridate commented on #288
In a moment I am sending many thanks for all your help.
El oct. 27, 2015 11:26 AM, "Mihail" <notifications@github.com> escribió:

[2015-10-27 18:08] mitridate commented on #288
On Tue, Oct 27, 2015 at 11:26 AM, Mihail <notifications@github.com> wrote:

10-27 13:33:17.608: D/SSRM:n(3309): SIOP:: AP = 410, PST = 387, CUR = 460
10-27 13:33:17.668: D/WifiService(3309): startScan by pid=10399, uid=10008
10-27 13:33:17.673: E/WifiStateMachine(3309): WifiStateMachine CMD_START_SCAN source 10008 txSuccessRate=11.69 rxSuccessRate=12.04 targetRoamBSSID=c8:be:19:69:7e:7f RSSI=-51
1

[2015-10-27 20:14] liaxim commented on #256
@thomasflynn I looked at your branch and my take is that this is unlikely to ever work. An Android activity is supposed to be instantiated by the runtime and the runtime sets up state behind the scenes (Activity.attach() for example) that we simply cannot replicate. So even though it seems like you have an Oculus activity instance, it only seems like it as the Android framework has not set it up.

[2015-10-27 20:36] liaxim commented on #288
Thanks but this the "adb logcat" output. I believe there is something off in your build. In Eclipse please open Window->Preferences->Android->Build->Build output and choose the "Verbose" radio button. Then do Project->Clean and then build the project. Afterwards copy the contents of the "Android" Console in Eclipse and send those to me. Thanks.

[2015-10-27 21:42] liaxim commented on #227
Looks pretty good. Do you still plan to keep the gvr-renderableview sample? You can go ahead and create a pull request.

[2015-10-27 22:18] mitridate commented on #288
Ok.
El oct. 27, 2015 4:07 PM, "Mihail" <notifications@github.com> escribió:

[2015-10-27 22:31] mitridate commented on #288
18:00:18 **** Build of configuration Default for project gvrbulletsample
****

"C:\\adt-bundle-windows\\android-ndk-r10e\\ndk-build.cmd" all

[armeabi] Compile++ thumb: gvrbulletsample <= gvrbulletsample.cpp

[armeabi] StaticLibrary : libstdc++.a

[armeabi] SharedLibrary : libgvrbulletsample.so

[armeabi] Install : libgvrbulletsample.so =>
libs/armeabi/libgvrbulletsample.so

18:00:19 Build Finishe

[2015-10-27 22:46] mitridate commented on #288
Good night I sent these images so you can see my settings IDE ( Eclipse )

On Tue, Oct 27, 2015 at 6:01 PM, Mitridate Cuesta <mitridate@gmail.com>
wrote:

[2015-10-28 01:04] ragner commented on #227
My initial plan was to keep gvr-renderableview as a sample of how to use all GVRView's types, but @thomasflynn asked me just to modify the existing scene-objects. Up to now I just use it to test my implementations.

[2015-10-28 01:12] ragner commented on #227
My next plan is implement a GVRTextView to fix the issue #246
Does it looks ok for you @liaxim?

[2015-10-28 19:30] liaxim commented on #227
Yes, it looks pretty good to me.

[2015-10-28 19:35] liaxim commented on #288
Hi. I am not seeing any images. In any case, what I would like to see is the build log that gets output in the Android console view in Eclipse. You need to try to launch/run the app so the apk gets built. As long as the verbose logging is enabled, the Android console will show some extra information on how the apk is being built.

[2015-10-28 20:00] mitridate commented on #288
I followed your instructions and you send it shows the console to build the
apk activating verbose. and I'll step back
El oct. 28, 2015 3:05 PM, "Mihail" <notifications@github.com> escribió:

[2015-10-28 20:22] mitridate commented on #288
2015-10-28 05:06:20 - Unable to launch cygpath. Is Cygwin on the path?]
java.io.IOException: Cannot run program "cygpath": CreateProcess error=2,
The system cannot find the file specified
[2015-10-28 05:06:27 - gvrbulletsample] Starting full Package build.
[2015-10-28 11:05:33 - Framework] Using default Build Tools revision 23.0.1
[2015-10-28 11:05:33 - Framework] Refreshing resource folders.
[201

[2015-10-28 20:46] liaxim commented on #288
Ok, this is the log I've been talking about. If you could just zip it and drag&drop it on this page becase what you pasted is truncated. Btw - have you tried building any of the samples from the Oculus Mobile SDK? Do they build and run for you?

[2015-10-28 23:15] mitridate commented on #288
I send a txt whit full log, you know I've tried running the apk's and
examples are in the oculus sdk and my surprise I did not run. I'm losing
hope lol.

On Wed, Oct 28, 2015 at 4:16 PM, Mihail <notifications@github.com> wrote:

2015-10-28 05:06:20 - Unable to launch cygpath. Is Cygwin on the path?] java.io.IOException: Cannot run program "cygpath": CreateProcess error=2, The system cannot find th

[2015-10-29 16:08] liaxim commented on #288
Yeah, something is messed up in your build environment. I am not sure at all this would help, but you might want to try to fix the cygwin error: "java.io.IOException: Cannot run program "cygpath": CreateProcess error=2". You could try getting and using the latest NDK, making sure the NDK and Cygwin are on the PATH, etc.

As a last resort, I do know building on Linux works.. So if you are willing t

[2015-10-29 16:09] liaxim commented on #272
Hi. Did this help? Are you unblocked? Can we consider this issue closed? Thanks.

[2015-10-29 16:49] ethernyEonian commented on #272
Yes you can consider it closed, i have a black screen now. but it's another
issue.
Thank you for your help.

On Thu, Oct 29, 2015 at 12:09 PM, Mihail <notifications@github.com> wrote:

[2015-10-29 17:41] #272 closed

[2015-10-29 19:17] liaxim commented on #262
Hi again. I created a branch in my repo with an experimental commit that tries to improve the head-tracking latency further. It seems to slightly help but I am just not sensitive enough to be certain. Please let me know whether you see an improvement, if any. Thanks.

The repo&branch here: https://github.com/liaxim/GearVRf/tree/issue-262

[2015-10-29 19:42] liaxim opened #293 "GVRRenderData.setDrawMode is being ignored"
If someone wants to render with, say,  GL_LINES, he or she can't currently do that. The draw_mode is not being used by the renderer.

[2015-10-29 20:02] mitridate commented on #288
Thanks for your help during these days will install the Linux environment
as currently configured everything in Win10 have until I see running around
will not stop and again Thanks.
El oct. 29, 2015 11:38 AM, "Mihail" <notifications@github.com> escribió:

[2015-10-29 20:08] Vittalbabu commented on #293
We have hardcoded GL_TRIANGLES for all the glDrawElements() calls. We can change this to the requested draw_mode but we would need to test to ensure we don't have any hidden dependencies.  (ie) (mesh/shader setup/..) don't assume the presence of triangles.

[2015-10-30 20:45] thomasflynn commented on #293
drawMode used to be hooked up.  it seems it got disconnected in a subsequent check-in.

[2015-10-31 15:41] dbrant commented on #285
FWIW, the only thing that has worked for me is the SideSync utility from Samsung (I mirrored the display to my PC, and recorded the video by capturing the SideSync window contents). I get about 15-20 FPS.

[2015-10-31 17:40] thomasflynn opened #294 "update to oculus v1.0.0 sdk"
need to update to latest oculus sdk.

[2015-11-02 15:53] pdiaz commented on #294
+1

[2015-11-02 19:52] thomasflynn commented on #255
it looks oculus kept with ovr_sdk_mobile with the 1.0 release.  we'll update to that was well as part of porting to 1.0.

[2015-11-03 01:26] thomasflynn commented on #294
started.  compiles, but crashes at runtime.

https://github.com/thomasflynn/GearVRf/tree/ovr_100?files=1

[2015-11-03 17:15] liaxim commented on #288
I know we didn't quite solve your problem but it is not really a gvrf-specific issue. Do you think we could close this ticket now?

[2015-11-03 18:05] liaxim commented on #294
@thomasflynn make sure you update VrApi.jar and VrAppFramework.jar under Framework/libs with the copies from 1.0.0.0. Once I did that the crash went away.

The next problem is obtaining updates to Oculus and Oculus Home. It didn't like my copies and I could not get it to update. It has been a hassle for some time and it is getting worse using Oculus with our custom builds..

The error was an excep

[2015-11-03 18:59] thomasflynn commented on #294
ah, yes, I'm pretty sure I did indeed miss copying the new jars.  i'll try that if I get a chance in between meetings.

i'm doing my testing on my personal S6.  in other words, not on an engineering build which is where we often have problems with updating Oculus Home and other binaries.  yesterday, after installing simple-sample built with v1.0, and inserting into a GearVR, my phone showed the Ge

[2015-11-03 20:25] mitridate commented on #288
Good afternoon to migrate the entire project to Linux and no longer has any
fault.
El nov. 3, 2015 12:45 PM, "Mihail" <notifications@github.com> escribió:

[2015-11-03 21:39] ragner commented on #96
How Beast is not a runtime rendering system, typically, its API is integrated directly into some level design tool or game editor.
The design tool need to provide a set of input that determines what to render, how to render it, and what kind of output it need.
So the output retrieved can be used effectively at runtime in the game engine.

I think that the main issue is that the GearVRF doesn't pro

[2015-11-03 21:50] ragner commented on #227
Does anyone have comment to #291?

[2015-11-04 01:31] thomasflynn commented on #294
copied the two jars.  still crashing for me :(.  I can show you tomorrow.

[2015-11-04 13:34] liaxim commented on #294
Interesting. I can only get to the update screen on my device so I might have missed it. Send me the logs please.

[2015-11-04 13:37] liaxim commented on #288
Great news. I will close the ticket then.

[2015-11-04 13:37] #288 closed

[2015-11-04 13:39] liaxim commented on #227
Hi, @thomasflynn is back. Let's give him a chance to look at it.

[2015-11-04 16:21] liaxim commented on #294
Seeing it on my Note4. Seemed like SystemUtils.jar was missing. Added - still can't be found. Looks like the whole thing is meant to be build with Gradle (only). I can't even get the Oculus samples to work if built with Eclipse. Looking into it.

[2015-11-04 17:01] liaxim commented on #294
Ok, after few clean-rebuild cycles it is working. The only additional step is to copy ./VrAppSupport/SystemUtils/Libs/Android/SystemUtils.jar to Framework/libs. It is a good idea to manually remove all the ./bin/ directories and then clean-rebuild in Eclipse.

The Oculus samples had a case-sensitivity problem (VrGui vs VrGUI).

[2015-11-04 19:24] gaurav-mcl commented on #270
Hello @Bonch90,

our Samsung HQ camera team gave us the following code snippet that can change the camera speed to 60 or 120 fps. We have tried it out but can not get those speeds for some weird reason. There's something we are missing. We are working with the HQ team to figure out what may be the reason. You are welcome to also try out the following code and see if you get anything different. Ple

[2015-11-05 08:20] Bonch90 commented on #270
Many thanks @gaurav-mcl  I've already tried that settings with no luck, if I set previewFpsRange with a value greater than 30000 the camera won't show anything.
This happens with Galaxy S6, before I've used a Note 4 and this settings worked like a charm.

[2015-11-06 06:33] mkeblx commented on #285
It looks like better support inbound from Oculus. Their remote monitor was downscaling heavily. Perhaps can implement a similar method, or just wait for update.
https://twitter.com/ID_AA_Carmack/status/662429992169709568
https://twitter.com/ID_AA_Carmack/status/662434322599845889

[2015-11-06 16:04] #293 closed

[2015-11-06 19:34] liaxim commented on #283
This what I have found thus far (seems to me like an Oculus bug). We draw a frame or two and then the vao id becomes invalid (texture_shader.cpp):
[code]
fails with 0x0502; the id is there, we do not delete it but sure enough glIsVertexArray returns false. Looks like in this case Oculus runs some stuff too early. Before the vao becoming invalid I can see sched_fifo being applied by Oculus (assumin

[2015-11-06 23:48] fredduarte commented on #224
Hello again, Thomas.

For the past couple of weeks, i've been working on a small POC that integrates FBX animation
on the GVR framework.
By no means it is a final result. Its still a WIP branch, but it displays the feature running on the device.
It is based on the tutorial from: [Assimp animation tutorial](http://ogldev.atspace.co.uk/www/tutorial38/tutorial38.html)
I've created some patches for th

[2015-11-07 03:23] thomasflynn commented on #224
ooo!  cool!  it looks like very good progress in the video.  i'll see if i can take a look at the branch over the weekend.  this is very exciting.

[2015-11-07 03:35] thomasflynn commented on #294
merged.

[2015-11-07 03:35] #294 closed

[2015-11-07 03:36] thomasflynn commented on #255
the port to 1.0 has been merged and we now use ovr_sdk_mobile/.

[2015-11-07 03:36] #255 closed

[2015-11-09 20:44] liaxim commented on #283
Oculus apps require android:launchMode="singleTask" in the manifest. Skipping this happened to work mostly in the past but not anymore.

[2015-11-09 21:10] thomasflynn commented on #227
#291 is merged.  close this issue?

[2015-11-09 21:11] thomasflynn commented on #224
ok, did a first pass.  made one comment so far.  otherwise, looks good so far.

[2015-11-09 21:21] #227 closed

[2015-11-09 22:13] liaxim commented on #283
Pull request #301 fixes this issue.

[2015-11-09 22:13] #283 closed

[2015-11-10 12:35] ragner commented on #96
Hi @thomasflynn, do you have any suggestion about input file to provide the input set to Beast?

[2015-11-10 23:24] liaxim opened #304 "setTexture(String key, Future<GVRTexture> texture) ordering problem"
If you happen to call this method multiple times in a very short period with different textures there are no ordering guarantees. The actual texture being applied is not necessary the one setTexture was called for last. Took a stab at it but it end up being overly cumbersome. Needs some thinking.

One more problem with setTexture(Future<Texture>); the other one is the possible exhaustion of the th

[2015-11-12 07:08] danke-sra commented on #274
Any new findings about this?

Looks like the culprit is the GL commands to load the bitmap into the texture. This is done in the native constructor as follows:

    glBindTexture(GL_TEXTURE_2D, gl_texture_->id());
    glTexImage2D(GL_TEXTURE_2D, 0, GL_RGBA, info.width, info.height, 0,
                    GL_RGBA, GL_UNSIGNED_BYTE, pixels);
    glGenerateMipmap (GL_TEXTURE_2D);

Because GL is not t

[2015-11-12 07:18] danke-sra commented on #285
From GVRf side, we can provide fast API for capturing stereo frames. The pixel buffers can be available for CPU access at 60 FPS. However, the bottleneck would be H.264 compression and disk I/O.

[2015-11-12 07:34] danke-sra commented on #256
The suggested approach is not ugly at all. It gives us a way to start either GVROculusActivity or the GVRMonoscopicActivity, and they don't have any inter-dependencies. This approach is indeed sometimes used in Android. The Activity in 2 or 3 needs to be started with an Intent with the flag FLAG_ACTIVITY_NO_HISTORY. I think this approach will work.

[2015-11-12 15:53] liaxim commented on #274
There are no new findings - the issue is the one you stated. The idea is to make the whole thing transparent to the user. Haven't got to it yet.

[2015-11-12 15:56] liaxim commented on #256
The "ugly" part for me is the burden on the end user - they need to derive from yet another activity if they would like to support mono. Not much but they are exposed to yet another thing.

[2015-11-13 18:52] gaurav-mcl commented on #270
Hello @Bonch90, we had some success with the fps issue. Basically on a S6 device with 'user firmware binary' (or in other words, device available to consumers in the market), we could get 30 and 60 fps working. The 60 fps mode looks much smoother within the GearVR headset. The 120 fps mode is not yet supported due to some performance issues on S6.

Earlier we were not able to get 60 fps because  w

[2015-11-13 20:40] fredduarte commented on #224
Thomas,

i pushed a couple more patches on the branch which
apply a texture to the already used monster model and centered it on the screen a little more.

Also, i've added one of the immersivepedia's dinosaur model (the T-Rex) to showcase as well.

For now, i'm gonna leave this branch as it is with these examples
and create a new one to start integrating everything correctly with the Framework.

[2015-11-14 02:43] thomasflynn commented on #224
cool.  can't wait :)

[2015-11-17 17:01] danke-sra commented on #224
I looked at your code. It looks like this version has some animation but not including skeletal animation yet. If you have more working code, you may push it and we can see if we can help.

FYI, we are adding a complete version of jassimp (https://github.com/Samsung/GearVRf/pull/309/files), which may help reading bone information from a FBX model. org.gearvrf.jassimp2.AiNode contains AiBone object

[2015-11-19 18:11] dankex commented on #177
Good suggestion. I will try to make a patch to reflect this, and see how it goes.

[2015-11-19 19:15] danke-sra opened #313 "Support Colada 1.5 model loading"
Current assimp (v3.x) supports Colada 1.4. Colada 1.5 support is for future release assimp (v4). However, as I tested, many Colada 1.5 features are already supported. One showstopper is the instance_image node in Sample2D node, which causes an IOException.

[2015-11-20 19:23] gaurav-mcl commented on #270
Hello @Bonch90, I have updated the sample 'scene-objects' in the GVRf/Sample/ directory to show 60 fps camera preview. Please pull latest code from https://github.com/Samsung/GearVRf/ and you should be able to get 60 fps preview. As mentioned earlier, this should work on your S6 device (assuming it is a consumer device. The 60 fps feature is not likely to work on test devices which we use internal

[2015-11-23 15:40] fredduarte commented on #224
Hi, @danke-sra .

I took a look at your pull-request for the jassimp integration and it seems like it is converting
every Assimp native object (aiScene, aiMesh, aiNode, aiBone, etc) to a java object.

Does this mean that the **assimp_importer.h** header will be removed?

Because, the approach that i'm using for animating the mesh (with the bones) uses the aiScene.
I traverse the the scene nodes st

[2015-11-23 17:26] danke-sra commented on #224
@fredduarte Thanks for the notice. We actually will keep assimp_importer.{h,cpp} for a while. So no worries about compatibility. When your animation code works (including bones and animations), we may create port that to the new Jassimp importer.

[2015-11-23 17:51] danke-sra commented on #224
@fredduarte I see the changes in native code. It would be best if the Java app can start the animation. Then, we can start integrating your solution. =)

[2015-11-23 19:09] fredduarte commented on #224
Yes, i'm working on it.
One of the main issues i'm facing also is that i need a reference to the aiScene object
in order to get the root node and the animations arrays (aiAnimation) to perform the animation
on every frame.
Still working on changing that. I'll keep you posted when i push a new branch with the changes.

[2015-11-23 21:15] danke-sra commented on #304
Sometimes the main_texture is missing and the mesh is rendered in pure green (with the the render function exits with GlError 501). When that happens, it does not recover by itself. It would be nice if this can be fixed properly.

[2015-11-23 22:24] danke-sra commented on #224
AiScene is not a GVRf data structure. Ideally, we want to keep it within the importer area. But before we work that out, you can go ahead to hammer out the animation code and the shader code. Just a heads-up that it may need to be refactored later.

[2015-11-23 23:47] danke-sra commented on #313
Can someone please pull the patch and update the assimp binary? https://github.com/assimp/assimp/pull/692 I have some Collada 1.5 files for testing.

[2015-11-25 11:19] ChrisCheil opened #317 "Minimum Spherical video player..."
Whats the minimum GearVRf code for a spherical video player?
This sample generates audio only - it seems there are some issues regarding mesh / sphere?

[code]

[2015-11-25 19:55] Vittalbabu commented on #258
@Phil What is the status of this project? Are you currently working on this?

We are looking at import of lights from models loaded via assimp (plus implement shaders that are defined by the lights and materials that are imported) and there will be overlap between these two projects.

Thanks, Vittal

[2015-11-25 20:03] thomasflynn commented on #317
you're pretty close.  by default, GVRSphereSceneObject() orients its triangles to be visible from outside the sphere.  there's a flag to have the triangles face inward.  new GVRSphereSceneObject(mGVRContext, false);

a few other minor corrections in your sample code:
you don't need to call getOwnerObject() for the MainCameraRig, just call getTransform()
you also don't need to bother to set the bac

[2015-11-25 23:19] danke-sra commented on #224
@fredduarte We added some supporting classes for skeletal animation. Please check it out here: https://github.com/Samsung/GearVRf/pull/318. Can you please see if your work can be based on this infrastructure? We still need to do 1) Support animation imported from assimp. This involves implementing a class such as GVRKeyFrameAnimation, which can provide the transform matrix for a given node at a sp

[2015-11-25 23:30] danke-sra commented on #224
@douglasalipio FYI, some infrastructure is there now. You are welcome to test it out and contribute! Please see https://github.com/Samsung/GearVRf/pull/318

[2015-11-26 00:05] thomasflynn commented on #317
and fwiw, i tested with one of the videos from here:  https://theta360.com/en/gallery/videos.html

i don't know what format(s) the videos in the Oculus/360Videos/ directory are in or if they're encrypted.  the theta360 videos seem to be equirectangular and wrap around a sphere trivially.

[2015-11-26 02:25] thomasflynn commented on #317
so that others don't go through the same pain you did, i created a minimal 360 video sample based on your code.  it's up as a pull-request: https://github.com/Samsung/GearVRf/pull/320

[2015-11-26 09:37] ChrisCheil commented on #317
Thanks! Is there a working project for Android Studio using latest GVRf and Mobile SDK?

[2015-11-26 12:52] danke-sra commented on #258
Some input about lights.

1) I looked at current light.h and found unlike camera_rig, light is not a "component" that can be attached to a scene object. In Unreal and Unity, lights seem to be a scene object component. So I think we may consider to attach-ability as a requirement. When attached to a scene object, its position and direction are relative to the scene object's transform -- it makes it

[2015-11-26 14:24] fredduarte commented on #224
Hi, @danke-sra . I took a look at the commits on #318 .
I seems that you've already implemented and exposed to Java the Bone, BoneWeights and BoneData classes. These are some of the classes that i use (but, haven't exposed to Java).
It looks good and i'll adapt my solution to use these C++ classes in the future.
For now, i'm currently working on a new version of that branch, but, i'm having some t

[2015-11-26 18:24] thomasflynn commented on #317
I thought we used to have instructions on how to use our binaries with Android Studio on our build instructions page, but I'm not seeing them now.  We'll have to write some up and update it.

[2015-11-26 21:58] Vittalbabu commented on #258
We currently attach light indirectly to a scene object and we are considering how to rearchitect this.

We need to be clear on what the semantics of this proposal is. (eg) Static/stationary lights will not be/need not be attached to Scene objects as they are “global”. For moveable lights, what is needed is for the light to get the transformation of a scene object and apply it as appropriate to the

[2015-11-27 01:06] danke-sra commented on #258
I understand the current architecture as the following

1) Scene Objects can contain Scene Objects are children
2) Scene Objects can attach components as attachments. The attachable components include Camera Rig, Lights, Eye Pointees, etc.

By treating lights are components (rather than scene objects), lights can already get transforms. What's the benefit of casting away the ownership relation bet

[2015-11-27 04:59] danke-sra commented on #224
I see. I think if you have a Matrix4x4 in Java, the easiest way to pass it to C++ is converting it to float[], though you can pass a java object and access any data and members in JNI as well. You can see https://github.com/Samsung/GearVRf/blob/21f018103e0bc2e727064a047e37e3ceaacfdd6f/GVRf/Framework/jni/objects/components/transform_jni.cpp for reference.

In my version, I've treated the issue of m

[2015-11-27 12:54] phi-lira commented on #258
Hi,

@Vittalbabu No. I got tangled in many releases and the fact that S5 is not working with mono anymore is preventing me from working at home.

@all I'd like to add my 2 cents to this conversation. I think Unity takes a clever approach on this. The static/movable flag is defined in the sceneobject/scenenode not per component as every scene object is bound to a transformation in a 1:1 relashionsh

[2015-11-28 19:31] thomasflynn commented on #258
@phi-lira , you can get things working on your S5 again with some ugly hacks i have in my vractivity branch.  unfortunately, while you'll be able to run on an S5, you won't be able to run the same binary on VR capable phone.  there was a discussion about this under the monoscopic issue: https://github.com/Samsung/GearVRf/issues/256

Back to lights.  GVRSceneObject is turning into a catch-all for e

[2015-11-30 18:38] jason2kim commented on #317
Please find the latest information from our release links: https://github.com/Samsung/GearVRf/releases/tag/2.3
To use Android Studio, you can replace libs/ in the gvr-video-staticlib-androidstuido.zip sample with the latest gvrf library files and OVR library files as instructed in there.

[2015-11-30 20:40] danke-sra opened #323 "Transform::getModelMatrix and setModelMatrix have different semantics"
Transform::getModelMatrix() returns the model matrix including parent's transform, but Transform::setModelMatrix() sets the local transform without parent's transform.

In other words, if you do Transform::setModelMatrix(A), Transform::getModelMatrix() will not return A, but Parent->transform() * A.

This became an issue when assimp node transforms are loaded into GVRf. Assimp API assumes local tr

[2015-12-02 18:53] fredduarte commented on #224
@danke-sra
I've uploaded a new branch: https://github.com/fredduarte/GearVRf/commits/animation .
I changed everything to use glm::mat4 matrix instead of the previous custom one, plus,
i created a new shader MeshAnimationShader. Please, take a look.
There is also a sample project to display the animation using the T-Rex from immersivepedia.

I saw that on your SKELETAL branch (which is for review),

[2015-12-02 19:57] danke-sra commented on #224
@fredduarte Thanks for the updates. I will test it today and work with you to mainline it.

I've created an "animation-dev" branch and have taken this patch into that. From a quick review, I can see that some assimp data structures (AiScene, AiQuaternion) are used in mesh_animation.cpp file. This is the main thing we need to work on next. As you can see, GVRf has equivalent classes for aiMesh, aiN

[2015-12-03 15:10] #313 closed

[2015-12-03 17:59] thomasflynn commented on #317
Hi @ChrisCheil , do you have what you need?

[2015-12-03 21:58] liaxim commented on #262
We have applied the head-model too; pr #312.

[2015-12-03 21:58] #262 closed

[2015-12-04 15:29] ChrisCheil commented on #317
yep, works fine thanks for your support!

[2015-12-04 17:59] #317 closed

[2015-12-04 18:49] fredduarte commented on #224
@danke-sra I've pushed another commit on top of the animation branch
which is a small fix. The app was crashing because after some time running,
the garbage collector would delete the assimp importer which contains the aiScene.
This commit fix this problem for now.

[2015-12-04 20:04] danke-sra commented on #224
@fredduarte Thanks for the update. I will test with some models and give feedback early next week.

[2015-12-04 21:01] ragner commented on #323
If you do Transform::setModelMatrix(A), Transform::getModelMatrix() could return A
and we could implement a convenience function at SceneObject to return Parent->transform() * A

[2015-12-04 21:08] Vittalbabu commented on #258
@phi-lira The multiple passes for light -- we can implement in stages. We plan to see how many lights we can realistically support and this will help us refine how to handle multiple lights in general.

Regarding transformations/position of Lights in hierarchy, at the minimum we have 2 use cases. Global lights and lights that use transformations from a scene object (like car headlights). One choic

[2015-12-07 07:42] lokeshguddu opened #334 "File import fails on using loadJassimpModelFromSD(...)"
Hi @danke-sra ,

I'm trying to load a model file which is present in the Device Storage on the Note4 test device. The models load fine if they are part of the assets folder of the application but fails when trying to access the same from external storage.

I'm copying the log that reflects the error.

[code]

You can also reproduce the same error if you keep the astro_boy.dae in the external stora

[2015-12-07 08:12] danke-sra commented on #334
This is a known issue. Do you mind providing a patch for that?

[2015-12-07 08:13] lokeshguddu commented on #334
@danke-sra ,

Will try.

[2015-12-07 17:11] danke-sra commented on #224
@fredduarte I have tested your patches and also finished up the Java layer of mesh animation. As you may know, your implementation supports a single mesh, but as I tested, did not fully support multiple meshes (e.g., astro_boy.dae). I have also taken your code BoneData and put in the Java/hybrid version, and used some of your animation code in Java as well (GVRAnimationChannel.java).

I've written

[2015-12-08 22:30] danke-sra commented on #224
@fredduarte We are reviewing the animation code within the team. A general opinion is to avoid using Assimp data structures in animation code. To fit the solution into GVRf architecture, we may need to migrate to the Java version. This does not affect the patches you submitted. I am trying to do so by modifying your MeshAnimationSample (https://github.com/danke-sra/GearVRf/commit/56fa689f518384fd3

[2015-12-11 16:20] ragner commented on #9
Maybe we could create a new repository like GearVRf-Demos and put there the more complex demos
and decrease the size of GearVRf repository that currently is more than ~1.5G!?

[2015-12-11 16:31] liaxim commented on #9
This sounds like a very good idea for so many reasons. I second that.

[2015-12-11 20:04] fredduarte commented on #224
@danke-sra I checked the GVRAnimationChannel.java and the other classes. I think its OK. Performance wise looks good.
For immersivepedia sample, we may have to change it a bit. because i tried to use the native code on it and had a few errors when running.
What other parts from my code do you think can be migrated now? I'll use your animation-dev branch as a base for this.
And also, does your curr

[2015-12-11 21:19] danke-sra commented on #224
@fredduarte I've just done refactoring the code. Th performance is better and should support multiple meshes. Please check it out and let us know if you see any problems. Thanks!

[2015-12-11 21:54] liaxim commented on #9
Repo https://github.com/gearvrf/GearVRf-Demos created and the samples have been copied there. Will wait a few days before removing the samples from the main repo.

There is more to it as the history will be maintained so there will not be immediate benefit. Using some scary commands the history can be rewritten and the samples really purged; have to practice the procedure first.

[2015-12-11 22:39] #246 closed

[2015-12-11 23:20] ragner commented on #9
+1: Nice

[2015-12-13 21:46] danke-sra commented on #334
Fixed in https://github.com/Samsung/GearVRf/pull/345. However, Jassimp model loading still has a couple of low-priority issues. I will log them separately.

[2015-12-15 03:02] thomasflynn commented on #96
I apologize for the late reply here.  Is this input file something other than the .fbx file?  I imagine that would be the common input for both Beast and Gvrf.  But I also don't know Beast at all, so we're relying on you guys to understand it and what needs to be added to gvrf.

[2015-12-15 05:08] danke-sra commented on #224
@fredduarte Because we have a new git for samples, I will submit your sample to the sample git instead of the main GVRf git. Thanks. We will finalize the patch soon, and hopefully GVRf will have (skeletal) animation support. Thanks for your work!

[2015-12-15 14:41] fredduarte commented on #224
Glad i've helped with this contribution. :)

[2015-12-16 06:19] danke-sra opened #349 "Extensible texture formats"
It may be desirable for framework to support new texture formats. This may be done in different ways: 1) framework provide extension hooks, 2) framework delegates texture loading/decoding to application, 3 application can fix textures post-mortem.

I think 1) and 2) may be highly desirable for a powerful system. 1) means framework developers/contributors can extend the framework for new texture fo

[2015-12-16 13:40] ragner commented on #96
ok, I will make a try with https://www.khronos.org/collada and show you the results.
Does it sounds ok for you?

[2015-12-16 16:09] thomasflynn commented on #96
ok, sure

[2015-12-18 18:20] danke-sra commented on #200
This is handled by https://github.com/Samsung/GearVRf/pull/335

[2015-12-18 18:21] danke-sra commented on #323
This is handled by https://github.com/Samsung/GearVRf/pull/335.

We can use getLocalModelMatrix now to get back the transform.

[2015-12-18 18:22] danke-sra commented on #224
This issue is handled by https://github.com/Samsung/GearVRf/issues/224.

[2015-12-18 18:23] danke-sra commented on #279
Skeletal animation for assimp shader is added in https://github.com/Samsung/GearVRf/pull/335

[2015-12-18 18:29] danke-sra commented on #94
This is handled in https://github.com/Samsung/GearVRf/pull/335

[2015-12-20 03:59] danke-sra commented on #285
How come nobody thinks this is the front-buffer rendering issue with Oculus? I can get the first frame using "adb shell screenrecord", but it does not capture continuously.

[2015-12-20 06:22] thomasflynn commented on #285
because this used to work back on KitKat.  and the point where this breaks seems to coincide with one of the Oculus sdk version.  i think around the 0.6.0 version or so.  that being said, i think there are two routes:

1) supposedly in the latest Oculus System Activities updates, they've added some support for better capturing of what's on screen, but it hasn't been exposed yet (source: some rando

[2015-12-21 19:55] dbrant opened #355 "Universal Menu not accessible"
There doesn't seem to be a way to launch the Universal Menu (which usually comes up on long-press of the Back button) from a GearVRf app, unless it's so trivial that I missed it.

[2015-12-21 20:30] danke-sra commented on #349
I've worked out a solution for loading custom textures for anyone who's interested (TGA format is supported).

The working demo app can be found here: https://github.com/danke-sra/GearVRf/commit/a794a607b0daa82d583f2bdfb9ab51945a4bbc00

Some changes are made to the jassimp loader and won't affect textures not loaded by jassimp. If needed, they can be pulled up.

[2015-12-21 20:54] dbrant commented on #355
Looking into this a bit, I see that in `activity_jni.cpp`, you do a check for `keyCode == 4`, which looks right, but when I debug the actual number that comes in when long-pressing the Back button, it's actually `40` for some reason... When I change the 4 to 40 and rebuild the library, the long-back-press behavior works as expected. (?)

[2015-12-21 21:35] liaxim commented on #355
We should be checking against OVR::OVR_KEY_BACK (which has value of 40). Fix is coming.

[2015-12-21 23:47] liaxim commented on #355
@rahul27 the recent change for the sensors prevents the keys from getting to Oculus. Please take a look it. I think the GVRInputManager treats GearVR's trackpad as a mouse or something.

[2015-12-21 23:52] rahul27 commented on #355
@liaxim Sure. Will look at it.

[2015-12-22 00:36] rahul27 commented on #355
@liaxim this pull request should fix the issue:

https://github.com/Samsung/GearVRf/pull/356

[2015-12-22 19:17] liaxim commented on #285
This is what I accidentally found to work (enableCapture is probably optional):
adb shell "echo dev_enableCapture 1 dev_frontbuffer 0 > /sdcard/.oculusprefs"

Afterwards I was able to use the built-in screenrecord just fine.

[2015-12-22 19:26] danke-sra commented on #285
Good find. Does it turn off front buffer rendering?

[2015-12-22 19:42] danke-sra commented on #285
I updated wiki page to include the solution. https://github.com/Samsung/GearVRf/wiki

Maybe this issue can be closed?

[2015-12-22 20:09] liaxim commented on #285
Yes, it apparently turns off the front buffer rendering.

[2015-12-23 02:17] #355 closed

[2015-12-28 18:45] nathan-almeida opened #361 "Is there a way to change field of view programmatically?"
I tried to zoom in and out by reducing/increasing field of view in runtime.

It should work in either of these approaches:

[code]
[code]

Apparently it changes the field of view but it does not zoom.

What should I do to make it work?

[2015-12-28 20:07] liaxim commented on #361
For now, you could try:
[code]

[2015-12-28 20:08] #285 closed

[2015-12-29 13:18] nathan-almeida commented on #361
It worked exactly as intended.

Thanks!

[2016-01-04 21:10] #334 closed

[2016-01-05 01:01] rahul27 opened #364 "Overlapping text in GVRTextView for transparent backgrounds"
Using transparent or no background on GVRTextView results in overlapping text being shown in the app (see the screenshot below).

This happens when I update the GVRTextView text inside `GVRScript.onStep()`.

![screenshot](https://cloud.githubusercontent.com/assets/609380/12104836/074b3804-b304-11e5-83ff-d2c90bb2a098.png)

This does not happen for solid background colors like black or white.

[2016-01-07 19:08] liaxim commented on #270
@Bonch90 did this help? Can we close the issue?

[2016-01-07 20:21] fredduarte commented on #86
@thomasflynn

Here is a Work In Progress implementation of Shadow Mapping on the GVRf:
https://github.com/fredduarte/GearVRf/tree/shadowmap (3 commits)

Again, this is NOT a final implementation, but a display of the shadowing capability on the framework.

There is an attached sample project with a couple of 3D models rendering shadows,
but, on the old directory structure (Samples dir along with t

[2016-01-07 22:56] liaxim commented on #9
Status: if we truly remove the samples from the history log it means the git reflog will be rewritten (commit ids will change). The forks will have to be manually updated as there will be no common history. Existing pull requests will have to be re-created. There is potential of other side-effects which I can't predict based on running tests just on my test fork.

The repo does become much smaller

[2016-01-08 15:06] ragner commented on #96
Hi @thomasflynn,
just to update you with my current status.

The beast's integration is going to work as follow:

1) Export the scene at .obj format

To make the input file to beast I have implemented a function to export the GVRScene.
scene.export("filename.obj");
I am exporting to .obj file because Beast already have support to import .obj file
and I just have made some adjusts to it.

2)  Beast

[2016-01-08 22:09] danke-sra opened #372 "GVRTextView from non-UI thread"
I tried to instantiate GVRTextView from a script but got an error. GVRTextView needs to be instantiated from the UI thread.

It will probably help to add a synchronous function to run some task in UI thread and return a value.

[2016-01-08 23:34] ragner commented on #96
Hi @thomasflynn,
I have updated the solarsystem_beast branch ...

Please consider that the shader from LightMapManager should be added to the framework.

Thank you.

[2016-01-11 17:44] VS1234 commented on #96
I am looking at supporting multiple lights plus realistic lighting. @fredduarte has a pull request for shadows. It would be best to integrate all of these in a single framework -- I will send out my comments in a day.

[2016-01-11 20:22] danke-sra opened #374 "Javascript support"
Tracking the issue of javascript support in the scripting framework

Consider one of the JSR 223-compliant JS engines: Nashorn or Rhino. Nashorn is kinda newer.

Some information can be found here: http://stackoverflow.com/questions/22502630/switching-from-rhino-to-nashorn

[2016-01-11 21:21] danke-sra commented on #374
I just did a little more research those engines. It looks like Nashorn has two issues: 1) it requires Java 8, 2) it is GPL with library exception -- which might not be compatible with Apache. So we can discard it. Rhino is MPL and is compatible with Apache. We may use it unless there is better choices.

[2016-01-12 21:35] Vittalbabu commented on #86
I have a proof of concept (initial checkin) of lighting in https://github.com/Vittalbabu/GearVRf/commits/light More checkins will follow after reviewing feedback.

It supports a single light with properties taken from the Material. Plan is to support individual light classes, multiple lights, lights attached to Scene instead of Material, a more robust shader, etc. Some testing has been done but ma

[2016-01-12 21:38] Vittalbabu commented on #86
@fredduarte The approach looks good. Let's discuss if my proposal above fits your design and illumination models in general.

[2016-01-13 22:23] danke-sra opened #376 "Make input events accessible to applications"
Bring up this issue for discussion and some design / implementation efforts.

After the Input manager is in, we may need to work on application's handling of input events, in addition to the framework's handling of inputs.

What I have in mind is some steps below, but I am looking for inputs to revise them:

1) Define input events in an interface like the IScriptEvents in the script patch. For exa

[2016-01-13 23:50] danke-sra commented on #96
@ragner @fredduarte We cannot see the pull request from @fredduarte. Please go to your branch https://github.com/ragner/GearVRf-Demos/tree/solarsystem_beast and click on "New Pull Request" to make it into a pull request that can be reviewed / tested.

[2016-01-13 23:55] rahul27 commented on #376
@danke-sra If my understanding of the proposal is correct then I would like to address the issue at two levels:

1) Application Level:

The current implementation of the input manager does not prevent the application from accessing the MotionEvents or KeyEvents generated by Android i.e. the app can do this by overriding the corresponding methods like below:

[code]

This allows the application to

[2016-01-14 00:00] ragner commented on #96
@danke-sra  done.

[2016-01-14 00:09] danke-sra commented on #96
@ragner Thanks. We will take a look at this Beast integration. It indeed looks pretty cool!

[2016-01-14 00:36] danke-sra commented on #376
@rahul27 Thanks for the input. As we discussed, I will try to add scripting for input / collision events. This may involve some refactoring. When it's ready, please kindly review it.

[2016-01-14 00:39] ragner commented on #96
@danke-sra consider that the code and shader implemeted at LightMapManager class should be added to the framework. I implemented it by this way just to align with you my thoughts how the Beast integration is going to work.

[2016-01-14 00:45] danke-sra commented on #96
@ragner Thanks. It's good to know Beast Integration is possible. I will test out the sample and provide some feedback in a couple of days. Thanks again.

[2016-01-15 08:20] danke-sra commented on #376
@rahul27 Thanks for offering to refactor some of the code. I just looked at the SensorEventListener, and it seems the changes are straightforward:

1) Add a base interface IEvents to SensorEventListener, so that it can be handled by GVREventManager
2) Possibly use the new naming convention I*Events for SensorEventListener, like ISensorEvents, or IDetectorEvents, or IColliderEvents. Let's figure th

[2016-01-15 14:31] ragner commented on #364
Hi @rahul27,
I put a new commit at #378 to fix this issue.

[2016-01-15 17:20] liaxim commented on #364
@rahul27 Please confirm the fix addressed your issue. Thanks.

[2016-01-15 17:21] liaxim commented on #270
Assuming it is all good now with the camera preview performance.

[2016-01-15 17:21] #270 closed

[2016-01-15 17:43] rahul27 commented on #364
@ragner @liaxim yup, that fixes it. Thanks.

[2016-01-15 17:43] #364 closed

[2016-01-16 00:36] rahul27 commented on #376
@danke-sra for now the proposed changes seem fine to me. I still have a few doubts about the script/event manager that hopefully should be cleared after I go through the patch.

[2016-01-16 00:39] danke-sra commented on #376
@rahul27 Thanks. BTW, the script/event manager are in very primitive state. Comments are welcome. :)

[2016-01-21 19:12] chihchic opened #383 "Demo app crash"
I tried to compile and run the demo code from my windows 10 machine (x64, Intel i7-4500U, 8GB of RAM, ), but the app always crash on the Galaxy S6 test phone.
For example, Here are the level A messages before the app crash when I ran gvr-testcube:

01-22 04:02:30.479: A/libc(15614): jni/contrib/glm/./detail/func_exponential.inl:149: genType glm::sqrt(const genType&) [with genType = float]: asserti

[2016-01-21 19:20] danke-sra commented on #383
I am not very sure from the log what's the cause of the problem. Are you trying to runt he app from developer mode? Or you have a headset to dock the phone in?

In case you are using developer mode, please make sure the device's Oculus Signature file is in the app's assets directory.

[2016-01-21 22:04] chihchic commented on #383
Hi Danke,

Yes I am trying to run from developer mode.
I've followed these steps to setup the environment:
http://gearvrf.org/bin/view/GearVRfDeveloperGuide/GearVRfDevGuide200Start#BuildInstruct
And, yes, I confirm that the device's oculus signature file is in the
assets directory.

Sincerely,
Philip

On Thu, Jan 21, 2016 at 11:21 AM, Danke Xie <notifications@github.com>
wrote:

--
Cheers,
Chih-Ch

[2016-01-21 22:11] liaxim commented on #383
Are you trying to build gvrf yourself or using a prebuilt one? Are you willing to share more complete logcat output? Thanks.

[2016-01-21 23:34] chihchic commented on #383
I built gvrf by myself.
Please find attached the complete logcat output.

Philip

On Thu, Jan 21, 2016 at 2:12 PM, Mihail <notifications@github.com> wrote:

--
Cheers,
Chih-Chia (Philip) Chen

01-22 08:33:11.649: I/Vsync(24662): Overslept 13.065672 seconds
01-22 08:33:11.909: D/LoadedApk(24826): getResources for android.app.ActivityThread@387b202c forcing ? false needsResourceUpdate ?false
01-22 0

[2016-01-22 01:53] thomasflynn opened #385 "import .dae file with textures = no textures"
I tried to import this model: http://tf3dm.com/download-page.php?url=r2d2-21038
and wound up with no textures.  Figuring maybe Android didn't load .tga files, i converted them to .png and modified the .dae accordingly.

for someone who knows the model importing part of this, could you take a look?  thanks.

[2016-01-22 02:46] danke-sra commented on #385
The model cannot be downloaded from the website (it doesn't start downloading). Can you please upload the original model and the modified one to another location? I will take a look as soon as I can get the model files. Thanks.

[2016-01-22 02:48] thomasflynn commented on #385
let's try this link:  http://tf3dm.com/3d-model/r2d2-21038.html

[2016-01-22 16:40] danke-sra commented on #385
Thanks for the new link. I've found a fix for this issue. Please check out the pull request: https://github.com/Samsung/GearVRf/pull/386

[2016-01-22 16:56] liaxim commented on #383
What happens if you comment out the call to "bounding_volume.expand(*it);" in mesh.cpp:Mesh::getBoundingVolume()?

What happens if you comment out the call to "float angle = glm::length(axis);" and the following 5 lines in camera_rig.cpp:CameraRig::predict?

These are the only two things that would call into sqrt during the initial second or so. Looks like asserts are disabled in the builds we cre

[2016-01-22 18:00] danke-sra commented on #374
Java script is supported now. The patch is https://github.com/Samsung/GearVRf/pull/375

[2016-01-22 18:00] #374 closed

[2016-01-22 19:55] #385 closed

[2016-01-22 20:15] fredduarte commented on #86
Hi, @Vittalbabu.

This approach implemented on the pull-request ( [https://github.com/Samsung/GearVRf/pull/381] ) i've made a couple of days ago
was mostly implemented by a former work partner of ours, Rodrigo (<rcal@fpf.br>).
He helped us a lot getting to this solution, so, i've asked him to give some
feedback on your comments above. I translated and cited them above [hope my english is
OK to rea

[2016-01-23 02:37] danke-sra opened #389 "Support scripting for eye-picking"
Add events to represent a scene object has been pointed at by the eye pointer, or the eye pointer leaves the scene object.

[2016-01-23 02:40] danke-sra commented on #376
Conversion for collision events are ready for review: https://github.com/Samsung/GearVRf/pull/388

Motion events can be postponed after something is figured out with eye pointees. It is optional to support key events at the scene-object-level, because it is ambiguous which scene object a key event should be delivered to.

[2016-01-23 02:46] danke-sra opened #390 "Batch loading and binding of scripts"
Consider some description file for loading and binding scripts to scene objects, and other scriptable objects.

Maybe use an XML file where each entry specifies the script and the object it is bound to, such as `<script file="filename.lua" language="lua" target="scene-object-name">`. Maybe use some reserved names for known targets, for example, `@script` means the bound GVRScript object.

[2016-01-26 21:39] liaxim commented on #383
@chihchic Did you sort your problem out?

[2016-01-26 23:06] chihchic commented on #383
Yes...this is weird but the problem is solved when I use a different test phone.
Thanks.

Cheers,
Philip Chen

On January 26, 2016, at 1:39 PM, Mihail <notifications@github.com> wrote:

@chihchic Did you sort your problem out?

—
Reply to this email directly or view it on GitHub.￼

[2016-01-28 18:37] rahul27 opened #391 "NPE not reported inside onInit()"
Recreation - Try calling a method on a null object inside GVRScript.onInit().

Guess the same is the case with onStep().

It looks like an issue with the GVREventManager.sendEvent() call for "onInit". The NPE is caught as InvocationTargetException inside the invokeMethod() call.

[2016-01-28 18:39] rahul27 commented on #391
@danke-sra is this a bug?

[2016-01-28 18:45] danke-sra commented on #391
It should throw a NullPointerException to the method calling sendEvent(). If the exception is somehow caught with no side effect, it's also acceptable but better throw an exception in this case.

[2016-01-28 18:59] danke-sra commented on #391
I looked at the code: it looks like there is a type check on the 'target'. If it is null, it should throw another RuntimeException. Did you not get this exception either?

if (!eventsClass.isInstance(target)) {
            throw new RuntimeException(String.format("The target object does not implement interface %s",
                    eventsClass.getSimpleName()));
}

I haven't got time to run the

[2016-01-28 19:15] rahul27 commented on #391
The target in my case is not null. I have a valid script, the scenario I am talking about is something like this:

[code]

Instead the NPE is caught here inside InvocationTargetException in invokeMethod():

[code]

[2016-01-28 19:20] danke-sra commented on #391
I see. Can we re-throw the InvocationTargetException here?

[2016-01-28 19:25] rahul27 commented on #391
I was thinking something along the lines of:

[code]

[2016-01-28 19:28] danke-sra commented on #391
That works better. Thanks.

[2016-01-28 21:38] #391 closed

[2016-01-30 01:05] dotunadegbite opened #394 "Setting Up A Project"
I am a beginner and having a difficult time trying to set up a new project in Eclipse that I can still access the different packages that are in the framework that is also imported into Eclipse

[2016-02-01 17:32] johnspurlock opened #400 "dev_videoCapture causes an insta-crash"
Can someone confirm that dev_videoCapture works as expected on the gear vr?  It causes any vr app to crash immediately on my device.

To reproduce:
1. build and install one of the samples from the samples repo
2. enter development mode
3. adb shell "echo dev_videoCapture 1 dev_gpuLevel 3 dev_cpuLevel 3 > /sdcard/.oculusprefs"
4. launch the sample

Sample logcat output: [dev_videoCapture-fail-logca

[2016-02-01 18:18] liaxim commented on #400
I can report the same following the instructions. Will look into it more.

In the meantime, we have used this method in the past: https://github.com/Samsung/GearVRf/wiki. Most recently it hasn't worked for me but it may for you.

[2016-02-01 18:23] johnspurlock commented on #400
Thanks for taking a look.  The preference is relatively new [1], but added as part of the 1.0 oculus sdk so I would have expected it to work on the gear vr.

[1] https://twitter.com/id_aa_carmack/status/686933482702942208

[2016-02-01 18:34] liaxim commented on #400
Oculus's own VrTemplate crashes like this when capturing is enabled. There must be some undocumented prerequisites.

[2016-02-01 18:38] liaxim commented on #400
VrCubeWorld_Framework crashes too. I tried including VrCapture in our build but that makes no difference.

[2016-02-01 18:50] liaxim commented on #400
See https://twitter.com/ID_AA_Carmack/status/671730347634122752

The SystemActivities apk can be downloaded from the Mobile SDK download page - look for "SystemActivities APK". Apparently the update hasn't been pushed yet as I am using the latest and it doesn't work.

Summary: nice feature but it will work after a new SystemActivities apk is available. No recompilation, no GVRF changes required.

[2016-02-01 18:51] liaxim commented on #383
Ok, do you want to help me track down the problem on your original phone? Or you are good and I can close this issue? Thanks.

[2016-02-01 19:22] johnspurlock commented on #400
Ah ok - go ahead and close this issue and I guess we'll wait for an auto-update of Oculus System Activities.

Which version of that package do you have?  I have 1.0.1.3-20034506, which sounds newer than the one referenced on the mobile sdk page.

[2016-02-01 19:25] thomasflynn commented on #394
hi, sorry for the late reply.  can you give more details on what you've tried and what the result was?  have you tried following the steps in our developer guide: http://gearvrf.org/bin/view/GearVRfDeveloperGuide/GearVRfDevGuide200Start#BuildInstruct

[2016-02-01 19:32] liaxim commented on #400
I use SystemActivities-P4-119024-FB-16656924.apk (which shows version 1.0.1.3-20034506).

Maybe it is better to close this after the SystemActivities has been updated to a version that is supposed to work and we have verified it. Will wait.

[2016-02-01 19:42] johnspurlock commented on #400
Great - sounds good to me

[2016-02-01 22:57] chihchic commented on #383
Hi,

I think you can close the issue for now.
Thank you so much.

Philip

On Mon, Feb 1, 2016 at 10:51 AM, Mihail <notifications@github.com> wrote:

--
Cheers,
Chih-Chia (Philip) Chen

[2016-02-02 00:09] liaxim commented on #383
You are welcome.

[2016-02-02 00:09] #383 closed

[2016-02-03 19:48] danke-sra opened #403 "Add a GL workqueue for native code"
I am opening this issue to track discussion about OpenGL calls in native layer.

Currently, our onInit() callback is responsible for creating the scene. It typically includes I/O and other slow operations. Ideally, this onInit() should be called in a non-GL thread, and only GL-ops are queued for the GL thread.

This is however not possible because constructors in the C++ code directly calls GL fun

[2016-02-03 20:09] thomasflynn commented on #403
i don't know that a work queue is necessary.  yes, onInit and onStep should happen in an application thread and not the GL thread.  that's the way most other scenegraphs work.  the objects created / manipulated in those threads should only perform their GL calls when we are in the GL thread.  For example a new GVRTexture() should do whatever non-GL initialization is necessary and then that GVRText

[2016-02-03 20:20] danke-sra commented on #403
i agree. the use of the workqueue is to allow constructors to start GL work. but whether they are completed needs to be checked. i think these resources may also need an interface (like isReady()) for that. but that's a separate issue -- it's good that it is brought up here. it may be implemented together.

[2016-02-03 20:24] thomasflynn commented on #403
again, a work queue is not necessary.  that class just needs to be modified to make its GL calls when it is being used in the GL thread.  very simple.

[2016-02-03 20:47] danke-sra commented on #403
i know the fix for the texture is simple. but since java layer has a gl queue and c++ layer does not, it can be a utility to solve similar problems. anyway, this is for inputs. i will help fixing the texture in a simple way.

[2016-02-04 02:18] danke-sra opened #405 "GVRAsynchronousResourceLoader: async loader can end up in bad states"
Some future tasks (such as textures) do not exit from the normal exit points (loaded or failed). They result in undefined program behavior, corrupted throttler states, hanging threads and so on. And when that happens, new texture cannot be loaded any more. We need to fix the async loader, patch the issues and make it robust/recoverable.

[2016-02-04 04:05] mingsong commented on #405
This is a good point as we have seen some problematic textures before. I will be working on this for the following time.

[2016-02-04 18:51] danke-sra commented on #405
Ok. Please let me know when it is fixed. I am working on another texture-related issue. My patch will depend on this fix, and once this is done I can start to verify my fix.

One issue with the async loader is that it does not wait for the texture to be loaded when you call get() on a Future. I guess that needs to be fixed first. This is in the following class:

[code]

The `get(0)` pass wait time

[2016-02-04 19:03] mingsong commented on #405
Ok, thanks for the suggestions, I will sync up with you whenever I need to verify the texture.

[2016-02-04 19:15] danke-sra commented on #403
This is a version that does not require a workqueue. I have verified it works on basic textures. https://github.com/Samsung/GearVRf/pull/407

[2016-02-05 16:10] ChrisCW1 opened #408 "Video / Format / 3D / 180"
Hi *

in the native environment you can use these video formats to specify type of 3D video content:
“3D” : 3D movie side-by-side
“3DLR” : 3D movie side-by-side (same as “3D”)
“3DLRF” : 3D movie side-by-side full screen
“3DTB” : 3D movie top-to-bottom
“3DTBF” : 3D movie top-to-bottom full screen
and 180 POV

Is there something similar for GearVRf?

BR

Chris

[2016-02-05 17:31] rahul27 commented on #124
+1 on this, something along the lines of:

http://docs.unity3d.com/ScriptReference/Transform.LookAt.html

On one of the applications I am working on I would like to rotate a 2D quad to always face the camera after a call to setPosition(). I did some searching and only found references to the lookAt function above.

Does anybody have any idea on the math involved or any pointers on how I could go a

[2016-02-05 17:44] thomasflynn commented on #124
@rahul27 , sounds like what you're looking for is a Billboard?
http://www.opengl-tutorial.org/intermediate-tutorials/billboards-particles/billboards/
It's not unusual for a scenegraph to provide a node for this.  If that's what you're looking for it can be added (or you can add it :).

for LookAt(), the description sounds like gluLookAt()?, but modifying the model's matrix rather than the View mat

[2016-02-05 18:09] thomasflynn commented on #124
Actually, if you always want something stuck to the camera, why not attach it to the CameraRig?

[2016-02-05 18:17] rahul27 commented on #124
I don't want it stuck to the camera. I just want to position it using x,y,z and once placed I would like to rotate it about its own axis it to face the camera.

One easy way to do this is by placing it along -Z and using rotateByAxisWithPivot to make sure that it always moves along the origin pivot. But in my case determining the angles is way harder than calculating the position x,y,z.

[2016-02-05 18:20] thomasflynn commented on #124
so, again, are you looking for a Billboard?

[2016-02-05 18:51] rahul27 commented on #124
Yes, from the looks of it.

[2016-02-05 19:19] danke-sra commented on #124
You probably need a onStep() callback on these objects too, so they can call the lookAt() function before rendering.

BTW, how is the event refactoring going? Can I suggest working out an interface to attach event handlers to a scene object? Currently, there is no easy way to attach an event listener / sensor listener to a scene object. The user would need to construct a new GVRBaseSensor and add

[2016-02-05 19:37] thomasflynn commented on #124
before we get too off-topic ;-)...I've got someone interested in working on this.  She'll do billboard first, then try the LookAt method that is being described.

[2016-02-05 19:57] rahul27 commented on #124
@thomasflynn Thanks.

@danke-sra I've started working on the Gaze Cursor will have a pull request out soon. I am currently trying to work out a way to distribute the motion and key events to the Scene Object.

Lets continue this discussion on https://github.com/Samsung/GearVRf/issues/376

[2016-02-05 20:01] danke-sra commented on #124
Thanks y'all.

[2016-02-05 23:42] rahul27 commented on #124
Just an update, I was able to get the lookAt() working at the java level using the "Matrix based approach" described here:

http://mmmovania.blogspot.com/2014/03/making-opengl-object-look-at-another.html

[2016-02-06 00:59] danke-sra commented on #408
Do you mean supporting these 3D formats in something like GVRVideoSceneObject? There are two built in formats: GVRVideoType.HORIZONTAL_STEREO and GVRVideoType.VERTICAL_STEREO. It should be similar to 3DLR and 3DTB. However, I haven't tested them yet. You are welcome to try and provide some feedback. Anyone has more information about this?

[2016-02-06 01:57] William-Sudletsky commented on #372
I had to learn that the GVRViews have to be instantiated in the GVRActivity and then passed to the GVRScript in an array through trial and error. I suggest this be added to the documentation or the ability to add the GVRViews in the GVRScript be added.

[2016-02-09 17:57] johnspurlock commented on #400
Still reproduces on com.oculus.systemactivities 1.0.1.4-21431179, which was pushed to me yesterday.

[2016-02-09 20:47] andrejsinigoj commented on #408
We use the GVRVideoType.VERTICAL_STEREO for split videos top/bottom and it works as it should.

[2016-02-16 20:28] mingsong commented on #405
The problem has pretty much been isolated in AsyncBitmapTexture::loadResource()->decodeStream,
where the DecodeHelper may not be properly created based on a regular FileInputStream (e.g, through network TCP/IP connection rather than a AssetsInputStream which results in a OutOfMemoryError when trying to decode the bitmap through the inputStream. The loading thread is thus failed and the separate se

[2016-02-16 20:32] mingsong commented on #405
Possible No 3 is to remove future wrapper completely of a texture without using a dedicate thread to wait until it is ready, and simply use the valid bit of texture in lower layer renderRenderData() to decide whether to render that texture. That is dependent on the texture constructor that if we can create an empty texture first with proper memory allocated, set it and return immediately, and then

[2016-02-16 22:13] danke-sra commented on #405
The Future class affects many kinds of resources. It is a bigger change that may need more time and investigation. If we can fix the decoder that will be good enough for this issue.

[2016-02-18 00:24] danke-sra commented on #405
Is there a fix that can be tested?

[2016-02-18 00:54] rahul27 commented on #376
@danke-sra here is a new pull request for review:

https://github.com/Samsung/GearVRf/pull/414

[2016-02-18 03:17] thomasflynn commented on #256
we have a port on top of VrApi now.  Please test:  https://github.com/Samsung/GearVRf/pull/412

[2016-02-23 19:56] fredduarte commented on #86
Hi, @thomasflynn
i know the pull-request for the shadow mapping was merged already.
But, is Vittalbabu still working on the lighting branch previously discussed here?
[(https://github.com/Vittalbabu/GearVRf/commits/light)]

[2016-02-23 19:58] thomasflynn commented on #86
@Vittalbabu could you respond please.  Perhaps @fredduarte can help you finish your commit while you're tracking down that performance problem.

[2016-02-23 21:07] Vittalbabu commented on #86
@fredduarte

I had some issues with the lighting equation and moved to using the lighting equations implemented in texture shader. The framework in [https://github.com/Vittalbabu/GearVRf/commits/light] can support multiple lights but it is incomplete in the sense the light parameters passed from application to Java to jni will need to change based on proper implementation of multiple lights.

If y

[2016-02-24 08:19] danke-sra opened #422 "Render with Vulkan API?"
Can we look into this feature since Vulkan has been released.

Vulkan 1.0 specification has been released on February 16th, 2016 and Khronos members released Vulkan drivers and SDKs on the same day. From https://www.khronos.org/vulkan/

[2016-02-24 08:24] thomasflynn commented on #422
Yep, vulkan is in the plans.  Need to meet some internal deadlines first though.

[2016-02-25 04:54] danke-sra opened #429 "Relax glthread assertion for loadTexture() and loadCubemapTexture()"
Now textures can be constructed in non-GL thread. GL commands are deferred until binding (e.g., getId()).

[2016-02-25 17:32] liaxim commented on #403
@danke-sra Can we close this now?

[2016-02-25 17:32] liaxim commented on #405
@danke-sra @mingsong Can we close this now?

[2016-02-25 17:34] liaxim commented on #394
@dotunadegbite Do you still experience problems? If not, can we close this issue?

[2016-02-25 17:44] mingsong commented on #405
I think so.

[2016-02-25 18:07] danke-sra commented on #405
Yeah, we can close it for now.

I think the issue doesn't happen so often after the fix, but is still possible. However, other issues can be handled separately.

[2016-02-25 18:08] #405 closed

[2016-02-25 19:00] danke-sra commented on #403
Yeah, please close it.

[2016-02-25 19:06] #403 closed

[2016-02-26 22:17] fredduarte commented on #86
@danke-sra  Please check https://github.com/Samsung/GearVRf/pull/433
I've made some changes to support the previously created Light class.
Changed the shadow sample as well.

[2016-02-26 22:51] danke-sra commented on #86
@fredduarte Thanks for the update. I will take a look ASAP.

[2016-02-27 01:59] danke-sra commented on #429
Fixed in https://github.com/Samsung/GearVRf/pull/432

[2016-03-01 18:51] liaxim opened #437 "Shadow mapping gets enabled by default on devices that fallback to monoscopic"
This leads to a crash. Even with the crash fixed shadow mapping doesn't work correctly in monoscopic.

The crash is caused by the if ((framebufferId != 0) && !renderShadow) { check in renderer.cpp:197. It enables shadow mapping even if renderShadow is false. nullptr checks are needed for the DirectionalLight associated with the scene. But these are more of a symptoms.

[2016-03-01 22:30] liaxim commented on #429
Can this be closed now?

[2016-03-02 20:04] NolaDonato commented on #383
I get the same problem running the gvrjassimpmodelloader sample on a Motorola Droid phone in monoscopic view. Changing the code to mesh.cpp in BoundingVolume::expand to check for zero length gets rid of the assertion:
    if (min_corner_ == max_corner_)
    	radius_ = 0;
    else
    	radius_ = glm::length(max_corner_ - min_corner_) * 0.5f;

[2016-03-02 20:09] tjlian616 opened #438 "Note 5 Support"
Please add support for Note 5 devices.

The sample projects work on s6 but not note 5. Note 5 is a great device. Please add support for Note 5.

[2016-03-02 20:14] liaxim commented on #383
@NolaDonato Would you like to create a pull request with the fix for this? Or I could create one if you prefer.

[2016-03-02 20:21] liaxim commented on #438
Could you please elaborate further? What samples did you try? What happens when you run them?

I have been running various samples on my Note5 without a problem.

[2016-03-02 20:28] tjlian616 commented on #438
@liaxim   I run the gvr-vuforia sample project from the gearvrf/GearVRf-Demos repo. On S6, it works great. On Note 5, the screen is all black (no crash).

The sample project has two device XML files. One is for S6 and the other one is for note4. I tried both but the result is same. So I thought it might need a device XML for note 5.

[2016-03-02 20:29] liaxim commented on #438
Vuforia is a bit special. I will check it out. I expect the rest of the samples to work though.

[2016-03-02 20:34] NolaDonato commented on #383
I will drop by your desk when you are there and you can tell me how to do it.

-Nola

From: Mihail [mailto:notifications@github.com]
Sent: Wednesday, March 2, 2016 12:14 PM
To: Samsung/GearVRf <GearVRf@noreply.github.com>
Cc: Nola Donato <nola.donato@samsung.com>
Subject: Re: [GearVRf] Demo app crash (#383)

@NolaDonato<https://github.com/NolaDonato> Would you like to create a pull request with th

[2016-03-02 21:06] thomasflynn commented on #438
as for the xml files, naming them after devices is outdated.  we've since setup the xml so that they are device independent.  we'll need to do a pass through all the samples to update them to just have a single xml file not named after a device.

[2016-03-02 22:50] liaxim opened #439 "getMainScene and getNextMainScene and splash screens"
We should really do something about these. Enabling and disabling the splashScreen has profound consequences. With enabled splashScreen you should use getNextMainScene, with disabled splashScreen you shouldn't. We must make all this transparent.

[2016-03-02 22:56] danke-sra commented on #439
Agreed. The splash screen should be transparent to developers.

[2016-03-03 19:13] rahul27 opened #441 "Animations in reverse?"
Do we have an option to play animations in reverse?

For now the GVRRepeatMode options are ONCE, REPEATED and PINGPONG. Given that GVRRepeatMode.PINGPONG can do start to finish and finish to start. Would it be easy to add a new option for reverse?

This makes it convenient to create one animation and play it forward and reverse when needed instead of having 2 separate animations.

[2016-03-03 19:39] danke-sra commented on #441
There are different ways to do that. I think we can consider a couple of things:

1. Add speed and time as properties. Reverse can be done by setting speed to -1, and time to the last.
2. An API may be added to set the reverse mode.

I think the repeat mode can still apply when you play an animation in reverse.

I've seen other animation engine doing this. I think it might be a cleaner design than

[2016-03-03 22:39] tjlian616 commented on #438
@liaxim
the gvr-video and gvropacityanigallery demo are also not working on note 5. Only one window is rendered in the middle of the screen. Please check my screenshots here.
http://postimg.org/image/9gp28qkmd/
http://postimg.org/image/el5qgl2zb/

[2016-03-04 22:55] danke-sra opened #446 "Use copy-on-write array list for animation engine?"
In GVRAnimationEngine, we could save memory allocation by using CopyOnWriteArrayList instead of ArrayList. This can help reduce GC when animation is played.

[2016-03-07 22:21] tjlian616 commented on #438
@liaxim
Do you remember which sample work on Note 5? I have tried a few but they all don't work, including the simple-sample one.

Thank you!

[2016-03-07 22:23] thomasflynn commented on #438
are you building against a pre-built gvrf? or building from source?  it should work from source.

[2016-03-07 22:31] tjlian616 commented on #438
@thomasflynn  I'm using the pre-build from the samples. Will build from source today and report back. Thanks!

[2016-03-07 22:32] thomasflynn commented on #438
alright, thanks.  we should do another release then.  i'll talk to the team about it.