[2017-03-08 16:58] #1046 closed

[2017-03-08 17:04] liaxim commented on #1069
@Nathipha You should use a rendering order of BACKGROUND: ``yourCameraSceneObject.getRenderData().setRenderingOrder(GVRRenderData.GVRRenderingOrder.BACKGROUND)``.

[2017-03-08 17:10] Akadone commented on #1073
On onInit(GVRContext gvrContext) I save the GVRContext. Then I run a thread to "speak" to server. If server send command to reset orientation, I do:
if (mServerState.nCurrentServerStatus == FSA_RESET_ORIENT) {   //Reset orientation
                            Log.e("store360", "reset ");
                            scene.getMainCameraRig().reset();
                            continue;

[2017-03-08 17:42] liaxim opened #1074 "gvr-3dcursor: volume up/down keys do not bring up the volume UI"
Also back key doesn't bring up the exit to Oculus prompt. It has something to do with the IO framework. Not caused by useAndroidWearTouchpad=true.

[2017-03-08 18:16] rahul27 commented on #1059
@felislynx-silae I managed to recreate the issue at my end. Thanks for the help.

The issue seems to be a conflict with the google libraries used by GVRf. v3.1.1 uses v1.0.0 of the google vr libraries (which does not recognize the intent filter for daydream). You will find the configuration for v3.1.1 here:

https://github.com/gearvrf/GearVRf-Demos/blob/release_v3.1/common.gradle

I would recommen

[2017-03-08 18:18] rahul27 commented on #1074
@liaxim Will fix this one. The IO framework needs to ignore the volume keys and the back button.

[2017-03-08 18:35] liaxim commented on #1073
Ok, attaching slightly modified gvr-simplesample. Replace the one from GearVRf-Demos with it. On tap it should reset the orientation. Does it work for you?
[gvr-simplesample.zip](https://github.com/Samsung/GearVRf/files/828595/gvr-simplesample.zip)

While we have threading issues I do not expect they would surface in this case. In my tests I reset the orientation from the Android main thread and a

[2017-03-08 21:22] NolaDonato commented on #967
This works for me on the S7 Edge, what phone are you using?

    public void onInit(GVRContext context) {
        GVRScene scene = context.getMainScene();
        Future<GVRTexture> texture = context.loadFutureTexture(new GVRAndroidResource(context, R.drawable.checker));
        GVRMaterial material = new GVRMaterial(context);
        GVRSceneObject groundObject = new GVRCubeSceneObject(context, *

[2017-03-08 21:42] NolaDonato commented on #967
I guess if you position the cube not at the center you don't have to use "false", you can use "true" in that case. I didn't know what x,y,z were in your example.

[2017-03-08 21:46] liaxim commented on #967
I am seeing it on Note5 and S7. It was originally encountered by @ragner - this is how I know about it. He has the normals facing out since he uses the cube to create the platform for his physics game. The platform we are looking at from some distance.

Comment out gvr-simplephysics:MainHelper.java:94 to reproduce.

[2017-03-09 05:41] felislynx-silae commented on #1072
Min api: 19, Target 19 (as per [https://developer3.oculus.com/documentation/publish/latest/concepts/publish-mobile-manifest/](SITE)). Samsung Galaxy S7 (SM-G930F),  Android 7.0, Oculus system driver: 1.0.4.6-50968380

[2017-03-09 06:21] felislynx-silae commented on #1059
3.1.2-SNAPSHOT was a solution :). Is next full release going to have this solution?

[2017-03-09 15:42] liaxim commented on #1059
@felislynx-silae Absolutely

[2017-03-09 15:42] #1059 closed

[2017-03-09 16:20] Nathipha commented on #1069
@liaxim Sorry, completely forgot about the rendering order.
Is there absolutely no way to use it as an actual background like a background color though? The way it's in the sample and I'm also using it at the moment kind of works but if I save all the objects in a scene (scene.getWholeSceneObjects()), clear it, then restore everything to how it was before (via scene.addSceneObject in a "for" loop)

[2017-03-09 16:20] liaxim commented on #1024
Fix for the leak merged. The volume UI a separate issue.

[2017-03-09 16:20] #1024 closed

[2017-03-09 17:17] konidk commented on #1060
Ok, please keep me updated. Good luck.

[2017-03-09 17:29] liaxim commented on #1072
@felislynx-silae Are the demos from GearVRf-Demos exhibiting the same behavior?

[2017-03-09 17:42] liaxim commented on #1069
@Nathipha You could have the passthrough quad placed at a very large negative z in addition to everything else. Since it is supposed to be a background it could help the user with focusing on the right things.

The passthrough quad is a very different thing from the background color. If you had a 360 camera you could show it on a sphere (gvr-360video) but it is not the case so it will look weird.

[2017-03-09 17:44] felislynx-silae commented on #1072
Yup. Simplesample same message. If i set target api to 25 and message is gone. But it's not correct according to page about publishing app.

[2017-03-09 17:55] liaxim commented on #1072
Interesting. I assume apps from the Oculus store work for you? If you happen to have the latest Oculus Mobile SDK installed, they have apks for their samples. I'd be curious to know do these work. Thanks.

[2017-03-09 18:01] Nathipha commented on #800
I'm still at the same point I was in September and haven't really had the time or patience to deal with AndroidStudio since then, partially because I was working on a different project. I'm back to working on my original app now and I know that at one point I do have to migrate the whole thing to AndroidStudio.
I don't mind opening a new issue just for the build problems and then link back to this

[2017-03-09 22:48] liaxim commented on #967
It is caused by the use of Future textures. As a side note I think it is time to consider removing these Futures.

[2017-03-10 01:25] thomasflynn commented on #772
I'll leave this open for comments until Monday (the 13th).  if there aren't any new comments, i suggest we close this issue at that point.

[2017-03-10 01:31] thomasflynn commented on #800
@Nathipha, go ahead and open a new one once you need it and we'll help you out at that point.

[2017-03-10 06:35] felislynx-silae commented on #1072
OculusSDK apk's don't produce this warning. Proably because libvrapi.so is a lib from gearvrf-framework :)

[2017-03-10 15:21] liaxim commented on #1072
@felislynx-silae libvrapi.so is actually a library from the Oculus Mobile SDK. Both the Oculus samples and our framework use it so it is rather surprising. There must be something in the manifest.

This is the decompiled manifest from an Oculus sample:
[code]

And this is the decompiled manifest from one of our samples:
[code]

The only significant difference is the value of ``platformBuildVersion

[2017-03-10 15:56] felislynx-silae commented on #1072
[code]
And Build.Gralde
[code]

[2017-03-10 16:32] liaxim commented on #1072
@felislynx-silae I have a pull request for you to try: https://github.com/Samsung/GearVRf/pull/1076. Please make sure your app is using compileSdkVersion of **21**.

[2017-03-10 16:39] liaxim commented on #1007
@rahul27 Btw, do you have any suggestions about the configuration? I am unsure about implicit configuration (like checking if a folder exists then assuming one build or if it doesn't, assuming another).

[2017-03-10 19:57] rahul27 commented on #801
@thomasflynn I've managed to recreate the issue. Here is a modified version of the gvr-360-photo app for you to try:

https://github.com/rahul27/GearVRf-Demos/commit/4e434f2f6c0f87bd206872ed9241a253d09867ad

Tapping should change the 360 photo but instead results in a crash:

[code]

[2017-03-10 20:27] liaxim commented on #1073
@Akadone Any update? Still having an issue?

[2017-03-11 18:50] mvasilkov opened #1077 "Improvement: support models with vertex colors baked in."
**UPD.** I've noticed that while Assimp loads vertex colors, the GearVRf adapter doesn't copy this data to the mesh. Hence changing the title of the issue. I think this would be a neat feature for authoring simple models, for prototyping and such.

**Original issue:**

Hi dear all, I'm new here, and I'm trying to render a *.ply model from file. The model has vertex colors baked in.

I'm using `GVR

[2017-03-13 05:07] NolaDonato commented on #1060
I have an update for you. Combining Mihail's pull request #1028 (render to texture) and my new pull request #1078 (authoring post effect shaders) I got your gaussian blur to work with two render passes to an external texture which I then mapped to a quad. We are still fine tuning the APIs and have not merged these pull requests to the master branch yet. I expect the APIs are not solid and will cha

[2017-03-13 07:57] felislynx-silae commented on #1072
Checked, compileSdkVersion didn't change anything. targetSdkVersion setted to 25 is fixing issue but it's not correct according to gearvr publishing page :/. So i'm quite sure that
[code]
is the source of all problems since setting to:
[code]
is working like charm

[2017-03-13 10:36] konidk commented on #1060
Glad to read this ! Hope the performance issue will be resolved using this method. The project will reach its end on Monday 27 of March, it does leave us time to wait for the APIs to be updated.

However, I have to give back a first version of the project with a working blur vision by Friday, do you think that the APIs will be updated by this time ? Otherwise I thought of implementing the "mean fi

[2017-03-13 14:32] liaxim commented on #1072
Ok, I thought the compileSdkVersion is the important difference since in the Oculus sample (that works) the manifest contains this:

[code]

And our sample's manifest:
[code]

As you can see the only difference is the platformBuildVersionCode. I will try to get hold of a phone to test this but we have run our apps on N phones without such problems so this is puzzling.

Do you think you could share

[2017-03-13 16:43] rahul27 commented on #1072
@liaxim I have an S7 Edge with Android N in case you need it.

[2017-03-13 16:58] felislynx-silae commented on #1072
https://drive.google.com/open?id=0Bzu1FkBNLSmkSWNwUkRGSkN3YTQ <-- dialog (target 19)
https://drive.google.com/open?id=0Bzu1FkBNLSmkUU85a3E0MDE3UmM <-- no dialog (target 25)
Simplesample app

[2017-03-13 17:30] liaxim commented on #1072
Tried on S7 Edge, can't reproduce. I even resigned both your apks and tried them too. Both work.

Btw, your Oculus System Driver seems old. The phone I tried showed "1.1.5.0-51332353". Since the problem is coming from the Oculus libraries it may be significant. Could you try updating your phone with the latest Oculus software? Making sure the phone is connected to the network and then docking it i

[2017-03-13 17:41] thomasflynn commented on #772
Ok, this seems to be working.  If someone sees a similar problem, please open a new issue.  Thanks.

[2017-03-13 17:41] #772 closed

[2017-03-13 17:42] rahul27 commented on #1074
Should be fixed now.

[2017-03-13 17:42] #1074 closed

[2017-03-13 19:22] Nathipha commented on #800
Okay, I will do that.

I have a quick last question regarding TextViewSceneObjects in combination with the EyePicker:
I know how to change the background color on entry or exit but is it also possible to give it a border ("padding" inside the object), e.g. white one for a black TextViewSceneObject on a black background? If there's no way to do it directly, I'll look at how to do it with a Drawable

[2017-03-13 19:29] Nathipha commented on #1069
@liaxim Even if I had it at -20 or -50, it wouldn't fix my problem because you can walk around in my app (simply moves the camera) and if you move backwards a lot, my scene objects will get further and further away and would eventually get cut off by the passthrough plane - so basically like a render distance setting.  Disabling the depth test helps with this, no matter where the camera and the ob

[2017-03-13 20:19] NolaDonato commented on #1077
The built-in shaders do not currently support vertex colors. You could write your own shader that looks at vertex colors but it would not work because our asset importer might not preserve the vertex colors in import. I will look into adding support for "foreign" vertex components into the asset loader and write a sample of how to do vertex colors. I might not get to it until Weds though.

[2017-03-13 20:30] NolaDonato commented on #1060
I have attached a working sample of the two pass gaussian blur. This sample will work with a GearVRF built with the two patches. Here is how you get that:
1. Clone the GearVRF git repository - master branch into a local repo:
git clone https://github.com/Samsung/GearVRf
git checkout -b rendertotexture
2. Apply the first patch #1028
git pull git://github.com/liaxim/GearVRf.git rendertotexture
3. Ap

[2017-03-13 20:39] NolaDonato commented on #1069
I don't think it will interfere with the pass through because all it does is prevent the scene object from being rendered by the GPU. It does not change anything about the video or the camera. The object is still in the scene and there is no overhead with enabling or disabling a scene object.

Another component that might help is GVRSwitch. If you attach this component to a scene object it will ch

[2017-03-13 20:42] NolaDonato commented on #800
You can do this by putting two border objects as children positioned behind the text view scene object, one black and one white. Add a GVRSwitch component to the text view to allow you to select one of the children to display. Then set the switch index on entry and exit. This will allow you to change the border color when the object is selected.

[2017-03-13 21:31] liaxim commented on #1069
@Nathipha Why would adding the passthrough quad to the camera rig not work for you exactly?

[2017-03-14 06:11] felislynx-silae commented on #1072
[Oculus System Driver Version](https://drive.google.com/open?id=0Bzu1FkBNLSmkSEZCOE4wS1Fpcmc) And still have popup. Maybe there is some kind of difference between S7 and S7Edge?

[2017-03-14 15:03] Nathipha commented on #1069
@NolaDonato Okay, thanks, I'll try it with setEnable(false) then.
I'll also play around with GVRSwitch and my menus, thanks.

@liaxim
It does and I did, it just bugged out after readding the object that got saved through "scene.getWholeSceneObjects()". As long as the depth test is disabled and I stop and remove it "manually" before calling "scene.getWholeSceneObjects()" (haven't tested "setEnable(

[2017-03-14 15:38] liaxim commented on #1072
Does this help: https://forums.oculus.com/es/discussion/50307/need-help-with-a-libvrapiimpl-libmedia-error-on-android-n-phone? Quote:
``After discussing it with some other folks from Oculus, we found that the error would only occur if "debuggable" was included in the manifest, and that's removed from the distribution builds we send to end users, so we're good to go. ``

[2017-03-14 17:04] liaxim commented on #939
https://github.com/Samsung/GearVRf/pull/1061
https://github.com/gearvrf/GearVRf-Demos/pull/408

[2017-03-14 18:18] Nathipha commented on #800
Ah, a GVRSwitch is exactly what I need (in my case: show the border onExit once you press a button on the controller), already found the sample, thanks! Stupid question though, is there a special way to create a border object? I've been using:

    GradientDrawable border = new GradientDrawable();
    border.setStroke(1, Color.WHITE);
    sceneObj.setBackGround(border);

... but if there's a short

[2017-03-14 19:25] liaxim commented on #800
You could use GVRBitmapTextures for your two border objects. To create a Bitmap with color of your choice you do:
[code]

[2017-03-15 01:47] NolaDonato commented on #1077
I worked on this issue and made some progress. I got the asset loader to load a mesh with vertex colors and wrote a shader which used them. Unfortunately GearVRf crashes in the middle of creating mesh attributes inside the renderer. I will debug further later this week.

[2017-03-15 01:50] NolaDonato commented on #800
I want to look at your issue regarding picking. Can you send me the piece of code where you make your text view scene objects and attach the colliders?

[2017-03-15 05:58] felislynx-silae commented on #1072
I can confirm. debuggable = false is also working. So for debugging, target should be 25 and for release nothing change. But i must admit, very strange bug o_O

[2017-03-15 14:55] liaxim commented on #1072
Strange indeed but not something we can address from our side.

[2017-03-15 15:45] #1072 closed

[2017-03-15 22:14] #939 closed

[2017-03-15 22:16] NolaDonato commented on #1077
My first crack at solving vertex colors is in PR #1085. I could only find one free PLY model with vertex colors. Assimp imports this as a 4 floats for each color. I have not tried it with other PLY models. Maybe  @mvasilkov  would like to test this pull request with other PLY models.

[2017-03-16 11:05] JacobLawtonClaro commented on #1039
The Android Studio 2.3 update gives options for v1/v2 signing when building the APK, disabling v2 using this method works.

[2017-03-16 15:44] liaxim opened #1087 "Lua: the current release we are using is causing memory leaks"
Move to a more recent version of libjnlua.so. More details at https://github.com/Samsung/GearVRf/pull/1064.

[2017-03-16 21:12] liaxim commented on #967
Addressed by https://github.com/Samsung/GearVRf/pull/1081

[2017-03-16 21:12] #967 closed

[2017-03-16 22:56] thomasflynn opened #1090 "Add Gear Controller support"
Finish adding support for the Gear Controller.

[2017-03-16 22:58] thomasflynn opened #1091 "Update to the latest DayDream SDK"
update to the latest DayDream SDK (it's up to version 1.30 now)

[2017-03-17 16:33] liaxim opened #1094 "Oculus backend: refactor the use of GLSurfaceView"
Per VrApi.h

[code]

[2017-03-17 20:30] liaxim commented on #801
Fixed by https://github.com/Samsung/GearVRf/pull/1084

[2017-03-17 20:30] #801 closed

[2017-03-20 06:52] felislynx-silae opened #1097 "Proguard rules"
Hi, this is question rather than a bug. What are the proguard rules for minification of code? And is obfuscating supported by GearVRf? For me that ended with errors of backend not found after building minified apk.

[2017-03-20 14:27] liaxim commented on #1097
Hi. We have not experimented with it. I do know that couple of classes should not be obfuscated:
[code]

Let us know if you still have problems.

[2017-03-20 23:22] rahul27 opened #1100 "SIGSEGV's reported by gvr-simplephysics"
Here are the two stacktraces. Note that I am using Oculus SDK 1.5.0

[code]

[code]

[2017-03-20 23:30] rahul27 commented on #1007
Fine with me. Can be addressed in the future.

[2017-03-20 23:40] thomasflynn commented on #1007
if that's the case, it sounds like i can clear this of the 3.2 milestone.  correct me if i'm wrong and i'll add it back.

[2017-03-21 01:08] NolaDonato commented on #1100
I ran this yesterday and it worked OK for me. What did you do with the app to cause the crash? Is it just Oculus SDK 1.5?

[2017-03-21 01:42] NolaDonato commented on #1060
I have an update. I worked on render to texture and have an official pull request for this feature which will be in release 3.2. Patch #1099 and #1098 support what you are trying to do - render a two pass post effect into a texture. Pull request #424 from GearVRf-Demos is a sample implementing gaussian blur by rendering into a texture. To increase performance you could make the GVRRenderTexture 51

[2017-03-21 02:10] konidk commented on #1060
Thank you so much. I totally forgot to answer your precedent reply. Well, I got it to work following your first intructions, but I'll definitely try the new ones. I'll keep you updated ASAP !

[2017-03-21 14:25] liaxim commented on #1007
The only meaningful thing I came up with is to eliminate the option to build using local aars. We will have to ensure the automated build uploads snapshots daily.

Then the build would have two modes: if GearVRf-Demos is not in the same directory as GearVRf then use maven; if GearVRf is present then build everything together. This would eliminate ``useLocalDependencies`` and ``buildGvrfAndDemos``.

[2017-03-21 15:06] liaxim commented on #1100
This looks like a build-related issue. Have you tried completely cleaning the trees before building?

I just ran the app with 1.5.0 and it worked fine for me.

[2017-03-21 16:12] felislynx-silae commented on #1097
As far as i tested i have 2 problems with proguard.
1. XMLBeans from mozilla javascript (from framework)
2. no backend detected (proably obfuscated name)

[2017-03-21 16:52] rahul27 commented on #1100
The app works fine for me as well. The crashes happen occasionally on some runs that causes the app to shutdown.

[2017-03-21 16:55] liaxim commented on #1100
Do you want to hold up the 1.5.0 pull request for this or can we look at it separately?

Have you tried master? What's the behavior there?

[2017-03-21 16:58] rahul27 commented on #1100
Don't think it is necessarily an 1.5.0 issue. Haven't tried master as yet. Its just that I have been using this app and 1.5.0 to test the gear controller support.

[2017-03-21 17:09] liaxim commented on #1100
Interesting.. I saw a crash too though not exactly the same. Was throwing the balls as quickly as possible continuously.

[code]

[2017-03-21 17:10] liaxim commented on #1091
https://github.com/Samsung/GearVRf/pull/1092 merged; using 1.30.

What is left is the 64bit support.

[2017-03-21 17:28] liaxim commented on #1100
One crash launch time:
[code]

[2017-03-21 17:37] liaxim commented on #1100
It is all very random though. We might have to get everybody to hammer on this app to make it more robust for the demo.

[2017-03-21 18:01] thomasflynn commented on #800
@Nathipha, ping :)  Do you have a moment to send your code to @NolaDonato ?  thanks.

[2017-03-22 14:31] felislynx-silae commented on #1097
Error example after obfuscating code
[code]

[2017-03-22 14:35] felislynx-silae opened #1104 "Possible bug on 3.1.2-SNAPSHOT"
Ever since i've made update to 3.1.2 (for daydream support), i've random exceptions like this on gear
[code]

[2017-03-22 15:08] liaxim commented on #1097
``org.gearvrf.OvrActivityDelegate`` and ``org.gearvrf.DaydreamActivityDelegate`` should preserve their names. Do you have a proguard rule to ensure that? Do you have a proguard rules files you could share with us? Thanks.

[2017-03-22 17:36] liaxim commented on #1104
@felislynx-silae Do you have any hints on how to reproduce? Does it happen with any of our demo apps? Thanks.

@rahul27 Let me know if you are too busy. I could look into it.

[2017-03-22 17:42] senseearth commented on #1104
@felislynx-silae Hi there. Would be happy to help you with it. To help us reproduce, it would be great to share with us

1. A simplified demo project with source code
2. Steps to have this occur, and frequency, and if you are doing some multithreading as well
3. And other hardware factors such as is it gearvr only or daydream as well, and the particular device you use

Thanks

[2017-03-22 18:08] felislynx-silae commented on #1104
1. I'll have to prepare demo project with sourcecode i could share
2. I'ts on startup of app (sometimes on going back to this scene) where i have 12 sceneobjects with selectable behavior (one on the middle is receiving event.isOver() event even if i'm not looking at it) only multithreading that is happening is retrofit call to our server which is loading data.
3. I didn't checked on daydream since

[2017-03-22 18:16] rahul27 commented on #1104
@liaxim I can take a look at it when @felislynx-silae shares the demo code.

[2017-03-22 21:19] liaxim commented on #1097
Ok, had a look at this. I recommend not obfuscating GVRf. This is a proguard-rules.txt that worked for my test app:

[code]

[2017-03-22 22:33] liaxim opened #1106 "Large graphics memory leak per new Activity"
Regular apps are not affected since the VR apps get killed after undocking. In special circumstances where in the same process many VR activities get created and destroyed, a large graphics memory leak (EGL mtrack) has been observed with the Oculus backend. If a frame is ever submitted to vrapi_SubmitFrame then 12-13MBs of graphics memory are leaked per VR activity instance. May have some link to

[2017-03-22 22:35] liaxim opened #1107 "Publish 64bit artifacts for all modules"
Oculus 1.5.0 provides 64bit binaries. We know the framework builds and runs 64bit too. To my knowledge we need to also provide 64bit binaries for bullet (gvr-physics) and gdx (libgdx integration).

[2017-03-23 00:17] liaxim commented on #800
@Nathipha You can put the two border scene objects in a GVRSwitch. Then have the GVRTextViewSceneObject and the GVRSwitch share the same parent. But if you really wanted to, you can add the GVRSwitch to the GVRTextViewSceneObject and make that work too.

[2017-03-23 08:29] felislynx-silae commented on #1097
@liaxim Yup, those rules are 100% working. I must say few of them were suprise (jnlua, joml, mozilla) :)
Maybe it's worth to put those rules into FAQ section or somewhere visible to others.
Thank you very much for your help

[2017-03-23 14:24] liaxim commented on #1091
https://github.com/Samsung/GearVRf/pull/1105 added the 64bit support

[2017-03-23 14:24] #1091 closed

[2017-03-23 14:30] liaxim commented on #1097
Awesome.

FAQ updated.

[2017-03-23 14:30] #1097 closed

[2017-03-23 15:34] pre2612 opened #1108 "For immersivepedia example can we set a GVRSphereSceneObject instead of plain GVRSceneObject"

[2017-03-23 16:12] liaxim commented on #1108
@pre2612 What is the context? Which scene object exactly do you want changed?

[2017-03-23 17:19] thomasflynn commented on #800
@NolaDonato i'm primarily concerned with whether there is a framework bug in here somewhere.  @Nathipha had a comment earlier saying,

 "If it enters a TextViewSceneObject (with "new GVRMeshCollider(gvrc, false)") from the right, I always have to go further towards the middle of the object to actually have it picked/change color compared to entering it from the left. It doesn't matter where the ob

[2017-03-23 17:27] pre2612 commented on #1108
addSceneObject(createSkybox()); //
addSceneObject(createBlueSkybox()); //

from public class DinosaurScene extends GVRScene

Background want to change it to 360 photo like:

  // get a handle to the scene
        GVRScene scene = gvrContext.getNextMainScene();

        GVRSphereSceneObject sphereObject = null;

        // load texture
        Future<GVRTexture> texture = gvrContext.loadFutureTextu

[2017-03-23 17:35] bohuang3d commented on #1108
@pre2612 I see you are following the gvr-360photo example. Do you mean you can create the sphere geometry except you see just black on it and don't see the texture?

[2017-03-23 19:49] Nathipha commented on #800
@liaxim I was thinking about creating 3 child objects for each of my GVRTextViewSceneObjects/roots, one for the different color for onEnter of my picker, 1 with a border for an enabled option and one without border. The question is now: I have 10 buttons, will creating a single GVRSwitch with 3 child objects for each of them be slower or faster than manually adding/deleting a border object or chan

[2017-03-23 20:24] NolaDonato commented on #800
Without knowing what colliders are being used I cannot tell. I will try to make a sample with sphere colliders to try and reproduce it.

[2017-03-24 03:56] NolaDonato commented on #800
I wrote independent picking tests to verify that on the current master branch it does not trigger onEnter at a different place on the right than on the left. The point where onEnter is triggered is compatible for sphere and mesh colliders. The tests are in PR #74 in GearVRF-Tests.

[2017-03-24 15:24] liaxim commented on #926
@rsisaleh We made the whole thing more user-friendly. Also added a new demo app - gvr-rendertotexture, that shows how to do it.

[2017-03-24 15:24] #926 closed

[2017-03-24 16:49] thomasflynn commented on #940
this can be closed now, right?

[2017-03-24 16:53] liaxim commented on #940
Yes. Fixed.

[2017-03-24 16:53] #940 closed

[2017-03-24 17:15] rahul27 commented on #1104
Hi @felislynx-silae, do you have an update for us?

Also is this something you see with a stock sample as well?

[2017-03-24 17:32] liaxim commented on #800
@Nathipha I think both options would work reasonably well. I'd say get it to work first and if you notice performance issues, we will help out.

[2017-03-24 17:33] felislynx-silae commented on #1104
@rahul27 sorry for the delay. I need to scratch some things from my timetable in work before i can go back to this. I beleive in next week i'll publish sample project on github for you. Again, sorry for delay but you know, deadlines.

[2017-03-24 18:09] rahul27 commented on #1104
@felislynx-silae Sure. No issues :smile:

[2017-03-24 21:18] liaxim commented on #1090
Addressed by https://github.com/Samsung/GearVRf/pull/1101

[2017-03-24 21:18] #1090 closed

[2017-03-27 10:27] sam16222 opened #1111 "Obtaining Transform position using getLookAt"
Hello,
Is there a way to obtain the transform position of the point being looked at via the head tracker?
I was looking into getLookAt but it only gives the vector.

[2017-03-27 17:14] bohuang3d commented on #1111
Hi @sam16222 I think you are asking about getting the geometry/object at the center of the screen?

If so that's a ray casting problem.

[2017-03-27 17:17] liaxim opened #1112 "Screen capturing: column 0 is a copy of the very last column of the image"
Keep in mind that the golden images may require regeneration when this is addressed.

[2017-03-27 17:31] liaxim commented on #800
What we could do is use 3.0.1 to recreate @Nathipha's issue. If we do that we can determine is it fixed and why in master. This is what I will attempt since our release is waiting on this particular issue.

@Nathipha Please open new issues for other problems you encounter.

[2017-03-27 17:32] liaxim commented on #800
So the issue I am referring to is the different picking behavior depending on the direction you enter the TextViewSceneObject.

[2017-03-27 20:49] liaxim commented on #800
@Nathipha Uploading self-contained 3.0.1 app that I believe shows what you are talking about. Please confirm. Just unzip and run "gradlew.bat installDebug".
[app.zip](https://github.com/Samsung/GearVRf/files/873757/app.zip)

[2017-03-27 21:07] NolaDonato commented on #1111
You can call GVRScene.getMainCameraRig().getHeadTransform() to get the camera view matrix. It is updated every frame when your head moves.

[2017-03-27 21:19] liaxim commented on #800
@Nathipha How do you determine a scene object is picked early/late? I assume you have a reticle attached to the camera rig and you judge relative to that? What is the Z of your text scene objects? What is the Z of your reticle scene object?

Modify the app I attached, set the Z of the reticle (tracker) to be the same as the text scene objects and suddenly it is all good. It is a matter of percepti

[2017-03-28 07:01] codeczx opened #1114 "GVRAndroidResource constructor didn't pass the context to its field."
Hi,when i used constructor,
 '''public GVRAndroidResource(GVRContext context, URL url, boolean enableUrlLocalCache) {
        this.stream = null;
        this.enableUrlLocalCache = false;
        this.context = null;
        this.compressedLoader = null;
        this.isCompressedTextureSniffed = false;
        this.enableUrlLocalCache = enableUrlLocalCache;
        this.streamState = GVRAndroidRes

[2017-03-28 07:35] codeczx commented on #1114
I have update the latest gearvrf and still have this problem.

[2017-03-28 15:02] Nathipha commented on #800
@NolaDonato I'm using:

    button.attachComponent(new GVRMeshCollider(gvrc, true));

@liaxim  Okay, it's currently working just fine with actually changing the background and adding/removing the border if necessary but I think I'll just try it with a GVRSwitch anyway, thanks.

Okay, I'll open another issue for the messed up buttons.

Sorry but I can't test it, I changed the JAVA_HOME environment

[2017-03-28 15:25] liaxim commented on #800
You need to ensure the new JDK is on the PATH. Like this ``set PATH=%JAVA_HOME%\bin;%PATH%``. Then try the command.

What I am seeing is the same in 3.0.1 and in a very recent snapshot of 3.1.2.

Please try z of headtracker -2.0. I actually would recommend larger z for all; then scale your scene objects accordingly. Usually helps most people with focusing.

[2017-03-28 16:58] bohuang3d commented on #1114
Hi @codeczx

Something good to know to help diagnose problem,

Is the context and texture you are loading valid?

Is there a complete call stack of the exception? (Assuming there is more due to the ...)

How are you using the method? Is there a complete minimal example you can send me

Also there are some examples of usage if you search for 'new GVRAndroidResource' among the source files in
https:

[2017-03-28 19:59] liaxim commented on #1114
@codeczx Are you passing ``true`` as the value of the ``enableUrlLocalCache`` parameter of the ``GVRAndroidResource`` ctor?

[2017-03-29 01:51] codeczx commented on #1114
@liaxim Yes.

[2017-03-29 15:49] liaxim commented on #1114
@codeczx The fix is in https://github.com/Samsung/GearVRf/pull/1115
It will be included in our 3.2 release which is imminent. For now you should pass false for the ``enableUrlLocalCache`` as a workaround.

[2017-03-29 15:52] liaxim commented on #1111
@sam16222 Do you need more help?

[2017-03-29 15:53] liaxim commented on #1108
@pre2612 is it all good or do you need more help?

[2017-03-29 22:46] rahul27 commented on #1104
@felislynx-silae I tried recreating the issue based on the information you provided but was unable to reproduce the exception. I created a sample with multiple objects/selectable behaviors to test.

I have a few questions that might help me understand the issue better:

1. Does this happen every time you start the app or is it intermittent?
2. Are you only using the gaze cursor in your application

[2017-03-30 02:12] thomasflynn commented on #800
unless someone disagrees, this doesn't appear to be a release blocker.  removing that label.

[2017-03-30 03:14] sam16222 commented on #1111
Hello. We had a holiday here so I wasn't able to try it out. I'll get back by EOD.

[2017-03-30 04:35] felislynx-silae commented on #1104
1. It is intermittent. It happens like few times a day
2. No, it's laser cursor
3. Yes, i'm listening to events that are happening to those scene objects. This screen is a menu so tiles reacts to hover and click events.

I've started on sample app which will recreate bug.

[2017-03-30 08:36] sam16222 commented on #1111
@liaxim I tried using what you suggested, but couldn't quite achieve what I wanted to. Here's what I want to do.
Take a spherical mesh. It is blank all around. I want to point at a position and tap. At that location I should be able to spawn an image or a text box. Can you think of a way to do this? I tried using getHitLocation() but it didn't quite work.

[2017-03-30 16:05] liaxim commented on #1114
Fix merged.

Also updated the shapshot in the maven repo in case you are getting the framework from the maven repo. To get the latest you will need to pass the ``--refresh-dependencies`` to gradle.

[2017-03-30 16:05] #1114 closed

[2017-03-30 17:14] liaxim commented on #1111
@sam16222 It didn't quite work in what way? Thanks.

[2017-03-31 06:26] felislynx-silae commented on #1104
Headsup: https://github.com/felislynx-silae/GearBugSample
[code]

Steps 2 Reproduce :
1. Open app and look into thumbnail
2. If it doesn't crash almost immediately, go to step 1. (it might take a while)

[2017-03-31 09:27] felislynx-silae opened #1117 "Bug in build: dlopen failed: cannot locate symbol "vrapi_GetInputDeviceCapabilities""
About an hour ago, this build was running perfectly. Now it's throwing this error. I'm on 3.1.2-SNAPSHOT.
I've got bunch of updates on SGS6 before it stopped working.
[code]

[2017-03-31 14:28] liaxim commented on #1117
Hi,

Could you unzip your apk, go to ./lib/armeabi-v7a/, run these commands and let us know the output?

---

-  ``file libvrapi.so``

This is what I expect the output to be:
[code]

---

-  ``readelf -s libvrapi.so``

This is what I expect the output to be:
[code]

[2017-03-31 14:46] liaxim commented on #1104
@rahul27 Very likely the problem is originating from the fact this app is installing a new main scene. GVRInputManagerImpl.setScene would get called on the framework thread unlike the usual GVRGazeEventHandlerThread.

[2017-03-31 14:50] felislynx-silae commented on #1117
@liaxim Could you provide commands that are running on Windows? I'll try to revive my ubuntu laptop.

[2017-03-31 14:56] liaxim commented on #1117
If you are ok with it, you could just send the libvrapi.so from your apk. This is a library from the Oculus Mobile SDK. I'd like to find out what version exactly you are using. Should be 1.5.0 but from the sound of the error you get, I don't know what to think.

[2017-03-31 15:05] felislynx-silae commented on #1117
Funny part. It was running perfectly (this project which was created to recreate ConcurentModificationException) in morning because i was testing it on 3 devices. Same as my main project. Around 11pm this happened (as far as i can tell, there were updates on all devices regarding oculus software)
[code]
[code]

[2017-03-31 15:12] liaxim commented on #1117
It is the file from the 1.0.4 sdk. Can you please rebuild your app with gradle and passing the ``--refresh-dependencies`` argument?

```gradlew --refresh-dependencies clean installDebug```

[2017-03-31 15:27] felislynx-silae commented on #1117
@liaxim same result.
Also made "clean project". All files you might want to see are in https://github.com/felislynx-silae/GearBugSample

[2017-03-31 15:49] liaxim commented on #1117
You have ./app/src/main/jniLibs/armeabi-v7a/libvrapi.so in your git repo. Please remove this file. The correct libvrapi.so is included in the oculus backend aar.

[2017-03-31 16:04] felislynx-silae commented on #1117
@liaxim That was it. This part was in my project for 7 months. Good to know that i can delete it. Thank you very much :)

[2017-03-31 16:12] #1117 closed

[2017-04-03 16:52] mwitchwilliams commented on #389
Perhaps the GVRBaseSensor addresses this?
In X3D, I add this Sensor to any object that has a Sensor (Touch Sensor, Anchor, etc) and get an event when Over or tapped on the Object.

[2017-04-04 00:16] mkeblx opened #1125 "GVR multiview support"
I saw that latest GVR (1.40.0) added its support for multiview rendering, via OVR_multiview2 extension like Oculus backend.
https://developers.google.com/vr/android/ndk/gvr-ndk-rendering#optimize_performance_with_multiview

[2017-04-04 00:45] thomasflynn commented on #1125
fwiw, you can enable multiview rendering with GVRf.  but we currently only support our 'Texture Shader' with it.  Rework to support other kinds of shaders, including custom shaders, is part of the rework that is being done for Vulkan support.

[2017-04-04 01:17] roshanch commented on #1125
@thomasflynn multiview support is not limited to texture_shader, custom shaders also have that support.

[2017-04-04 01:53] thomasflynn commented on #1125
well then, i stand pleasantly corrected :).  So, then you just need to enable it in the gvr.xml file and you should be good to go.

[2017-04-04 06:22] sam16222 commented on #1111
It's just not giving me the exact position. As explained in the situation above, can you tell me a way to do it? I just want to look at a location, tap and then spawn a text box at the location, with the appropriate rotation values.

[2017-04-04 08:17] felislynx-silae commented on #1104
By the way. Today i've discovered new type of error (it wasn't present before today). I've checked on other phones where i had build made before today and bug was not present (no code changes made to project)
[code]
S2R:
- Build project
- click (volume buttons, touch screen or on headset) somewhere on scene (for example below all thumbnails)

[2017-04-04 14:31] rahul27 commented on #1104
@felislynx-silae Yes. I saw the issue while trying your app. I should have a fix out for you soon.

[2017-04-04 16:07] liaxim commented on #1100
@rahul27 Do you have a branch we can test?

[2017-04-04 16:14] liaxim commented on #1125
While multiview support is in the framework and in the Oculus backend (though infrequently tested but that is a different problem) there is some work to be done in the Daydream backend. Plus the daydream backend needs to check the flag from gvr.xml. The parsing of gvr.xml is not centralized but that is yet another different problem.

[2017-04-04 16:43] rahul27 commented on #1100
Think @NolaDonato is already looking at this. In any case here is the branch:

https://github.com/rahul27/GearVRf-Demos/tree/modified-physics

[2017-04-04 16:48] liaxim commented on #1100
Are you seeing the crashes with the controller or they happen with the trackpad too?

[2017-04-04 16:49] rahul27 commented on #1100
I've only tried with the controller. Not sure about the trackpad.

[2017-04-04 16:54] thomasflynn commented on #1100
@NolaDonato was saying last night that it seemed like it had something to do with shadows.  If she disabled shadows, everything worked fine.  but, it could be that it just changed the timing so it was less likely to occur.

[2017-04-04 17:43] liaxim commented on #1100
I guess a workaround for the demo would be to put MainScript.onSwipe on the GL thread (currently on the main android thread); based on my experience with crashes related to fast swiping.

[2017-04-04 17:49] liaxim commented on #1100
@rahul27 's version requires a controller a presume. If we have spare ones we can test it but for now only the one from master can be tested.

[2017-04-04 18:01] liaxim commented on #1100
I can consistently get the crash in NativePhysics3DWorld.step by launching 10 balls on a swipe; each as a separate task submitted to the thread pool. Diff attached.
[diff.txt](https://github.com/Samsung/GearVRf/files/894042/diff.txt)

@rahul27 's crashes though are something else.

[2017-04-04 19:37] NolaDonato commented on #1100
The crash on startup in Light::render is definitely due to shadows. I cannot reproduce it without shadows and I have a potential fix. I will try the 10 balls version without shadows and see what happens.

[2017-04-04 21:13] rahul27 commented on #1104
@felislynx-silae I've added a fix to the framework :

https://github.com/Samsung/GearVRf/pull/1128

I've also updated your sample to include the newly compiled framework libraries with the fix. You can find it here:

https://github.com/felislynx-silae/GearBugSample/pull/1

Could you try it an let me know if it fixes your issue.

[2017-04-05 08:01] felislynx-silae commented on #1104
As far as i can tell, it's fixed both crashes. I've tried to reproduce this bug for over hour on 2 phones. If anything happens on them until end of day, i'll let you know

[2017-04-06 14:15] liaxim commented on #1104
Fixed in 3.2

[2017-04-06 14:15] #1104 closed

[2017-04-07 09:22] codeczx opened #1134 "Can i set YUV data into GVRSceneObject？"
Hi, i want to set YUV data which type is ByteBuffer into GVRSceneObject. Is there anyway to achieve it?

[2017-04-07 13:32] hrmsa opened #1135 "Dji sdk"
Hello..
I want to build an vr application and to use dji sdk
Can i build this application using the gear vr framwork and the dji sdk?

[2017-04-07 17:24] bohuang3d commented on #1135
Hi @hrmsa

DJI has an Android sdk and GearVRF is Android. So in theory yes

In practice it depends on what you hope to achieve with GearVR. Let me know what you have in mind and I can help further

[2017-04-07 17:28] bohuang3d commented on #1134
Hi @codeczx

YUV as in luminance and red/green values? Do you mean you are loading an image in some non-standard format and want it in GearVRF as a 2d texture?

[2017-04-07 17:57] hrmsa commented on #1135
i want to build an fpv and gimbal control app the gimbal will move according to the head movement

[2017-04-07 18:20] bohuang3d commented on #1135
What is fpv? First person view?

Do you mean you want to use the head orientation reported by GearVR and to control the drone? I.e., send the orientation from GearVR to DJI sdk?

Keep in mind GearVR can only reports back head rotation, not head position.

[2017-04-07 19:19] hrmsa commented on #1135
yes it is First person view..
The drone will send the video feed and i want to make it a vr video using the gearVRF...
and about the head orientation, what about using the phone sensors ( I am using the Samsung s7 edge)

[2017-04-07 21:50] bohuang3d commented on #1135
You can start with:
https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-360video

It handles head orientation. You don't need to query the phone's sensors.

The rest is to hook up features you wish to use from DJI sdk

[2017-04-08 11:46] hrmsa commented on #1135
thank you very much for your helping..
 another question.. if I use this class (GVRTexture) the texture will be in vr mode is that right??

[2017-04-08 20:17] bohuang3d commented on #1135
'vr mode' in this context I take it you mean 360 video/photo.

Any GVRTexture would be texturemapped to a GVRSphereObject. And if the virtual camera Is set up to be at the center of the sphere, you would see the texture in a spherical 360 photo fashion, provided it's in the right format and coordinate mapping

[2017-04-09 18:03] hrmsa commented on #1135
the video feed from the dji is in surfacetexture and i want to convert this to a "side by side" view so i can see it from the gear vr... in this case can i use the GVRViewSceneObject class to pass the surfacetexture

[2017-04-10 01:49] codeczx commented on #1134
Yes.

[2017-04-10 17:11] liaxim opened #1138 "GL_OVR_multiview2 support has regressed"
Not talking about apps with custom shaders. Even simple things like gvr_nonglthreadupdate do not work. Usually this is the error:

[code]

If we are not going to improve the support or at least enable it for all apps that should work with it, then we would be better off removing the associated code to reduce complexity.

[2017-04-10 17:15] liaxim commented on #1138
gvr-nonglthreadupdate maybe is having problems due to the use of the GVRConsole. In any case, there is a need to communicate the actual problem better. Like if the multiview is enabled and we encounter any custom shader, just abort the app with a clear error in the log.

[2017-04-10 18:33] bohuang3d commented on #1135
GVRVideoSceneObject uses either Android's default MediaPlayer or the open source ExoPlayer. See makeMediaPlayer(), makeExoPlayer(), respectively in Minimal360VideoActivity.java in the sample I linked on loading a .mp4 file from disk.

You probably want to look into the latter, as

https://developer.android.com/guide/topics/media/exoplayer.html

and see if it supports surfacetexture.

"Side by side

[2017-04-10 18:43] bohuang3d commented on #1134
https://developer.android.com/reference/android/renderscript/ScriptIntrinsicYuvToRGB.html

Can you use this? Convert to rgb and give it to GVRSceneObject

[2017-04-10 18:58] bohuang3d commented on #1111
@sam16222
Let me know if the following is of use:

If you follow the example
https://github.com/gearvrf/GearVRf-Demos/blob/master/gvr-eyepicking/

You can modify the PickHandler's onInside() function and query the collision position:

public class PickHandler implements IPickEvents
    {
        public void onEnter(GVRSceneObject sceneObj, GVRPicker.GVRPickedObject pickInfo)
        {
        }

[2017-04-10 19:09] liaxim opened #1139 "S8: libgdx plugin problem with gvr-modelviewer2&gvr-widgetviewer"
The app just freezes at the logo or even prior to that. Almost certainly it is down to the widget plugin extension. Works on Note 5. The plugin has some dodgy mechanics that can be highly sensitive to timing.

Doesn't work with Oculus and Daydream.

[2017-04-10 19:36] liaxim commented on #1139
Unsurprisingly gvr-widgetviewer doesn't work either. I assume we will want this fixed for the release and will be looking into it.

[2017-04-10 20:40] roshanch commented on #1138
Let me look into it.

[2017-04-11 01:08] roshanch commented on #1138
GVRConsol is using posteffect and hud_consol shader which are not modified for multiview support. We need to include #defines for posteffect shaders to work with multiview.

[2017-04-11 01:39] thomasflynn commented on #1138
ok, so, you're fixing that @roshanch?

[2017-04-11 09:29] codeczx commented on #1134
Do you mean YUV convert to rgb and then convert to bitmap so that i can draw it in canvas? It's too slow.Is there anyway i can use shader which can take advantage of GPU to load YUV data?

[2017-04-11 17:07] roshanch commented on #1138
yes, I am working on it.

[2017-04-11 22:59] rahul27 opened #1144 "GVRf build fails with 'com.android.tools.build:gradle:2.3.1'"
Updating the build tools from 2.2.3 to 2.3.1 breaks the build.

[2017-04-12 14:01] liaxim commented on #1144
Should we make the change for 3.2? I was thinking we can wait until 2.4 is released which seems pretty close (AS 2.4 is at preview 5).

[2017-04-12 14:25] liaxim commented on #1134
Using RenderScript is a high performance option; not saying the only one but it is one. We actually have a sample that does exactly that in our https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-camera2renderscript sample.

[2017-04-12 14:37] liaxim commented on #1139
Still working on it. Had trouble deciphering which thread needs to wait on what. Clearly something is deadlocking.

[2017-04-12 16:33] rahul27 commented on #1144
Android Studio prompts you to bump the build tools version when you open the framework project and most users are more likely to hit yes rather than no.

I added this to 3.2 because I thought the fix would be trivial i.e. changing the path to libgvrf.so from the exploded-aar folder to the relative path inside the framework folder. I could make the change if you like.

If you think the fix would ne

[2017-04-12 16:50] liaxim commented on #1144
We can try it and see how our build machines likes it. Your call.

There is also NDK v15 which I don't think worked out of the box. We might have to batch up updates to ndks, gradle plugins and the like since there are so many. Even maybe skip a step or two to keep our sanity.

[2017-04-12 18:18] senseearth commented on #1134
@codeczx

It sounds like your application is in real time rather than just loading Yuv once. Perhaps streaming video in Yuv and need real time conversion to rgb? Does liaxim's solution work for you?

And yes, as long as you can feed the raw Yuv pixel data into GVRF, then you can author a shader that converts Yuv pixels to RGB via a 3x3 matrix transform:
http://www.equasys.de/colorconversion.html

[2017-04-12 18:21] bohuang3d commented on #1134
@codeczx

It sounds like your application is in real time rather than just loading Yuv once. Perhaps streaming video in Yuv and need real time conversion to rgb? Does liaxim's solution work for you?

And yes, as long as you can feed the raw Yuv pixel data into GVRF, then you can author a shader that converts Yuv pixels to RGB via a 3x3 matrix transform:
http://www.equasys.de/colorconversion.html

[2017-04-12 19:58] liaxim commented on #1139
After getting the widget plugin working there is this exception in gvr-modelviewer2:

[code]

Will look at it after I am done with the deadlock.

[2017-04-13 20:32] rahul27 commented on #1144
Fixed here https://github.com/Samsung/GearVRf/pull/1148.

Taking this issue off the 3.2 release. Will merge later.

[2017-04-13 21:31] thomasflynn commented on #1139
#1146 was merged, can this be closed?

[2017-04-13 21:39] liaxim commented on #1139
Merged the NPE fix for gvr-modelviewer2.

[2017-04-13 21:39] #1139 closed

[2017-04-17 14:45] #1138 closed

[2017-04-18 15:13] JoshaMunnik opened #1149 "Short back button presses can no longer be used."
I can no longer add functionality for short back button presses.

With 3.0.1 I was using the following code:

    @Override
    public boolean onKeyUp(int aKeyCode, KeyEvent anEvent) {
      Log.d(TAG, "onKeyUp: " + aKeyCode);
      if (((anEvent.getFlags() & KeyEvent.FLAG_CANCELED_LONG_PRESS) == 0) && !this.m_paused) {
        if (aKeyCode == KeyEvent.KEYCODE_BACK) {
          // handle short bac

[2017-04-18 18:19] liaxim commented on #1149
Hi. We added a method for back key handling. Please see GVRMain.onBackPress. It lets you either handle the back key in your app or delegate it to us which means we will bring up the Oculus UI. Does this work for you?

[2017-04-19 07:10] JoshaMunnik commented on #1149
I did not check GVRMain :) But I found the method and it is working.

For others reading this topic: this method is available in 3.2 (I got error in Android Studio when using v3.1.1 of the SDK).

[2017-04-19 07:10] #1149 closed

[2017-04-19 07:19] JoshaMunnik opened #1154 "File not found error when building with 3.2 dependencies"
I updated my gradle files as mentioned with the 3.2 release. Everything synced and build ok within Android Studio. However upon running the application I got the following error (I added some linebreaks for readability):

    java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[
     DexPathList[
       [
         zip file "/data/app/com.ultraforce.gearvr.bam-1/base.apk",
         zip fil

[2017-04-19 07:19] JoshaMunnik commented on #1154
Forgot to mention, I'm testing with an Samsung S7.

[2017-04-19 08:48] felislynx-silae opened #1155 "Antialiasing on Views inside GVRSceneObject"
If i use approach from GVRTextViewSceneObject to "draw" my view which is drawing on canvas for example ring with text inside.
There is absolutely no antialiasing. Flags on paint object have no effect at all Paint(Paint.ANTI_ALIAS_FLAG); or setAntiAlias(true); or even setFilterBitmap(true);.
So main question is this an issue with rendering/implementation which can be fixed or should i discontinue a

[2017-04-19 13:31] felislynx-silae opened #1156 "3.2 Daydream controller support"
Since 3.2 is released could you explain how Daydream controller is supported (i couldn't find any reference to this topic)? As far as i know, to release app to daydream we need not only controller to work but also have whole controller model in scene (like in unity/unreal apps).

[2017-04-19 14:33] liaxim commented on #1154
Hi,

This is probably because of the 64bit binaries Daydream has. Please use this gradle file as reference how to add GVRf support to your project: https://github.com/gearvrf/GearVRf-Demos/blob/release_v3.2/template/GVRFApplication/app/build.gradle.

Note the packagingOptions.

[2017-04-19 14:45] liaxim commented on #1155
It is kind of known problem we have not found a solution for. Let me have a look again but I don't expect much..

In the meantime, if the approach GVRConsole is using works for you (https://github.com/Samsung/GearVRf/blob/master/GVRf/Framework/framework/src/main/java/org/gearvrf/debug/GVRConsole.java) then you can try that. I know anti aliasing is on there - you can examine the overlay text shown

[2017-04-19 14:58] felislynx-silae commented on #1155
@liaxim I'll give "gvrconsole" a try. To be honest previous approach was much more AndroidDev friendly to create customized experience with UI (like menus). I think it would be nice feature for those who choose GearVRf instead of Unity/Unreal ;). I'll Let you know about progress with converting GVRConsole to UI elements (i'll work on sample app which we used to detect bug before)

[2017-04-19 15:02] liaxim commented on #1155
How do you find the https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-renderableview sample? Is there a lot of aliasing for you? The console is just an option; we will try to figure out something for the views.

[2017-04-19 15:37] liaxim commented on #1155
I actually think antialiasing is always on. Tried few different Android versions and phones. It might be useful if you could share an example app with us. Screenshots would be helpful too. Thanks.

We are aware of some problems with text not being legible but preferably we should look at your specific case.

[2017-04-19 15:56] felislynx-silae commented on #1155
@liaxim https://github.com/felislynx-silae/GearBugSample/tree/develop <-- here you have sample view with AA issues. I've checked GVRConsole but it won't help in this case. GVR-Renderableview sample was something that i've tried before current approach but it's difficult to set every view to be less cubic more 2D (you will see what i mean in sample)

[2017-04-19 17:56] thomasflynn commented on #1155
It is possible that the Android View is rendered to a larger canvas than what will ultimately be texture-mapped on the screen.  For example, if the View was rendered to a 2560x1440 canvas, but in VR, we texture map to a quad that ends up only covering a 700x400 pixel area, you'll get aliasing.  The normal solution to this with texture maps is to use mipmapping.  However, the Views are texture-mapp

[2017-04-19 21:02] liaxim commented on #1155
@felislynx-silae Specifically for your app, the logo-promo-big.png image is of a too high resolution (4096x2304). Scale it to 512x288 for example and you will see significant improvement. Since you are using an external texture for this scene object, as @thomasflynn explained above, you will have to choose a resolution appropriate for the pixel area on the screen manually. Or resort to the alterna

[2017-04-19 21:04] liaxim commented on #1069
@Nathipha Not sure where we are at with this issue. Planning to close this one soon. Please open a new, more specific one, if you still experience issues. Thanks.

[2017-04-20 00:52] rahul27 commented on #1156
@felislynx-silae Here is a GearVRf daydream sample that makes use of the daydream controller:

https://github.com/rahul27/GearVRf-Demos/tree/daydream-sample/gvr-daydream

As for the controller model, you will find it here:

https://github.com/googlevr/gvr-android-sdk/tree/master/assets/controller

[2017-04-20 04:50] felislynx-silae commented on #1155
@liaxim i had in mind this red button below thumbnails (you have to build from develop, not master) :)

[2017-04-20 06:02] sam16222 opened #1157 "Manipulating cameraRig to rotate by specified degrees"
Hello. I want to disable the camera rigs dependency on the sensor data and make the movement manual. That is I want to manually rotate the camera and make it point to a specific location. Example I want to rotate the camera 45 degrees every 5 seconds.

[2017-04-20 09:11] felislynx-silae commented on #1156
@rahul27 UX-C1 [REQ](https://developers.google.com/vr/distribute/daydream/design-requirements) is not satisfied by demo. So i assume that it's up to developers to create substitute to Unreal/Unity asset (with all behaviours)?

[2017-04-20 11:38] niusounds commented on #1156
I created a sample project for Daydream controller. It renders controller model in scene with applying arm model.
https://github.com/ejeinc/GearVRf_DaydreamController

[2017-04-20 12:12] niusounds opened #1158 "How to render blurred overlay object?"
I would like to create an overlay dialog which has transparent background with blurring like this:
![](https://d2ujflorbtfzji.cloudfront.net/package-screenshot/26b8f251-16f3-4ee3-b257-15eb0e1020d6_scaled.jpg)
https://www.assetstore.unity3d.com/jp/#!/content/42388

Does anyone have codes or tutorials for this?

[2017-04-20 16:30] liaxim commented on #1155
Take a look at https://www.facebook.com/permalink.php?story_fbid=1818885715012604&id=100006735798590 and specifically the reference to power lines. In short, avoid long thin lines. High contrast doesn't help.

Having said that, in your case you could add some extra blur with the help of the BlurMaskFilter. Attaching the diff: [diff.txt](https://github.com/Samsung/GearVRf/files/944524/diff.txt). Th

[2017-04-20 16:34] liaxim commented on #1157
1."freeze" the camera rig by using ``GVRCameraRig.setCameraRigType(GVRCameraRigType.Freeze.ID)``
2. get the head transform of the camera rig via ``GVRCameraRig.getHeadTransform()``
3. apply the rotation you want to the transfrom from 2.

[2017-04-20 18:03] #1069 closed

[2017-04-20 18:05] liaxim commented on #1060
@konidk Sounds like it is all good. Planning to close the issue if we don't hear from you.

[2017-04-20 18:05] bohuang3d commented on #1158
@niusounds

There is a blur sample to get started with
https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-blurfilter

[2017-04-20 18:18] liaxim commented on #1077
@mvasilkov Nola added support. She even added a test case for it; see https://github.com/gearvrf/GearVRf-Tests/pull/67. Assuming it is all good if we don't hear from you.

[2017-04-21 04:44] niusounds commented on #1158
Thank you for response.

But how to get color information which come from behind of object? In above example image, transparent plane's texture will be updated when background objects are changed or camera rig is moved.

[2017-04-21 05:31] sam16222 commented on #1157
After getting the transform, I am trying to rotate using rotateByAxis(45,0,1,0) but it's not rotating. Is there something missing here? Also The camera did get frozen but there's a small stutter as the phone moves. I am using the phone in developer mode so that might be issue, but I still can't get the rig to rotate.

[2017-04-21 09:41] bohuang3d commented on #1158
@niusounds

You can use the render to texture feature with classes GVRRenderTexture, GVRRenderTarget.

For example, in
https://github.com/gearvrf/GearVRf-Demos/blob/master/gvr-blurfilter/app/src/main/java/org/gearvrf/blurfilter/TestMain.java
createBlurScene()
createBlurTexture()

Except you render the scene to a render texture without blurring. Then as you draw the quad in front, the shader of thi

[2017-04-21 11:49] guiyens opened #1162 "Monoscopic mode not working (backend daydream)"
I set  monoFullScreen and monoMode to true on gvr.xml but it doesn't work.

<mono-mode-parms
            monoFullScreen="true"
            monoMode="true" />

[2017-04-21 14:02] liaxim commented on #1162
Unfortunately we do not support that mode with the Daydream backend yet.

[2017-04-21 16:17] liaxim commented on #1157
For the stutter there is the https://github.com/Samsung/GearVRf/pull/1164 pull request.

[2017-04-21 16:21] liaxim commented on #1157
My bad about 2. Use ``GVRCameraRig.getTransform()`` and apply the rotation to this transform. The FREEZE case is special so headTransform modifications are ignored.

[2017-04-21 16:52] rahul27 commented on #1156
@niusounds Thanks for that.

I just tried your sample and the GvrArmModel works great.

[2017-04-21 21:35] #1144 closed

[2017-04-21 22:34] NolaDonato opened #1166 "x3dSpotLight4 gives different results every time"
Loading and viewing this asset https://raw.githubusercontent.com/gearvrf/GearVRf-Tests/master/x3d/lighting/spotlighttest4.x3d produces non-deterministic results. This asset contains 20 spot lights. On the S7 Edge GearVRF supports 16 spot lights so it has to toss four of them. It appears to toss different ones each time the model loads.

The test to reproduce this issue is in GearVRF-Tests/asset-te

[2017-04-21 22:37] NolaDonato opened #1167 "Feature request: X3D should collect animations into GVRAnimator"
When loading models with Jassimp, the animations are collected in a GVRAnimator component attached to the root of the model. This allows the user to start or stop all the animations in that model with a single call. It allows the unit tests to stop animations so the screenshots will produce the same results every time.

X3D should also create a GVRAnimator component which contains the animations t

[2017-04-24 06:17] sam16222 commented on #1157
Okay so the transform issue is resolved. When will the latest code be merged with the main branch in order to resolve the freeze issue?

[2017-04-24 07:05] niusounds commented on #1158
@bohuang3d

I will try it. Thank you!

[2017-04-24 07:05] #1158 closed

[2017-04-24 08:06] hehawjq opened #1168 "Can I set byteBuffer into GVRSceneObject?"
Hey! How can i set byteBuffer into GVRSceneObject?

[2017-04-24 08:10] hehawjq commented on #1134
@bohuang3d
liaxim's solution is not work for me,how can i feed the raw yuv pixel data with byteBuffer into GVRF?

[2017-04-24 09:59] sam16222 commented on #1157
Okay Thank you. I have manually built the framework after making the changes.

[2017-04-24 09:59] #1157 closed

[2017-04-24 13:18] felislynx-silae commented on #1156
@niusounds it's awesome work! Under which licence will you publish your code?

[2017-04-24 17:31] mwitchwilliams commented on #1167
Made the change, and several regression tests - works fine.  For verification, calling GVRAnimator.start(), not GVRAnimator.autoStart().

[2017-04-24 21:41] liaxim commented on #1155
@felislynx-silae Was this of any help?

[2017-04-24 23:19] TimecodePete opened #1171 "Could not find method assembleDebug() on project ':platformsdk_support'"
I have been getting the following error when attempting to build the platformsdk_support library.
[code]
I've been following the instructions described here: [https://github.com/Samsung/GearVRf/wiki/Entitlement-Check-using-GVRF](https://github.com/Samsung/GearVRf/wiki/Entitlement-Check-using-GVRF)

I'm running Windows 10 Enterprise Edition.
OVR Platform SDK 1.8.0

I have been able to build the lib

[2017-04-25 02:46] niusounds commented on #1156
@felislynx-silae I would like to treat my code as same as a [GearVRf-Demos](https://github.com/gearvrf/GearVRf-Demos).

[2017-04-25 03:02] bohuang3d commented on #1168
@hehawjq Can you tell me what you are trying t do. What is in the ByteBuffer

[2017-04-25 03:07] bohuang3d commented on #1135
@hrmsa Please let me know additional help you need. Will close the issue

[2017-04-25 03:36] bohuang3d commented on #1134
@hehawjq

I see there is a texture constructor that takes in a Bitmap
GVRBitmapTexture(GVRContext gvrContext, android.graphics.Bitmap bitmap)
from
http://docs.gearvrf.org/v3.2/Framework/org/gearvrf/GVRBitmapTexture.html

Could you be willing to convert your ByteBuffer to an Android Bitmap each frame, then create GVRBitmapTexture, and assign it to GVRMaterial and use the material on your GVRMesh?

[2017-04-25 03:43] hehawjq commented on #1168
byteBuffer is video yuv data,i decode video each frame by myself and want to take byteBuffer to render in GVR.

[2017-04-25 04:34] felislynx-silae commented on #1155
@liaxim i'm working on it while i can (i'm on vacations) :) I'll go back to you with proper response ASAP

[2017-04-25 15:31] liaxim commented on #1171
I have a change that fixes the build. Let us know if you experience any problems with the entitlement check. The code is straightforward but setting up everything so the check works can be finicky.

[2017-04-25 18:17] liaxim commented on #1154
@JoshaMunnik Let us know if you still have problems. Closing this for now.

[2017-04-25 18:17] #1154 closed

[2017-04-25 18:18] liaxim commented on #1108
@pre2612 Let us know if you still have problems. Closing this for now.

[2017-04-25 18:18] #1108 closed

[2017-04-25 20:03] TimecodePete commented on #1171
@liaxim Thanks for the fix :)
I have tested it on my end and the build seems to have run successfully!

As far as I can tell, the entitlement is working. I have successfully uploaded the app to the Alpha channel on the Oculus Store and it's not crashing when I install it on devices... I'm hoping that means it's working.

That said on the devices for which I have create osig files, when running a d

[2017-04-25 20:26] liaxim commented on #1171
We had pretty long threads about the entitlement check in the past. This is exactly where everybody gets stuck. See https://github.com/Samsung/GearVRf/pull/818 and https://github.com/Samsung/GearVRf/issues/808.

Can you please try first going to the Oculus home and launching the app from there with developer mode off?

[2017-04-25 20:30] liaxim commented on #1171
We tried to capture the process in the wiki: https://github.com/Samsung/GearVRf/wiki/Entitlement-Check-using-GVRF

Excerpts from the threads that are most likely important:

- So I re-did the whole thing. Even though my new submission checked out according to the validator I was getting -1 too. This is how I got it to work. Run the phone not in developer mode, dock, make sure you get to the Oculus

[2017-04-25 21:14] TimecodePete commented on #1171
Thanks for the information!

Messed around with it for a bit, uninstalling then reinstalling then running from the Oculus Store and finally in developper mode 2-3 times. 4th time was the charm, now I can build and run in debug mode and I get a success on the entitlement check.

Thanks a lot for your help! Let me know if you still want the logcat output, I have it saved locally.

[2017-04-25 21:36] liaxim commented on #1171
Sure, going through the logs can never hurt. Thanks.

[2017-04-25 21:38] TimecodePete commented on #1171
Here it is :)

[logcat04252017.txt](https://github.com/Samsung/GearVRf/files/956648/logcat04252017.txt)

[2017-04-25 22:38] #1171 closed

[2017-04-26 00:01] thomasflynn commented on #1171
Hi @TimecodePete.  Could you email me at tom.flynn@samsung.com?  I have a few questions for you.

[2017-04-26 17:49] liaxim commented on #1134
@codeczx It is all hacked up but https://github.com/liaxim/GearVRf-Demos/tree/yuv/VRHackathons/gvr-pokemon shows how to do it for the camera preview frames.

Later I will move some things to the framework and will clean up the sample.

[2017-04-27 17:54] #1060 closed

[2017-04-27 19:16] NolaDonato commented on #1167
The X3D exporter does not need to call GVRAnimator.start(). The asset loader will call this for you if you set the "autostart' option on GVRAnimator. You can do this by passing true as the second parameter to the GVRAnimator constructor.

In the future I will add support for auto-starting animations through the asset loader import settings. Then you will be able to control whether animations start

[2017-04-28 23:02] #1135 closed

[2017-05-01 18:32] mwitchwilliams commented on #1167
OK, now constructing GVRAnimator(gvrContext, true); with the true parameter and gvrAnimator.autoStart(); instead of gvrAnimator.start(), and everything works fine with a variety of tests including Level-of-detail demo's.

[2017-05-01 18:40] bohuang3d commented on #1168
@hehawjq this was answered to you in https://github.com/Samsung/GearVRf/issues/1134

Let me know if need further help or will close. Thanks

[2017-05-02 03:30] hehawjq commented on #1168
@bohuang3d Thanks. It works for me.

[2017-05-02 03:30] #1168 closed

[2017-05-02 03:34] hehawjq commented on #1134
@bohuang3d  How to use the material on my GVRMesh?

[2017-05-02 03:35] hehawjq commented on #1134
@liaxim Thanks. It works for me.

[2017-05-02 17:03] bohuang3d commented on #1134
@hehawjq could be something like:
[code]

[2017-05-02 20:33] liaxim commented on #1073
@Akadone Assuming it is all good. Let us know if you are still experiencing problems.

[2017-05-02 20:33] #1073 closed

[2017-05-02 21:20] bohuang3d commented on #1111
@sam16222

[2017-05-02 21:20] #1111 closed

[2017-05-03 02:07] hehawjq commented on #1134
@bohuang3d ok,thanks.

[2017-05-03 14:13] liaxim commented on #1134
Pull request https://github.com/Samsung/GearVRf/pull/1174 merged. Please see the javadoc of the YuvNv21ToRgbShader class on how to use it. Let us know if you have any other questions.

[2017-05-03 14:13] #1134 closed

[2017-05-03 14:17] liaxim commented on #1007
https://github.com/gearvrf/GearVRf-Demos/pull/446 removed the buildGvrfAndDemos option. Now this all happens automatically.

[2017-05-03 22:02] NolaDonato opened #1181 "Stencil test fails"
The stencil buffer test in GearVRF-Tests/framework-tests/StencilTests fails the screen shot comparison. The issue appears to be that, although the visual display honors the stencil buffer, the screen capture code appears not to.  Did this test ever work? If not then I think stencil support needs to be added to screen capture.

[2017-05-03 22:27] liaxim commented on #1181
Yes, the test used to work. Will look into it.

[2017-05-04 03:33] NolaDonato opened #1182 "Asset loader won't load textures from MTL in resource directory"
If you load an OBJ file with an associated MTL file which references textures, this works great if the model, textures and MTL file are in the assets directory. A call like this works OK:

assetLoader.loadModel("gvrf_ship_mesh.obj", GVRImportSettings.getRecommendedSettings(), false, scene);

But if you try to load the files from res/raw as resources instead, the textures are not loaded. It finds t

[2017-05-04 03:56] #1182 closed

[2017-05-04 03:59] NolaDonato opened #1183 "Asset Loader doesn't like underscores in names of MTL files"
The asset loader refuses to load the textures from an OBJ file if the corresponding MTL file name has an underscore in it. It will get an exception when loading the file. The asset loader gets as far as successfully opening the file internally but assimp doesn't try to load any of the textures. Changing file names from "gvr_space_mesh.mtl" to "space.mtl" fixed the asset loading problem so there is

[2017-05-04 06:19] hehawjq opened #1185 "GVRScene Display Problem"
When running appear permissions box，after click confirm button，the scene become like this.

[2017-05-04 06:23] hehawjq commented on #1185
![screenshot_1](https://cloud.githubusercontent.com/assets/3711898/25692427/05eea144-30d5-11e7-9279-ab20430e5898.png)
![screenshot_2](https://cloud.githubusercontent.com/assets/3711898/25692431/0f86e310-30d5-11e7-9d4e-5fce3d62cc08.png)

[2017-05-04 15:08] #1077 closed

[2017-05-04 18:48] bohuang3d commented on #1185
@hehawjq can you try:

Press the phone's menu button to bring up the slide deck view of running applications

swipe/navigate to your application and go back into it

And let me know what happens

[2017-05-04 22:46] liaxim commented on #1185
@hehawjq Could you please share with us your phone model and Android version? Thanks.

[2017-05-05 01:48] hehawjq commented on #1185
@liaxim Sumsung S6 and S7，Android6.0.1

[2017-05-05 01:54] hehawjq commented on #1185
@bohuang3d I try it.it doesn't have display problem.

[2017-05-05 20:18] bohuang3d commented on #1185
@hehawjq does that mean it's a workaround you can use?

@liaxim it's likely not related to GVRF. I've seen it before with Unity developed application

[2017-05-05 21:54] liaxim commented on #1106
From the looks of it fixed by https://github.com/Samsung/GearVRf/pull/1186

[2017-05-05 22:05] liaxim commented on #1185
There has been a similar problem for some time but only apparent on certain phones if you use the GearVR service developer mode. Thus hasn't been a priority. While I can't tell for sure whether the cause is the same, I attempted a fix in https://github.com/Samsung/GearVRf/pull/1186. This does fix the problem I knew about.

@hehawjq Are you using the GearVR service developer mode? If yes, are you e

[2017-05-09 03:08] niusounds opened #1189 "Play DRM protected in GearVRf"
I'm developing a video player that supports Widevine protected contents. ExoPlayer supports Widevine and GearVRf has video player example using ExoPlayer. I expected it would be easy to create it.

But it was not. Widevine L1 DRM contents are not shown in OpenGL because it requires secure output path. [Google VR SDK's sample](https://github.com/googlevr/gvr-android-sdk/tree/master/samples/sdk-vide

[2017-05-09 04:28] jpsmith1981 commented on #1030
@liaxim Hello~

This maybe a stupid question but in your bootstrap application you provided where do I download the gearvr aar files too and which ones do I download.

Thank you.

[2017-05-09 14:06] liaxim commented on #1030
Hi @jpsmith1981. Please take a look at the dependencies section of https://github.com/gearvrf/GearVRf-Demos/blob/master/template/GVRFApplication/app/build.gradle. You will need these for the core framework with support for either the Oculus or Daydream backends. Gradle will take care of downloading the aar files.

[2017-05-09 15:05] liaxim commented on #1189
Hi, this is something we will look at but I cannot give you a timeframe. It requires changes in how we interface with the Oculus Mobile SDK in addition to the proper use of the GL_EXT_protected extensions (all we do is tag the context at the moment if the useProtectedFramebuffer flag is set to true).

In case somebody is wondering about the Oculus SDK part this is for reference:
[code]

[2017-05-09 15:46] mwitchwilliams opened #1190 "GVRExternalScene problems loading new scene"
GVRExtenalScene is not removing the previous scene despite setting the replace parameter to true, and it is crashing if I don't attach it to the root.

Below is the code being used when I receive an X3D command in the &lt;Anchor&gt; tag to go to a new X3D page.

_GVRExternalScene gvrExternalScene = new GVRExternalScene(gvrContext, url, true);
root.attachComponent( gvrExternalScene );_

If I attach

[2017-05-09 19:21] NolaDonato commented on #1190
I will work on it with you this afternoon.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Mitch Williams <notifications@github.com>
Date: 5/9/17 8:46 AM (GMT-08:00)
To: Samsung/GearVRf <GearVRf@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Samsung/GearVRf] GVRExternalScene problems loading new scene (#1190)

GVRExtenalScene

[2017-05-12 19:05] brian-faber opened #1194 "OvrVrapiActivityHandler: onBack disabled if home button is present"
Hi,
Why is onBack disabled with the presence of a home button on a GearVR headset? I am wondering because this is against the oculus requirements.

https://developer3.oculus.com/documentation/publish/latest/concepts/publish-mobile-req/
"Meets all reserved interaction requirements:
* Pressing and releasing the Gear VR or Gear VR Controller back button for less than 0.75 seconds must back out one le

[2017-05-13 18:26] lxc-xx opened #1195 "Programmatically Detecting Whether Oculus Service Developer Mode is On or Not"
Hi,

I am developing an app that disallows users to run in developer mode. I wonder if I can do it within the GearVRf. There should be a property that flags whether the developer mode is on or not.

Thanks,
L

[2017-05-15 12:54] brian-faber commented on #1194
Hi,
Any update on this as I am close to submission and want to validate if there is a need for why it needs to be there.

thanks,
- Brian

[2017-05-15 14:11] liaxim commented on #1194
Hi. Will investigate today.

[2017-05-15 15:02] liaxim commented on #1194
@brian-faber I guess it was our interpretation of the presence of the new home key. Hasn't been brought up before but you may very well be correct. The apps from the store I tried were all consistent with the wording you quoted.

Eliminating the check is easy. Are you using a certain version of the framework or the latest development snapshot?

[2017-05-15 15:14] liaxim commented on #1195
Hi. Assuming you are talking about the GearVR developer mode (https://developer3.oculus.com/documentation/mobilesdk/latest/concepts/mobile-troublesh-device-run-app-outside/). There is no public API to my knowledge. You may check whether the phone is docked or not instead. It is not the same but it may work. We expose GVRActivity.getConfigurationManager().isHmtConnected() to determine the status.

[2017-05-15 16:36] liaxim commented on #1185
@hehawjq Do you have anything for us? Thanks.

[2017-05-15 17:32] liaxim commented on #1106
Addressed by https://github.com/Samsung/GearVRf/pull/1186

[2017-05-15 17:32] #1106 closed

[2017-05-15 18:24] brian-faber commented on #1194
Hi,
Thanks for the reply. We are using the v3.2 release branch. I'll just have to build a local aar to use instead of the maven release.

[2017-05-15 19:19] liaxim commented on #1194
@brian-faber Attaching patched 3.2 release.
[framework-aars.zip](https://github.com/Samsung/GearVRf/files/1002201/framework-aars.zip)

This is the diff:
[code]

Unless I hear something else will include the change in the next release.

[2017-05-15 19:48] brian-faber commented on #1194
Thanks for the zip.

[2017-05-15 20:17] lxc-xx commented on #1195
Thanks. The isHmtConnected might work for me now.

Is the gearvr-developer-mode API is unavailable from Oculus side or it is just not included in GVRF now?

[2017-05-15 20:33] liaxim commented on #1195
There is nothing from Oculus.

[2017-05-15 20:59] lxc-xx commented on #1195
Got it. Thanks!

[2017-05-15 21:36] #1195 closed

[2017-05-16 17:42] snti commented on #1038
Hi @liaxim I'm building with gearvrfVersion='3.2.1-SNAPSHOT' and project.ext.jomlVersion = "1.9.1-SNAPSHOT" and the method onBackPressed is never called.
Any idea?

Regards!

[2017-05-16 17:56] liaxim commented on #1038
@snti There is a GVRMain.onBackPress() method. This is the full signature: ``public boolean onBackPress()``. Please make sure you override this one and let me know how does it work for you. Just tried with master and it does work for me.

[2017-05-16 20:42] snti commented on #1038
Thanks @liaxim it worked like a charm!

[2017-05-17 04:10] lxc-xx opened #1198 "Capturing Frames from GVRCameraSceneObject"
I am trying to capture frames from the passthrough camera. But, it seems the GVRCameraSceneObject only provides the functionality of previewing. The Camera object of the GVRCameraSceneObject is private. Did I miss anything or is there any workaround for this?

Thanks,
L

[2017-05-17 19:28] snti opened #1199 "Loss Quality using loadFutureTexture"
Hello guys

I have a problem about quality when I load a lot of textures in a bucle with the method gvrContext.loadFutureTexture.
My idea is load some textures in a bucle to make the app faster.
Each texture is used as a skybox, and the user can change the skybox in real time.
But the last textures in the list have low quality.

Any idea?

Regards!

[2017-05-17 22:38] thomasflynn commented on #1199
It sounds like you're running low on memory.  adding largeHeap="true" to your AndroidManifest.xml will increase your max heap size from 256M to 512M.  That's a short-term work-around at least.  Keep in mind, for pngs and jpegs, they get decompressed in RAM and the footprint will be Width x Height x 4 or Width x Height x 3 respectively.  Multiply that by the number of images you're loading and I wo

[2017-05-17 22:43] thomasflynn commented on #1199
sorry, meant to include this:  link to the AndroidManifest flags:
https://developer.android.com/guide/topics/manifest/application-element.html

[2017-05-18 08:37] Shyri commented on #1189
Hi, I also had that problem when trying to play DRM protected content. I understand it could be weeks or months until GearVRf supports this. In any case I was trying to find a temporary solution to support this modifying the framework a bit, maybe not elegant but that could work as a PoC. I think that if useProtectedFramebuffer is set to tag the context as protected, according to the link @niusoun

[2017-05-18 14:18] snti commented on #1199
Thanks @thomasflynn finally I reduce the image size to 4000x200 like the skyboxes of gvr-modelviewer2 example and works very well.

Thanks!

[2017-05-18 14:35] liaxim commented on #1199
@thomasflynn Some time ago we added the largeHeap to the framework's manifest so all our apps by default get that. There was something about gvr-video using up too much memory.

@snti We are planning to remove loadFutureTexture in the near future.

[2017-05-18 14:42] liaxim commented on #1198
@lxc-xx If you want to have access to the Camera object then you can use the ``public GVRCameraSceneObject(GVRContext gvrContext, GVRMesh mesh, Camera camera)`` constructor and pass the camera object you already have. Though it is deprecated it is still there.

[2017-05-19 00:31] lxc-xx commented on #1198
Thanks!

[2017-05-19 00:36] mwitchwilliams opened #1202 "Lights not showing after calling GVRExternalScene to load new X3D scene"
Using X3D and the Anchor tag, I call GVRExternalScene to load a new X3D scene (file).  The old X3D scene is correctly removed.  And the new X3D is animating as expected, however, the lights are not showing.

[2017-05-19 15:44] mwitchwilliams commented on #1190
This now works and can be closed.
There is a new issue with lights that has been documented, but the scene is loading as expected.
The resolution is that GVRExternalScene needs to be attached to a new GVRSceneObject, not root.

[2017-05-19 15:44] #1190 closed

[2017-05-19 16:58] mwitchwilliams opened #1203 "GVRRenderData.setAlphaToCoverage() blending background over opaque objects"
GVRRenderData.setAlphaToCoverage(true) is blending the background color over opaque object.
In the X3D file, if the meshes with png texture maps with transparencies are listed before the opaque object, the background color is blended with the transparency when it is over an opaque object.

The demo contains 4 animated planes containing texture maps with transparency.  Two of the objects come befor

[2017-05-19 23:54] mwitchwilliams commented on #1203
The issue seems related to the position of the camera.  New (as yet not merged) code enables the camera to be at other positions besides (0, 0, 0).  At (0, 0, 0), it seems to work, but at (0, 0, 8) as in the demo, the problems occur.

[2017-05-20 00:36] snti opened #1204 "Issue with Bitmap transparence"
I have an image with a transparent backgrdound. When I try to put this image over the skybox sometimes the background turns in black.

For example:
![image](https://cloud.githubusercontent.com/assets/16910904/26271323/a3448b5a-3cda-11e7-82e6-082f7c69749d.png)

I used two methods to load the image, one is loadBitmap and the another is with Future<GVRTexture>

Any idea?

Regards!

[2017-05-20 06:24] felislynx-silae commented on #1155
Yesterday me and my team started on testing every suggestion in this topic. So proably i'll have feedback until mid of next week.

[2017-05-22 09:47] miraclehwan opened #1205 "Can not show textsence"
Hi, guys!
I have a little  problem.
I build 'gvr-360video'. It is demo project.
And I added textsence(GVRTextViewSceneObject) but I can not show textsence(GVRTextViewSceneObject).
If you know something, please talk to me.

[2017-05-22 16:09] liaxim commented on #1204
Hi. Let us know how does this work for you: ``yourSceneObject.getRenderData().setRenderingOrder(GVRRenderingOrder.TRANSPARENT);``

[2017-05-22 18:01] snti commented on #1204
Apparently works fine.

Regards!

[2017-05-22 18:03] #1199 closed

[2017-05-22 18:07] #1204 closed

[2017-05-22 18:19] mwitchwilliams commented on #1205
Greetings,
Just wanted to get some clarification, are you working with GVRTextViewSceneObject when you mention 'textscene'?  I ask because I am actively working with GVRTextViewSceneObject.
Mitch

[2017-05-22 22:27] miraclehwan commented on #1205
Dear Mitch
Yes, I working GVRTextViewSceneObject.
but can not show GVRTextViewSceneObject in 'gvr-360video' demo project.
Do you know how to show GVRTextViewSceneObject in 'gvr-360video' demo project?
This is my GVRTextViewSceneObject code.

oninit{
        GVRSceneObject title = makeTitle(gvrContext);
        scene.addSceneObject(title);
}

 private GVRTextViewSceneObject makeTitle(GVRContext con

[2017-05-23 00:18] thomasflynn commented on #1205
off-hand, this looks like it should work.  any thoughts @NolaDonato ?

[2017-05-23 06:23] miraclehwan opened #1207 "How can i use another PickHandler?"
Hi, guys.
1. I used PickHandler(IPickEvents) in GVRMain.
    I created new Login.class and new PickHandler(IPickEvents) in Login.class.
    But I don't know use PickHandler(IPickEvents) in Login.class

I want flow.
Main.class -> onEnter in  Main.class(IPickEvents) -> setMainscene(login)
-> onEnter in  Login.class(IPickEvents) -> setMainscene(*.class(another class))

This is my source code. I need

[2017-05-23 12:20] miraclehwan commented on #1205
I want look like below image.

<img src="https://cloud.githubusercontent.com/assets/20110093/26353902/76e267aa-3ffd-11e7-85a3-de27a268ef93.png">

[2017-05-23 14:24] liaxim commented on #1205
@miraclehwan Color.argb takes values from 0 to 255. You could just use ``title.setBackgroundColor(Color.BLUE)`` instead.

[2017-05-23 17:50] #1198 closed

[2017-05-23 17:50] #1185 closed

[2017-05-23 19:03] thomasflynn commented on #1205
found the bug in the sample.  the scale is applied to the sphere, not the video.  we retrieve the mesh from the sphere to help create the VideoSceneObject, but that mesh has the original vertices of the default sphere.  applying the scale to the VideoSceneObject fixes the problem.  Will do a pull-request for this shortly.

in short, you should add:
 video.getTransform().setScale(100f, 100f, 100f);

[2017-05-23 19:29] thomasflynn commented on #1205
see: https://github.com/gearvrf/GearVRf-Demos/pull/450

[2017-05-23 20:53] liaxim commented on #1207
@miraclehwan I an unsure what is the problem that you experience. It seems like the code in the Login class tries to change the background color on the picked scene object. Since you are using GVRTextViewSceneObjects the simplest thing you could do is use the setBackgroundColor method. The picking works fine as far as I can tell.

- if you want to not render a scene object, use setEnable instead o

[2017-05-23 21:04] liaxim commented on #1189
@Shyri My understanding is that GRALLOC_USAGE_PROTECTED is set by the platform as long as the context and the textures are tagged as protected.

So in addition to creating a context that is tagged as EGL_PROTECTED_CONTENT_EXT, the textures GVRf creates for the eye buffers need to be tagged via glTexParameter as GL_TEXTURE_PROTECTED_EXT.

And there is the Oculus-specific requirement to use VRAPI_MO

[2017-05-24 00:06] miraclehwan commented on #1205
@thomasflynn Thank you for reply.
but I still have a problem.
I want show GVRTextViewSceneObject but can not show.
This is my code.

{
    Minimal360Video(GVRVideoSceneObjectPlayer<?> player) {
        mPlayer = player;
    }

    /** Called when the activity is first created. */
    @Override
    public void onInit(GVRContext gvrContext) {
        GVRScene scene = gvrContext.getMainScene();

[2017-05-24 00:26] thomasflynn commented on #1205
remove the calls to setRenderingOrder() and setCullFace().

[2017-05-24 00:34] miraclehwan commented on #1205
@thomasflynn Wow!!! Thank you for your kind help.

[2017-05-24 01:51] miraclehwan commented on #1207
@liaxim Thanks for your reply.
Sorry,  I can't speak English well...
I can IPickEvents in Main.class
but i don't know onEnter(IPickEvents) in Login.class.

<img src="https://cloud.githubusercontent.com/assets/20110093/26383536/46049768-406e-11e7-84a1-2bc58622cbe5.png">

[2017-05-24 03:43] #1205 closed

[2017-05-24 14:28] liaxim commented on #943
@mwitchwilliams Is this issue related to the https://github.com/Samsung/GearVRf/pull/1192 pull request?

[2017-05-25 21:52] mwitchwilliams opened #1214 "Picking not aligned correctly when camera's z not at origin"
X3D allows cameras to be in locations other than the origin.
Prior to his leaving, Rahul suggested I set GVRCursorController's setOrigin() to the location of the camera.
However, the picking is not aligning correctly.

I have a code demo at https://github.com/mwitchwilliams/GearVRf/tree/pickCursorCtllrIssue.
I zipped an X3D file where the camera is at (-3, 0, -3).  The cylinder should rotate when

[2017-05-26 15:54] mwitchwilliams commented on #1214
Without the bringing in the code, it can be simulated by changing GVRCursorController.setOrigin(-3, 0, -3)
and then set:
mainCameraRig.getTransform().setPosition(-3.0f, 0.0f, -3.0f);

[2017-05-26 16:07] felislynx-silae commented on #1155
@liaxim Hi, after many trials i've summed everything up for you.
View is rendered on canvas with size of quad on screen(more like 500x200 rather than 2560x1440)
Manually changing target canvas size on screen made only small correction (less flickering but edges were still not aliased).
Making lines more thick removed flickering but staircase aliasing were still present.
Little improvement was addi

[2017-05-26 17:40] mwitchwilliams commented on #1202
For testing, use the Pull Request
https://github.com/Samsung/GearVRf/pull/1215

with the demo below.  Begin with anchorVP02.x3d and click on the orange sphere.
A new scene (animation01.x3d) will appear with an animation.
The Directional and Point lights can be commented out in animaton01.x3d and the textured objects will appear because we can render a scene without lights.  But with the lights in

[2017-05-26 19:26] thomasflynn commented on #1155
one more thing to try.  Try increasing the eyebuffer resolution to 1280x1280 (in your gvr.xml, in eye-buffer-parms, change resolutionWidth/resolutionHeight from DEFAULT to 1280).

I'll scrape some time together today and try your sample to see if I can try something else (maybe using a shader to do a blur on the contents).

[2017-05-26 23:39] thomasflynn commented on #1155
ok, i cloned and built the app you have mentioned on April 19th.  There's a weird performance thing where it degrades over time for a bit, then snaps back to 60hz, but the AA looks pretty reasonable.  at least compared to what i was expecting and have seen before.  I didn't make any changes to it.  I see a grid of 9 boxes with the word Lynxit inside and an outline that grows around the focused box

[2017-05-27 05:21] felislynx-silae commented on #1155
@thomasflynn hi, sorry for late response (different timezone). PresentationThumbnails are not so bad in look (they were for different bug ;) ). But button below (red one) is another type of view "TextButtonGVRSceneObject" which shows more about this issue. I'll update sample app with few more views, better colors (white background wasn't good idea to show AA issue). But in full project we are obse

[2017-05-27 09:14] felislynx-silae commented on #1155
So, eye buffer didn't helped. Here is [IMAGE](https://drive.google.com/open?id=0Bzu1FkBNLSmkc3puOWU5TmlZWUk) with device screenshot (in developer mode but AA issue is very visible) of actual app.

[2017-05-28 03:12] thomasflynn commented on #1155
Ok.  I'm going to try hacking at the gvr-events sample this weekend.  I'll try to find and dig up a convolution shader I have somewhere and apply a blur to the external texture.

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Bartosz Wyspiański <notifications@github.com>
Date: 5/27/17 2:14 AM (GMT-08:00)
To: Samsung/GearVRf <GearVRf@noreply.github.com>
Cc: Thomas Fly

[2017-05-29 11:29] miraclehwan commented on #1207
close issues.

[2017-05-29 11:29] #1207 closed

[2017-05-29 12:28] miraclehwan opened #1216 "Question/ How to remove or change the GearVR Logo ?"
How to remove or change the GearVR Logo?
<img src="https://cloud.githubusercontent.com/assets/20110093/26549778/95be01b8-44b5-11e7-92d8-c31f2d93d16a.png">

[2017-05-29 14:32] snti commented on #1216
Hi @miraclehwan, for remove the Logo you need change the value to false in this flag "showLoadingIcon" in the gvr.xml

Regards!

[2017-05-29 18:38] thomasflynn commented on #1155
Ok, did some hacking.  Don't know if it'll help.  I've got a convolution shader working.  But the original texture is still too big (2960x1440 on my s8).  I think if I could get the layout file to inflate at a sane resolution (say 640x360), it would probably look ok.  I have the code in a branch you can look at.  I originally tried setting the con solution matrix via uniform, but had trouble with

[2017-05-30 14:33] liaxim commented on #1216
@miraclehwan There is also ``GVRMain.getSplashMode`` which lets you turn off the splash screen too. To change the image take a look at ``GVRMain.getSplashTexture``. If you want to customize further there is ``GVRMain.getSplashMesh`` and ``GVRMain.getSplashShader``.

[2017-05-30 15:28] liaxim commented on #1155
@felislynx-silae You didn't mention what was your experience when using Android's BlurMaskFilter I mentioned. This is most likely the easiest and cheapest solution on a modern platform. See the attached image:
![sshot](https://cloud.githubusercontent.com/assets/11889541/26590998/1ecce266-4511-11e7-9e72-fe0120f65880.png)

There is always our libgdx integration, which lags behind, but I'd imagine wo

[2017-05-30 19:07] NolaDonato commented on #1155
Gvr-blurfilter

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: thomasflynn <notifications@github.com>
Date: 5/27/17 8:12 PM (GMT-08:00)
To: Samsung/GearVRf <GearVRf@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Samsung/GearVRf] Antialiasing on Views inside GVRSceneObject (#1155)

Ok. I'm going to try hacking at the gvr-e

[2017-05-31 00:42] miraclehwan commented on #1216
@liaxim Thank you for your reply.
Could I get a sample code?? I don't know how to setSplash....

[2017-05-31 00:58] miraclehwan commented on #1216
I find it!!!

[2017-05-31 00:58] #1216 closed

[2017-05-31 05:20] felislynx-silae commented on #1155
@liaxim Effect wasn't that good as in your screenshot (at least not on SGS6), sorry for not mentioning blur in my previous post, i'll look at libgdx and on Gvr-blurfilter
@thomasflynn on my SGS6 i can see black screen with blue dots (cursor) after i runned events sample

[2017-05-31 11:19] miraclehwan opened #1217 "Question / How to get a permission?"
hi, guys
I want to get a permission(READ_EXTERNAL_STORAGE).
How to use a dialog(popup) about permission??
Please let me know.

[2017-05-31 15:13] liaxim commented on #1217
@miraclehwan Hi. You do it the usual way. Follow the instructions from https://developer.android.com/training/permissions/requesting.html. There is a platform service that intercepts the request and shows a VR variant of the prompt. I just verified it this morning.

You will need to add the com.android.support:appcompat-v7 library to your project. See https://developer.android.com/topic/libraries/

[2017-05-31 18:35] snti opened #1218 "Black screen using exoplayer"
Hi guys,

I have an app, this app starts with a video, at the end of the video there is a gallery with images.
I'm using the exoplayer to reproduce the video.
Sometimes when I start the app the sound is working, but I can´t see anything, the display is totally black. When I close the app and open it again the app works!

Any idea?

Regards!

[2017-06-01 01:09] miraclehwan commented on #1217
@liaxim Thank you for reply.
I saw the #467 .
I can use gvr-events and gvr-renderableview samples. but I want to another way.
Do you know another way?

[2017-06-01 01:45] thomasflynn commented on #1217
i think you missed a word in your question..."but I want to ____<what>___ another way".

[2017-06-01 01:47] thomasflynn commented on #1218
sounds like a pause and resume issue with the exoplayer?  any thoughts @liaxim

[2017-06-01 01:49] thomasflynn commented on #1155
the mali shader compiler must be giving an error (it's a bit more strict than the Adreno one).  let me take a look.

[2017-06-01 02:16] thomasflynn commented on #1155
ok, fixed it.  Mali didn't the the 'f' at the end of the floating point numbers in the convolution matrix in the fragment shader.

now, again, I would need to get the layout to inflate at a sane resolution for this to be a good illustration.  as is, it is still losing too much info when filtering down and then on top of that, i'm doing a blur.  so my modification of gvr-events doesn't look good, b

[2017-06-01 07:16] miraclehwan commented on #1217
@thomasflynn Sorry.. I don't speak English well.
Is there another way to solve the problem here??

[2017-06-01 14:38] liaxim commented on #1217
@miraclehwan We recently added runtime permissions request to our automated tests. See https://github.com/gearvrf/GearVRf-Tests/pull/90 for reference.

[2017-06-01 14:41] liaxim commented on #1218
Yes, or some kind of race condition in the app's initialization. You can take a look at our gvr-video sample which by default uses ExoPlayer - in case we might be doing something different. You could share with us a sample that reproduces the problem - then we might be able to help more.

[2017-06-01 16:06] liaxim commented on #1155
@felislynx-silae You mentioned FACTOR_IMAGE_SIZE having the most effect for you. So what values worked better?

@thomasflynn The red button uses a 384x128 SurfaceTexture which seems reasonable to me. Tried 288x96, didn't help at all.

[2017-06-01 16:10] liaxim commented on #1155
@felislynx-silae Just for the sake of the test, did you try the BlurMaskFilter with ``android:hardwareAccelerated="false"`` in the manifest? If this happens to work, then the hardware acceleration could be turned off just for the particular view via ``myView.setLayerType(View.LAYER_TYPE_SOFTWARE, null)``.

[2017-06-01 18:50] liaxim commented on #1155
@thomasflynn Made some changes to gvr-events to use smaller canvas: https://github.com/liaxim/GearVRf-Demos/tree/gvreventscanvas. Required a lot of tinkering with the layout since it no longer was appropriate. Also the stock drawables used are not suitable for the resolution meaning the checkbox image especially is overly large. All in all, doable but a hassle.
![aa](https://cloud.githubuserconten

[2017-06-01 18:52] thomasflynn commented on #1155
ok, cool.  that actually looks pretty reasonable even without adding a blur.   thanks for looking into that!

[2017-06-01 19:04] felislynx-silae commented on #1155
@liaxim yup, tried blurfilter and hardwareacceleration=off (results were not impresive). Actually @thomasflynn solution looks best (very nice quality!). But i wonder how it'll behave when view/canvas will not be moving with head. So I'll try adapt this solution into my sample app and i'll push results. About factor_image_size, lower than from GVRTextViewSceneObject ;)

[2017-06-01 23:39] miraclehwan commented on #1217
Thanks for your comment~(^_^)

[2017-06-02 00:58] thomasflynn commented on #1155
If the convolution filter does end up working out for you, then you should check out this article about optimizing it further: http://rastergrid.com/blog/2010/09/efficient-gaussian-blur-with-linear-sampling/

disclaimer: i have not tried that article's approach yet.  don't know how well it works or how fast it is, but it looks like it would be worth a shot if the convolution filter approach works

[2017-06-02 01:06] miraclehwan commented on #1217
@liaxim I saw [gearvrf/GearVRf-Tests#90](https://github.com/gearvrf/GearVRf-Tests/pull/90) so I used [gearvrf/GearVRf-Tests#90](https://github.com/gearvrf/GearVRf-Tests/pull/90) in my project.
but my app is still crashing.
Could you check my code please??

<img src="https://cloud.githubusercontent.com/assets/20110093/26706673/2a8ed364-477a-11e7-8dd0-33130a6f4dc4.png">
<img src="https://cloud.githu

[2017-06-02 02:18] miraclehwan opened #1222 "Can not rotateByAxis"
Hi, guy.
I have a problem about rotateByAxis.
Below my code.

[code]

[2017-06-02 02:21] thomasflynn commented on #1222
it appears you're specifying 0 for each of the axes.  which axis do you intend to rotate around? X? Y? Z?
-90.0f, 1.0f, 0, 0 for X
-90.0f, 0. 1.0f, 0 for Y
-90.0f, 0, 0, 1.0f for Z

[2017-06-02 04:39] miraclehwan commented on #1222
@thomasflynn Oh... Thank you for comment
I didn't check x,y,z position. Thank you so much!!!

[2017-06-02 04:39] #1222 closed

[2017-06-02 14:00] liaxim opened #1223 "X3D: add support for ImageTexture's TextureParameters"
Originated from https://github.com/Samsung/GearVRf/pull/1219.

We are not parsing and interpreting the TextureParameters so we are currently using defaults that will not work with compressed textures. Defaults that make non-compressed textures look better though.

[2017-06-02 14:17] liaxim opened #1224 "Framework: texture parameters, compressed and non-compressed textures"
Originated from #1219. Related to #1223.

1. We can't have one good default that works for both; need to add support for that
2. GVRBitmapTexture.updateCall is hard-coding GL_TEXTURE_MIN_FILTER to GL_LINEAR_MIPMAP_NEAREST; needs to go but has to be done after 1.

[2017-06-02 14:58] felislynx-silae commented on #1155
@thomasflynn I've applied your shader to my view and it's working perfectly. But I have to ask, why, after applying shader, view is constantly in front of my eyes (it's not staying in position i've set on scene)?

[2017-06-02 15:52] thomasflynn commented on #1155
Oh.  It's probably a bug in the vertex shader.  I must be missing something in there.  This was my first time using the new-ish GVRShaderTemplate approach.  It's going to be a couple hours before I get in today.  @roshanch can you take a quick look?

[2017-06-02 15:55] liaxim commented on #1217
Attaching a diff for the changes I made to MainActivity.java: [diff.txt](https://github.com/Samsung/GearVRf/files/1048188/diff.txt); combined the two separate read and write requests into one.

Btw, you are missing the vr_only tag from your manifest. Diff: [diff2.txt](https://github.com/Samsung/GearVRf/files/1048194/diff2.txt)

[2017-06-02 16:06] lxc-xx opened #1225 "Camera Resolution Locked By "fast-fps-mode"?"
I was trying to get lower resolution frames from camera's onPreviewFrame callback for my QR code detection component. But I found simply setting the camera's parameter does not work.

It seems that, in the GVRCameraSceneObject, the "params.set("fast-fps-mode", fpsMode);" makes all the following resolution settings invalid. In the source, there is a code block of setting resolution commented out. H

[2017-06-02 16:07] liaxim commented on #1155
It is just that the mvp matrix was missing. Diff: [diff.txt](https://github.com/Samsung/GearVRf/files/1048228/diff.txt)

Looks worse to me now though. A lot of shimmer while wearing the headset and making any movement.

[2017-06-02 16:23] thomasflynn commented on #1155
Is this with your reduced size layout?  Or the layout that ends up being 2560x1440?  If you do it with the reduced layout, I think you'll get the results I'm expecting.

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Mihail <notifications@github.com>
Date: 6/2/17 9:08 AM (GMT-08:00)
To: Samsung/GearVRf <GearVRf@noreply.github.com>
Cc: Thomas Flynn <tom.flynn@samsung.

[2017-06-02 16:27] liaxim commented on #1155
It is with your version with just the mvp passed to the vertex shader.

[2017-06-02 17:08] lxc-xx commented on #1225
Another observation.
After deleting the 'fast-fps-mode', I got lots of log like this,
`E/BufferQueueProducer: [unnamed-12945-0] dequeueBuffer: min undequeued buffer count (2) exceeded (dequeued=7 undequeued=1)`

[2017-06-02 17:21] liaxim commented on #1225
fast-fps-mode is there so it gives you more fps when you use the camera passthrough. I guess it has its own limitations. If you don't care about getting the highest possible fps out of the camera, then don't worry about removing it.

[2017-06-03 05:00] lxc-xx commented on #1225
Thanks :)

[2017-06-06 09:11] sam16222 opened #1228 "How to render objects independent of Z distance?"
I am rendering a 360 video and would like to add objects to the environment. The spherical mesh has a radius of 1.0 and if I render text within that distance, it appears blurry. Any text outside is understandably hidden. Is there a way to render text independent of the object distance from the camera?

[2017-06-06 18:24] liaxim commented on #1228
Hi. You could scale the mesh by using GVRSceneObject.getTransform().setScale(x, y, z). If you want the text to be always on top of everything else then use GVRSceneObject.getRenderData().setRenderingOrder(GVRRenderingOrder.OVERLAY).

[2017-06-06 18:30] thomasflynn commented on #1228
agreed.  my first instinct was to scale up the sphere.  you can look at the current version of gvr-360video in master for an example.  otherwise, setting the RenderingOrder to OVERLAY and also disabling depth test with getRenderData().setDepthTest(false); would do the job.

[2017-06-06 20:19] #1225 closed

[2017-06-06 20:20] liaxim commented on #1218
@snti Do you have anything for us to look at?

[2017-06-08 03:41] sam16222 commented on #1228
I have tried using setDepthTest(false) but the views did not merge in the VR headset. Is there a reason that would happen? Scaling worked though. Thanks!

[2017-06-08 11:56] hehawjq commented on #1185
@liaxim Sorry reply you so late,I use a new snapshot release for 3.2,It doesn't have this problem.

[2017-06-08 15:00] liaxim commented on #1185
@hehawjq Great. Then it sounds like we fixed it.

[2017-06-08 21:44] liaxim commented on #1228
@sam16222 Not sure what do you mean by "views did not merge". Are you seeing double-images in the headset? Maybe you could attach a screenshot? Thanks.

[2017-06-08 23:25] thomasflynn commented on #1228
My interpretation was that of convergence.  The effect where you put your finger in front of your nose, but look at something further away and you end up seeing two copies of your fingers.  If his sphere is 1 meter in diameter and he has text big enough and close enough to be readable inside of that,  it could be too close to converge on the text and the sphere at the same time.

[2017-06-09 13:10] TimecodePete opened #1231 "Does the framework support playback of 4K 3D Videos out of the box?"
When loading a 4096x4096 top-down 3D video, I can hear the sound, but the screen remains black.
When I scaled down the same video to 2880x1440 it played fine (but was a bit stretched, for obvious reasons :P)

Is this due a hardware limitation of the phone (Galaxy S6), an encoding issue?
Is there a chart or some recommendations somewhere for video compatibility?

Some specs of the video:
Codec: H26

[2017-06-09 14:37] liaxim commented on #1231
@TimecodePete Does the video play directly with the MediaPlayer? Any exceptions in the logs?

[2017-06-12 14:56] felislynx-silae commented on #1156
@rahul27 After i've acquired GearController and looked into gvr-controller demo. Is there any plan to add Daydream controller support like one in gvr-controller demo (to unify approach for 2 controllers and "eye pointing"). And i see that gear controller assets are also missing in framework or should we extract them from unity/unreal packages?

[2017-06-12 23:41] ftofoli opened #1235 "Taking screenshot using GearVR Utilities Menu"
Does GearVRf block taking screenshots using the GearVR Utilities Menu in any way? I tried this from my application and some of the GearVRf sample applications and the screenshot doesn't work (same for videos). Please advise?

I don't see the blinking red dot signifying the countdown, nothing happens really.

Thank you,
Fabricio

[2017-06-13 17:07] liaxim commented on #1235
We are shutting down completely the Oculus Mobile SDK on pause which disables their ScreenCaptureReceiver. We need to change our onPause/onResume handling for it to work as expected.

In the meantime:
- you can capture videos using the method outlined at https://developer.oculus.com/documentation/mobilesdk/latest/concepts/mobile-testing-capture/; see "Video Capture using Android System Properties"

[2017-06-13 17:24] liaxim commented on #1156
It makes sense to provide some abstraction for the different controllers and it should happen. One day.
For the assets please use those from Unity.

[2017-06-14 22:58] bohuang3d commented on #1231
@TimecodePete  Have you tried other resolutions? Or 2048x2048, or 2048x4096

or reduce the bitrate/framerate

[2017-06-19 23:55] miraclehwan opened #1241 "Q / How can i use 180 dgree GVRVideoSceneObject?"
I used 360 dgree GVRVideoSceneObject.

        GVRSphereSceneObject sphere = new GVRSphereSceneObject(gvrContext, 72, 144, false);
        GVRMesh mesh = sphere.getRenderData().getMesh();
        environmentObject = new GVRVideoSceneObject( gvrContext, mesh, EnviromentSceneObjectPlayer, GVRVideoSceneObject.GVRVideoType.MONO );
        environmentObject.getTransform().setScale(21f, 21f, 21f);

[2017-06-20 01:27] J0Nreynolds commented on #1241
I'm assuming that currently, your code maps the 180 degree video across the entire interior of the sphere instead of a single hemisphere. In order to achieve the effect you want, there are a few solutions.

First, you could adjust the UV mapping of the spherical mesh such that the texture (video) maps only to a single hemisphere. I believe that you may be able to achieve this programmatically - si

[2017-06-20 01:37] miraclehwan commented on #1241
@J0Nreynolds
Thank you for your reply.
I want to show the sample code.
If you have sample code, Please Let me know.
I need your kind help.

[2017-06-20 07:37] miraclehwan opened #1242 "Q / Can I insert YouTube API in VideoSceneObject ??"
Hi, guys.
I trying to insert YouTubeVideoView in My GVRf App.
but I don't know how am i write my code...
I was refer to Exoplayer in GVRf-Demo. but I have a lot of problem.

if you have, Please let me know is it possible.

https://developers.google.com/youtube/android/player/?hl=ko

[2017-06-20 10:50] Cyganieszka commented on #1228
I'm facing same problem now. I want to display "Pause" on paused 360 3D video. Text is ok when displayed on black screen, but when background is video, it's extremely difficult to focus sight on text.
video sphere code:
`
        GVRSphereSceneObject sphere = new GVRSphereSceneObject(getContext(), 72, 144, false);
        GVRMesh mesh = sphere.getRenderData().getMesh();
        sphere.getTransform

[2017-06-20 15:01] liaxim commented on #1228
@Cyganieszka You can try putting it at a distance similar to the sphere radius: ``pauseButton.getTransform().setPosition(0, 0, -300)``.

I am not sure you will see the text at all with ``setOpacity(0f)``.

Please use ``setRenderingOrder(GVRRenderingOrder.OVERLAY)`` instead of hard-coded values.

[2017-06-20 15:09] liaxim commented on #1242
This (https://github.com/Samsung/GearVRf/issues/1033#issuecomment-278244683) is what was verified as working some time ago.

Using the YouTube APIs is not option. GVRf requires your activity to derive from GVRActivity and YouTube requires you to derive from their YouTubeBaseActivity.

[2017-06-20 16:11] liaxim commented on #1231
@TimecodePete Please re-open if you have information you could share with us.

[2017-06-20 16:11] #1231 closed

[2017-06-20 17:08] J0Nreynolds commented on #1241
In order to perform my first suggestion, modify your code to be the following:
[code]
I tested this with a 180 degree photo, and it worked as I expected.

[2017-06-20 18:18] J0Nreynolds commented on #1241
@miraclehwan If you could attach a picture of what your video looks like, I'd be able to determine the format that your video is stored in so I can help you map it to the sphere correctly.

[2017-06-20 19:43] bohuang3d commented on #1241
@miraclehwan

Is the 180 video an unwarped panoramic video? Or is it a specific video format that must be warped to a hemisphere?

If it's the former, a cylinder geometry (or half of it) is suitable.

If it's the latter, use J0Nreynolds approach.

Alternatively, there are also shaders one can write to remap a 360 degree video to a 180 degree hemisphere instead of remapping the UV coordinates.

[2017-06-21 00:02] miraclehwan commented on #1242
Wow, Thanks for the reply!
It is really good!!

[2017-06-21 00:02] #1242 closed

[2017-06-22 09:19] SteveGreatApe opened #1245 "Problem With onTouchEvent and button presses"
Hi, I'm trying to get some code going using the Samsung controller to navigate the scene. I want use the touchpad on the controller for player movements. I'm intercepting events in the Activity's onTouchEvent call.

    @Override
    public boolean onTouchEvent(MotionEvent event) {
        Log.d("MyActivity", "onTouchEvent: " + event);
        ...do something...
        return super.onTouchEvent(e

[2017-06-22 15:05] Cyganieszka commented on #555
And update in this topic(trying to display big video file from assets)?

[2017-06-23 03:19] thomasflynn commented on #555
I think we pretty much ran into Android limitations with this :(

[2017-06-23 17:43] J0Nreynolds commented on #1245
Hi @SteveGreatApe ,

I've replicated your problem. It seems that processing the motion events may not be the best way to get the information you desire from the controller. If you're using the 3.2 release version of GearVRf, it seems like you can get all of the information you desire by downcasting your GVRCursorController to a [OvrGearController](https://github.com/Samsung/GearVRf/blob/v3.2/GVRf/

[2017-06-24 08:20] joelsung commented on #1241
@J0Nreynolds
I ran into this thread, and I read your code.
If u = 2*u for a mesh, from my beginner's guess, the image should expand horizontally which can wrap sphere two times. (But the result is opposite, I checked it also)
Would you kindly help me to understand uv-coordinate correctly?

@bohuang3d
What kind of shader do we use to remap a video? I've looked into shader-related things, but couldn

[2017-06-25 06:41] miraclehwan opened #1252 "loadFutureTexture makes main thread hang"
I have a problem. It is same issues [#807](https://github.com/Samsung/GearVRf/issues/807) , [#809](https://github.com/Samsung/GearVRf/issues/809).
Please help me to solve this problem.

[2017-06-26 06:13] SteveGreatApe commented on #1245
Hi, thanks for the reply. I had looked into downcasting the controller to OvrGearController, but it struck me as this wasn't intended behavior as the OvrGearController class isn't public, so the only way to access it through downcasting is to create my own wrapper class under the same org.gearvrf package name.

Having done that I tried to access the rotation through the getRotation() call as sugge

[2017-06-26 18:09] liaxim commented on #1245
@SteveGreatApe Take a look at https://github.com/Samsung/GearVRf/pull/1254 and let us know whether it would work for you.

[2017-06-26 18:50] bohuang3d commented on #1241
@joelsung
Just for debugging purposes, what happens if you do u = 0.5*u instead?

The remapping of u is more or less a vertex shader modification. One can also do a remapping in fragment shaders for example, to map a rectangle to a sphere, or one of many cartographical projections that your video may use.

You could share the format of your video and what you wish to do

[2017-06-26 19:09] joelsung commented on #1241
@bohuang3d
If I do u = 0.5*u, the half of the video stretches all over the sphere.
My curiosity is, why does it work in an opposite way from my guess.

I'm thinking about doing a conference call through VR (Right now, I'm playing local mp4 file) :)

[2017-06-26 19:15] J0Nreynolds commented on #1245
@SteveGreatApe If you do the downcast in a GVRCursorController.ControllerEventListener, the getRotation and getTouch should return non-null values. Also, the OvrGearController _**is**_ a public class in release 3.2, but it was modified sometime after the release to be private.

Nonetheless, if you plan on using newer versions of the framework, please look at @liaxim's pull request, which seems lik

[2017-06-26 19:45] J0Nreynolds commented on #1241
@joelsung I agree that the it seems a bit unintuitive that doubling the U coordinate compresses the projection by a factor of 2 instead of stretching it by a factor of 2, but I think I can explain it to you in a way that makes sense.

Recall that UV coordinates indicate which part of a texture should appear at a certain point of a mesh. Because of this, each vertex in a mesh has a UV coordinate th

[2017-06-26 20:09] bohuang3d commented on #1241
@joelsung

For u = 0.5*u the result is what you expect?
but for u = 2*u the result is 'opposite'? Could you elaborate.

Also, check your texture wrapping mode. It should be set for REPEAT for your u coordinate

[2017-06-26 20:19] bohuang3d commented on #1241
@joelsung

please also send screenshots for both cases. Thanks

[2017-06-27 16:54] hairanakh opened #1258 "Q/ Alpha blending on GVRExternalTexture"
Hello,

I am trying to modify [camera2renderscript](https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-camera2renderscript) sample to add alpha blending to processed image from the camera.

In principle, I am able to modify the alpha channel of the image (modifying mono.rs), e.g

[code]

However, even though the output is RGBA, it doesn't seem to be processed: the output is still opaque.

Fo

[2017-06-27 21:48] J0Nreynolds commented on #1258
Hi,

I've replicated your problem and am looking into it. For now, I've been able to produce your desired result by adding

`        effectObject.getRenderData().setAlphaToCoverage(true);`

However, it should work without needing this line of code. I will let you know anything else I find.

[2017-06-27 22:06] J0Nreynolds commented on #1258
@hairanakh It seems that the problem is caused by the blending function. By default, the source blend function is GL_ONE and the destination blend function is GL_ONE_MINUS_SRC_ALPHA. In order to achieve the transparent effect you desire, the source blending function should be GL_SRC_ALPHA and the destination blending function should be GL_ONE_MINUS_SRC_ALPHA.

To change your blending functions to

[2017-06-28 04:02] joelsung commented on #1241
@J0Nreynolds
Thanks so much for elaborating explanation!!
Due to your kind effort, I could understand and try display other videos.
But it was not easy for me just by assigning u, v to split the sphere into multiple regions.

So I finally decided to import part of sphere mesh, and am going really rough in loading obj file.
(I also tried to use GVRSphereSceneObject, but mesh shape was too limited).

[2017-06-28 06:56] hairanakh commented on #1258
@J0Nreynolds It works nicely! Thank you!

[2017-06-28 06:56] #1258 closed

[2017-06-28 16:29] purusothaman2502 commented on #1155
I thank your suggestions it's right

[2017-06-28 17:01] felislynx-silae commented on #1155
@liaxim To be honest i don't really believe that this should be considered as closed. It's better. But light years behind unity quality. To convince developers and/or business to use this framework over Unity/Unreal it should be similar in quality and easy to use for android devs which implies that instead of N-image animation like cursor's should be possible to be done in a easiest way possible w

[2017-06-28 17:42] mwitchwilliams opened #1261 "X3D Inline files in assets sub-directory not found"
X3D &lt;Inline&gt; not finding files located in assets folder sub-directory.

An X3D node &lt;Inline url="_dir/myFile.x3d_"/&gt; will not find the file if it's located in sub-directory '_dir_' in Android Studio's assets folder.

Also not reading the underscore character '_' inside a file name when using the &lt;Inline&gt; node.

My (Mitch Williams) issue to fix.

[2017-06-28 18:03] thomasflynn commented on #1155
This was closed too early.  At a minimum, the person who opened it should consent as to whether it should be closed.

[2017-06-28 21:36] mwitchwilliams commented on #943
My tests indicate this is fixed.

[2017-06-28 22:00] mwitchwilliams commented on #1203
Still an active bug.
Investigating renderdata.cpp for algorithm of sorting object based on z-distance from camera versus actual distance [ sqrt(x*x + y*y + z*z) from camera ].

[2017-06-28 23:35] joelsung opened #1268 "Video displaying on imported mesh"
I'm trying to display video on an imported mesh.
But it's not going what I wanted to do.

I used MeshLab to create simple mesh (with v, vn, vt, f),
and imported obj file by using loadMesh command.

But, I think, uv transformation is going wrong and each mesh is not assigned with proper video part.
Do I need a specific format, or mesh generation program to make a mesh?
(I also tested it inside of b

[2017-06-28 23:39] bohuang3d commented on #1268
What happens if you map a texture to the mesh within MeshLab?

[2017-06-28 23:54] joelsung commented on #1268
Within a MeshLab, I think it has no problem with it.
I opened obj file and found MeshLab does not export v, vn, vt, f in order (a bit mixed fashion).

![meshlab](https://user-images.githubusercontent.com/29045791/27665467-e773f9ec-5c32-11e7-9cef-58614bebc012.jpg)

[2017-06-29 00:06] bohuang3d commented on #1241
@joelsung
Something like this for the vertex shader

precision highp  float;

//Incoming vertex attributes
attribute vec3 position;
attribute vec2 uv;
uniform mat4 modelViewProjMatrix;

//This is filled in the vertex shader and passed to the fragment shader
out vec2 uvOut;

void main()
{
  gl_Position = modelViewProjMatrix * vec4(position, 1);

//This is where you insert the scaling factor for you

[2017-06-29 00:15] bohuang3d commented on #1268
MeshLab's obj export has some customizations that other obj loaders may not understand. Could you import the mesh you made into Blender or other programs that can open Obj. If they open the mesh without problem, please share your mesh, code, and video.

[2017-06-29 00:35] joelsung commented on #1268
Thanks for letting me know about Blender.
Instead of installing it, I tried 3d Builder (from Windows 10), and it works without a problem.

The corresponding code is like these;

        mesh = gvrContext.getAssetLoader().loadMesh(new GVRAndroidResource(gvrContext, "cap.obj"));
...
        GVRVideoSceneObject video = new GVRVideoSceneObject(gvrContext, mesh, mediaPlayer, GVRVideoType.MONO);

[cap.z

[2017-06-29 00:45] thomasflynn commented on #1268
Hi.  (just got a chance to chime in)  We use assimp (www.assimp.org) to import our models.  How does it look with their viewer? (open3mod.com)

[2017-06-29 01:02] joelsung commented on #1268
Thanks for the recommendation! It opens on open3mod, and looks nice.
But I think the problem is video assignment on each triangular mesh.

Whole geometry is maintained, but video segments are assigned on random triangle.
If I use GVRSphereSceneObject or GVRCylinderSceneObject, it shows good shape.

So I thought, I'm using some inappropriate setting on MeshLab.
I think I have to try another mesh pr

[2017-06-29 01:10] bohuang3d commented on #1268
@joelsung

The adjacent triangles in this model do not map to adjacent areas in the texture. See the two images comparing where two adjacent triangles map to in texture space:

![cap1](https://user-images.githubusercontent.com/5192187/27667037-bb41bacc-5c2c-11e7-839a-c4b2de6fd765.JPG)
![cap2](https://user-images.githubusercontent.com/5192187/27667038-bb4701d0-5c2c-11e7-88e7-4cbbe337cde7.JPG)

[2017-06-29 01:35] joelsung commented on #1268
@bohuang3d
Oh, Thanks a lot for checking it!!
I'll try making it by other tool or setting.

[2017-06-29 04:31] joelsung commented on #1268
@bohuang3d
I used your recommendation Blender to make hemisphere, and made it out.
Thanks for your kind guidance :)

![screenshot_20170628-232825](https://user-images.githubusercontent.com/29045791/27671494-b9869d74-5c59-11e7-93d6-3f3cc895cdce.png)

[2017-06-29 04:31] #1268 closed

[2017-06-29 14:24] liaxim commented on #1245
We need to expose the complete touchpad information (maximum coordinates, size in mm) from ovrInputTrackedRemoteCapabilities before closing this issue.

[2017-07-01 08:18] felislynx-silae commented on #1155
@thomasflynn thank you for opening ticket back. As far as i can tell, shader make things better. But it's still light years behind unity/unreal quality and using android views instead of textures etc is way more intuitive for android developer. Project owner of my project was close to pull of the plug on gearvrf framework because of poor quality of android views rendered in framework. I'll look at

[2017-07-01 17:09] thomasflynn commented on #1155
Ok, yeah, take another look at gvr-events.  Mihail modified the layouts in there so they show up at a better size in vr.  It may be helpful to share some layouts that we can try locally.  Let us know what we can do to help out.

[2017-07-05 11:57] sexydot opened #1271 "Question about "Reset headtransform""
Hello, I have a problem with reset head transform.

To reset head transform, I used below code.

[code]

It works well in VR Developer mode without Gear VR.
But when I attach it to Gear VR, It does not reset head transform.

How can I solve this issue?
Please, Let me know If there is any other way to reset headTransform.

[2017-07-05 12:10] channae opened #1272 "Adding component GVRMeshCollider to WebView behave as a single scene object. Therefore navigating within the webview doesn't work."
I'm trying to add an interactive webview. I referred  gvr demos for this purpose. I can see the callback methods in IPickEvents triggering successfully. However webview was taken as a whole therefore I'm not able to navigate within the webview rather webview acts like a single scene object when ray hits. Am I doing this wrong? Appreciate your thoughts to fix this?

**WebViewActivity**

[code]

**W

[2017-07-05 18:02] J0Nreynolds commented on #1272
GearVRf doesn't fully support interacting with Android Views such as a WebView. While picking is supported, you will only be able to "pick" at the scene object that holds and represents the WebView in 3D space (the GVRViewSceneObject in this case). If you want to interact with the WebView and not the scene object that represents it, you will have to see where your gaze ray hits on the object and d

[2017-07-05 20:43] bohuang3d commented on #1271
@sexydot
Can you tell me what action are you using to trigger the reset() while the phone is outside the GearVR?

So I can reproduce your case exactly. Best if you can supply a project with source code.

[2017-07-06 10:27] felislynx-silae commented on #1162
@liaxim is there ETA for monoscopic mode for daydream/cardboard backend?

[2017-07-06 14:53] liaxim commented on #1162
How important is this feature to you? We have not planned working on this but depending on the priority we could expedite it. It would take few days.

There will be another backend, just for monoscopic, and you will need to add it to your apk in addition to the daydream backend.

[2017-07-06 15:00] felislynx-silae commented on #1162
To be honest it would be nice to have ability to switch between monoscopic and VR mode (like in streetview) Or have ability to launch just in monoscopic mode. But if you have planned another backed thats fine, i can wait for that :). I've asked just because i've been doing research in my project that was about monoscopic view in framework.

[2017-07-06 15:05] liaxim commented on #1162
Switching at runtime will be a bit more complex than selecting a backend launch time.

[2017-07-06 15:10] felislynx-silae commented on #1162
My perfect flow would be to have ability (for DD/Cardboard flavor) to launch app in normal mode, then choose "view" to watch in portrait mode, landscape and in VR (in Cardboard or Daydream mode). I know it's complex and hard flow. I saw it in Google Spotlight that's why i've been asking

[2017-07-06 21:55] liaxim commented on #1271
I can see the problem on master. Created a pull request to fix it. In case you are using GVRf snapshots from maven, I uploaded new snapshots that include the fix.

[2017-07-06 21:55] mwitchwilliams commented on #1203
Issue appears to be in renderer.cpp, Renderer::frustum_cull().

The order is determined by the distance from the camera to the center of each object using these two statements:
[code]

In this scene below, the _Back Panel_ is at (0, 0, -8.25) for a distance of **67.552**  [note that while the camera is at (0, 0, 0), the camera position value is approximately (0, 0, -0.031)
The _Upper Transparency_

[2017-07-06 21:58] liaxim commented on #1252
I highly recommend not using loadFutureTexture. We will completely remove this kind of API in the next major release. If you must, you can spawn a background thread and call loadTexture from there. Ideally you load this texture once from onInit and if this is the case, you can just call loadTexture directly from onInit.

We can be of more help if you could share with us a sample app that exhibits

[2017-07-06 22:27] liaxim commented on #1228
@Cyganieszka Do you still experience problems? Can we close this issue?

[2017-07-07 04:43] sexydot commented on #1271
Thank you

[2017-07-07 05:20] felislynx-silae commented on #1155
Just to know that i haven't forgotten on this thread. I'll test, check and write down everything this weekend. I've had lots of work :)

[2017-07-10 03:44] lxc-xx opened #1276 "GVRCameraSceneObject's camera autofocus not working"
I was working on a project that uses the passthrough camera heavily. Recently I switched test device from S6 to S7. It seems the autofocus of camera does not work on S7 even the parameter is set like this.

`params.set("focus-mode", "continuous-video");`

The autofocus was working fine on S6. But the same code cannot get the autofocus functionality on S7. On both devices, I the passthrough camera

[2017-07-10 16:52] roshanch commented on #1203
@mwitchwilliams We have found the issue and fix too. I will talk with @NolaDonato today

[2017-07-10 17:06] mwitchwilliams commented on #1203
I have a fix provided there is no scaling.  In renderer.cpp, I multiply the object's matrix by its inverse rotation, then compare z-values (actually, square the z value so only positive numbers for comparison).  Unfortunately, when scaling, this won't work since the upper 3x3 matrix includes scaling and rotation, so I am investigating transform.cpp and renderer.cpp to get the global translation an

[2017-07-10 22:30] liaxim commented on #1276
Hi, I would be curious to know what happens if you use the original GVRCameraSceneObject but in gvr-sceneobjects make the ``setUpCameraForVrMode(1)`` call from the Android main/ui thread after 500ms delay for example.

[2017-07-11 08:41] miraclehwan commented on #1241
@J0Nreynolds
Thank you for your comment.

I solved this issues. but I hava a little problem.

## Please look at below picture.

I don't want show the Back image.
Can i change the Back color or Same Video Image??

<img src="https://user-images.githubusercontent.com/20110093/28059588-a8e927d8-665f-11e7-90a1-a63464524502.png"/>
<img src="https://user-images.githubusercontent.com/20110093/28059622-b6a

[2017-07-11 14:31] liaxim commented on #1271
Assuming it is all good. Planning to close in few days.

[2017-07-11 14:32] liaxim commented on #1228
@Cyganieszka Closing for now. You can always reopen in case you have something for us.

[2017-07-11 14:32] #1228 closed

[2017-07-11 14:33] liaxim commented on #1252
@miraclehwan Do you still experience this issue? Do you have something to share with us?

[2017-07-11 14:33] felislynx-silae commented on #1155
@thomasflynn basing on gvr-events we are making new menu as prove of concept. Results are promising. Funny thing is any view Button,ViewPager are looking good. Using xml drawable for styling is also looking good. Drawing on canvas -> no AA. But this is not a blocker for now. But it's strange :)

[2017-07-11 18:38] bohuang3d commented on #1241
@miraclehwan

The circular stripes you see are usually due to one of the texture parameters (either U or V) not changing across the surface being mapped, or texture repeat mode is set to GL_CLAMP if the texture coordinates go beyond the [0,1] range

[2017-07-11 22:42] liaxim commented on #1276
@lxc-xx Any luck getting the continuous-video mode to work?

[2017-07-12 00:09] miraclehwan commented on #1241
@bohuang3d
Thank you for comment.
if you know solve the issues, please let me know.
I used below code.

[2017-07-12 00:12] miraclehwan commented on #1252
@liaxim
yes, i will update in a week.
Thank you for your comment.

[2017-07-12 01:07] bohuang3d commented on #1241
@miraclehwan

When you do
texCoords[i] = 2*texCoords[i];
you are mapping the texture range from [0,1] to [0,2]

You could try something like this:

[code]

[2017-07-12 01:51] miraclehwan commented on #1241
@bohuang3d
I using GVRVideoSceneObject.
how can i set texture parmeters ?

[2017-07-12 13:35] lxc-xx commented on #1276
Sorry for late reply. I was working on other stuff these days.

Yes, it works! But 500ms is not long enough, my S7 works with 1000ms. Now it fixes the problem with my project. Do you have any idea why it happens? Seems some task on camera initilization is running in async mode?

[2017-07-12 15:55] liaxim commented on #1276
I think we need to wait for some preview texture-related event. We need to study it more to determine a real fix but at least you have a workaround.

[2017-07-12 16:12] brian-faber commented on #1194
Hi @liaxim
I noticed the fix is no longer in master or 3.2, is there a reason why it was put back?

[2017-07-12 16:18] #943 closed

[2017-07-12 16:45] mwitchwilliams opened #1283 "GVRMaterial.setOpacity() not setting opacity"
The GVRMaterial.setOpacity() command is not having any effect.
Using X3D's &lt;Material transparency='_value_'/&gt; node [where '_value_' is a float between 0 and 1].

In X3DObject.java, this calls:
`gvrMaterial.setOpacity( value );`
but in the picture below, it has no effect.
As a test, I called
`float opacity = gvrMaterial.getOpacity();`
to insure _value_ was being set correctly.

X3D test case

[2017-07-12 17:27] sushantojal commented on #1203
While parsing the x3d file, are separate and unique scene objects created for every object in the file, or are they all just one scene object with separate meshes?

[2017-07-12 17:37] mwitchwilliams commented on #1203
X3D creates a scene where each object is a separate and unique GVRSceneObject with its own GVRTransform, GVRMesh, etc.  For example, in the above image, there would be 3 GVRSceneObjects: the opaque mesh textured with "MarkerOne", the lower left mesh and the upper right mesh.

[2017-07-12 18:02] NolaDonato commented on #1283
This is because GVRMaterial.setOpacity sets the u_opacity uniform for the texture shader. The X3D exporter uses the Phong shader which does not have a u_opacity uniform. To set the opacity when using the phong shader you need to change the alpha component of the diffuse color: GVRMaterial.setVec4("diffuse_color", r, g, b, a);

[2017-07-12 19:30] J0Nreynolds opened #1284 "SensorEvent's isOver property set incorrectly by GVRBaseSensor"
Comments state:

However, the GVRBaseSensor does something contrary to this:

[(source here)](https://github.com/Samsung/GearVRf/blob/master/GVRf/Framework/framework/src/main/java/org/gearvrf/GVRBaseSensor.java#L116)

This creates the effect of receiving events with isOver flags in a `true`, `false`, `true`, `false`... order, even though a GVRCursorController may be "over" the object the entire ti

[2017-07-12 20:30] NolaDonato commented on #1241
GVRTextureParameters texparams = new GVRTextureParameters(mGVRContext);
        parameters.setWrapSType(TextureWrapType.GL_REPEAT);
        parameters.setWrapTType(TextureWrapType.GL_REPEAT);
EnvironmentVideoSceneObject.getRenderData().getMaterial().getMainTexture().updateTextureParameters(texparams);

[2017-07-12 20:52] J0Nreynolds commented on #1284
Ironically, this issue is caused by an error in my logic in #1256, and therefore, it is only affecting me. I will fix this immediately, and this can be closed.

[2017-07-12 20:52] #1284 closed

[2017-07-13 00:15] miraclehwan commented on #1241
@NolaDonato
Thank you for your comment.
But I still have a problem.
Could you check my code please?

[code]

## Current VideoView
<img src="https://user-images.githubusercontent.com/20110093/28059588-a8e927d8-665f-11e7-90a1-a63464524502.png"/>
<img src="https://user-images.githubusercontent.com/20110093/28059622-b6a23afe-665f-11e7-852a-89fe9aba75df.png"/>

[2017-07-13 13:41] lxc-xx commented on #1276
Definitely!

For now, I suggest keeping this issue open for the reference of other developers?

[2017-07-13 14:07] liaxim commented on #1276
Sure. We have not fixed it.

[2017-07-13 14:19] miraclehwan opened #1286 "Q / Periodically, showed the first frame during the playing animation."
Hi, all.
I want to loading Animation. so I found the [issues](https://github.com/Samsung/GearVRf/issues/730)&[example code](https://github.com/rahul27/GearVRf-Demos/commit/56755c4a94070ad4c071a5588b4ad321e2b31922).
but It is have a little problem.
Periodically, showed the first frame during the playing animation.
Sorry for my English is not good.

Could you check my code please ?

[My project](htt

[2017-07-13 14:43] liaxim commented on #1283
@mwitchwilliams Should we close?

[2017-07-13 15:55] liaxim commented on #1286
From trying your app I can see that the frames are not animated in the right sequence. The files from the zip archive are not processed in the expected order. Without code changes renaming Frame0, Frame1, .., Frame9 to Frame00, Frame01, .., Frame09 should do the trick. Attaching the updated archive:
[loading.zip](https://github.com/Samsung/GearVRf/files/1145802/loading.zip).

[2017-07-13 16:02] liaxim commented on #1241
@miraclehwan Run the texture parameters block on the GL thread:
[code]

If you still experience problems, please consider creating a test app for us to examine. Thanks.

[2017-07-13 16:22] mwitchwilliams commented on #1283
Let me test this difference first, and then I can close it.

[2017-07-13 17:35] mwitchwilliams commented on #1283
Ok, great.  This works.  Thanks.

[2017-07-13 17:35] #1283 closed

[2017-07-14 00:05] miraclehwan commented on #1286
@liaxim
Thank you for your comment.
I solved the issues. :-)

[2017-07-14 00:05] #1286 closed

[2017-07-14 01:07] miraclehwan commented on #1241
@liaxim
Thank you for your comment.
I used GL thread. but My app crashing.
so I update my code.
Please check my [project](https://github.com/miraclehwan/AnimationTEST).

[2017-07-14 04:00] miraclehwan commented on #1217
@liaxim
Thanks for your comment.
If do you have another way, Please Could you let me know??
Thank you so much. 👍

[2017-07-14 04:00] #1217 closed

[2017-07-14 15:17] liaxim commented on #1217
@miraclehwan If you are referring to another way of requesting permissions at runtime - no, I don't think there is another way.

[2017-07-14 16:07] #1271 closed

[2017-07-14 17:23] liaxim commented on #1241
@bohuang3d Since the the video scene object has to use an external texture, the texture wrapping mode is fixed to GL_CLAMP_TO_EDGE per OES_EGL_image_external spec.

@miraclehwan I am not seeing a crash trying your app btw.

Given the video from the sample app, half of a cylinder is the mesh that is needed probably.

[2017-07-14 18:43] lxc-xx opened #1293 "Android Progressbar Does Not Spin on GVRViewSceneObject"
The android progress bar widget seems not spin when rendered on the GVRViewSceneObject.

I test on the code from GearVRf-Demo (https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-events). I inserted the progressbar code into the activity_main.xml.
`        <ProgressBar
            android:layout_width="wrap_content"
            android:layout_height="wrap_content" />`

The progress bar can be

[2017-07-14 20:05] bohuang3d commented on #1241
@miraclehwan I will modify your project with the initial half-sphere method to keep it simple and straight-forward and get back to you

[2017-07-14 20:41] J0Nreynolds commented on #1293
I believe the View will only be redrawn when you call `frameLayout.invalidate();` from the UI thread, or you can call `frameLayout.postInvalidate();` from any other thread. Perhaps the simplest solution to your problem would be to change make the onStep function of the EventsMain class call `postInvalidate` like so:

[code]

[2017-07-14 23:57] nitosan opened #1294 "How to use Skeletal animation"
Is there any sample about using Skeletal animation with GearVRf?

[2017-07-15 00:37] bohuang3d commented on #1241
@miraclehwan
I modified your Main.java and added a class called PartialSphereSceneObject that can generate hemispheres, partial spheres, and full sphere to map your video too. Both files attached please give a try, thanks

[code]

[animaitontest_modified_src_files.zip](https://github.com/Samsung/GearVRf/files/1149922/animaitontest_modified_src_files.zip)

[2017-07-15 01:55] miraclehwan commented on #1241
@liaxim
I updateed my [code.](https://github.com/miraclehwan/AnimationTEST).
I solved this issues. but I curious why crash is my app .

@bohuang3d
Thank you for your code.
I solved this issues. Thanks you so much.
I have a question.
if i want to show duplicate video in front & back, how can i edit my code?
I think i make duplicate my video texture. but I don't know... Sorry a lot of question.

##

[2017-07-15 02:01] miraclehwan commented on #1217
@liaxim
appreciate your comment in everyday!!

[2017-07-15 06:40] lxc-xx commented on #1293
This works well. Thanks for your answer!

[2017-07-17 19:21] bohuang3d commented on #1241
@miraclehwan

For duplicate video, can you make two such hemispheres with video mapped to each? One for front and one for back. And you can position and rotate them however you want.

I didn't crash either when running your app. What's your device

[2017-07-17 23:32] J0Nreynolds commented on #1294
I believe [gvr-meshanimation](https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-meshanimation) has an example of skeletal animation when the skeletal mesh and animation sequence is stored in a single .fbx file.

[2017-07-18 08:47] lxc-xx commented on #1293
I did more tests on this and found that, actually, this simple solution introduces huge CPU overhead.  In the gearfr-demo example, the CPU usage doubled (from ~16% to ~30%) after I added the `frameLayout.postInvalidate();`. If I apply the same code to my a little larger project, the fps drops a lot.

Do you have any idea about this?

[2017-07-18 17:12] liaxim commented on #1293
@lxc-xx There is a texture that needs to be updated to pick up the view changes. Updating it too frequently is expensive. You could try calling postInvalidate less frequently than every 16ms. 32ms looks like a good tradeoff. 48ms might be possible too. The less frequently you call it the better but the animation will get choppier.

[2017-07-18 17:59] liaxim commented on #1241
@miraclehwan Can you attach the logcat output at the time of the crash?

[2017-07-18 18:02] liaxim commented on #1203
@mwitchwilliams Are you still working on this issue on your side?

[2017-07-18 18:08] liaxim commented on #1194
@brian-faber Created a pull request for master. Will be merged in few days and will become part of the 4.0 release. We never patched up 3.2. We would need a new release (3.2.2 I guess).

[2017-07-18 18:09] liaxim commented on #1155
@felislynx-silae If you have problems let me know how I can be of help.

[2017-07-18 18:12] liaxim commented on #1202
@mwitchwilliams Is this problem still present?

[2017-07-18 18:16] mwitchwilliams commented on #1202
Yes, this is still an issue.  Nola should be added to this issue.

[2017-07-18 18:19] mwitchwilliams commented on #1261
Expected to be addressed by Pull Request:
https://github.com/Samsung/GearVRf/pull/1298

[2017-07-19 07:54] felislynx-silae commented on #1155
@liaxim I wonder, why there is correlation between quad size and android layout size. From our experiments it's 1F to 700px. If we use different scale, layouts are not rendered correctly on quad

[2017-07-21 19:00] liaxim commented on #1155
@felislynx-silae Are you using GVRViewSceneObject? There is no direct link between the quad size and the android layout (surface) size. Do you have some snippet for me to try?

[2017-07-25 00:13] NolaDonato opened #1322 "X3D camera position changed in unit tests"
The X3D unit tests that import X3D assets no longer work. The camera seems to be farther away in all of them than it used to be. I am not sure if this is because the X3D assets themselves changed or because of modifications to the X3D importer.

The unit tests always center the model and scale it so the bounding box will fit on the screen. The bounding box is apparently much larger now, causing th

[2017-07-25 14:29] Cyganieszka commented on #555
It's a little bit off-topic, but can be very helpful for people seeking answer about video size limitations.

Why, in the whole gearvr documentation there is no information about maximum APK size ? Why you can upload much bigger APK to oculus store, and without any problems test it on alpha/beta channels?

Like a lot of people in this topic, I tried to load big video file from assets. I faced a lo

[2017-07-25 15:06] liaxim commented on #1194
@brian-faber Fix merged to master and will be part of the next release. Can we close the issue now?

[2017-07-25 15:41] mwitchwilliams commented on #1322
Yes, the default camera in X3D is at (0, 0, 10) and this was fixed over a month ago.
At one point, the &lt;Viewpoint&gt; node was implemented but had been disabled since some other GearVR changes caused it to stop working.
Many of my latest tests insert **&lt;Viewpoint position='0 0 0'&gt;** just after the &lt;Scene&gt; node.

[2017-07-27 01:34] NolaDonato commented on #1322
This bug is in the unit tests. They do not take into account the camera position when scaling the output to fit the display. PR #177 in GearVRf-Tests fixes it.

[2017-07-27 01:34] #1322 closed

[2017-07-27 06:18] felislynx-silae commented on #1155
I'm basing on gvr-events code. While building ui's basing on this code snipped we discovered that ratio 700px for layout and 1F for quad(and of course 350 - 0.5 etc) was only good combination for almost perfect layout filling inside quad. If you change gvr-events code (bigger quad or bigger layout) to brake this proportion you'll see that layout is not properly inflated into quad

[2017-07-28 12:34] SteveGreatApe opened #1338 "Rendering order set TRANSPARENT when creating scene object with future texture"
Hi, I've just pulled the latest GearVRf code and found a bug in my App as a result of the rendering order being automatically changed to TRANSPARENT where I'm loading a GVRSceneObject with a future texture and mesh.

The problem is caused by the newly added GVRRenderData:adjustRenderingOrderForTransparency function. I can see the sense it doing this when it does detect a texture with transparency,

[2017-07-28 14:03] SteveGreatApe opened #1339 "Problems when attaching GVRPicker to scene models"
Hi, I've been using code for my picker object based on the sample in gvr-controller (See the onCursorControllerAdded function in SampleMain.java).

I've hit various erratic problems which seem to be timing dependent. Depending on exactly what objects I attach to my picker, how I load them, and some random timing variations I can get anything from no visible picker, a partially visible picker or ev

[2017-07-28 23:01] bohuang3d commented on #1338
As a side note: maybe you know this already, it's been recommended to not use future texture

[2017-07-28 23:05] thomasflynn commented on #1338
he doesn't have a lot of easy choices in the current top of trunk.  once we merge the vulkan branch into master, then futureTextures will be unnecessary and be deprecated.

[2017-07-28 23:06] thomasflynn commented on #1338
and thank you @sushantojal for the quick diagnosis and fix!

[2017-07-31 18:24] ragner commented on #1293
Hi @lxc-xx,
If possible, could remove `frameLayout.postInvalidate();` and test your application with my branch
https://github.com/ragner/GearVRf/tree/keyboardview ?

It could be a good test to my https://github.com/Samsung/GearVRf/pull/1345
it is about keyboard support but also has some improvement to GVRViewSceneObject

[2017-07-31 21:18] bohuang3d commented on #1339
Yes I can reproduce it. We will take a look

[2017-07-31 21:34] NolaDonato commented on #1339
Jon Reynolds can help too, he is familiar with the controller code

[2017-07-31 22:06] bohuang3d commented on #1339
That would be great. So far I see things on the JNI engine side:

Line 666 of gl_renderer.cpp
at end of the function there is
checkGLError("renderMesh::renderMaterialShader");

To narrow down where the GL_INVALID_OPERATION happens in this long function, I think we should add more such checks throughout. This GL error could be making the controller's graphics disappear.

[2017-07-31 22:37] NolaDonato commented on #1339
Are we sure the GL error is the problem? It is possible that Jon's matrix locking OR for physics will fix this issue. The controller code runs in a separate thread and modifies the model matrix which is used in computing picking.

[2017-07-31 22:45] bohuang3d commented on #1339
It's a possibility, as any GLerror on glDrawElements() or glBindVertexArray() in that function negates a draw

And these calls are dependent on data fed to it. Let's try the matrix/physics fixes when they become available and maybe they will fix it

[2017-07-31 23:18] roshanch commented on #1339
do you see any shader compilation errors?

[2017-07-31 23:24] NolaDonato commented on #1339
I have seen this error before. I tried to track it down by putting checkGLError everywhere but was unsuccessful. If you put checkGLError in renderCamera you may find it gets called on the first frame.

[2017-08-01 12:16] channae opened #1348 "Accessing oculus platform sdk methods from GearVRf?"
I'm working on a project based on GearVRf on Android Studio. This requires to access certain methods in oculus platform sdk such as identifying the logged in oculus user.

Additionally I'm interested in integrating following functionalities based on oculus sdk: Coordinated App Launch (CAL), Matchmaking and pools, Parties, Rooms, User and Friends, Peer to Peer Networking. However oculus documentati

[2017-08-01 14:28] liaxim commented on #1339
The static mesh cache in the asset loader is the cause feeding bad meshes. If you hit Oculus home and return back to the app, usually the process is not killed and any writable static state can and usually does become a problem.

Should be fixed by https://github.com/Samsung/GearVRf/issues/1349.

[2017-08-01 17:07] NolaDonato commented on #1339
I am questioning the need for the mesh cache. I left it there but I think it might be better to make it a model cache based on the resource like we do with textures. We should discuss this next week.

[2017-08-01 17:12] bohuang3d commented on #1348
@channae

That's a great many features you want to support. As c/c++, more likely you have to write JNI code to interface these c/c++ functions from Java

[2017-08-01 18:23] liaxim commented on #1348
@channae All we currently have is the entitlement check. See https://github.com/Samsung/GearVRf/tree/master/GVRf/Extensions/platformsdk_support. Maybe what we have will give you a base to which you could add at least some of these additional features?

[2017-08-01 21:33] liaxim commented on #1293
@ragner Tried your branch with gvr-events but it throws NPE:

[code]

The frameLayout's layoutParams is null. I see you have removed the registerView call. What is it replaced with now?

[2017-08-01 21:43] ragner opened #1355 "Scene blinks after back key pressed"
Hi all,
The scene is blinking after back key pressed.
You can see this issue easily on gvr-keyboard demo but it happens at other demos also.

To reproduce you just need launch the application wait for it be ready
so press back key twice.

We are facing this issue at our "Look To The Sky" application also.

Does anybody could help me with this?

[2017-08-01 21:48] ragner commented on #1355
I am using a GearVR RM-R324 + S8 SM-G950FD

[2017-08-01 22:43] ragner commented on #1293
Hi @liaxim,
I have updated my branch to keep compatibility with current GVRView implementations ...
Could yout fetch it again?

But with my changes  gvr-events could be updated to use the following constructor:

` /**
     * Constructs a scene object that inflate a view from an XML resource. The scene object
     * notifies the {@linkplain IViewEvents listener} of the view to set its initial prope

[2017-08-01 22:47] ragner commented on #1293
With my changes,
that call to `` frameLayout.invalidate(); `` should not be necessary anymore.

[2017-08-01 23:10] J0Nreynolds opened #1356 "Unknown source dispatching touch events for GearVR controller"
Same issue as #1245. Touch/Motion events are being generated by button presses, yet they aren't originating from the GearCursorController. I'm currently working on setting motion events for the GearCursorController, but these aforementioned touch events often interrupt any touch events I generate. To reproduce this error, you can use the code in the previous issue:
[code]
Notice that pressing any

[2017-08-02 14:35] liaxim opened #1358 "x3d: add global override for the default camera position"
Loading an x3d model which doesn't explicitly put the camera rig at (0,0,0) would re-position it to (0,0,10). This is somewhat abrupt from a GVRf user's perspective. The least we could do is add a global override that can be used to change this default.

[2017-08-02 15:49] liaxim commented on #1355
Happens only on S8 from what I can see. Note 5 with Android N shows no problem. Have nothing thus far. Will keep looking over the next few days.

[2017-08-03 16:22] liaxim commented on #1356
This is done by the platform by design. Confirmed also by https://developer.oculus.com/blog/developing-for-the-gear-vr-controller/.

What you could is filter out the touch events based on some criteria. Like tool type of value TOOL_TYPE_UNKNOWN and few other MotionEvent fields that probably identify the events uniquely.

[2017-08-03 21:38] J0Nreynolds commented on #1356
Great, thanks for looking into this for me. I'll look into possible ways of ignoring the touch events.

[2017-08-03 21:38] #1356 closed

[2017-08-07 18:27] mwitchwilliams commented on #1358
The X3D command to set the camera's position to (0,0,0) is:
&lt;Viewpoint position='0 0 0'/&gt;

I believe (0,0,10) was defined as the default camera position because content creators would like to place their meshes at/near the origin (0,0,0).
Not sure how this global override could be specified, but toward the bottom of X3Dobject.java, when parsing &lt;/Scene&gt; node indicating there will be no

[2017-08-07 18:30] mwitchwilliams commented on #1261
Recommend this be closed.
The fix was merged with https://github.com/Samsung/GearVRf/pull/1298

[2017-08-07 18:30] #1261 closed

[2017-08-08 10:45] zhangweizhe opened #1371 "The screen can't be filled"
![image](https://user-images.githubusercontent.com/18739215/29068573-ee2a6968-7c69-11e7-91c5-b57444884178.png)

The screen can't be filled by the white part on my device, the size of my device is 5.5inch, and 1920*1080
How can I solve the problem

[2017-08-08 15:42] felislynx-silae opened #1372 "GVRTextViewSceneObject -> changing typeface"
Is there any reason why changing typeface is not accessible in any other way than reflection?
Will it be supported or is there other way to change typeface in GVRTextViewSceneObject?

[2017-08-08 15:48] felislynx-silae commented on #1156
As from my perspective this issue can be closed. But i believe that there should be created task to create the same level of abstraction for Daydream controller like for Gear controller.

[2017-08-08 15:48] #1156 closed

[2017-08-08 15:52] felislynx-silae commented on #1155
From my perspective, there are limitations of this approach. If quad size is not in perfect fit with layout pixel size, there will be issues with how layout is inflated into quad. Some views have problems with AA. But we were able to create very nice UI with this approach (even with HOVER effect on specific list item!). @liaxim @thomasflynn i believe that we can close this issue. If any of my know

[2017-08-08 17:21] liaxim commented on #1293
@ragner It does work and it does perform very well. Why does it work though? updateTexImage is still there on every frame. What was the overhead in the old approach? We had to rely on invalidating the layout to get Android to draw apparently; is that it? Is your RootViewGroup something customized off the platform? Thanks.

[2017-08-08 17:55] mwitchwilliams commented on #1372
Greetings,
Just want to get some information on your issue, could you copy the GVRTextViewSceneObject Constructor from your code?
Is it:
[code]

Are you using the setTypeface method:
`setTypeface(GVRContext gvrContext, String font)`

There has been an update to GVR framework to include the above constructor and method in the past 2 months.

Mitch

[2017-08-08 18:00] felislynx-silae commented on #1372
GVRTextViewSceneObject(GVRContext gvrContext, float width, float height, CharSequence text)
or
 GVRTextViewSceneObject(GVRContext gvrContext, CharSequence text)

I'm using oficial 3.2 release. I'm asuming, that change is not released, and available only while building framework by myself?

[2017-08-08 18:05] felislynx-silae commented on #1372
Also is loading font not from assets but using Typeface.createFromFile("") from app cache also available?

[2017-08-08 18:21] ragner commented on #1293
Hi @liaxim,
I think that the overhead was call invalidade that causes draw() call unnecessarily even the View has not been changed.

About this invalidade issue I don't have a final fix but my workaround was override invalidateChildInParent(...) and call postInvalidate() inside of it. So RootViewGroup
will call draw(canvas) of its children only when its content has been changed.

 Also I am just c

[2017-08-08 20:49] bohuang3d commented on #1371
Which device is this?

Is it a white background that's supposed to occupy most of the screen?

Please send a simple class containing a test case demonstrating this

[2017-08-09 01:27] brian-faber commented on #1194
Sorry for delay in seeing this. Yes we can close this again.

[2017-08-09 01:37] zhangweizhe commented on #1371
@bohuang3d
My device is ZTE Nubia z7Max
Yes, the white background supposed to occupy most of the screen.
I am new to GitHub and don't know how to send a file.
Here are the codes demonstrating the problem
public class TestMain_1 extends GVRMain {

    private GVRScene mGVRScene;

    @Override
    public void onInit(GVRContext gvrContext) throws Throwable {
        super.onInit(gvrContext);

[2017-08-09 01:57] thomasflynn commented on #1372
Yes, the change Mitch is mentioning is in master.  You'll need to build the framework to get it.

[2017-08-09 02:01] thomasflynn commented on #1372
Though, we have nightly builds uploaded to maven as 3.2.1-SNAPSHOT.  You can try that first before attempting to do a build.

[2017-08-09 02:03] thomasflynn commented on #1156
We're a bit short-staffed at the moment (but we are hiring ;-), but yes, a proper abstraction is in the plans.

[2017-08-09 07:49] zhangweizhe opened #1375 "Have trouble using Skeletal animation"
In the [gvr-meshanimation](https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-meshanimation) , the skeletal mesh,  animation sequence and the information of the texture t_rex_texture_diffuse.png  are all stored in  TRex_NoGround.fbx.
Now I have a fbx file [plane.fbx](https://github.com/zhangweizhe/hello-world/blob/master/plane.fbx) including skeletal mesh and animation sequence, but without

[2017-08-09 15:24] #1194 closed

[2017-08-09 19:18] apjagdale commented on #1375
Hi,
You can do it like this:

`GVRSceneObject animaObj = gvrContext.getAssetLoader().loadModel(mModelPath, mainScene);
            GVRTexture texture = gvrContext.getAssetLoader().loadTexture(new GVRAndroidResource(gvrContext, R.drawable.gearvr_logo));`
`ArrayList<GVRRenderData> renderDatas = animaObj.getAllComponents(GVRRenderData.getComponentType());
            renderDatas.get(0).getMaterial().

[2017-08-09 21:05] bohuang3d commented on #1371
We don't have that device. It's from 2014 and I suppose it's not Daydream certified?

As you don't seem to be doing anything strange for the code, I'm sure if you run your project on a Samsung Galaxy S6,7,8 or Note 5 and above, you won't run into this problem.

[2017-08-10 01:05] zhangweizhe commented on #1371
@bohuang3d
Yes, it runs on Galaxy S6 perfectly, I just want to know what's wrong on my device
![image](https://user-images.githubusercontent.com/18739215/29150060-ca2eaec4-7daa-11e7-996c-15cacdf68698.png)
thank you for your reply
![image](https://user-images.githubusercontent.com/18739215/29150129-085b6ec6-7dab-11e7-85a4-72e773e40fec.png)

[2017-08-10 13:58] liaxim commented on #1372
@thomasflynn The uploads are manual. Not that we can't automate. Not sure why we never did that - one reason would be spamming the maven repo.

[2017-08-10 14:04] liaxim commented on #1371
@zhangweizhe If you are willing to share your logcat output, we can take a look. Not likely it will be enough though. Have you tried different cardboard profiles? What happens if you run another cardboard app, one that is not using GVRf?

[2017-08-10 15:15] felislynx-silae commented on #1372
I've checked nightly build. It's better but loading font not from hardcoded assets would be awesome :)

[2017-08-10 15:21] mwitchwilliams commented on #1372
Currently, the .ttf font file(s) must be in Android Studio's assets folder, same location as texture maps.
We also had an idea for getting text strings remotely too, so perhaps when we revisit that issue, we will discuss .ttf files from external sources.

[2017-08-10 15:24] felislynx-silae commented on #1372
@mwitchwilliams From my experience, using reflection to get textview, then setting typeface downloaded from google fonts works (sometimes not)

[2017-08-10 17:19] liaxim commented on #1355
Let me know how https://github.com/Samsung/GearVRf/pull/1379 works out for you.

[2017-08-11 02:06] zhangweizhe commented on #1375
Hello @apjagdale , thank you for your reply.
I'm sorry that it does't work as I except, I can't see anything in the scene
Here are the codes
`
public class AnimationMain extends GVRMain {
    private GVRScene mainScene;
    @Override
    public void onInit(GVRContext gvrContext) throws Throwable {
        super.onInit(gvrContext);
        mainScene = gvrContext.getMainScene();
        mainScene.se

[2017-08-11 02:27] zhangweizhe commented on #1371
Hello @liaxim , thank you for your reply
Here is the logcat output with filter "org.gearvrf.sample.sceneobjects" [log.txt](https://github.com/zhangweizhe/hello-world/blob/master/log.txt)
I have tried other cardboard apps and encounter this problem too.

[2017-08-11 14:11] liaxim commented on #1371
Try https://play.google.com/store/apps/details?id=com.anrael.vrcc&hl=en. Try adjusting the FOV angles using the app and let us know whether it makes any difference. But most likely you need to install an appropriate profile.

[2017-08-11 18:43] apjagdale commented on #1375
Hi @zhangweizhe
Your plane is too huge. I placed it at a position of (0,0, -100). I could also see the animation similar to heart beat.
SetMainTexture sets u_texture whereas setTexture is used to set a specific texture.

[2017-08-11 23:34] ragner opened #1383 "Scale transformation has not been applied to children"
Hi,
I maybe doing something wrong but at current master branch
if I make  changes of scale It is not been propagated to the children of a GVRSceneObject instance.

Does anybody get this issue also?

For example:
[code]
The scale of B keeps the same on the scene.

[2017-08-12 01:53] zhangweizhe commented on #1375
Hello @apjagdale
Yes,  I can see the animated logo!!
Thank you for your reply, thank you so much!

[2017-08-14 06:25] zhangweizhe commented on #1371
Hello @liaxim Here are some screenshots of the app, it makes some differences by adjusting the parameter
The first time I opened the app
![image](https://user-images.githubusercontent.com/18739215/29260031-b36d803c-80f9-11e7-972e-2a7dd3a90c18.png)

adjusting the FOV angles
![image](https://user-images.githubusercontent.com/18739215/29260053-d06ec894-80f9-11e7-8c2d-0eda46ddb9ac.png)

adjusting the

[2017-08-14 07:19] channae opened #1384 "How to handle GVRScene objects' displaying order and How to access GVRScene' methods from on click listeners in GVRActivity class?"
I'm working on a VR application which shows scene objects upon startup (cube scene etc). Upon gazing at certain scene objects it should pop up an android listview. This listview contains submit and a cancel button.

However Im having few issues within the application.

1. Upon gazing at the cube scene object, list view does not pop up (no exceptions are thrown either). I assume this is happening e

[2017-08-14 09:44] channae commented on #1384
I managed to get above done with multiple GVRScene objects. I created static GVRScene object in GVRActivity and assigned the current scene before switching so I could go back to the previous scene. Hope I'm not violating best practices. Closing the ticket.
Thanks,

[2017-08-14 09:44] #1384 closed

[2017-08-14 12:27] zhangweizhe commented on #1371
Hello @liaxim , after trying different parameters, the scene can occupy the whole screen.
Thank you so much.

[2017-08-14 14:01] liaxim commented on #1371
@zhangweizhe Awesome. Can we close the ticket then?

[2017-08-14 14:04] zhangweizhe commented on #1371
@liaxim  I am sorry I forgot to close it. I will close it right now.

[2017-08-14 14:04] #1371 closed

[2017-08-14 14:17] liaxim commented on #1384
@channae Generally using multiple GVRScenes can be considered discouraged. One day we may remove the ability to switch them out. You could look at the GVRSwitch node and the related gvr-switch demo app as an alternative solution to your problem.

[2017-08-14 15:59] liaxim commented on #1375
@zhangweizhe Can we consider the issue closed then? Thanks.

[2017-08-14 16:04] #1375 closed

[2017-08-14 18:37] bohuang3d commented on #1384
@channae

Here is a different approach using scale factors and still maintain just one scene:

Add the cube object, layout object to the same scene.
Upon gazing onto the cube, set the layout object's scale to 1, thus showing it.
Upon exiting gaze from the cube, set the layout object's scale to 0, thus hiding it.

Thus do this instead of add/remove scene objects that causes you problems

[2017-08-14 19:01] mwitchwilliams commented on #1383
Greetings Ragner,

Thanks for your comments.  I ran a test of scaling with child objects using our X3D implementation, a file format that builds a GearVR data structure with GVRSceneObjects and Transforms.  It scaled objects as expected.  In the screen shot, the red cone is scaled (3, .75, 1) and the green and blue cones are child objects.  The white cone is not a child object and has no scaling.

[2017-08-14 19:30] bohuang3d commented on #1383
@ragner

Here is one possibility to partially explain your situation:

Your quad mesh lies in the XZ plane

Its parent transform is scaling in the XY plane

So the Z dimension of the quad is not scaled

Can you try with a cube? Please provide a minimal project example to me.

Thanks

[2017-08-14 19:32] ragner commented on #1383
Hi @mwitchwilliams, after your comment
 I took a look at the change log of my source code and saw a mistake
Sorry for the inconvenience ...

I will close this.

[2017-08-14 19:32] #1383 closed

[2017-08-15 15:32] brian-faber opened #1389 "Issues with change #1274 (backend_oculus_camera_rig_reset)"
https://github.com/Samsung/GearVRf/commit/0a09fc9e5f9fb266fa9ccf4fc62b1ddadc209fd4

We've been noticing odd behavior that is tied to this change. Where sometimes when taking off and putting back on the headset results in the camera rig being rotated 90 or 180 deg (on the Y axis) after prolong use. The issue goes away with rolling back this change.

I sadly haven't had time to investigate further t

[2017-08-15 17:00] bohuang3d commented on #1389
Thanks. Do you know the length of time it takes? 5 minutes? 30 minutes?

[2017-08-15 18:29] brian-faber commented on #1389
To be honest I am not sure as I haven't had time to fully isolate when and why. It usually happens after using and testing the app out a lot through out the day and when it does happen we were probably running the app for 15m or more.

The issue did not start happening till after this change was made and it always goes away when this change is reverted and always crops back up when I compile the l

[2017-08-16 08:06] jeanpul opened #1391 "GVRAndroidResource private constructor with InputStream"
Hi,

Thank your for your great sdk !

I do not understand why GVRAndroidResource(String, InputStream) is private ? Our application has already is own assets manager (SDcard, resource, assets, Urls...) and can return a FileDescriptor or an InputStream so we don't have to worry about the source. Could we move this constructor public or is it possible to add a public constructor GVRAndroidResource(Fi

[2017-08-16 18:29] Ongoza opened #1394 "Don't start in "minifyEnabled true" mode"
Hi Guys!
If i set up "minifyEnabled true" my app does not start with message:
` E/gvrf: unable to find method onDrawEye`
With "minifyEnabled false" - no problem

[2017-08-16 20:02] bohuang3d commented on #1391
For our purposes, it's currently used only by the ZipLoader according to comments:

     * Note that this constructor is package private and is only used by the {@link ZipLoader}
     * (for now).

This could change though before any such decision you are welcome to extend/modify this class and add your own functionalities

[2017-08-16 20:30] bohuang3d commented on #1394
Actually, that's a proguard thing. It could be obfuscating too aggressively, and not something we have control over which function is gotten rid of or not

[2017-08-16 20:50] #1394 closed

[2017-08-16 20:51] Ongoza commented on #1394
Ok

[2017-08-16 20:58] liaxim commented on #1394
@Ongoza Regarding proguard rules, https://github.com/Samsung/GearVRf/wiki/Q&A 's item 22 has the rules verified as working some time ago. Might be outdated but it is a start.

[2017-08-17 13:00] SteveGreatApe commented on #1339
Hi, I've tried out the Mesh Cache fix you've pushed for this bug. It's a partial fix, but I've still got another problem with the model I attach to the Picker. It's a bit complicated of scenario to explain, with some side issues on the way, but bear with me.

To reproduce it make sure developer mode is disabled, put the phone into the Gear headset and run the gvr-controller app.

Put the headset o

[2017-08-17 16:34] liaxim opened #1398 "Add support for Oculus Mobile SDK 1.7.0"

[2017-08-17 16:41] liaxim commented on #1398
Looks like we just have to recompile. Still some testing will be needed (controller). I will switch to using it in my daily work.

[2017-08-17 17:42] liaxim commented on #1338
https://github.com/Samsung/GearVRf/pull/1341 has been merged. @SteveGreatApe Can we close?

[2017-08-17 18:24] liaxim commented on #1391
@jeanpul Historical reasons. I find it all very convoluted (even somewhat broken) but is not likely we will refactor soon.

You might be able to do something like the following; have not verified it as working:

[code]

Or just use reflection and mark the package private ctor as accessible.

And finally, considering how much detail we already expose, I will just make this one public too.

[2017-08-18 08:16] jeanpul commented on #1391
Hi @bohuang3d ,@liaxim , thanks for your replies.
Using your "GVRResourseVolume" is not working, I have errors "Cannot set the stream of an open resource" and "Input stream doesn't support mark" so finally I've used reflection as described bellow :

[code]
Regards

[2017-08-18 08:16] #1391 closed

[2017-08-18 09:47] SteveGreatApe commented on #1338
Yes, the fix looks good thanks.

[2017-08-18 14:01] #1338 closed

[2017-08-18 14:07] liaxim commented on #1391
@jang7875 Yeah. Forgot you have to also wrap your InputStream in something like the following. Then pass that. Much better to use reflection though.
[code]

[2017-08-18 19:50] Ongoza commented on #1009
Is 3.1 GearVRf release on Maven repository already fixed?

[2017-08-21 08:52] channae opened #1403 "Synchronize head movement between two device"
Hi,

I want to sync one of the devices head movement with the other device. So the second device should move (override) according to the values passed by the first device.

**Device 1**
I'm retrieving following on onStep method of first device (Device used for sending data). And these will be sent over the network to the second device.

[code]

**Device 2**
CameraRig is set to freeze during onInit

[2017-08-21 09:43] channae commented on #1403
Additionally I have tried,

mainCameraRig.getHeadTransformObject().getTransform().rotate(w,x,y,z);
mainCameraRig.getHeadTransformObject().getTransform().setRotation(w,x,y,z);

However the screen blinks upon executing above methods. No luck in rotating the current scene.

[2017-08-21 18:45] bohuang3d commented on #1403
I think
setRotationByAxis() returns an angle axis pair
where as
getRotationX(), Y(), Z(), W() returns a quaternion (x,y,z,w)

[2017-08-21 21:39] Ongoza commented on #1009
I have new answer from Oculus
Fault again ;( reason is:

A “back” action is interpreted by the application dependent on its current state, but generally it will retreat one level in an interface hierarchy. The short-press should provide a custom confirmation dialog which allows the user to exit the app and return to Oculus Home.
There are 2 different interactions a user should be able to do with t

[2017-08-22 00:36] Ongoza commented on #1009
How I can call brought up the exit-to-Oculus-Home prompt from my code?

[2017-08-22 14:07] liaxim commented on #1009
@Ongoza We have the GVRMain.onBackPress method. If you don't implement it a back key press will bring up the exit-to-Oculus prompt automatically. If you return true from this method you would let us know you are handling the back key inside the app. For example, the gvr-immersivepedia demo uses this method to back out to its menu scene.

[2017-08-22 18:19] bohuang3d commented on #1355
Closing per confirmation of fix

[2017-08-22 18:19] #1355 closed

[2017-08-22 23:38] #1294 closed

[2017-08-23 08:20] retterdesdialogs opened #1409 "GVRVideoSceneObject Video with alpha channel"
I am trying to show a video with alpha channel in Android with the Gear VR SDK, but the background is black instead of transparent.

What i have is

[code]

This shows the video but with a black background. I found out that MediaPlayer and ExoPlayer are not able to handle the alpha channel.

What i also tried is to use the ffmpeg player, but there i have the problem that the GVRVideoSceneObject ne

[2017-08-23 17:43] bohuang3d commented on #1409
How do we know MediaPlayer / ExoPlayer can't handle alpha channel?

If we can get the alpha data, GVRF can make use of the alpha channel:
https://github.com/Samsung/GearVRf/blob/master/GVRf/Framework/framework/src/main/jni/shaders/material/oes_shader.cpp

`out_color = vec4(color.r * u_color.r * u_opacity, color.g * u_color.g * u_opacity, color.b * u_color.b * u_opacity, color.a * u_opacity);`

[2017-08-24 08:31] retterdesdialogs commented on #1409
Thanks for help. I cannot use another format. But anyway, we decided to use a 3d object and animate this instead of having a video.

[2017-08-24 08:32] #1409 closed

[2017-08-24 09:42] retterdesdialogs opened #1410 "V/GVRAnimationChannel: Warning: interpolation failed at time"
I have a .dae object from Blender.

I can load the model and can start the "mouseOver" (looking on it) animation with:

`touchedButton.getAnimations().get(1).start(context.getAnimationEngine());`

getAnimations().get(1) will log:

GVRKeyFrameAnimation[name=MouseOver, ticksPerSecond=1.0, duration=0.9, 1 channels]
GVRAnimationChannel [nodeName=HoverButton, positionKeys=31, rotationKeys=31, scaleKeys

[2017-08-24 17:49] bohuang3d commented on #1410
Please supply your .dae file and a minimal project. Thanks

[2017-08-25 16:07] liaxim commented on #1372
@felislynx-silae The additional sources for text fonts has been noted. Do you think what is in master is adequate otherwise? If not, do you have specific suggestions? And finally, if it is all good, can we close the issue?

[2017-08-25 16:18] felislynx-silae commented on #1372
It works quite well :)
I have some issues with measuring view with custom font, to set quad size. But it's manageable for now (it is threading fault for sure) because sometimes measured textview gives smaller size than it should. I think after new release of framework i'll make extensive tests of how code is behaving :) Thank you very much

[2017-08-25 16:27] liaxim commented on #1372
All right. Closing for now and I will be expecting bug reports after our 3.3 release ;). Thanks.

[2017-08-25 16:27] #1372 closed

[2017-08-27 17:34] karim789 commented on #696
The flickering kills my eyes too.

Back in time I choosed a flat screen with LCD over Plasma because of that.

[2017-08-28 16:05] liaxim commented on #1403
@channae Is it all good now? Can we close the issue now?

[2017-08-28 16:44] liaxim commented on #1339
@SteveGreatApe Which version of the framework are you using? I highly recommend trying the latest master. What is your test phone?

I can't reproduce not being able to pick some of the scene objects in gvr-controller nor the duplication. @J0Nreynolds has made a number of fixes and improvements over the last couple of months.

Please make your changes on top of the latest framework and demos and le

[2017-08-28 16:48] liaxim commented on #1339
Pull request for the gvr-controller app to fix the handling of the cursorControllerRemoved event: https://github.com/gearvrf/GearVRf-Demos/pull/505.

[2017-08-29 12:44] SteveGreatApe commented on #1339
Thanks, I've grabbed the latest Master of Framework and Demo apps.

The gvr-controller demo app has completely changed how it shows the picker, it's now using the new GVRGearControllerSceneObject class which appears to be just what I've been after all this time that I've been trying to get my picker to work properly. I can't reproduce the problem now with that change in place.

I've switched to us

[2017-08-29 14:00] liaxim commented on #1339
Awesome. Can we close this issue for now?

[2017-08-29 16:38] liaxim commented on #1389
@brian-faber Could you please examine your code for any use of the GVRCameraRig.resetXyz() methods? Can you reproduce this problem by following a similar scenario with any of our demo apps? How long do you wait before putting the headset back on? Do you think your activity may be recreated instead of resumed in this case?

The commit just honors the complementary rotation we are supposed to use an

[2017-08-29 18:13] liaxim commented on #1214
@mwitchwilliams https://github.com/Samsung/GearVRf/pull/1332 has been merged. Could you please confirm this issue has been fixed. Thanks.

[2017-08-30 09:38] channae commented on #1403
Seems like GVRTransform.setRotation()  does the job here. Closing the issue since it was resolved.

Thanks,
Channa

[2017-08-30 09:38] #1403 closed

[2017-08-30 21:28] liaxim commented on #1181
Fix: https://github.com/Samsung/GearVRf/pull/1422

[2017-08-31 13:24] SteveGreatApe commented on #1339
As long as the old method of attaching a model to the Picker is deprecated then it should be okay to close this. But if not then there could still be a problem lurking there that will hit any one using it.

[2017-08-31 14:11] liaxim commented on #1293
@lxc-xx We merged https://github.com/Samsung/GearVRf/pull/1345. The performance will be much better. You are not going to need postInvalidate anymore.

[2017-08-31 14:12] liaxim commented on #1398
Have been using it couple of weeks. There was one odd exception but other than that it works as well as 1.6.0.

[2017-08-31 14:12] #1398 closed

[2017-09-01 20:41] brian-faber commented on #1389
Hi,
I don't have answers off hand to your questions. I will investigate and get back to you next week on it.

[2017-09-02 07:01] felislynx-silae opened #1430 "Cannot make project on ovr_sdk_mobile 1.7"
I've got those errors while trying to make framework from master branch.

GearVRf/GVRf/Framework/backend_oculus/src/main/jni/ovr_activity.cpp
Error:(72) undefined reference to 'vrapi_ShowFatalError'
Error:(94) undefined reference to 'vrapi_ShowSystemUI'
GearVRf/GVRf/Framework/backend_oculus/src/main/jni/ovr_gear_controller.cpp
Error:(27) undefined reference to 'vrapi_EnumerateInputDevices'
Error:(

[2017-09-04 06:32] felislynx-silae commented on #1276
@lxc-xx Delay for S7 is ~1s. From my experience camera in android is messed up and you will have to experiment with lots of hacks to make it work on big range of phones :)

[2017-09-04 08:18] channae opened #1431 "Intermittent pointerIndex out of range exception while implementing similar gvr-events app"
My application throws following pointerIndex out of range exception intermittently while viewing layout scene. I followed the instructions as "gvr-events" sample. Following is the only change I made.

[code]
So far I noticed this issue while using developer mode.

[code]

Below is the code block which throws the IllegalArgumentException,

[code]
Appreciate any suggestions that could be helpful to

[2017-09-04 19:23] ragner commented on #1431
Hi @channae,
which version of GVRf are you using?

Could you try the current master?

[2017-09-04 19:26] ragner commented on #1431
Could you use org.gearvrf.GVRPickerInput to dispatch touch events?
Your just need add the following line:

`mPicker = new GVRPickerInput(gvrContext, mScene);`

[2017-09-05 14:02] liaxim commented on #1430
@felislynx-silae Hi. Which version of the Oculus Mobile SDK are you using? 1.5.0 or 1.7.0 are required for the master branch.

[2017-09-05 15:47] liaxim commented on #1430
@felislynx-silae Sorry. It is in the title. Check you build log for this message: "OVR_MOBILE_SDK is set to ...". Please verify the build is using the correct OVR_MOBILE_SDK value.

[2017-09-06 04:42] felislynx-silae commented on #1430
/home/lynx/Workspaces/Libs/ovr_sdk_mobile_1.7

[2017-09-06 14:12] liaxim commented on #1430
@felislynx-silae We have couple of people here that build with 1.7.0. It definitely works for us . Is it possible that your installation is somehow messed up?

[2017-09-06 14:17] felislynx-silae commented on #1430
@liaxim so i'm on Antergos Linux.
Framework is latest master
OVR_MOBILE_SDK is downloaded from oculus website and extracted to location above.
JDK 1.8.0.144.
I'm openig framework project in Android Studio and then Build -> Make project and errors above show up, i'f i'll change path to OVR then other errors shows up.

[2017-09-06 14:29] liaxim commented on #1430
What happens if you add ``#include "VrApi_Input.h"`` to the includes section of ovr_activity.cpp?

[2017-09-06 14:30] liaxim commented on #1430
Does ``VrApi/Include/VrApi_Input.h`` exist in your installation? Are the missing methods declared in it?

[2017-09-06 14:38] felislynx-silae commented on #1430
[code]

[code]

[code]

[2017-09-06 14:50] liaxim commented on #1430
@felislynx-silae Did adding ``#include "VrApi_Input.h"`` to ovr_activity.cpp make any difference? Which NDK version are you using?

[2017-09-06 14:53] felislynx-silae commented on #1430
Nope, adding this include didn't changed anything. I'm using 15.2.4203891 NDK (latest via Android SDK)

[2017-09-06 15:54] felislynx-silae commented on #1430
in ovr_activity.cpp -> VrApi_SystemUtils.h is marked as unused (which contains missing methods)
in ovr_gear_controller.cpp -> VrApi_Input.h is missing (which contains missing methods) but adding include doesn't fix anything

[2017-09-06 16:06] dnvasilev commented on #1430
VrApi_Input.h is already included from ovr_gear_controller.h; it is unused because the first (indirect) include has #define OVR_VrApi_Input_h header guard macro. Please check the exact path to VrApi_Input.h in Android Studio: in ovr_gear_controller.cpp, right click on vrapi_EnumerateInputDevices and "Go To" "Declararation". Check the path to the file that opens.

[2017-09-06 16:08] felislynx-silae commented on #1430
it went to ovr_sdk_mobile_1.7/VrApi/include/VrApi_input.h

[2017-09-06 16:10] dnvasilev commented on #1430
@felislynx-silae the next check is to make sure that Android Studio editor and compiler agree on the include file path. Add #error directive to VrApi_input.h and see if compile fails with this exact error.

[2017-09-06 16:11] felislynx-silae commented on #1430
/home/lynx/Workspaces/Libs/ovr_sdk_mobile_1.7/VrApi/Include/VrApi_Input.h
Error:(20, 2) error: #error

(#error is in line 20)

[2017-09-06 16:17] dnvasilev commented on #1430
@felislynx-silae Then the error comes from the linker: it can't find the library, or the build system tries to rebuild library that already exists

[2017-09-06 16:23] felislynx-silae commented on #1430
I'm unfamiliar with NDK/C++ so it tells me nothing :/
My steps were simple, download framework, set path to ovr_sdk_mobile (latest from web), hit make to build framework, backends and 3dcursor to use latest controller class and errors above shows up

[2017-09-06 16:23] dnvasilev commented on #1430
Please check if your build.gradle contains the following

`    android {`
`       sourceSets.main {`
`            jni.srcDirs = [] // no auto generation of Android.mk`
`            jniLibs.srcDir 'libs' // pre-compiled libraries`
`        }`
`    }`

[2017-09-06 16:27] felislynx-silae commented on #1430
@dnvasilev
sourceSets.main {
        java.srcDirs = ['src/main/java']
        jni.srcDirs = [] // no auto generation of Android.mk
        // pre-compiled libraries
        jniLibs {
            srcDir 'src/main/libs'
        }
    }
It is master branch -> unchanged by me

[2017-09-06 16:34] dnvasilev commented on #1430
@felislynx-silae Let me get the exact version you use. Looks like you use Linux and Android Studio 2.3.3, and the latest master branch for GearVRf and GearVRf-Demos.

[2017-09-06 16:37] felislynx-silae commented on #1430
Antergos 64b, NDK was downloaded by Android SDK

[2017-09-06 16:41] liaxim commented on #1430
@felislynx-silae Is it possible you may have an old version of libvrapi.so checked in somewhere in your libs folder? After ``git clean -fdx`` there should be no libvrapi.so left behind in your repo. The correct so is automatically included by the build.

[2017-09-06 16:41] dnvasilev commented on #1430
@felislynx-silae  I use ~/.gradle/gradle.properties to set up the environment. Please check if yours is similar:
$ cat ~/.gradle/gradle.properties
OCULUS_SIGS_DIRECTORY=/home/d.vasilev/Downloads
ANDROID_NDK_HOME=/home/d.vasilev/Android/Sdk/ndk-bundle
ANDROID_HOME=/home/d.vasilev/Android/Sdk
OVR_MOBILE_SDK=/home/d.vasilev/ovr_sdk_mobile_1.7.0
OVR_PLATFORM_SDK=/home/d.vasilev/OculusPlatformSDK1.16.0

[2017-09-06 16:58] felislynx-silae commented on #1430
I've checked. For safety setted same values in .gradle/gradle.properties (of course changed paths first :) ). No changes at all

[2017-09-06 17:00] felislynx-silae commented on #1430
ovr_platform_sdk_1.8 not 1.16.0

[2017-09-06 17:21] dnvasilev commented on #1430
gvr-3dcursor builds for me in clean repo with or without useLocalDependencies=true.
I use Ubuntu 14.04.1 x86_64 and JDK 1.8.0_91

@felislynx-silae , when you

do you build extension GearVRf/GVRf/Extensions/3DCursor, or demo app GearVRf-Demos/gvr-3dcursor ?

[2017-09-06 17:30] felislynx-silae commented on #1430
everything but backend_oculus is building for me (3DCursor, framework,backend_daydream,platformsdk_support)

[2017-09-06 17:33] felislynx-silae commented on #1430
Sometimes gradle have artifacts in its cache which allows to build even if something is wrong. I've had project which was building correctly for everyone but devs who checked out it correctly. And it was because gradle had missing/notcorrupted dependency in cache for other devs

[2017-09-06 17:37] liaxim commented on #1430
@felislynx-silae As @dnvasilev stated, the error is coming from the linker. You are likely linking to older version of libvrapi.so.

Run the following from your GVRf folder: `` file `find . -name libvrapi.so` ``
Do all matches show this build id: ``BuildID[sha1]=cb3ddd36e10bd6f8a9780d378e2873005ff01616``?

[2017-09-06 17:38] dnvasilev commented on #1430
@felislynx-silae Before building from scratch, I usually do the following:
Close projects in Android Studio
Close Android Studio
cd ../GearVRf; git clean -dxf
cd ../GearVRf-Demos; git clean -dxf
rm -rf ~/.gradle/caches

[2017-09-06 17:45] felislynx-silae commented on #1430
GearVRf/GVRf/Framework opened by android studio is able to build daydream backend and framework but not oculus_backend. Same issue on other pc with Windows 10 (just checked)

[2017-09-06 18:05] dnvasilev commented on #1430
@felislynx-silae
Here's the exact build steps after cleanup:
Open GearVRf/GVRf/Framework project. Gradle Plugin: Don't remind again.
Sync Project with Gradle Files
Make Module 'framework'
Make Module 'backenddaydream'
Make Module 'backendoculus'
Open GearVRf/GVRf/Extensions project in a new Window. Gradle Plugin: Don't remind again.
Sync Project with Gradle Files
Make Project
Open GearVRf-Demos/gv

[2017-09-06 18:11] felislynx-silae commented on #1430
Ok, so 3rd "make" causes all the issues. Is there any place with ovr_mobile_sdk 1.5? I've searched oculus website but only 1.7 is available (maybe this is an issue?)

[2017-09-06 18:16] liaxim commented on #1430
https://developer.oculus.com/downloads/package/oculus-mobile-sdk/1.5.0/. You can click the "1.7.0" from the default web page to select the version.

[2017-09-06 18:29] dnvasilev commented on #1430
@felislynx-silae : is it Androind Studio problem or Gradle build problem? Try:
cd GearVRf/GVRf/Framework
./gradlew :backend_oculus:compileDebugSources

[2017-09-06 18:35] felislynx-silae commented on #1430
Too late, first command is in progress (on veeery slow network right now)

[2017-09-06 18:38] felislynx-silae commented on #1430
[code]

[2017-09-06 18:49] felislynx-silae commented on #1430
1.5, same errors o_O

[2017-09-06 20:03] dnvasilev commented on #1430
@felislynx-silae Just in case, check if git working tree is clean
$ git status
On branch master
Your branch is up-to-date with 'upstream/master'.
nothing to commit, working tree clean

[2017-09-06 20:36] dnvasilev commented on #1430
@felislynx-silae There's an option to print all build commands Gradle generates:

cd GearVRf/GVRf/Framework
V=1 ./gradlew :backend_oculus:assembleDebug

I am looking for this:

[armeabi-v7a] SharedLibrary  : libgvrf-oculus.so
/home/d.vasilev/Android/Sdk/ndk-bundle/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/arm-linux-androideabi-g++ -Wl,-soname,libgvrf-oculus.so -shared --sysroo

[2017-09-07 00:02] mwitchwilliams opened #1438 "X3D ROUTE - enable 'set' in toField to control light, transform, etc attributes"
Currently, X3D Script nodes with ROUTES supports
toField="_attribute_" where _attribute_ is: diffuseColor, emissiveColor, translation, rotation, etc.  Basically the attributes of lights, transformations or materials.

However, we need to support when "set" or "set_" is in front of those attributes
For example: set_diffuseColor or set_rotation.

Thus, the X3D command:
`<ROUTE fromNode='Rotation-INT

[2017-09-07 07:04] felislynx-silae commented on #1430
Success, i've successfully built backend_oculus. i've purged every cache, every build folder and it make it work.
After copyying debug.aars into gvr-controller demo and launching it:
java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "_ZN3gvr9CameraRig14updateRotationEv" referenced by "/data/app/pl.fream.test.gearvr-1/lib/arm/libgvrf-oculus.so"...

It means that my build is still

[2017-09-07 08:03] channae commented on #1431
Hi @ragner,

My application is running on 3.1.2-SNAPSHOT. Seems like GVRPickerInput is not available in that version.

[2017-09-07 14:06] liaxim commented on #1430
@felislynx-silae To make the demos use your local aars you need to:
1. set the useLocalDependencies gradle property to true
2. have the GearVRf and the GearVRf-Demos reside in the same directory; the demo build will pick up the aars from GearVRf/GVRf/gearvrf-libs/.

And yes, there is something in your environment that is off. I wish we knew the root cause of your problem so we can document or do s

[2017-09-07 14:07] liaxim commented on #1431
@channae I updated the 3.1.2-SNAPSHOT. You will need to refresh your gradle cache to make sure you really get the latest.

[2017-09-07 15:35] felislynx-silae commented on #1430
I'm copying demo to another location, use normal gradle file which is pointing to aar's in this demo folder (to make sure, that i'm separated from other dependencies) (path is gvr-controllerLocal/app/libs).

[2017-09-07 18:07] liaxim commented on #1430
If you keep having trouble it might be helpful if you try to use the snapshots. They were updated today.

For reference: https://github.com/gearvrf/GearVRf-Demos/blob/master/template/GVRFApplication/app/build.gradle

[2017-09-07 20:43] #1181 closed

[2017-09-08 15:39] liaxim commented on #1430
@felislynx-silae Are you still having problems?

[2017-09-08 15:41] liaxim commented on #1293
@lxc-xx Assuming it is all good. Planning to close this issue some time next week.

[2017-09-08 15:41] felislynx-silae commented on #1430
This weekend i'll try snapshots. Local build of all aar's is ok (so original problem is solved) but those aars are generating this crash
java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "_ZN3gvr9CameraRig14updateRotationEv" referenced by "/data/app/pl.fream.test.gearvr-1/lib/arm/libgvrf-oculus.so"...

[2017-09-08 15:46] liaxim commented on #1252
@miraclehwan Assuming it is all good. If you have something for us regarding this issue, let us know. Otherwise I plan to close it some time next week.

[2017-09-08 16:55] mwitchwilliams commented on #1203
I retested and the issue is much improved, though the non-transparent portions of the image (which should be identical below) blends the background color.  The rest of this issue is superseded in offline discussions so this can be closed.  Seems addressed in Pull Request  https://github.com/Samsung/GearVRf/pull/1341
**Retest results below:**
The order in the X3D file of the 3 meshes:
- Upper right

[2017-09-08 17:13] liaxim commented on #1203
@mwitchwilliams Ok then, closing this. You may want to open more specific issues for the rest.

[2017-09-08 17:13] #1203 closed

[2017-09-09 12:02] felislynx-silae commented on #1430
Your snapshots are working. I'm still wondering why my builds are crashing. It would be helpfull to be able to build master instead of waiting for snapshot or release :). If you'll have time in future i would be glad to resolve this (and maybe describe it for FAQ)

[2017-09-09 13:01] felislynx-silae opened #1443 "GearController dissapear when changing scene"
I've successfully managed to add controller to my app based on gvr-controller demo code and latest lib snapshot. Going to menu and back to app, controller is visible.
Changing from initial scene A to scene B, controller is invisible but picker is working and all events are going trough. Going back from B to A, controller is fully visible.
While changing scene i'm reataching picker:
mControllerPick

[2017-09-11 20:29] NolaDonato commented on #1443
I am in the process of reforming the controller / picking interface. I am changing the API so that all controllers have their own picker and set the pick ray appropriately. When attached to a controller, the picker will be able to emit touch events as well as pick events. This code is in testing now and should be available as a pull request later this week. It might solve some of your problems, pe

[2017-09-11 21:52] #1252 closed

[2017-09-12 05:02] felislynx-silae commented on #1443
@NolaDonato In my app i'm changing scene frequently with this code (maybe that will help to check out this bug). I would be glad to test out your changes. Unfortunatelly i'll be unable to build framework since there is something wrong with my builds and they cause crashes (i've reported issue with build), so only local build & snapshosts
[code]

[2017-09-12 13:55] liaxim commented on #1430
To have a chance of catching what is different when you build we will need this:

1. ``git clean -fdx`` your GearVRf repo
2. Build with ``./gradlew -i -d assembleDebug`` and sends us the build log
3. Send us the ``framework-debug.aar`` and ``backend_oculus-debug.aar`` from GearVRf/GVRf/gearvrf-libs/

[2017-09-12 19:10] #1293 closed

[2017-09-15 14:39] ragner opened #1450 "Change intersectsBoundingVolume to public"
Does anybody have any objection of making public the following function?
`boolean GVRSceneObject::intersectsBoundingVolume(float ox, float oy, float oz, float dx, float dy, float dz);`

Do I have any alternative function?

I need it :)