[2016-08-04 04:47] danke-sra commented on #762
For an approximation, you can only test bounding boxes to be viewable -- this is, it's projection in camera frame falls in the specified gaze box -- similar to culling. If you care about pixel-level accuracy, you may need to test all triangles in the mesh (which takes time if not optimized).

[2016-08-04 04:53] danke-sra commented on #706
Point lights do not have a projection matrix if I am right, the shadow map needs something different that of a directional light or spot light.

[2016-08-04 04:55] danke-sra commented on #679
Maybe I/O exceptions should be handled at the application level? We used a Java error reporting model and throw I/O errors as exceptions. Does the app catch IOException thrown from loadModel()?

[2016-08-04 05:00] rahul27 commented on #762
@arianaa30 from the sounds of it your requirements seem simple. It works as long as you don't have a pixel level requirement like @danke-sra mentioned.

[2016-08-04 11:06] NolaDonato commented on #762
I updated the pull request to generate pick events for frustum picking. I added a new class GVRFrustumPicker which will return the list of colliders that fall within the camera view frustum. It works just like GVRPicker generating onEnter, onExit and OnInside events. If you look at the gvr-eyepicking sample and replace GVRPicker with GVRFrustumPicker you should get events for objects as they move

[2016-08-04 11:10] NolaDonato commented on #743
Setting the diffuse texture for a video won't work. You would need to set the main texture. I think video scene objects use a different shader.

[2016-08-04 11:11] NolaDonato commented on #741
pull request #768 fixes this

[2016-08-04 11:19] anandlalvb commented on #676
It seems, there is a typo in the release note, https://github.com/Samsung/GearVRf/releases/tag/v3.0.1

"This binary release works with the **Oculus Mobile SDK 3.0.1.**"

I think, It should be **1.0.3** (https://developer.oculus.com/downloads/)

[2016-08-04 11:40] freshindee commented on #559
I added GVRVideoScene to app, when I debug it seems video starting ,but at the final step it crash the app
Means when I try to add it to scene.
 mScene.addSceneObject( video );

Any help
Indika

[2016-08-04 14:42] liaxim commented on #676
@anandlalvb Thank you for the catch. Fixed.

[2016-08-04 14:43] #676 closed

[2016-08-04 14:45] liaxim commented on #559
@freshindee Hi. Would you mind sharing the logcat output with us? Does you app run without creating and adding the GVRVideoSceneObject? You might want to open a separate issue so we don't lose track of this.

[2016-08-04 17:05] arianaa30 commented on #743
I see. Maybe that's why it didn't work.

[2016-08-04 17:10] QKnows opened #772 "Updating mesh problem"
I am trying to update the GVRMesh of an GVRSceneObject, it worked in a previous version of GearVRf. It seems that the mesh size will not be updated In the current version. The native address is different.

I am setting an new mesh, with a new size like:

`sceneObject.getRenderData().setMesh(newMesh);`

Getting native address:
`sceneObject.getRenderData().getMesh().getNative()`

I am not sure if it

[2016-08-04 17:13] liaxim commented on #772
It is very likely a bug, thank you for letting us know.

Are you building the framework yourself?

[2016-08-04 17:15] QKnows commented on #772
Yes, I am building the framework by myself, using Android Studio.

[2016-08-04 17:31] Vittalbabu commented on #772
I will look at this issue.

Regards,

-          Vittal

From: QKnows [mailto:notifications@github.com]
Sent: Thursday, August 04, 2016 10:15 AM
To: Samsung/GearVRf
Subject: Re: [Samsung/GearVRf] Updating mesh problem (#772)

Yes, I am building the framework by myself, using Android Studio.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it o

[2016-08-04 18:04] arianaa30 commented on #762
OK. So basically instead of `GVRPicker.pickVisible(mGVRContext.getMainScene())`, I have to just another class called `GVRFrustumPicker`, right? It has `pickObjects()` inside?

[2016-08-04 18:07] arianaa30 commented on #762
One thing is that currently I have 4 object. I might have 6, 10, ... so just wanted to make sure the cubeSceneObject works independently of number of objects.

[2016-08-04 18:47] arianaa30 commented on #762
Fortunately I was able to compile Framework, again, by replacing the modified files, which is good.
Shall I still use pickObjects function as before or pickVisible?

[2016-08-04 18:58] rahul27 commented on #762
If you are using the GVRFrustumPicker then pickVisible should work.

[2016-08-04 20:08] arianaa30 commented on #762
It doesn't work for me. I'm guessing probably something is wrong with the logic of picking:

[code]

[2016-08-04 20:30] joaobiriba commented on #770
Hi,
double checked. They are the same files. I'm using the last ovr sdk 1.0.3 $OVR_MOBILE_SDK/VrAppFramework/Libs/Android/AppFramework.jar has now different name

 VrAppFramework.jar

[2016-08-04 21:19] arianaa30 commented on #762
Yes, my code has problems.
While I fix that, any solutions for picking whatever intersects with front box of X degrees (say 60 degrees) as opposed to the whole screen which is visible?

[2016-08-04 21:49] liaxim commented on #770
Ok, lets try this. Download the SystemActivities.apk referenced from https://developer.oculus.com/downloads/mobile/1.0.0.0/Oculus_Mobile_SDK/; the url is https://s3.amazonaws.com/o.oculuscdn.com/staging/SystemActivities-P4-119024-FB-16656924.apk. Install it on your phone and let us know the results. Please if possible share with us the complete logcat output. Thanks.

You can ignore VrAppFramework

[2016-08-04 21:51] NolaDonato commented on #706
In this case you have to use cascaded shadow maps. These are cube maps from the viewpoint of the light (so they cover all directions). But you need more than one because the light is infinitely far. Typically games with a lot of scenery would use 4 levels of shadow map each with a different projection matrix focusing on a different distance.

[2016-08-04 21:52] NolaDonato commented on #679
Yes the application will catch I/O errors for the main model. The textures are loaded asynchronously in other threads. I have been slowly working on getting load errors from these threads to populate up to the application. I think I have a fix for this issue already in the works.

[2016-08-05 14:26] #650 closed

[2016-08-05 14:26] liaxim commented on #667
Duplicate of https://github.com/Samsung/GearVRf/issues/599

[2016-08-05 14:26] #667 closed

[2016-08-05 15:46] liaxim commented on #770
I am pretty sure you are including libvrapi.so from the 1.0.0.1 Oculus SDK in your apk. How do you build (Eclipse, AS, have you customized something in the build)?

Can you please let me know the file size of your libvrapi.so? The one in 1.0.0.1 is 111988 and the one in 1.0.3 is 136584.

[2016-08-05 15:55] joaobiriba commented on #770
Thanks,
checking the size I think you are right, I'm using command line to build ( gradle ). I'll double check again
[code]

[2016-08-05 16:08] danke-sra commented on #679
Yeah, I realized this is a new issue. We normally tested out a few cases like this, including SD card and network.

[2016-08-05 16:21] liaxim commented on #770
You shouldn't have to but you may manually copy the correct libvrapi.so. I am confused how this could happen. Double-check whether it gets overwritten though.

[2016-08-05 18:21] rahul27 commented on #762
@arianaa30 are you still having problems? I just tested this pull request https://github.com/Samsung/GearVRf/pull/765 and it worked fine for me.

You could try changing the following line from GVRPicker to GVRFrustumPicker to test:

https://github.com/gearvrf/GearVRf-Demos/blob/master/gvr-eyepicking/app/src/main/java/org/gearvrf/gvreyepicking/SampleMain.java#L73

Regarding your code, it would be d

[2016-08-05 21:49] arianaa30 commented on #762
I thought maybe my snippet is slow, so I changed my snippet and used hashMaps instead, but nothing changed.

So looking at the link, is it a new way of doing things?! Previously I was attaching a eyepicking to objects and had a method (got from your eyePicking example):
`attachDefaultEyePointee(object);`
and
[code]
Now for this one I should just attach it to the scene using these two lines?!
[code

[2016-08-05 22:26] rahul27 commented on #762
Yup. That is a new events based picking model the framework. You should look at the sample to see how it works.

Also @NolaDonato has been kind enough to make a video that describes it:

https://youtu.be/7xk0mva6Rzk

You could also look at the developer guide:

http://gearvrf.org/bin/view/GearVRfDeveloperGuide/Picking

[2016-08-05 23:29] rahul27 opened #781 "Cannot add a scene object in X3D"
scene.addSceneObject() does not work after PL https://github.com/Samsung/GearVRf/pull/774

[2016-08-05 23:29] rahul27 commented on #781
@NolaDonato @mwitchwilliams any idea about what might be going wrong?

[2016-08-06 00:05] mwitchwilliams commented on #781
I’m up and running so I’ll be happy to look at it Monday.

Mitch

From: rahul [mailto:notifications@github.com]
Sent: Friday, August 5, 2016 4:30 PM
To: Samsung/GearVRf <GearVRf@noreply.github.com>
Cc: Mitchell Williams <m1.williams@partner.samsung.com>; Mention <mention@noreply.github.com>
Subject: Re: [Samsung/GearVRf] Cannot add a scene object in X3D (#781)

@NolaDonato<https://github.com/NolaD

[2016-08-06 00:09] NolaDonato commented on #781
I will look at it. I am going to change jassimp to add a scene object after I read in an X3D file. Will that be a sufficient test?

From: rahul [mailto:notifications@github.com]
Sent: Friday, August 5, 2016 4:30 PM
To: Samsung/GearVRf <GearVRf@noreply.github.com>
Cc: Nola Donato <nola.donato@samsung.com>; Mention <mention@noreply.github.com>
Subject: Re: [Samsung/GearVRf] Cannot add a scene object

[2016-08-06 00:17] rahul27 commented on #781
That should recreate it. I noticed the issue with the X3D demo.

[2016-08-06 00:51] NolaDonato commented on #781
I replaced astro_boy.dae with astro.x3d in the gvr-jassimp sample. It correctly displays the astronaut, the bench and the trees. I know that GVRAssetLoader calls GVRScene.addSceneObject to add each model to the scene. So adding a scene object after importing X3D seems to work.

Can you tell me a bit more about exactly when after importing the X3D model that you added the scene object? Are you abso

[2016-08-06 00:51] NolaDonato commented on #762
The attachEyePointeeHolder function is a special case of attachCollider which attached a component to your scene object that makes it pickable. You have to attach a collider to every scene object you are going to pick. Then you should attach the listener for the pick events and a GVRFrustumPicker to generate the events.

Do this for all the scene objects you want to be pickable:

private void atta

[2016-08-06 01:10] rahul27 commented on #781
Here is the modified sample that does not work:

https://github.com/rahul27/GearVRf-Demos/commit/62129540745aee6d83510eee82655aa66236ccee

Make sure you sync to master so that the changes form PL 774 are included when you build the framework.

[2016-08-06 03:58] NolaDonato opened #782 "gvr-multilight onStep no longer called"
The light used to animate in gvr-multilight but it no longer does. The onStep function never gets called in this sample.

[2016-08-06 06:34] NolaDonato commented on #782
This was something wrong with my build. I pulled a completely new tree and it went away. Really weird because multiple branches refused to call onStep.

[2016-08-06 06:34] #782 closed

[2016-08-06 09:56] NolaDonato commented on #762
Did you get the frustum picker to work for you? Do you need me to send you a full sample?

[2016-08-06 15:45] arianaa30 commented on #762
I didn't have a chance yet- so bisy yesterday. I will try to test out today. Thanks a lot for your followups!

[2016-08-07 16:34] freshindee opened #783 "How can I open android phone default apps in a VR app"
I wanted to see videos in android phone videos inside  a VR app screen. (I created a screen as Netflix).
I want to see my phone videos inside that screen, I opened some other android apps in a VR screen, but it come to full screen when I testing with phone debug mode. But when I wearing a Gear VR device that opened apps can not see.

Please advice me how to achieve this and where I went wrong.

Re

[2016-08-08 06:53] cikus opened #785 "VR volume UI"
I got the test result from Oculus: "Your volume buttons must adjust the volume using the VR volume UI provided by the Oculus Mobile SDK."
How can I manage to display the default volume UI with the GearVRf SDK?

[2016-08-08 10:28] NolaDonato commented on #762
I updated pull request #765 to let you specify the view frustum to use for picking in GVRFrustumPicker. You can call GVRFrustumPicker.setFrustum(float fovy, float aspect, float near, float far) to set the viewing area to be different from the camera.  Let me know if that works for you. I tested it by changing the following lines in the gvr-eyepicking sample:
// remove this line in onInit
//

[2016-08-08 11:51] QKnows opened #786 "Build issue google-vr-*"
Hello,
I can not build the framework since the last update, it seems that something with google-vr went wrong.

Would be really great if you could fix that problem or let me know if it's a local problem.

Thank you...

The log:

`Error:A problem occurred configuring project ':framework'.

     Searched in the following locations:
         file:/C:/tools/devTools/Android/studio/gradle/m2repository/

[2016-08-08 11:53] QKnows commented on #734
Hello @liaxim - are you still working on that isseu? Or should I try to find another way to use 3D scenes?

[2016-08-08 14:23] liaxim commented on #734
We have been fixing model loading bugs. I will have somebody double-check the current status when trying to import models from DAZ 3D.

[2016-08-08 14:29] liaxim commented on #786
Hi,
Could you please let us know what files do you have under your GVRf/Framework/framework/src/main/libs folder? Please ensure you have the very latest versions of the gradle files.

[2016-08-08 14:38] QKnows commented on #786
Hi,
I have the following files in the libs folder

drwxrwxr-x+ 1 user Kein        0  8. Aug 13:21 armeabi-v7a
-rw-rw-r--+ 1 user Kein   604140  6. Aug 16:23 google-vr-base.aar
-rw-rw-r--+ 1 user Kein   341690  6. Aug 16:23 google-vr-common.aar
-rw-rw-r--+ 1 user Kein   190432 12. Mai 09:45 gson-2.2.4.jar
-rw-rw-r--+ 1 user Kein   175292 12. Mai 09:45 jline-android.jar
-rw-rw-r--+ 1 user Kein   126

[2016-08-08 14:50] liaxim commented on #786
Ok, looks like you've got the files. The build is fine as far as I know. Are you building just the framework project or a project where you have your app and the framework is included as a module? If it is the latter could you try adding the flatDir section to your project's build.gradle file:
[code]

[2016-08-08 15:12] Nathipha commented on #786
Does the latest build (from 3 days ago) still support Eclipse?
I had to download it to get the changes for eyepicking but it now also won't build properly:

[code]

I didn't change anything since the last version (June 23rd) and I did copy the 3 jar files into the "lib" folder again.

[2016-08-08 15:25] liaxim commented on #786
I will look into fixing the Eclipse build temporarily but eventually Eclipse will not be supported.

You can copy the ``./GVRf/Framework/backend_oculus/src/main/jni/Android.mk`` file to ``./GVRf/Framework/framework/src/main/jni/Android.mk`` and try again.

[2016-08-08 15:53] Nathipha commented on #786
@liaxim Thanks but unforunately it didn't work:
http://pastebin.com/8QUuLDat

I remember getting similar errors before a few months ago when I first tried to get it to run. I didn't manage to make it work back then but a new version a few days later fixed it.

I already tried importing my project into Android Studio but got really annoyed with all the errors nobody knows anything about that I gave

[2016-08-08 16:19] liaxim commented on #786
The Android Studio builds works pretty well. I do recommend you start using it instead. I can help with any issues you may encounter.

Back to the Eclipse build: it is pretty complicated to get it to work since we have a dependency to Google VR now and Google VR uses .aar files. Google doesn't produce libraries Eclipse can use. So we can't build with Eclipse anymore.

If you do insist on using Ecl

[2016-08-08 17:03] Nathipha commented on #786
I already opened a new thread on StackExchange, so hopefully someone can help me with importing my project in Android Studio there.

The GVRf version I've been using for almost the last two months has been working fine so far. I only downloaded the new version to get the new samples for eyepicking (eyepicking, pickandmove) to work like it's recommended in the developer guide.
I'll try the old way

[2016-08-08 17:13] rahul27 commented on #785
Overriding the dispatchKeyEvent in your activity might help:

[code]

[2016-08-08 17:16] QKnows commented on #786
Thank you again @liaxim  - you hint with including the `allprojects` code worked.

Sorry, for the inconvenience - it was a mistake in my gradle configuration.

The issue can me closed if @Nathipha's issue is solved, too...

[2016-08-08 17:18] QKnows commented on #734
Thank you @liaxim for still working on that issue...

[2016-08-08 17:29] arianaa30 commented on #762
Thanks. I will test it soon. I didn't have a chance to make the `pickVisible()` work the other time. I'm sure the API works, but I'm not able to get my desired output.
Right now I'm most confused by the many approaches to do picking. I was so far using the older eyePicking example as my snippet shows above, doing things in `onStep()`. But your examples on the website is based on a new class implem

[2016-08-08 17:54] liaxim commented on #786
@Nathipha https://github.com/Samsung/GearVRf/releases/tag/v3.0.1 is the last release with official Eclipse support. You can either download it from that link or execute "git checkout v3.0.1" in your framework repo directory.

I created a 3.0.1 release for the samples. You can either download it or execute "git checkout v3.0.1" in your demos repo directory.

Bear in mind that these releases are fro

[2016-08-08 19:51] QKnows opened #787 "GVRSceneObject with children"
Hello,

I am trying to add two GVRSceneObjects to a parent object. All GVRSceneObjects have one texture and a mesh. The texture of the parent object gets invisible if the second child (child2) is not on in the field of view - but the parent object is still in the field of view. It works fine if I just add child1 in the center of the parent object.

Is it possible to group GVRSceneObjects like this

[2016-08-08 20:01] liaxim commented on #785
We also have change in the framework so this stuff can happen automatically - see https://github.com/Samsung/GearVRf/pull/788.

[2016-08-08 20:06] liaxim commented on #770
@joaobiriba Hi, if your problem is resolved, can we close this issue?

[2016-08-08 20:07] #741 closed

[2016-08-08 20:07] liaxim commented on #740
@afuse Do you need further assistance?

[2016-08-08 20:11] liaxim commented on #657
@Nathipha Regarding this issue - is the framework working well enough for you or do you still have problems? If you have problems, can we summarize what exactly they are since this is such a long thread.

[2016-08-08 20:31] joaobiriba commented on #770
Yes, everything is ok right now. I rebuilt all the GVRf from scratch using 1.0.3 Oculus SDK. Thanks

[2016-08-08 20:31] #770 closed

[2016-08-08 21:48] mwitchwilliams commented on #781
X3D (and I believe this is true of all Jassimp model loaders) never adds objects directly to GVRSceneObject 'scene' and thus never uses _scene.addSceneObject()_ .  The model loader passes a GVRModelSceneObject '_root_' in the X3Dobject constructor.  When the X3D parser adds GVRSceneObjects, it calls "root.addChildObject(_myNewObject_); or to currentSceneObject.addChildObject( _myNewObject_ ) when

[2016-08-08 23:09] Vittalbabu commented on #772
@QKnows  I am seeing a couple of errors with setMesh under different scenarios -- where the result of setMesh() is not what is expected. Could you share the relevant portions of your sample relating to setMesh() -- the sequence of calls from creating GVRSceneObject, GVRRenderData and the 2 GVRMesh instances? I want to see if we have additional issues with setMesh().

[2016-08-08 23:12] rahul27 commented on #781
Found the bug. It is an NPE on the following line:

https://github.com/gearvrf/GearVRf-Demos/blob/master/gvr-x3d-demo/app/src/main/java/org/gearvrf/x3ddemo/X3DparserScript.java#L119

@NolaDonato seems to have fixed it in PL https://github.com/gearvrf/GearVRf-Demos/pull/288

[2016-08-08 23:12] #781 closed

[2016-08-09 00:58] rahul27 commented on #787
Looks like a bug with Frustum Culling. The quad does not disappear when you disable culling:
[code]

[2016-08-09 01:09] apjagdale commented on #610
Not quite right but you can check this:
https://github.com/apjagdale/GearVRf-Demos/tree/GearVrfDemoBranch/gvr-fbCubic360Video

[2016-08-09 01:38] thomasflynn commented on #785
@cikus, also, if you get your app approved and into the store, let us know.

[2016-08-09 01:47] thomasflynn commented on #783
I see you closed this, so perhaps you already answered your own question, but I would still like to better understand what that question was :).  For a Netflix type app, you can look at our gvr-video sample.  (actually, there's an updated, refactored version that may be easier to follow as a pull-request that will probably be merged soon: https://github.com/gearvrf/GearVRf-Demos/pull/287).

But, I

[2016-08-09 03:34] freshindee commented on #783
Thanks very much.

Actually I got one part fixed and I got your updated sample.

Still Im getting same type issue. please guide me.  How I can show a normal android apps( like mobile version of word application) inside a VR app screen , not in whole screen, it must be like a front screen like in Netflix. (I can open word app from VR app , but I cannot put it in the front screen, it comes to whole

[2016-08-09 03:35] freshindee commented on #783
Thanks very much.

Actually I got one part fixed and I got your updated sample.

Still Im getting same type issue. please guide me. How I can show a normal android apps( like mobile version of word application) inside a VR app screen , not in whole screen, it must be like a front screen like in Netflix. (I can open word app from VR app , but I cannot put it in the front screen, it comes to whole s

[2016-08-09 04:50] freshindee commented on #559
Actually thing was by mistake I had off Open GL feature of the device. I switch on it. Problem solved.

Thanks.

[2016-08-09 06:29] freshindee commented on #227
How I can show a normal android apps( like mobile version of word application) inside a VR app screen , not in whole screen, it must be like a front screen like in Netflix. (I can open word app from VR app , but I cannot put it in the front screen, it comes to whole screen).

Please any idea.

[2016-08-09 07:17] thomasflynn commented on #783
If you want to display android ui that you inflate, you can take a look at gvr-events.

If you're talking about trying to display a different activity / process within your vr app, it's going to be a lot more difficult.  You would need to find a way to get a handle to the surface that the application renders to and use that as a texture in your vr app.  I don't think you'll be able to do that with

[2016-08-09 08:26] freshindee commented on #783
Thank you very much.

Actually what I want  is as you explain here   'You would need to find a way to get a handle to the surface that the application renders to and use that as a texture in your vr app'

Im finding a way to how to modify android .....

If any idea related, please advice.

[2016-08-09 08:26] QKnows commented on #772
Hello @Vittalbabu,

here is a code snippet to show you the behavior of setMesh issue.

I want to change the mesh size in case of some event, i.e. the touch event.

        public void init() {
                // Load some sample textures...
                final GVRTexture parentTexture = this.getGVRContext().loadTexture(new
                         GVRAndroidResource(this.getGVRContext(), "parent

[2016-08-09 08:29] QKnows commented on #787
@rahul27 thanks you - when I am disabling the FrustumCulling it works like expected.

[2016-08-09 08:46] cikus commented on #785
@rahul27 Thanks for your comment, but I guess we misunderstood each other. If we handle the event so the Android system volume UI shows up, but that is what should be avoided. Gear VR applications must use the Oculus default VR volume UI (see attached).
It has to be implemented natively like the global menu for a long back press, or the quit confirmation for the back press.
![volume_ui](https://cl

[2016-08-09 16:49] rahul27 commented on #785
@cikus yes, that is what I see when using the volume keys with the changes in PL  https://github.com/Samsung/GearVRf/pull/788

This is a screenshot of the simple sample with the changes included. Let me know if you are looking for something different or in case it does not work with your application.

![screenshot_20160810-014432](https://cloud.githubusercontent.com/assets/609380/17525098/29080e64

[2016-08-09 16:59] rahul27 commented on #787
@QKnows keep in mind that setting frustum culling to false is not a fix. There is still a bug with culling. You could disable it to continue testing your application.

[2016-08-09 17:25] thomasflynn commented on #783
That's all I've got.  I'm not too sure I can really help any further than that.  Good luck.  I'm sure it will be challenging.

[2016-08-09 17:31] Vittalbabu commented on #772
Thanks -- my scenario was similar. I will update this thread once I have a fix.

[2016-08-09 17:51] roshanch commented on #787
I will look into it.

[2016-08-09 18:43] deepakrawat22 commented on #734
Hi All,

I used the already provided 3D model of Dragon from DAZ studio and exported as FBX 2011 and try to load using GearVRf. The result is crash:

[code]

[2016-08-09 21:26] roshanch commented on #787
#791 this will fix the issue.

[2016-08-09 22:01] deepakrawat22 commented on #734
Exported to obj file format and got the below error:

[code]

[2016-08-09 23:45] Vittalbabu commented on #772
@QKnows My issue was a bug in my sample code -- I didn't take into account the drawMode value for the RenderData instances of the two SceneObject instances which was showing the incorrect rendering after setMesh(). I am not able to reproduce the issue in my sample code and will test with your scenario. I have changed the meshes and the new size is used in rendering.

I will test with your scenario

[2016-08-10 00:13] deepakrawat22 commented on #734
In case of model exported as OBJ file removing bump map images will load the model.

[2016-08-10 05:11] freshindee opened #792 "How to response more events with more controls"
I have 5 buttons for display different screens.
But i have only onTouchEvent method to code it..Please give me a example how I can handle this.
and give me a example how I show these 5 different screen in a one place. Means in front middle screen.

[2016-08-10 14:47] Nathipha commented on #786
@liaxim Thank you.

@QKnows Yes, sorry, you can close it.

[2016-08-10 14:49] cikus commented on #785
@rahul27 Oh, was my mistake. Working as expected. Thanks.

[2016-08-10 14:55] #786 closed

[2016-08-10 15:25] liaxim commented on #740
@afuse I assume it is all good now. Let us know if you have more questions.

[2016-08-10 15:25] #740 closed

[2016-08-10 17:44] deepakrawat22 commented on #792
A good example to implement buttons is from the sample app immersivepedia video component

https://github.com/gearvrf/GearVRf-Demos/blob/master/gvr-immersivepedia/app/src/main/java/org/gearvrf/immersivepedia/videoComponent/ButtonBoard.java

the sub package focus "https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-immersivepedia/app/src/main/java/org/gearvrf/immersivepedia/focus" deals with f

[2016-08-10 17:46] deepakrawat22 commented on #792
A simplified version of focus, just for using button can be found in the pull request

https://github.com/gearvrf/GearVRf-Demos/pull/287

[2016-08-10 22:57] deepakrawat22 commented on #734
@QKnows you can export the scene in OBJ file format with supported texture format (tif is not supported) and GearVRf will load those models. Meanwhile we will look into FBX and COLLADA. Let us know if you face any other issue.

[2016-08-11 00:56] deepakrawat22 opened #796 "Custom shader won't render a mesh if any of the texture is missing"
In case if there are several textures like specular, diffues, bump etc. If only one is missing due to unsupported file format or any other reason, custom shader will not render due to the condition.

[code]

[2016-08-11 06:54] ananthaks opened #798 "Scissoring in Grvrf"
In OpenGL we can control the region of drawing using glscissor. Can we do something similar here by restricting the rendering of a GVRSceneObject to only a particular region (given cuboid) ? This restriction should be applied only to the specified SceneObject.

I wanted to implement a scrollable list of item like ListView in Android. I implemented this by adding GVRSceneObjects to a parent object

[2016-08-11 12:40] NolaDonato commented on #796
I have a suggestion for missing textures. GVRAssetLoader.TextureRequest handles the loading of textures for imported assets. The “failed” function is called if the texture load fails and it goes on to generate the “onTextureError” event. You might be able to preload a 32x32 white texture and then call the “loaded” function with that texture as an argument. I am not 100% sure that will work because

[2016-08-11 12:50] NolaDonato commented on #798
We don’t expose the scissor but you can do the same thing with depth testing and rendering order.

1.       Background objects: rendering order N, depth test on

2.       Clip object: rendering order N+1, depth test on, alpha blend on, alpha = 0 (completely transparent)

3.       List view object: rendering order N+2, depth test on

The clip object should be a plane with a hole in it where you wan

[2016-08-11 12:53] NolaDonato commented on #762
onPick is called once every frame and gives you a list of ALL the objects picked sorted by distance from the camera. onEnter is called multiple times per frame, once for each object that is entering the frustum. onExit is called once for every object leaving the frustum. onInside will be continuously called for all objects that are within the frustum.

[2016-08-11 13:24] Nathipha opened #800 "Eyepicker + TextViewSceneObjects"
I'm currently trying to get the following to work:
Two to four buttons (TextViewSceneObjects) with the one you look at changing color. Later I also want to make them clickable to start different things depending on which one got chosen.

Here's my code (half taken from the "gvrpickandmove" sample):
[code]

The problem is: Depending on what I attach, changing the color doesn't work properly, it sim

[2016-08-11 17:55] parthmehta209 opened #801 "Crash on loading a new texture to a GVRSphereSceneObject"
This happens when I try to replace a texture using this code:
  Future<GVRTexture> futureSphereTexture = gvrContext.loadFutureTexture(resource);
gvrSphereSceneObject.getRenderData().getMaterial().setMainTexture(futureSphereTexture);

I do not see this crash if I initialize a new GVRSphereSceneObject every time I want to set a new texture.

F/libc    (11351): Fatal signal 6 (SIGABRT), code -6 in ti

[2016-08-11 17:59] roshanch commented on #801
can you share the sample ?

[2016-08-11 18:00] rahul27 commented on #785
@cikus awesome. Can we close this?

[2016-08-11 18:01] cikus commented on #785
@rahul27 yes.

[2016-08-11 18:01] #785 closed

[2016-08-11 20:22] maragh opened #802 "Android emulator"
Just curious, can i use an emulator during development for testing?

[2016-08-11 21:04] liaxim commented on #802
To my knowledge - not possible.

[2016-08-11 21:21] maragh commented on #802
Ok, thanks.

[2016-08-11 21:21] #802 closed

[2016-08-11 22:00] liaxim commented on #796
@deepakrawat22 Please remove those checks and let us know what happens. The error shader should let us see something.

[2016-08-12 01:03] thomasflynn commented on #802
It would likely be somewhat painful to do.  Oculus only provides 32bit arm libraries.  Which means you would need to set up an arm emulator (rather than an x86 one).  In that emulator, we would detect the oculus service is not on the system and fall back to daydream.  However, in our experience, running an arm emulator is horrifically slow, especially for anything GL related.  It's best to stick w

[2016-08-12 02:24] rahul27 commented on #800
Could you try

[code]

instead of
[code]

[2016-08-12 07:21] ananthaks commented on #798
@NolaDonato
Thanks a lot. It worked like you said with some modifications.

[2016-08-12 07:21] #798 closed

[2016-08-12 09:59] knnnrd opened #807 "loadFutureTexture makes main thread hang"
Hi, I'm trying to load large bitmap textures async from the local file system using the following code:
`Future<GVRTexture> tex = mGVRContext.loadFutureTexture(new GVRAndroidResource(path),GVRContext.LOWEST_PRIORITY, GVRCompressedTexture.SPEED);
GVRMaterial mat = new GVRMaterial(mGVRContext);
mat.setMainTexture(tex);`

The problem is that head tracking stops working for a second, so the image stay

[2016-08-12 14:00] oliverRandom42 opened #808 "Entitlement Check"
Hi all,

Has anybody had any luck with creating an entitlement check as required by the oculus store submission guidelines?

And how did they go about it?

There is instruction on how to do it with the native ovr sdk but not sure how to approach with gearvrf:
https://developer.oculus.com/documentation/platform/latest/concepts/pgsg-3-pw-platform-walkthrough/#pgsg-pw-g-native-gear-vr-ent

Cheers,

O

[2016-08-12 14:30] liaxim commented on #807
When do you execute this code? From onInit or some time later?

[2016-08-12 16:27] knnnrd commented on #807
Some time later. More specifically, right after I receive a broadcast from a background service that downloads the images and saves them to local storage.

I tried to put this code in an android AsyncTask but that didn't help much either.
Would it help to store ASTC or ETC2 compressed images on the server, download those and use them instead? If there is a way to just use bitmaps, that would be pr

[2016-08-12 18:24] liaxim commented on #807
We don't have anything in the framework that can help much in this case. You should definitely use one of the compressed texture formats since the process will be more efficient.

[2016-08-12 18:26] liaxim opened #809 "Texture streaming"
I'd imagine we will get more of these - #807. My understanding is that this is where we will need texture streaming.

What are our options there? What should we use - PBOs, shared contexts?

[2016-08-13 01:36] NolaDonato commented on #800
This is a bug which I have been able to replicate with the latest master. I will look at why picking seems to not work with text view scene objects.

[2016-08-13 17:59] knnnrd commented on #807
Ok I will try that then.. If I may ask, why does [http://docs.gearvrf.org/org/gearvrf/GVRContext.html#loadFutureTexture(org.gearvrf.GVRAndroidResource)](this) say that I can use this function to load a texture asynchronously if it apparently not really does? Or do I misunderstand what async loading means? Just wondering.
Thanks

[2016-08-14 14:20] s910503486f opened #811 "Lesson 2 ppt in Tutourial is broken"
Hi,I'm trying to open "GearVRFTutorial-Lesson2"  in GearVRf/Installer/Tutorials/
but the file is broken.
I use another computer to clone the project and open the file,
and the problem is not solved.

[2016-08-15 05:45] NolaDonato commented on #800
Pull request #812 should fix this bug. Please give it a try and see if it fixes your program.

[2016-08-15 17:20] thomasflynn commented on #807
The the file i/o of decoding an loading into memory is done asynchronously.  Ultimately, glTexImage2D or glCompressedTexImage2D needs to be called on the GL thread to give the image to the GPU.  It's the allocation on the GPU and upload of the texture that may be the cause of the pausing.  If your images are the same size, it may be faster to use one GVRBitmapTexture and then call update() with th

[2016-08-15 17:47] thomasflynn commented on #808
FYI, we're double-checking the process on our side.  off-hand it looks like the relevant initialization code would go in the backend_oculus/src/main/jni/activity.cpp in initilaizeVrApi() and the per frame code in onDrawFrame().

[2016-08-16 02:08] thomasflynn commented on #811
@NolaDonato , this is the issue i was mentioning.  check it out?

[2016-08-16 11:04] knnnrd opened #815 "Collider position"
I'm trying to attach a GVRMeshCollider to a GVRSceneObject, but the collider is no where near the actual mesh. Below are some things I have tried so far.
`obj.attachCollider(new GVRMeshCollider(gvrContext, obj.getRenderData().getMesh()));
obj.attachCollider(new GVRMeshCollider(gvrContext, true));
obj.attachCollider(new GVRMeshCollider(gvrContext, false));`

The collider is only on the mesh when I

[2016-08-16 14:03] liaxim commented on #811
The file is encrypted

[2016-08-16 16:18] liaxim commented on #808
@oliverRandom42 Have you used the entitlement check in a native app? It seem it will be easier to make the changes to the framework than to actually test them.

I am getting odd errors like
[code]
and
[code]

[2016-08-16 17:21] liaxim commented on #808
Never mind. Apparently we should use Platform SDK 1.6.0 instead of 1.7.0. Have no idea how to determine that other than trial and error.

[2016-08-16 17:56] deepakrawat22 commented on #734
@QKnows You can use FBX file. I tested with 2012 ASCII format. For now the limitations are bone numbers must be less than 60 and textures exported to folder (no embedded texture). Let us know if you face any issue.

[2016-08-16 18:38] NolaDonato commented on #811
Pull request #817 fixes this

[2016-08-16 18:50] #811 closed

[2016-08-16 19:46] QKnows commented on #815
I have porblems with MeshCollider since one of the last updates, too.

I tried simple implementation like: http://www.gearvrf.org/bin/view/GearVRfDeveloperGuide/Picking
but the onEnter event is never thrown.

[2016-08-16 19:46] liaxim commented on #808
@oliverRandom42 Hi. We have something but it requires building the framework yourself. See #818.

1. Download and install Platform SDK 1.6.0. This and only this version works for me.
2. In gradle.properties define OVR_PLATFORM_SDK so it points to the location where the Platform SDK was installed.
3. Get the latest framework code.
4. Apply the changes on top of it by doing

[code]
5. Build the fram

[2016-08-16 20:05] thomasflynn commented on #815
@NolaDonato ?

[2016-08-16 22:43] NolaDonato commented on #815
Pull request #812 should fix these issues. Please give it a try and let me know if it does. This fix hasn't been merged yet. Here is how to get it: git pull https://github.com/NolaDonato/GearVRf.git pickvisible2

[2016-08-16 22:44] NolaDonato commented on #743
Did you get this working? Is it still an issue?

[2016-08-16 23:42] arianaa30 commented on #743
I didnt get this working, but found other says to do it.
You can close it. Tnx!

Sent from my phone. Pls excuse typos and brevity.

On Aug 16, 2016 5:44 PM, "NolaDonato" <notifications@github.com> wrote:

[2016-08-16 23:44] #743 closed

[2016-08-17 08:38] oliverRandom42 commented on #808
HI guys,

apologies for not getting back to you sooner - have been off sick from work the past few days...

Will go over all of your suggestions and provide feedback

Cheers,

O.

[2016-08-17 08:48] QKnows commented on #815
I pulled the request #812 and tested it with an example scene and it's still not working.

It seems that two objects are picked when executed onInit() - but the onExit event is never thrown, same for onEnter or any other event when onInit is finished.

I am adding the PickHandler and the GVRPicker like that:

        this.pickHandler = new PickHandler();

        this.mainScene.getEventReceiver().

[2016-08-17 13:52] Nathipha commented on #800
@rahul27 Thank you, I tested all four ways with your suggestion and it looks like "new GVRMeshCollider(gvrc, false)" is the way to go with it. From the left it triggers the color change a little bit too early and from the right a little bit too late but I yet have to test it with two buttons next to each other and if it doesn't get worse, I'd say that the small offset is neglectable with a complet

[2016-08-17 19:58] NolaDonato commented on #815
this.mainScene.getMainCameraRig().getOwnerObject().attachComponent(
            new GVRPicker(gvrContext, this.mainScene));

I think you are attaching it to the wrong object. I know the demos do this but that is because early on the picker would always pick from the camera no matter what it was attached to. This was wrong so I tried to change it to use the scene object. This broke the demos becaus

[2016-08-17 20:05] NolaDonato commented on #800
GVRMeshCollider(gvrc, false) will pick against the triangles in the mesh. It is a good way to go if you are using text views because it is the most precise way of picking and a text view is only two triangles so it is actually cheaper than testing against the bounding box.

GVRMeshCollider(gvrc, true) makes a bounding box around your mesh and picks against that. If you rotate your mesh it recomput

[2016-08-17 23:40] liaxim commented on #807
@knnnrd How big are the files you are trying to load? How many?

[2016-08-17 23:41] liaxim commented on #762
@arianaa30 You should try the latest framework. Please let us know the status of this issue from your point of view.

[2016-08-17 23:42] liaxim commented on #792
@freshindee Do you need further assistance? Let us know!

[2016-08-17 23:43] liaxim commented on #783
@freshindee Do you have other questions or can we close the issue?

[2016-08-18 04:01] freshindee commented on #783
I want to run android normal app(not VR app, other apps like mobile version of word, excel) inside a VR app as a response to click event of any control. SO please guide me how I can achieve this, can you provide a container,popup window, something like this.

[2016-08-18 04:02] freshindee commented on #792
Thank you. I got it success.

[2016-08-18 07:15] knnnrd commented on #815
Pull request #812 fixed this for me, thanks!

[2016-08-18 07:15] #815 closed

[2016-08-18 08:21] QKnows commented on #772
Hallo @Vittalbabu,
my code looks like the example I posted before. I initialize the mesh for my child2 when I create the texture. When some event occurs, i.e. onFocus, I change the mesh but the texture has still the size of the initial mesh.
I don't understand what you are doing with the drawMode, should I set or change it at some point?

Thanky you for your efforts....

[2016-08-18 08:21] QKnows commented on #815
Works for me, too!

Thank you @NolaDonato  for the fix...

[2016-08-18 08:23] QKnows commented on #787
I still have the issue if I don't disable frustum culling like @rahul27 explained.

[2016-08-18 10:38] Tycho1989 commented on #569
build.gradle
dependencies
{
    //add new .jar file.
}

[2016-08-18 13:54] liaxim commented on #787
@QKnows Hi. We are still testing the fix. If you'd like to try it out too do this on top of master:

[code]

[2016-08-18 13:57] liaxim commented on #792
Closing then

[2016-08-18 13:57] #792 closed

[2016-08-18 13:59] liaxim commented on #783
@freshindee I am afraid we don't have anything more than what @thomasflynn already explained. This is not something that the platform supports out of the box and there is nothing gvrf can do to remedy that.

[2016-08-18 14:22] QKnows commented on #734
@deepakrawat22 I still have problems loading a model, is it right to load the model like that:

 `GVRModelSceneObject so = gvrContext.loadModel("model.fbx"); `

The RenderData is always `null`

`so.getRenderData()` is that correct?

[2016-08-18 18:22] Vittalbabu commented on #772
@QKnows  Could you send a screen shot showing this?

To render, we have to set the mesh as well as renderData. For example, RenderData holds drawMode which controls how the mesh data (the indices in the mesh) is used to create the output. If you are not setting it then that is likely not to be an issue.

Looking at a screen shot will help to visualize the problem.

Thanks.

[2016-08-18 18:39] NolaDonato commented on #734
The GVRModelSceneObject returned by loadModel will not have a GVRRenderData component but on of its children may. If you want to access all the GVRRenderData components you can do this:

ArrayList<GVRRenderData> renderDatas = sceneObj.getAllComponents(GVRRenderData.getComponentType())

This will give you all of the GVRRenderData components in the entire model.

[2016-08-19 01:32] NolaDonato commented on #762
I have made a fix in GVRFrustumCuller in pull request #824. You will need this bring over this pull request to use GVRFrustumCuller because I accidentally swapped the field of view and aspect ratio arguments internally and it won't work right without the fix.

[2016-08-19 03:32] freshindee commented on #783
Ok..Thanks.

[2016-08-19 04:50] freshindee opened #825 "Can I get display content from intent"
Im getting package name from PackageManager and Starting activity. But after I want to get display content from that.
 Intent i = manager.getLaunchIntentForPackage(appName);
 startActivity(i);

Any help please ?

[2016-08-19 04:57] freshindee commented on #825
In android

[2016-08-19 08:04] NolaDonato commented on #800
Did you get the picker working in your application? The pull request is now checked in to the master branch.

[2016-08-19 21:12] yjlintw commented on #127
Still have the same problem. onPause/onResume does not called when the proximity sensor is blocked/unblocked.

@oliverRandom42's code works for most of the time. However, if I blocked the proximity sensor before the phone is inserted to the dock, it will never receive any message(until I unblocked it) because the state is never changed.

[2016-08-19 21:20] liaxim commented on #825
Hi. This would start another app's activity. Where do you want to display that? If you want to display from within a VR app then the answer is the same as to #783; gvrf can't help you with that.

[2016-08-20 05:14] freshindee commented on #825
When we starting an activity above way, can we show that display inside a framelayout in android application, not in a VR application. Issue is when calling startActivity method it opened as a new activity.
Then I can not get that display to my layout.

Thanks.

[2016-08-22 09:14] oliverRandom42 commented on #127
The problem you might be experiencing @yjlintw is when the headset may be off / proximity sensor not blocked for an extended period of time - basically the app gets pushed to the back of the stack, and when the proximity sensor is fired - the app doesn't have enough time to register. If you print out to your log you will notice you will still receive a message from the sensor - but it will not res

[2016-08-22 14:44] liaxim commented on #825
You can inflate a layout and display that. The gvr-renderableview shows how to do that.

[2016-08-22 15:48] Nathipha commented on #800
Thanks for the explanation!

I didn't even manage to get an older version of my code from just before I switched to 3.0.1 to work with 3.0.1 again but I think I found the problem for that:
If I use "scene.removeAllSceneObjects()" on an "empty" scene (apparently there are always at least 5 scene objects in it, even directly after "scene = gvrContext.getNextMainScene()"), it causes the above error m

[2016-08-22 16:57] liaxim commented on #127
There is no API available to poll for the proximity status, to my knowledge. After the user stop wearing the headset onPause eventually gets called; after some delay.

[2016-08-22 17:03] liaxim commented on #127
@oliverRandom42 Why not just register the receiver from onCreate and unregister from onDestroy?

[2016-08-22 17:27] yjlintw commented on #127
@oliverRandom42 I have a background service which will be triggered when the phone insert on the headset. And then, the service will open a certain app that I want it to open automatically. Therefore, in a show condition, the operator doesn't need to bother open an app and can just plug and go.

The problem occurs if the headset's proximity sensor is blocked before the device is plugged in to the

[2016-08-23 03:44] roshanch commented on #787
@QKnows: the fix is merged. You can get it from master

[2016-08-23 06:56] knnnrd commented on #807
I was trying to load files of about 7MB which were 8k resolution. The amount doesn't really matter I think because I was mostly loading them one at a time with a few seconds between each load, but during my testing it was about 5 images.

[2016-08-23 08:04] schoenobates opened #828 "GVRPicker requires doPick() in onStep()"
Hi All,

I've been experimenting with the GearVRf framework samples but was unable to get the picking to work unless I explicitly added the `doPick` to the `onStep` of the `GVRMain` implementation. I'm on a slow connection so still checking out the repo to access the 3.0.1 tag.

Is this expected behaviour for this release?

My setup is as follows:

- Prebuilt 3.0.1 AAR release
- Samsung S7
- Oculu

[2016-08-23 09:27] freshindee commented on #825
please bit explain.....
I'm starting activity using this   startActivity(i);   Result is app display comes to full screen.

But I want to set it to framelayout which smaller than screen size.

[2016-08-23 09:28] oliverRandom42 commented on #127
@liaxim That makes a lot more sense to register in onCreate()/Destroy()! Ill have a look into that today :) Cheers!

@yjlintw That is a nice idea - I like it - I may also look into that - as in most cases for us it is a show situation where the app needs to be operated by people with little knowledge of how it all works behind the scenes.
I now understand what you mean by it being blocked before t

[2016-08-23 15:49] liaxim commented on #783
@freshindee Would you mind if we close this issue?

[2016-08-23 15:54] liaxim commented on #807
Ok, these are pretty big so they would definitely cause stuttering. We don't have anything out of the box that will help in this case (loading them after the initial startup). We will look into it but I can't give a timeline.

[2016-08-23 15:57] liaxim commented on #825
If you want to run a random app - that would not work. Is the activity you want to start an activity that you wrote? Is it a non-VR activity in your own app?

[2016-08-23 16:03] liaxim commented on #127
@rahul27 Back to your original proposal. I think just trivially wrapping a BroadcastReceiver for proximity detection brings no value (it is just too easy to do). I think we probably need a way to let users configure their app to automatically re-center on proximity. Like an option in gvr.xml or a flag in GVRScene. Then we might be adding a little value.. What do you think?

[2016-08-23 16:06] liaxim commented on #828
I have to say it is expected. There have been numerous changes and bug-fixes since 3.0.1. It is in a pretty good shape now. It might be time for us to consider another point release (no Eclipse support anymore though). @thomasflynn ?

[2016-08-23 16:10] freshindee commented on #825
It's non vr app. But not my own app.
On 23 Aug 2016 9:27 pm, "Mihail" <notifications@github.com> wrote:

you want to start an activity that you wrote? Is it a non-VR activity in
your own app?

[2016-08-23 17:48] liaxim commented on #825
If it is not your app then there is nothing gvrf can do to help you achieve that. Sorry.

[2016-08-23 18:28] rahul27 commented on #127
My original proposal was to add a convenience wrapper for the BroadcastReceiver but since it has been well documented in this thread (thanks @oliverRandom42) , I guess it is okay to go ahead and close this thread.

Re-centering is easy to implement over the BroadcastReceiver. We could implement it if there are more requests for this feature.

[2016-08-23 18:42] liaxim commented on #127
Ok then. Will close this tomorrow if there are no further comments.

[2016-08-23 20:56] schoenobates commented on #828
Awesome. Thanks for letting me know. I've done quite a bit with the framework and this is the only issue I've encountered. Everything else has been smooth as butter.

[2016-08-23 20:57] #828 closed

[2016-08-24 00:25] NolaDonato opened #830 "gvr-widgetviewer will not build"
I built the Framework and the WidgetPlugin but I still get this when I try to build the gvr-widgetviewer sample.

Information:Gradle tasks [:app:assembleDebug]
Observed package id 'build-tools;20.0.0' in inconsistent location '/home/nola.donato/android-sdks/build-tools/android-4.4W' (Expected '/home/nola.donato/android-sdks/build-tools/20.0.0')
:app:copyOculusSignature UP-TO-DATE
:app:preBuild UP-

[2016-08-24 00:52] thomasflynn commented on #828
we probably should do another one soon.  but i want to make sure the framework is stabilized and thoroughly tested before doing so.  we're getting there.

[2016-08-24 01:46] freshindee commented on #825
Thanks very much...

On Tue, Aug 23, 2016 at 11:18 PM, Mihail <notifications@github.com> wrote:

--
Best Regards

Indika Ruwan Senavirathne
Software Engineer  | Professional  Mobile App Developer

Email: indika.senavirathne@gmail.com
Skype: indikasenavirathne

DISCLAIMER:  This email and any attachments to it may be confidential and
are intended solely for the use of the individual to whom it is a

[2016-08-24 13:22] liaxim commented on #830
https://github.com/Samsung/GearVRf/pull/831 should fix this but considering gradle's complexity I can't be ever too confident.

Even without the fix a ./gradlew clean assembleDebug in the modelviewer directory might get you through (it does for me with the old version; it shouldn't but it does).

[2016-08-24 22:32] liaxim commented on #807
Since we understand the problem but can't do anything about it right now, would be ok to close this issue? I opened https://github.com/Samsung/GearVRf/issues/809 instead. Thanks

[2016-08-24 22:40] #807 closed

[2016-08-25 08:05] knnnrd opened #833 "PNG transparancy"
Hello,

I am trying to to use a PNG image as a texture for a simple GVRSceneObject. The png image has transparency in it.

Every part of the image that should be transparant is showing a black color. Is this normal behaviour?
This is the code I am using:

`GVRTexture texBack = gvrContext.loadTexture(new GVRAndroidResource(gvrContext, R.drawable.btn));
        btnBack = new GVRSceneObject(gvrContex

[2016-08-25 13:55] leoncvlt opened #834 "24 Aug framework version crashes"
Local framework repository is up to date with db480b97757533a5ba78eaa72f9b3239f5f982bc as the latest commit, with ovr_sdk_mobile_1.0.3. When I use the compiled .aar in a project, it just crashes on start. Tried with both a personal project, and the gvr-360photo from the demos.

The error in the logcat is:
[code]

Both projects work fine if I use the framework-debug.aar that comes bundled in the de

[2016-08-25 14:31] liaxim commented on #834
Hi. Any chance you could share with us the complete logcat output? The crash is in the Oculus library we use which is often indication of some kind of ovr_sdk_mobile version mismatch during the build.

[2016-08-25 14:40] leoncvlt commented on #834
Sure, here it is.

[logcat.txt](https://github.com/Samsung/GearVRf/files/437281/logcat.txt)

[2016-08-25 15:05] liaxim commented on #833
You need to set the rendering order:
[code]

[2016-08-25 15:24] liaxim commented on #834
This is the error:
[code]

Could you please double-check that you have copied VrApi.jar from the 1.0.3 sdk to GVRf/Framework/framework/src/main/libs/?

Somewhere in your gradle.properties file (preferably the global one) you can define OVR_MOBILE_SDK to point to the directory of the 1.0.3 sdk. Then the jars from Oculus will be copied automatically for you.

[2016-08-25 16:39] leoncvlt commented on #834
My bad, I didn't realise that when I pulled the last updates I moved the required files around and forgot to copy them back. Works fine now.

[2016-08-25 16:39] #834 closed

[2016-08-26 13:22] Nathipha commented on #800
Any news on a fix for the crashes?
Sorry if I seem a bit impatient, it's just that I can't really do/test anything until this problem is fixed and my app can properly clear the scene again.

[2016-08-26 15:29] #127 closed

[2016-08-26 20:43] NolaDonato commented on #800
I have tested GVRScene.clear() on an empty scene and it does not crash with the latest GearVRF. Here is my test:
        GVRSceneObject sphere = new GVRSceneObject(ctx);
        GVRTextViewSceneObject text = new GVRTextViewSceneObject(ctx, "Hello");

        text.getTransform().setPosition(-1, 0, -2);
        sphere.getTransform().setPosition(1, 0, -2);
        scene.addSceneObject(sphere);

[2016-08-27 12:14] Nathipha commented on #800
I see you're using "scene.clear()", should I use that or rather "scene.removeAllSceneObjects()" like I always have?

I always clear the scene before adding something new, just to be safe that there are no leftovers, so it's possible that an actually empty scene gets cleared and with "scene.getSceneObjects().isEmpty()" not working in my version, I can't really rely on "if(scene.getWholeSceneObjects

[2016-08-28 04:53] NolaDonato commented on #800
The five objects in the scene are the root node and the camera group which has a left, right and center camera. These are needed for head tracking to work. GVRScene.clear() just calls GVRScene.removeAllSceneObjects() so I am not really doing anything different than you are.

The root node will only have one child if the scene is empty (the camera rig). This does not crash on the latest GearVRF whe

[2016-08-28 12:29] Nathipha commented on #800
Ah, okay.

Oh, it looks like only 3.0.1 has this bug then, which really isn't good.
Is there any way to get a different version of 3.x.x that works properly (clearing and head tracking) but also still supports Eclipse?

[2016-08-28 23:34] thomasflynn commented on #800
@NolaDonato can you checkout 3.0.1 and see if you can apply your bugfix to it?  You may have to coordinate with @liaxim.  I'd like to 1) unblock @Nathipha  and 2) See what we can do to help @Nathipha  migrate to Android Studio.

[2016-08-29 14:57] Nathipha commented on #800
Yes, it would be awesome if you could fix 3.0.1 for Eclipse because I'm giving up on Android Studio.

I managed to kind of get it to import my Eclipse project but in the end it gave me the "Gradle project sync failed. Basic functionality (e.g. editing, debugging) will not work properly." message and the folder structure was messed up too, so a complete fail on that part.

New try: With a new proje

[2016-08-29 16:20] liaxim commented on #800
Instead of environment variables or relying on a fixed folder structure there is a better way. Modify gradle.properties (either the project's or the global one; global one recommended) to include:

[code]

Are you using Windows? Which Android Studio version?

The global gradle.properties should be under ~/.gradle/ on Linux and under the .gradle/ in user's directory in Windows.

[2016-08-29 17:39] Nathipha commented on #800
Win 7 (64 bit) and 2.1.2 (I know, there's an update).

I added it in the "gradle.properties" in "wrapper\dists\gradle-2.10-all\samples\userguide\tutorial\properties" (there were three more: 1 in "samples\signing\maven" and 2 in "wrapper\dists\gradle-1.12-all" but my project uses 2.10 according to the folder in Android Studio) but still the same errors. Also no changes after including it in the "gr

[2016-08-29 17:55] liaxim commented on #800
I guess it would be best for you to just add these properties to the gradle.properties file under ./GVRf/Framework/. Should eliminate some confusion.

[2016-08-29 20:13] NolaDonato commented on #800
I think you can still build the current framework under Eclipse using the old projects. The extensions do not build under Eclipse because they contain assets and are built as aars - Eclipse doesn't support that.

[2016-08-30 17:42] thomasflynn commented on #808
@oliverRandom42 have you gotten a chance to look over things?  Also, we generated https://github.com/Samsung/GearVRf/pull/818

[2016-08-30 20:29] pecabum opened #838 "Error:Failed to resolve: :framework-debug:"
i've pushed both repos in one folder, but still when i open studio with some of the demos and try to sync it gives me "Error:Failed to resolve: :framework-debug:".

Also when i try to make project :

[code]

[2016-08-30 20:38] liaxim commented on #838
Did the framework build successfully for you? Can you find any .aar files under GearVRf/GVRf/Framework/framework/build/outputs/aar/?

[2016-08-30 20:46] pecabum commented on #838
when i try to build framework as a project it gives me :

`Information:Gradle tasks [:framework:generateDebugSources, :framework:generateDebugAndroidTestSources, :framework:prepareDebugUnitTestDependencies, :framework:mockableAndroidJar, :framework:compileDebugSources, :framework:compileDebugAndroidTestSources, :framework:compileDebugUnitTestSources]
Warning:not copying Oculus files; OVR_MOBILE_SD

[2016-08-30 20:50] liaxim commented on #838
In project's gradle.properties please set ANDROID_NDK_HOME to your NDK's path. We have few other things documented in https://github.com/Samsung/GearVRf/wiki/Build%20Tips.

[2016-08-30 20:59] pecabum commented on #838
yes , i have them
`android.useDeprecatedNdk=true
org.gradle.jvmargs=-Xmx2048M
#GVRF_BACKEND=backend_oculus
# Un-comment and add the path to ndk directory
#ANDROID_NDK_HOME=/Users/user/Downloads/android-ndk
# Un-comment and add the path to ovr directory
#OVR_MOBILE_SDK=/Users/user/Downloads/ovr_sdk_mobile_1.0.3
# Variable defines the path to the GearVRf-Demos/gearvrf-libs directory relative to the

[2016-08-30 21:17] pecabum commented on #838
thanks!

[2016-08-31 03:27] NolaDonato commented on #680
This is fixed by PR #718

[2016-08-31 03:27] #680 closed

[2016-08-31 03:28] NolaDonato commented on #678
This is fixed by PR #718

[2016-08-31 03:28] #678 closed

[2016-08-31 03:29] NolaDonato commented on #762
Did you try GVRFrustumCuller? Does it work for you?

[2016-08-31 03:44] arianaa30 commented on #762
​I didn't have any more progress from that time. So didn't have a chance to
make it work.
You can also close the case.

[2016-09-01 14:36] Nathipha commented on #800
@liaxim
I removed the framework in the module settings, deleted the folder in the project overview on the left, then added the paths to the "gradle.properties file under ./GVRf/Framework/" (I used the already existing lines in the file), re-imported it and added the dependency to my app but I still get the same error messages. Another build/cleaning and even "invalidate caches / restart" didn't he

[2016-09-01 14:56] liaxim commented on #800
@Nathipha
0. start from scratch
1. import the Framework project (GVRf/Framework/)
2. open settings.gradle (in the Android view's gradle scripts); add this
[code]
If ``full-path-to-your-apps-module`` were to be some of our samples it would look like ``/home/some_user/GearVRf-Demos/gvr-eyepicking/app``
3. open module settings of your app, go to the dependencies tab; add a module dependency to the fr

[2016-09-01 16:37] Nathipha commented on #800
Thanks, I'll try it either later today or tomorrow.
Is it not necessary to add the oculussig in Android Studio (didn't find the "assets" folder in the new project) or is there a different folder for it?

I just found another bug that's most likely connected to the first one:
If I get every scene object with "scene.getWholeSceneObjects()", save it as an array and then later readd everything, it thr

[2016-09-01 16:41] liaxim commented on #800
@Nathipha The oculus sig file needs to go your app's assets folder.

[2016-09-01 17:03] Nathipha commented on #800
@liaxim
There's none in my Android Studio project, hm... Possible that it didn't even set up correctly then. I'll check again after following your steps.

[2016-09-01 17:20] #825 closed

[2016-09-01 21:16] NolaDonato commented on #800
The error message is because you are trying to add something to the scene that has already been added. In GearVRf a scene object cannot have multiple parents. If you get all the objects and then try to add them again it is correct in giving you this message. Here is how to add something that is already in the scene somewhere else:

GVRSceneObject parent = sceneObj.getParent(); // get parent of sce

[2016-09-01 22:52] NolaDonato commented on #589
Is this resolved? Do you need further help on this issue?

[2016-09-02 16:21] Nathipha commented on #800
@liaxim
Okay, I created another new project, copied everything from my Eclipse one (java files, res stuff, manifest changes) and the extra files into it, then followed your steps.

There's something wrong with my Android Studio instance, even after the update and also if I start it as admin:
For the base project it keeps whining about "Buildtools 24.0.1 requires Java 1.8 or above.  Current JDK ver

[2016-09-02 20:35] liaxim commented on #800
Could you share the build log with us? What do you mean by "save the framework"?

[2016-09-05 10:50] LaraMunozSanchez commented on #598
Hi @arianaa30 ! Is it finally possible to use ExoPlayer instead of MediaPlayer? If so, do you have any example?

Thanks a lot

[2016-09-05 14:07] arianaa30 commented on #598
They suggested it is possible. I never tested it though.

Sent from my phone. Pls excuse typos and brevity.

On Sep 5, 2016 5:50 AM, "LaraMunozSanchez" <notifications@github.com> wrote:

[2016-09-06 08:25] LaraMunozSanchez commented on #598
Don´t worry! Thanks for your quick answer.

[2016-09-06 09:42] #833 closed

[2016-09-06 12:52] arianaa30 commented on #598
Please share the example if you made it work!

Sent from my phone. Pls excuse typos and brevity.

On Sep 6, 2016 3:25 AM, "LaraMunozSanchez" <notifications@github.com> wrote:

[2016-09-08 02:40] NolaDonato commented on #830
It builds now

[2016-09-08 02:40] #830 closed

[2016-09-08 16:03] #838 closed

[2016-09-08 16:04] liaxim commented on #589
@Nathipha If you don't have any other comments regarding this issue I will close it tomorrow. Thanks.

[2016-09-08 16:05] #787 closed

[2016-09-08 16:05] liaxim commented on #772
@QKnows Do you have something for us? We need the extra information @Vittalbabu requested to be able to proceed. Thanks.

[2016-09-08 16:06] #783 closed

[2016-09-09 13:33] Nathipha commented on #589
Sorry for my late answer.
The latest problem with mapping textures on a plane that got filled with GL_TRIANGLE_FAN incorrectly might still be there (haven't had the time to test it in 3.0.1 yet) but there's an alternative I've been using:

    GVRSceneObject obj = new GVRSceneObject(gvrc, 4.0f, 2.0f, bitmaptexture);

This way it's more complicated because you can't simply build the plane whereever

[2016-09-09 13:33] #589 closed

[2016-09-09 14:24] Nathipha commented on #657
Sorry for my late answer!

The wrong visability for TextViewSceneObjects is still there in 3.0.1 unfortunately. If there's an easy fix, I'd be happy to try it but if there isn't, I can as well keep it the way it is - it's not the prettiest but you have to pay close attention to actually notice it.

To summarize the problem:

With ...
[code]
... it looks like this:
http://i.imgur.com/wicCIVG.png -

[2016-09-09 17:50] liaxim commented on #598
We have something in the works. The pull requests are pending review so they are subject to changes.

Small changes to the framework to let the videoSceneObject use ExoPlayer
https://github.com/Samsung/GearVRf/pull/845

Updated sample that can use either MediaPlayer or the ExoPlayer. Set the USE_EXO_PLAYER flag to have the sample use ExoPlayer.
https://github.com/gearvrf/GearVRf-Demos/pull/318

[2016-09-12 01:09] thomasflynn commented on #657
@NolaDonato could you look into this?  @Nathipha another thing to try is using alpha-to-coverage.
1) make sure AA is turned on by checking your gvr.xml and looking the number of 'multiSamples' specified.  it should be either 2 or 4.  if it is '1', change it to '2'.
2) get the RenderData for the TextViewSceneObject and call setAlphaToCoverage(true) for that renderdata.

[2016-09-12 04:37] Juniiorf commented on #770
@liaxim
how can I manually copy the libvrapi.so?

I'm having this problem:
09-12 00:47:49.981 1901-1901/com.samsung.android.gvr.sample E/AndroidRuntime: FATAL EXCEPTION: main
 Process: com.samsung.android.gvr.sample, PID: 1901
 java.lang.UnsatisfiedLinkError: dlopen failed: library "libvrapi.so" not found
 at java.lang.Runtime.loadLibrary(Runtime.java:372)

[2016-09-12 09:12] oliverRandom42 commented on #808
Hi all,

I have also responded in the other thread - have been on holiday for the past 2 and a half weeks - will be getting up to speed with all of this today and will provide any feedback.

Regards,

Oliver

[2016-09-12 14:27] liaxim opened #847 "gvr-opacityanigallery has a problem starting the video"
Look at the tiles, one of them is black. Supposedly video should be played instead.

[2016-09-12 14:30] liaxim opened #848 "Separate class for rendering statistics"
Per @NolaDonato: I suggest that we make a separate class for rendering statistics instead of adding these functions to the renderer. In the future we will probably want to keep track of more things like the number of state changes, the number of shader changes, average batch size, etc. Since we are refactoring it would be more open-ended if we collected statistics and processed them in a separate

[2016-09-12 14:54] liaxim commented on #770
Do you build the framework yourself? If you do so, "libvrapi.so" gets copied automatically. You can always copy it from the Oculus Mobile SDK - ./VrApi/Libs/Android/armeabi-v7a/libvrapi.so.

[2016-09-13 12:25] revinfopawan opened #849 "Google-vr-common and Google-vr-base failed to resolve"
I am trying to import **gvr-camera2renderscript** Project in android studio, i import framework and backend-oculus as a module and when i am building the project i am getting following error:-

`Error:A problem occurred configuring project ':app'.

     Searched in the following locations:
         https://jcenter.bintray.com//google-vr-base//google-vr-base-.pom
         https://jcenter.bintray.co

[2016-09-13 12:52] QKnows commented on #772
@Vittalbabu sorry but I don't understand what drawMode I should set. I am using code like my code snippet before. If the user looks at the object I am changing the mesh like

child2.getRenderData().setMesh(child2Mesh2);

The initial mesh is "empty (gvrContext.createQuad(0.0f, 0.0f);

But there won't be any resize of the mesh. So how could I solve that? Or do I need different objects with different

[2016-09-13 12:56] QKnows opened #850 "Unable to start activity"
Hello,
I tried to update to the current GearVRf Version, since then I can not start my app or any example app. I always get an error like that:

FATAL EXCEPTION: main Process: com.my.app.mini.saklsdakl, PID: 24528
	java.lang.RuntimeException: Unable to start activity ComponentInfo{com.my.app.mini.saklsdakl/org.gearvrf.gvr360Photo.Minimal360PhotoActivity}: java.lang.IllegalStateException: Fatal err

[2016-09-13 13:26] roshanch commented on #772
@QKnows could you try with latest framework? If the issue is still there, we will update you soon. Thanks.

[2016-09-13 13:29] roshanch commented on #734
@QKnows have you tried the above approach? Can we close this issue?

[2016-09-13 13:32] QKnows commented on #734
I have tried to load scenes without success - I planned to make a Framework update and test again, but since the last update my app isn't not working anymore (issue #850)

[2016-09-13 13:36] roshanch commented on #734
@liaxim can help you with this.

[2016-09-13 14:23] liaxim commented on #850
You need to add a new dependency to your build.gradle file. When you build the framework yourself there is a new aar artifact we create. The aar is GearVRf//GVRf/Framework/backend_oculus/build/outputs/aar/backend_oculus-debug.aar.

Opening the samples would just work as long as you have cloned both the framework and demos repository in the same directory. If there are in the same folder then build

[2016-09-13 14:26] liaxim commented on #850
Added an entry to https://github.com/Samsung/GearVRf/wiki/Build-Tips about what artifacts the build produces.

[2016-09-13 15:03] liaxim commented on #849
These aars are included in the repository under GearVRf-Demos/gearvrf-libs/. If you open GearVRf-Demos/gvr-camera2renderscript in Android Studio they will be found.

It seems like you have a different project structure. You can always manually add the dependency to the aars.

--
If you just want to build the sample, make sure you have GearVRf and GearVRf-Demos in the same directory. Then build the

[2016-09-13 18:20] NolaDonato commented on #657
I am looking at it now.

[2016-09-13 20:25] deepakrawat22 commented on #734
@roshanch I was able to import few models from DAZ studio. Will check other models as well. Also a lot of models are imported with unsupported texture file so not able to render them.

[2016-09-14 04:50] revinfopawan commented on #849
I am not able to build that project also, i successfully import and build the framework but when trying to import the demo then error occur. Is there any video or proper documentation for importing project step by step.

[2016-09-14 09:26] LaraMunozSanchez commented on #598
Thanks a lot @liaxim , I have a question... How can I play a DASH content? Do you have any example?

[2016-09-14 14:35] liaxim commented on #598
Hi, playing DASH would be an ExoPlayer question. You should look around at their web site - I am sure they have examples. If you have problems integrating that with GVRF we can provide further assistance.

[2016-09-14 14:40] liaxim commented on #849
Hi, could you describe what do you do? We do have this - http://gearvrf.org/bin/view/GearVRfDeveloperGuide/GearVRfDevGuide200Start#BuildInstruct but it is somewhat outdated.

Let's focus first on the framework build. Does it build successfully for you? Do you see the framework-debug.aar and backend-debug.aar files under GearVRf-Demos/gearvrf-libs/? What other files do you find in that folder?

[2016-09-14 15:30] leoncvlt commented on #850
I have got an automated setup which uses `gradlew` to install my application, however after adding `compile(name: 'backend_oculus-debug', ext: 'aar')` to my dependencies list, `gradlew install` build fails with the exception:

[code]

[2016-09-14 17:10] QKnows commented on #850
Thanks @liaxim - adding the aar's did the trick. I added the projects before, seems that this isn't working anymore.
One hint - the second aar file: backend_oculus-debug.aar is called backend-debug.aar

gradle script: rename('backend_oculus-debug.aar', 'backend-debug.aar')

My issue is solved, the ticket can be closed depending on @leoncvlt

[2016-09-14 17:19] liaxim commented on #850
@leoncvlt Most likely you still have VrApi.jar and SystemUtils.jar under the framework module (GearVRf/GVRf/Framework/framework/src/main/libs/). Please remove them from there, clean and build.

[2016-09-15 03:36] revinfopawan commented on #849
yes, now i am able to build and run the demo in android studio,
Thanks!

[2016-09-15 03:37] revinfopawan commented on #849
i want to open camera in gearvr app is there any demo for that?????

[2016-09-15 06:24] revinfopawan commented on #849
thanks! @rahul27 but this camera is not clear means camera quality/clarity is not good.

[2016-09-15 09:41] leoncvlt commented on #850
@liaxim That did the trick, thanks.

[2016-09-15 09:50] LaraMunozSanchez commented on #598
Hi, that was my problem. I can play DASH content using ExoPlayer, but I don't know how to integrate it with GVRF. In the ExoPlayer example you can specify that you are using DASH content, but I can't find how to specify it throw GVRF so any assistance will be welcomed.
Thanks!

[2016-09-15 09:52] LaraMunozSanchez commented on #598
Hi, that was my problem. I can play DASH content using ExoPlayer, but I don't know how to integrate it with GVRF. In the ExoPlayer example you can specify that you are using DASH content, but I can't find how to specify it through GVRF so any assistance will be welcomed.
Thanks!

[2016-09-15 15:16] liaxim commented on #598
The change in the framework has been merged. Please look at the gvr-360video sample, specifically the Minimal360VideoActivity class. There is a flag to enable use of the ExoPlayer (USE_EXO_PLAYER). The essence of the integration is in the makeExoPlayer method.

[2016-09-15 15:17] #850 closed

[2016-09-15 15:28] liaxim commented on #849
You could also try the gvr-vuforia sample. Is the quality good enough in that sample?

[2016-09-16 07:39] revinfopawan commented on #849
yes, that is working much better
Thanks!

[2016-09-16 12:26] #849 closed

[2016-09-19 16:22] liaxim commented on #800
@Nathipha I created a pre-release - https://github.com/Samsung/GearVRf/releases/tag/v3.0.2. This has the latest framework. Please update your application to depend on both .aars from the pre-release.

[2016-09-19 17:44] liaxim commented on #598
Any luck using the ExoPlayer? Can we close this issue now?

[2016-09-20 05:51] dattanand opened #861 "Secure video texture rendering"
I have been trying to render protected video content enabling EGL_PROTECTED_CONTENT_EXT in surface creation, but it does not work, I have also tried creating secure context and secure pbuffer surface as well, As I know whatever surface GVRF creates is used by oculus and actual content is rendered via surface created in oculus SDK which is not secure.
 I also tried with pure GVRF thinking it wont h

[2016-09-20 06:48] LaraMunozSanchez commented on #598
I can´t play DASH content with GVRF yet. I will continue trying.

[2016-09-20 14:05] liaxim commented on #598
Let us know if you are experiencing problem with GVRF itself.

[2016-09-20 14:47] #861 closed

[2016-09-21 13:08] Nathipha commented on #657
Oh, I didn't know there was AA. That's nice!

Your suggestion works if I re-enable the depth test (with it disabled it looks like in my screenshots, so nothing changes) and, what I'm really surprised about, it also doesn't make the bounding boxes come back. Thank you, @thomasflynn  and @NolaDonato !

I'll close the issue on Friday if no new problems come up while doing some more more testing.

[2016-09-21 13:56] Lordpeara opened #864 "GVRViewManager.getMainCameraRig() throws NullPointerException"
Hi all,

I made project with your sample code (https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-360video/app) and run it on my Galaxy S6. And it works well.

But after I tried to dock my S6 onto Gear VR, app crashes with NullpointerException.

I thought when phone is plugged onto headset, GVRConfigurationManager.configureForHeadset() will be invoked.

here is the stack trace.

[code]

How

[2016-09-21 14:46] liaxim commented on #864
Hi, is it consistently reproduced? The phone was at the screen where it was asking you to dock into the headset, you docked and then it crashed? Thanks.

[2016-09-21 15:12] liaxim commented on #864
Here is a patch: https://github.com/liaxim/GearVRf/commits/wait_for_viewmgr
You can pull it to your tree with ``git pull https://github.com/liaxim/GearVRf.git wait_for_viewmgr``

[2016-09-22 00:53] Lordpeara commented on #864
Phone does not ask to dock into headset. It screen shows the app like this.

![image](https://cloud.githubusercontent.com/assets/6825249/18733920/22a415fc-80aa-11e6-8e80-ef88c3d8b8df.png)

And before running application I set developer mode in Gear VR Service application.
However, neither setting dev mode nor not I saw the same result.

I will pull & rebuild your patch now. Thank for fast reviewin

[2016-09-22 10:41] LaraMunozSanchez commented on #598
It seems like the manifest is never loaded. Doing the same with the ExoPlayer´s demo it works, so it can be a GVRF or an integration problem, I´m not sure. Any idea? Has anyone tried to use other renderers (DASH, HLS or SmoothStreaming)?

[2016-09-22 14:03] liaxim commented on #598
Can you share any logcat output? To my knowledge nobody has tried other renderers. I will try DASH but I can't give a time frame when.

[2016-09-22 14:13] liaxim commented on #864
You need to add ``<meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>`` to the ``application`` section in your AndroidManifest.xml. Then you would get the prompt and the app would run ok in developer mode without being docked.

I am really curious to find out did the patch help you with the crash you mentioned. Thank you.

[2016-09-23 01:08] Lordpeara commented on #864
Both patch and previous master work fine. Thanks!

[2016-09-23 01:08] #864 closed

[2016-09-27 14:52] liaxim commented on #800
@Nathipha Where do we stand with this issue?

[2016-09-29 13:00] Nathipha commented on #657
Everything has been working fine so far, so thanks for your help again!

[2016-09-29 13:00] #657 closed

[2016-09-29 13:21] Nathipha commented on #800
@liaxim Sorry, I didn't find the time for it lately.

Can I simply replace the files in the "Framework" folder or does Android Studio want special treatment before I can do that?

So simply add them as dependencies - apart from the framework module and the two jar files - too?

My "gradle.properties" file now says (sorry, forgot to readd the OVR path):
[code]

Gradle Console:
[code]

[2016-09-29 18:15] liaxim commented on #800
Not sure which files you are referring to. Could you please be more specific?

In your app's build.gradle you will need something like this:
[code]

Why don't you just add the ``tools:replace="android:icon"`` attribute? Like this:

[code]

[2016-09-29 21:49] liaxim opened #874 "Using LOD disables optimizations"
To get lod-test back to a working state optimizations in SceneObject::frustumCull are turned off if any scene object uses lod. This eventually needs to be addressed properly.

[2016-09-30 00:24] NolaDonato commented on #874
We should get rid of the hard-coded LOD on SceneObject and replace it with an LOD component. I will look at making such a component – I think it is possible now that we have GVRBehavior.

[2016-10-04 16:06] liaxim commented on #808
https://github.com/Samsung/GearVRf/pull/818 verified as working. Merged.

[2016-10-04 16:06] #808 closed

[2016-10-05 02:24] NolaDonato opened #878 "video changes cause SIDIA unit tests to fail"
When I ran the SIDIA unit tests today I got two classes of error:
1. Anything that references a shader manager immediately crashes
2. Some of the video scene object tests fail

Failing video tests are:
testGetGVRVideoSceneCameraRig
testGetGVRVideoSceneIsActive
testPauseVideo
testReleaseVideo
testStartVideo
testStopVideo

10-04 22:23:02.529 30137-30137/? I/SELinux: Function: selinux_android_load_pr

[2016-10-05 13:27] liaxim commented on #878
I will look into these.

[2016-10-07 14:12] lassehe commented on #150
I had issues with GVRConsole too. I suspect it was broken in some point because I remember using it earlier.

If GVRConsole writeLine is called during init the text quickly appears on screen but then disappears. Previous comment about text being behind objects does not seem correct to me, as the console is implemented as a post effect.

Like stated the status console in GVRScene works, though it l

[2016-10-07 14:43] liaxim opened #882 "Problems with the samples when using the daydream backend"
- gvr-shadows: produces a black screen after the initial logo. Must be something with the viewManager refactoring I did. Will look into it.
- gvr-3dcursor*, gvr-sceneeditor: the cursor is missing
- gvr-events: cursor missing, not responding on taps (probably due to the missing cursor)
- gvr-modelviewer2, gvr-widgetviewer: crash with a createContext error
- gvr-vuforia: produces all bright white

[2016-10-07 21:40] rahul27 commented on #808
Here is a link to the wiki:

https://github.com/Samsung/GearVRf/wiki/Entitlement-Check-using-GVRF

[2016-10-09 08:13] vladdonets opened #883 "OpenGL Calls"
Hello!

I have a question related to the internal calls of OpenGL in GearVRF. Is there any way I can directly use OpenGL ES API in the GearVRF (except overwriting predefined functions) ?

[2016-10-09 16:47] thomasflynn commented on #883
It is possible.  You'll need to set up a drawFrameListener.  You'll need to also save and restore any opengl state that you set, including framebuffer binding.  Keep in mind that you may be modifying any opengl state we may be using as well.

[2016-10-10 06:43] vladdonets commented on #883
Thank you for your prompt response!

[2016-10-11 14:21] lassehe opened #886 "Some objects are not drawn"
My application stopped drawing some objects (or their textures) after commit d02474726d39cef500310006ebe36540389ef210 "Fix the matrix transformation of the bounding volume" was merged. Depending on the direction looked at all or none of the objects are missing. Later commits 979bf2df9f13fae870146d461c5a01d2c06d90ed and 8513f039e9f2a814fde3ba09bdb0d4cb8f933cf5 related to this do not fix the issue.

[2016-10-11 14:34] rahul27 commented on #886
The fix corrects the bounds of the bounding volume for a given object. Could you share an example of what you are seeing?

[2016-10-12 07:51] lassehe commented on #886
Here are screenshots made using GVRf version 3de46c46aa0cb43e71dae5b2aae9ee50f2d5ae80  where Mihail's patches related to this were also merged. A complete sphere surface, assembled from smaller tiles, should be present here, but now some GVRSceneObjects are not drawn, based on the exact direction which is being looked at. For example, when looking directly towards top or bottom this looks just fin

[2016-10-12 18:06] rahul27 commented on #886
@lassehe Are you using the GVRPicker to determine picked objects?

Could you let me know the exact GVRf calls that fail? Also could you share a sample code (if possible) so that I can recreate and track down the issue faster?

Finally, when you say it could be a problem with your code are you doing something different than the Picker?

[2016-10-12 22:35] liaxim commented on #882
gvr-shadows fix: https://github.com/Samsung/GearVRf/pull/892

[2016-10-13 16:44] liaxim commented on #878
Video test failures fixed by https://github.com/gearvrf/GearVRf-Tests/pull/19

[2016-10-13 21:55] liaxim commented on #882
gvr-3dcursor*, gvr-sceneeditor fix: https://github.com/Samsung/GearVRf/pull/894

[2016-10-14 00:17] rahul27 commented on #886
Hi @lassehe, just following up on my question above.

[2016-10-14 12:51] lassehe commented on #886
Thanks for your help! Perhaps I'm missing something here, but why would GVRPicker affect rendering? All these GVRSceneObjects should be visible. In screenshots the camera is in the center of the sphere. The app used GVRPicker for certain purposes, but removing it didn't fix this drawing issue.

However, I probably did ran into that GVRPicker bug earlier. Now I tested editing head model params in t

[2016-10-14 14:29] liaxim commented on #886
@lassehe Does GVRScene.setFrustumCulling(false) have any effect?
[code]

[2016-10-14 14:58] liaxim commented on #882
gvr-modelviewer2, gvr-widgetviewer fix: https://github.com/Samsung/GearVRf/pull/895

[2016-10-14 15:27] thomasflynn commented on #886
from the screenshots, it looks like maybe you create some GVRSphereSceneObjects?  what arguments did you give to the constructor?

[2016-10-14 17:05] lassehe commented on #886
@liaxim Yes! Objects become and stay visible after setting frustum culling false. The scene looks like it was before this change.
@thomasflynn Thanks for the idea, but these are just regular GVRSceneObjects I have generated.

[2016-10-14 17:14] rahul27 commented on #886
@lassehe I assumed that you were picking objects to be drawn based on the GVRPicker, which does not seem to be the case. So we can ignore that for now. You are right, the Picker should not affect the rendering.

It seems to be an issue with the culling. I tried to quickly whip up a similar sample at my end but it seems to render okay.

![screenshot_20161015-020340](https://cloud.githubusercontent.

[2016-10-14 17:31] liaxim commented on #882
gvr-vuforia fix: https://github.com/Samsung/GearVRf/pull/896

[2016-10-14 17:38] liaxim opened #897 "GVRVideoSceneObject and its surface being created asynchronously"
A GVRVideoSceneObject can be created on any thread but its ctor creates an object on the GL thread. Between completion of the ctor call and this helper object being created, certain APIs would return null or have no effect. There is no way to know when the instance is fully ready and in any case it should be all transparent to end users.

[2016-10-14 17:45] liaxim commented on #886
@rahul27 If you have trouble reproducing and have no other leads, you could check out gvr-immersivepedia. It exhibits what looks like a culling issue - start the video and rotate left/right so it is about to get out of the view. It disappears much earlier that it should. There is other geometry in the museum scene that gets culled too early too.

[2016-10-14 18:05] rahul27 commented on #886
@liaxim yeah, I see the issue with immersivepedia. It goes away when I revert my change. Will look into it.

[2016-10-14 18:17] lassehe commented on #886
My scene graph is hierarchical with asynchronously loaded textures. But this happens during initialization, so not really on demand. Hopefully immersivepedia helps debugging there. Looks like same issue.

[2016-10-14 19:51] liaxim commented on #878
Shader manager fixes: https://github.com/gearvrf/GearVRf-Tests/pull/21

[2016-10-17 17:03] rahul27 commented on #886
@lassehe could you let me know if the following pull request fixes your issue?

https://github.com/Samsung/GearVRf/pull/898

[2016-10-17 20:42] #715 closed

[2016-10-17 23:16] thomasflynn commented on #150
@Liahim, could you check this out?

[2016-10-18 11:26] lassehe commented on #886
@rahul27 yes, it looks fine now. Thanks!

[2016-10-18 14:42] liaxim commented on #150
Sure

[2016-10-18 18:35] liaxim commented on #150
@lassehe Please try this pull request: https://github.com/Samsung/GearVRf/pull/900. Does it do anything for you?

I checked out the GVRConsole and didn't find major problems with it. I did tweak how the final color is produced by the console's fragment shader. Also adjusted the default text size (if you use the current default nothing gets printed out since it is 1). But I didn't see any need to c

[2016-10-19 13:13] lassehe commented on #150
@liaxim Thanks, this looks like an improvement to me.

You are correct about GVRConsole, no major issues there. My apologies for false alarm. I just found (my) bug causing the GVRConsole to disappear. GVRConsole was created in onInit(), but I was using the constructor **without** GVRScene parameter, so the console disappeared as soon as the splash screen was gone. I hadn't even realized there was

[2016-10-19 14:56] liaxim commented on #150
@lassehe I will update the demo apps to reflect the different default text size. Will see whether I can do something simple to improve a bit the text appearance.

[2016-10-19 15:00] liaxim commented on #150
@dknaan Fyi, white or close to white would mess up the console output since the console used to add the colors (the actual rendered fragment color and the overlay color). I changed the calculation in the shader and the console output is more of an overlay now.

[2016-10-19 18:07] liaxim commented on #150
@lassehe Enabled anti aliasing. Text looks much better.

[2016-10-19 18:12] liaxim commented on #150
@lassehe The text size should be back to normal in gvr-solarsystem. Thanks for pointing out the problems.

[2016-10-20 07:27] #886 closed

[2016-10-21 05:20] bot3d opened #902 "3DS max and X3D format"
I am evaluating some files (in 3DS max, x3d, vrml etc) for a Virtual Reality application. But I have no idea if any of the following loaders might work. Any ideas?

https://github.com/x3dom/pipeline
https://github.com/cybergarage/cybergarage-x3d
https://github.com/cathive/x3d
https://github.com/kjetilos/3ds-parser

[2016-10-21 13:10] #150 closed

[2016-10-21 13:17] liaxim commented on #878
Fixes merged in

[2016-10-21 13:17] #878 closed

[2016-10-21 16:02] thomasflynn commented on #902
@mitchwilliams is in progress of adding x3d support.  Mitch, can you update on what we support so far?

[2016-10-21 19:06] mwitchwilliams commented on #902
Greetings bot3d,

Thanks for contacting us.  GearVR supports X3D.  I'd be happy to assist in your development and any issus.

The GearVR-Demos repository (https://github.com/gearvrf/GearVRf-Demos) has a gvr-x3d-demo folder to assist in running X3D files.  All that is required is to place your .x3d file(s) and texture maps in the assets folder, and replace the line _String filename = "_____.x3d";_

[2016-10-25 15:09] #883 closed

[2016-10-25 15:09] #882 closed

[2016-10-25 18:20] deepakrawat22 commented on #796
With the latest code, the model is rendered if some texture is missing.

[2016-10-25 21:54] NolaDonato commented on #796
This was fixed by the embedded textures patch.

[2016-10-25 21:55] #796 closed

[2016-10-26 18:04] deepakrawat22 commented on #897
@liaxim How about adding a callback function like
`
setOnPreparedListener(OnPreparedListener)
`
Just like android media player does

[2016-11-01 15:06] liaxim opened #911 "Sorting and culling ideas"
Tracking Nola's suggestions here:

I think we should group renderdatas by material and transparency sort as part of the cull process. I also think we should use bounding spheres instead of boxes for culling - this would be faster (don't have to regenerate the bounding box, just transform center and radius) but it is less precise. This would be a merge sort during cull which is faster than a large

[2016-11-04 19:37] NolaDonato opened #918 "X3D test with 16 spotlights crashes in batching"
The test is in the GearVRf-Tests repo in the asset-tests project. The test function is AssetLightTests.x3dSpotLight4. The vertex and fragment shaders both compile OK. I am including them below. It gets a garbage name for the first vertex attribute in Mesh::createAttributeMapping.

VERTEX SHADER
=================================
#version 300 es
#define HAS_LIGHTSOURCES 1
#define HAS_VertexTemplate

[2016-11-04 19:48] NolaDonato commented on #918
I think this bug may be driver related because it does not happen on all phones. It occurs on my Note 4 but I think it may work on Abhijit's Note 4.

[2016-11-08 11:34] JacobLawtonClaro opened #922 "Error:Failed to resolve: :backend_daydream-debug: Error:Failed to resolve: :framework-debug: Error:Failed to resolve: :backend_oculus-debug:"
Open a demo project and it can not resolve the dependencies, here is the output.

it is next to the gearvrf file, do I need to add some dependencies to the project and which ones?

[2016-11-08 15:34] liaxim commented on #922
Hi,

Two options:

**Build the framework yourself first**
- clone this and the framework repo in the same directory
- follow the instructions how to build the framework at https://resources.samsungdevelopers.com/Gear_VR/020_GearVR_Framework_Project/060_Gear_VRf_Developer_Guide/110_Build_Instructions
- you should have all the framework artifacts under GearVRf-Demos/gearvrf-libs (like framework-debu

[2016-11-09 12:23] kpilyugin opened #923 "GearVR volume change dialog is not rendered."
When changing volume on GearVR, special Volume Notifier should be rendered (due to https://developer3.oculus.com/documentation/mobilesdk/latest/concepts/release/, this is done since version 1.0.3 automatically by Oculus SDK).

But when running app made with framework (e.g. gvr-sample from https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-sample), it is not rendered at all.

[2016-11-09 16:28] kpilyugin commented on #923
Actually this can be fixed by overriding dispatchKeyEvent in activity and calling AudioManager.adjustStreamVolume, Oculus samples do exactly this.

[2016-11-09 17:33] liaxim commented on #922
@JacobLawtonClaro Still having problems?

[2016-11-09 17:37] liaxim commented on #923
Actually this is exactly what we do. See GVRActivity.dispatchKeyEvent. I checked it out on Note5 and it works as expected. What kind of phone are you using?

[2016-11-09 19:54] kpilyugin commented on #923
@liaxim thanks for reply! I am using Galaxy S6. This is not reproduced anymore, probably was caused by outdated version of Oculus SDK (however I was pretty sure I used the latest).

[2016-11-09 19:54] #923 closed

[2016-11-10 08:57] rsisaleh opened #926 "Render to texture"
Hi guys,

I want to create something like dynamic waves and need to generate the height map in a shader and store it in a render texture to be used later. I would rather not hack apart the framework to make this happen, if possible.
I have a terrifying feeling that the solution is really obvious and I'm just missing it.

Cheers

[2016-11-10 09:07] JacobLawtonClaro commented on #922
Sorry, it ended up in spam and I only saw the response yesterday.But yes that has got the demos working thank you.On 09 November 2016 at 17:33 Mihail <notifications@github.com> wrote:@JacobLawtonClaro Still having problems?—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread. 

[2016-11-10 10:16] JacobLawtonClaro commented on #922
Sorry about this, just another question, the "eye picking" app uses a custom open gl es fragment and vertex shader to color the models. I have some open gl shaders i would like to use with gearVRf, but they are more complex than just outputting a single colour and a single uniform input. Do you have examples of more complex open gl shaders being used with gearVRf? The API for GVRMaterial is missin

[2016-11-10 17:01] mwitchwilliams commented on #918
Runs fine on my Galaxy 7.  My Note 4 - probably hasn't been used since switching from eclipse to Android Studio months ago - isn't running any X3D files.  It crashes inside GVRActivity.onCreate() when calling mDelegate.onCreate(this);  That calls OvrVrapiActivityHandler where it dies calling activityNatrive.getNative().
If anyone knows the fix for this, let me know and I can re-test on the Note 4.

[2016-11-10 17:03] mwitchwilliams commented on #801
I have a lot of X3D files that texture a sphere and all run just fine.  Use them almost daily.

[2016-11-10 17:07] liaxim commented on #922
@JacobLawtonClaro You should take a look at the shaders in the gvr-video sample. They should be more helpful; there is an attribute being passed there to the vertex shader which in turn sets a varying for the fragment shader.

setTexcoord has been added recently to GVRMaterial. Prior to that, depending on your specific GVRF version, you can use setVec4("a_tex_coord", ..) or setVec2("a_texcoord", .

[2016-11-10 17:08] liaxim commented on #918
I will take a look at the Note4 problem.

[2016-11-10 17:11] liaxim opened #927 "gvr-camera2renderscript doesn't work on Note5"

[2016-11-10 20:07] liaxim commented on #918
Reset the state of the Oculus apps, it applied an Oculus Driver update and started working.

[2016-11-10 20:24] mwitchwilliams commented on #918
OK, can confirm this X3D file works on both my Note 4 and Galaxy S7.

[2016-11-11 00:12] liaxim commented on #926
Hi. Is GVRRenderTexture what you are looking for? The gvr-vuforia sample app uses it.

[2016-11-11 01:14] thomasflynn commented on #926
I believe @roshanch was going to give a more specific answer.  We helped someone with this in a hackathon a couple months back.  If you just want to execute a bunch of opengl calls on your own rendertarget, then the flow would go something like this:

create a drawframelistener
in your drawframelistener
  if this is your first frame, create your GVRRenderTexture (let's call that 'renderTexture')

[2016-11-11 01:29] thomasflynn commented on #922
also, gvr-modelviewer has a bunch of custom shaders you may want to look at.  they do a bunch of reflection and lighting and stuff.

[2016-11-11 09:55] JacobLawtonClaro commented on #922
I found some good ones in the dinosaur viewer gvr-immersivepida, got my shaders linked in now.

[2016-11-11 15:38] #927 closed

[2016-11-11 15:39] #847 closed

[2016-11-11 17:28] liaxim opened #928 "Expose additional Oculus settings in gvr.xml"
Namely ovrFrameParms's MinimumVsyncs and ExtraLatencyMode. Whether it should be in a backend-specific section or we can try to translate these or ignore for other backends is debatable.

[2016-11-13 19:51] httpdigest opened #930 "Consider upgrading to JOML 1.9.1 for Android"
Hi,

the latest development version 1.9.1-SNAPSHOT of JOML is now built and deployed as an Android Library (.aar file) with sources and Javadoc jars, currently available through oss.sonatype.org with the coordinates `org.joml:joml-android:1.9.1-SNAPSHOT`.
See the [android](https://github.com/JOML-CI/JOML/tree/android) branch.
Also see the [Gradle Setup for Android](https://github.com/JOML-CI/JOML/

[2016-11-14 15:35] liaxim commented on #930
Thanks for letting us know. We will definitely upgrade.

[2016-11-16 05:35] mayank1111 commented on #569
When i run gvrtextviewsample app from GVRF-Demos i got the following error-

java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "vrapi_ShowSystemUI" referenced by "/data/app/org.gearvrf.gvrtextviewsample-1/lib/arm/libgvrf-oculus.so".

Anybody knows how to resolve it?

[2016-11-16 05:53] mayank1111 commented on #922
When i run gvrtextviewsample app from GVRF-Demos i got the following error-

java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "vrapi_ShowSystemUI" referenced by "/data/app/org.gearvrf.gvrtextviewsample-1/lib/arm/libgvrf-oculus.so".

Anybody knows how to resolve it?

[2016-11-16 14:48] liaxim commented on #569
@mayank1111 Hi. Make sure you remove all the intermediate build files and directories (git clean -fdx) and rebuild. You must have a leftover libvrapi.so from the 1.0.3 Oculus SDK somewhere.

[2016-11-16 16:02] liaxim opened #939 "Publish release build artifacts"
Make changes so the build system across all the repos works seamlessly with both debug and release packages.

Note: The native code is already release even in the debug packages since we do not explicitly set NDK_DEBUG and debuggable is not set in the manifests either.

[2016-11-16 17:23] liaxim opened #940 "The shadows in gvr-shadows "jump""
I haven't seen this before but today I am. The shadows kind of "jump" every once in a while. Maybe I am just doing something wrong. I picked up the binaries from the 3.1 prerelease and build with those. Tested on Note5. @NolaDonato Could you please double-check?

[video.zip](https://github.com/Samsung/GearVRf/files/595381/video.zip)

[2016-11-16 17:31] mwitchwilliams opened #941 "GVRSpotLight.InnerCone > GVRSpotLight.OuterCone not clampled at OuterCone dimension"
In X3D, a SpotLight's BeamWidth (which sets GVRSpotLight.InnerCone) is larger than X3D SpotLight's CutOffAngle (which sets GVRSpotLight.OuterCone).  According to the X3D spec., the CutOffAngle should be clamped at the BeamWidth's values.  There is no fall-off of light around the cone - it acts like a laser.
In GearVR, it appears that the BeamWidth  'shines' and the area represented the cutOffAngle

[2016-11-16 17:58] liaxim opened #942 "gvr-multilight and ovr_multiview enabled; light moves much slower"
The light moves from right to left 3x slower compared to the default case. Tested on Note5 and used the prerelease binaries from https://github.com/Samsung/GearVRf/releases/tag/3.1.

@roshanch please check it out.

[2016-11-16 19:13] mwitchwilliams opened #943 "GRVMaterial emissive_color doesn't appear to have an effect"
Emissive Color doesn't appear to have an effect

Setting **gvrMaterail.setVec4("emissive_color", red, green, blue, 1.0f)** but not seeing any effect.  I set diffuse and specular colors to dark gray and black respectively so I should see the emissive effect.
I believe the value was set correctly because immediately after that code, I tested with the statement:
**float[] emissive = gvrMaterial().get

[2016-11-16 21:38] rsisaleh commented on #926
Thanks for that, I ended up using unity as time was a bit of a factor for the prototype.

[2016-11-16 21:54] NolaDonato commented on #941
In GearVRf the inner cone angle must be <= to the outer cone angle. It uses the OpenGL spotlight model where the spotlight is at full intensity up to the inner angle and falls off to zero between the inner and outer angle.

Perhaps you need to use the X3D beam width for the outer angle and theX3D  cutoff for the inner angle?

From: Mitch Williams [mailto:notifications@github.com]
Sent: Wednesday,

[2016-11-16 22:13] roshanch commented on #942
with multiview FPS drops from 60 to 38. I am looking at it.

[2016-11-17 16:44] mwitchwilliams commented on #941
OK, thanks for the explanation.   I'm wondering if OpenGL figures if the innerCone is larger than the outerCone, then make the center area dark.  Could be part of the design, or just something not implemented.
X3D spec does say the innerCone should be capped by the outerCone.  I may try to implement this or just let it go figuring the designer made a conscience choice here.  And if we mimic OpenGL

[2016-11-17 16:47] #941 closed

[2016-11-18 00:09] ragner opened #947 "Failed to build physics extension"
Does anybody could help me to fix this issue after ovr_sdk_mobile_1.0.4 update ?

arm-linux-androideabi-g++: error: jni/../../../build/intermediates/exploded-aar/framework-debug/jni/armeabi-v7a/libgvrf.so: No such file or directory

make: Leaving directory `/Users/ragner/Workspace/SIDIA/GearVRf/GearVRf/GVRf/Extensions/gvrf-physics/src/main'

make: *** [obj/local/armeabi-v7a/libgvrf-physics.so] Err

[2016-11-18 01:24] rahul27 commented on #947
Could you confirm that the following line is commented in all your gradle.properties files:

`org.gradle.parallel=true`

[2016-11-18 15:39] ragner commented on #947
yes, it is

[2016-11-18 16:24] liaxim commented on #947
@ragner Where do you find libgvrf.so if you search for it? It is all set up to work if the framework and backends are built from GearVRf/GVRf/Framework and the extensions from GearVRf/GVRf/Extensions. If you have custom project structure where you include selected modules then it is likely you may experience problems.

I couldn't figure a good reliable way of referencing libgvrf.so from Android.mk

[2016-11-18 22:14] liaxim commented on #942
Fixed

[2016-11-18 22:14] #942 closed

[2016-11-18 22:20] ragner commented on #947
@liaxim

$ find . -name libgvrf.so

./Extensions/3DCursor/3DCursorLibrary/build/intermediates/exploded-aar/framework-debug/jni/armeabi-v7a/libgvrf.so
./Extensions/3DCursor/IODevices/gearwear/GearWearIoDevice/build/intermediates/exploded-aar/framework-debug/jni/armeabi-v7a/libgvrf.so
./Extensions/DebugWebServer/debugwebserver/build/intermediates/exploded-aar/framework-debug/jni/armeabi-v7a/libgvrf.

[2016-11-18 22:42] liaxim commented on #947
libgvrf.so is conspicuously missing under gvrf-physics. The dependency is there in the gradle file. The aar should have been "exploded".

Could you please try to complete clean your tree (git clean -fdx) and then build the Framework and the Extensions project?

[2016-11-18 22:47] ragner commented on #947
@liaxim  Yes, I already try it ...
I have made the git clean -fdx and imported the project again
I have got the same message error.

This is my git diff

$ git diff
diff --git a/GVRf/Extensions/gradle.properties b/GVRf/Extensions/gradle.properties
index 25b9254..c19b9a5 100644
--- a/GVRf/Extensions/gradle.properties
+++ b/GVRf/Extensions/gradle.properties
@@ -1,9 +1,11 @@
 android.useDeprecatedNdk

[2016-11-18 22:53] rahul27 commented on #947
Does it only fail while building the physics extension?

Are you able to build only the framework and run the other samples?

[2016-11-18 22:57] liaxim commented on #947
@ragner What is your build procedure? What we expect to work is
- go to GVRf/Framework - run "./gradlew assembleDebug"
- go to GVRf/Extensions - run "./gradlew assembleDebug"

If you still have problems please go to GVRf/Extensions and run "./gradlew -d -i gvrf-physics:assembleDebug" and send me the output of this command. Thanks.

[2016-11-18 23:17] ragner commented on #947
Ok,
@liaxim I am trying it.
My internet is very slow today and it is taking a long time to download gradle-2.14.1-all.zip

Framework$./gradlew assembleDebug
Downloading https://services.gradle.org/distributions/gradle-2.14.1-all.zip .....

[2016-11-18 23:19] ragner commented on #947
@rahul27 Only the build of physics extension is failing.
Framework is building ok

[2016-11-18 23:45] ragner commented on #947
@liaxim the command line worked for me!
I need check the configurations of my AndroidStudio.

Thank you @all.

[2016-11-18 23:45] #947 closed

[2016-11-21 16:37] liaxim commented on #922
@mayank1111 Did "git clean -fdx" and rebuilding fixed your problem?

[2016-11-23 05:14] NolaDonato commented on #918
This is failing when I run the x3dSpotLight4 test from asset-tests project in GearVRf-Tests. How do I reset the Oculus Apps on my Note4?

[2016-11-23 15:41] liaxim commented on #918
@NolaDonato Go to Settings->Applications->Application Manager (might be slightly different on your Note4). Find the "Oculus" and "Oculus Home" apps, tap each one of them and select "CLEAR DATA". You may need to that for all Oculus apps if this doesn't turn out to be enough.

[2016-11-23 16:51] liaxim opened #957 "Update the inverted color shader to work when ovr_multiview support is enabled"

[2016-11-23 18:05] liaxim opened #958 "Can't upgrade to Android's gradle plugin version 2.2.2"
All our assembleDebug-related tasks fail with
[code]

[2016-11-23 20:37] NolaDonato commented on #918
Even after clearing the data from the Oculus apps this test still fails on my Note4. Warnings are emitted because the fragment shader doesn't read variables the vertex shader writes.

11-23 15:35:13.490 21940-21990/org.gearvrf.tester E/gvrf: Could not link program:
                                                          --From Vertex Shader:

[2016-11-23 23:00] roshanch commented on #918
Some of the drivers are very strict about the varyings check, it is possible that this behavior is different for different drivers.

[2016-11-24 00:16] NolaDonato commented on #918
If we reduce the maximum number of lights to 14 this test passes on my Note4.

[2016-11-24 01:31] NolaDonato opened #961 "Cannot build physics extension"
I am getting build errors when I try to build the physics extension from the latest master. I am using Android Studio 2.2.2 on Linux. I have defined the Java SDK HOME in my environment as:

JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/

Still I am getting errors complaining I have not installed the JDK:

make: Entering directory '/home/nola.donato/projects/GearVRf/GVRf/Extensions/gvrf-physics/src/m

[2016-11-24 01:38] NolaDonato commented on #961
I figured out what it was. It is not enough to set JAVA_HOME to the JDK. You have to go into Android Studio File/Project Structure/JDK location and set it there too.

[2016-11-24 01:38] #961 closed

[2016-11-27 18:21] httpdigest commented on #930
fyi: extensive performance optimizations in JOML for Android Marshmallow and Nougat devices are currently being done. No API changes and no semantic changes in any operations. Just performance optimizations.
The first release 1.9.1 of JOML for Android will be ready soon. Minimum API level 4, but optimized for API levels 23 and 24.

[2016-11-28 17:56] mwitchwilliams opened #962 "Total Vertices (indices) for a Mesh limited to 64K - limits X3D files"
We only accept total number of vertices to 64K.
GVRMesh _indices_ is an array of type char[] which is 2 bytes.

Some X3D files, particularly those sent to 3D printers, will have > 64K vertices.  These include meshes generated by scanners and catscans.

Enabling meshes with > 64K vertices opens up new markets for GearVR, sharing the same X3D files sent to 3d printers.

Note that GVRMesh also has te

[2016-11-28 20:25] NolaDonato commented on #962
If you find a mesh in the X3D file that has more than 64K vertices, why don’t we create multiple scene objects with multiple meshes for now.

[2016-11-28 20:56] thomasflynn commented on #962
we could also add a method that takes 'int[]' for indices.  ES3.0 supports that, so we should be able to as well.

[2016-11-29 21:53] thomasflynn commented on #930
Hi Kai, we finished our 3.1 release and are now allowing check-ins into master.  I've done a pull-request for the joml upgrade.  Please check:  https://github.com/Samsung/GearVRf/pull/964

[2016-11-30 08:57] httpdigest commented on #930
Hi Thomas, thanks for noting. Please tell, if you need any further information/help on this or have any questions.

[2016-11-30 18:03] liaxim opened #967 "Texture goes missing if a new material is created and assigned to RenderData"
Quite easy to reproduce; last known instance is the new physics sample app. There is this section there

[code]

If the setMainTexture call is removed the texture is not going to be applied. If the existing material associated with the scene object is used the texture is applied correctly. We have to look at this sooner rather than later.

[2016-11-30 18:09] liaxim commented on #940
Confirmed as a bug. @NolaDonato and @deepakrawat22 are looking into it.

[2016-11-30 18:10] liaxim commented on #922
Assuming it is all good by now.

[2016-11-30 18:10] #922 closed

[2016-11-30 21:22] NolaDonato commented on #967
We are already working on this but it will take a bit more time. I am rewriting all the old built-in shaders in terms of the custom shader. When this is complete, the new texture shader will let you omit the texture and it will use only the color like the phong shader does. You also will never have to call bindShaders again - the system will do it automatically.

[2016-12-01 16:20] TimecodePete opened #968 "Loading fails if showLoadingIcon set to false"
Using gvr360video sample as an example.

Could be I'm doing something wrong, but in the assets/gvr.xml file on the vr-app-settings node, if I set showLoadingIcon attribute to false, screen remains black. As soon as I set it back to true, video loads and is displayed correctly. No other changes made to the code, just this one flag.
Any ideas :) ?

[2016-12-01 16:24] liaxim commented on #968
It is a long standing issue with our apis. If you use the splash screen you obtain the main scene via GVRContext.getNextMainScene but if you are not using a splash screen you need to use GVRContext.getMainScene. So change getNextMainScene to getMainScene.

[2016-12-01 16:31] TimecodePete commented on #968
That solved the issue! Thanks for your time!

[2016-12-01 16:31] #968 closed

[2016-12-06 21:19] rahul27 opened #973 "Daydream crashes after PR 972"
Running sample apps compiled using https://github.com/Samsung/GearVRf/pull/972 on daydream crashes with a SIGSEGV while accessing the native max_lights field.

[2016-12-07 17:39] rahul27 commented on #973
Fixed in PR https://github.com/Samsung/GearVRf/pull/974

[2016-12-07 17:39] #973 closed

[2016-12-08 03:15] Sorduea opened #977 "Camera Preview Faster S7, S7Edge"
We are experiencing the same issue as #270 with the Galaxy S7 and S7 Edge. The FPS Range will not go above 30 when using the CameraSceneObject with setUpCameraForVrMode( 1 ). The Note 5 and Galaxy S6 are working correctly. Can anyone confirm this behavior?

[2016-12-08 16:41] liaxim opened #978 "NPE in gvr-3dcursor"
I think this happens after https://github.com/Samsung/GearVRf/pull/936, "New features in 3DCursor"

[code]

[2016-12-08 16:43] liaxim commented on #978
@parthmehta209 Could you please check it out? In developer mode I tried to move the cursor along the z axis on a Note5.

[2016-12-11 18:58] showats commented on #962
ردیاب

[2016-12-11 18:59] showats opened #982 "09214961326"
ردیابی موقعیت مخاطبین

[2016-12-12 15:59] #982 closed

[2016-12-13 10:07] JacobLawtonClaro opened #986 "Correctly handling back button for release"
To publish your app you need to be able to press the back button for 0.75 to activate the Universal Menu and less than 0.75 "must back out one level in your UI. If already at the top level of your UI, prompt the user to return to Oculus Home."

I have been using immersivepedia demo as the base for my code which handles opening the Universal menu correctly but when I want to swap back to the menu b

[2016-12-13 20:11] liaxim commented on #977
Hi. I can confirm. Will ask around but it may take some time before there is an update.

[2016-12-13 22:35] liaxim commented on #986
Hi. This is not something that could be handled entirely on the app side. I drafted a framework change that adds a onBackPress method to GVRScript/GVRMain for this very purpose. The change will need some additional testing but should let you proceed as-is. Will create a patch for whichever version of the framework you use.

Framework change: https://github.com/Samsung/GearVRf/pull/987
Change to gv

[2016-12-14 16:21] JacobLawtonClaro commented on #986
This is really cool, thanks for the patch.

[2016-12-14 18:00] #978 closed

[2016-12-20 17:52] liaxim opened #996 "Daydream: use configuration from gvr.xml"
For whatever is applicable - like msaa for example.

[2016-12-20 17:52] liaxim commented on #958
Fix merged: https://github.com/Samsung/GearVRf/pull/983

[2016-12-20 17:52] #958 closed

[2016-12-20 17:53] liaxim commented on #930
Addressed by https://github.com/Samsung/GearVRf/pull/964 and https://github.com/Samsung/GearVRf/pull/966

[2016-12-20 17:53] #930 closed

[2017-01-04 22:49] liaxim opened #1007 "Review the build configuration gradle properties"
@rahul27 raised an issue that we have too many build configuration gradle properties. Should review and try to streamline these somehow. I am personally light on the details but there are number of use cases that have to be supported. The use of aars allows for a much more modular system and let's people download any prebuilt aars and just use them to build the demos. mavencentral works for the la

[2017-01-06 17:22] liaxim commented on #986
https://github.com/Samsung/GearVRf/pull/987 has been merged.

[2017-01-06 17:22] #986 closed

[2017-01-07 23:50] Sorduea opened #1009 "Oculus submission rejected for reserved interactions back button behavior"
We recently submitted a project developed with the latest GearVRf  to Oculus and was rejected for failing the reserved interactions back button test with the following message:

We tested with our own Note 5 with Android 6.0 and validated it was going to the Universal Menu after a long press. We implemented patch #987 to see if that would help pass the test, but it was rejected again.

Oculus won'

[2017-01-09 17:02] liaxim commented on #1009
One obvious difference is that GVRF doesn't handle this: ``If a single press of the back button is longer than 0.25 seconds but shorter than 0.75 seconds, it results in an aborted long-press and cancels the Universal Menu timer.``. Will have it fixed.

Other than that we will examine closely the VrCubeWorld_NativeActivity reference sample that Oculus points out as an example.

[2017-01-09 18:37] thomasflynn commented on #1009
Hi @Sorduea, while @liaxim looks at that, could you email me at tom.flynn@samsung.com?  I want to connect you to someone who is going to try to get better explanations out of Oculus.

[2017-01-09 19:28] liaxim commented on #1009
@Sorduea Since Oculus Mobile SDK 1.0.4 the long press is handled entirely by the Mobile SDK. We no longer do anything to bring up the Universal Menu..

I removed some leftovers from the past that may have interfered somehow. Not that I managed to reproduce anything. Also the cancellation of the long press works now.

[2017-01-10 19:46] mwitchwilliams opened #1012 "3DS Max, Moto, Unity X3D exporting 'e' exponent in X3D file numbers"
X3D files exported by 3d modeling tools 3DS Max and Moto 3d, plus Unity's X3D exporter saving some numbers with 'e' or 'E' inside the number to represent an exponent.
For example, a number such as '.0000478' might be exported as '4.78e-005'.  Or '3,920,000,000' might be exported as '3.92E09', which is 3.92 * 10 to the 9th power.

Seeing this issues in interpolator keyValue for animation, and trans

[2017-01-12 04:39] Sorduea commented on #1009
While rebuilding from the 3.1 GearVRf release, we found that the build submitted was referencing the older Oculus Mobile SDK 1.0.3 instead of the 1.0.4 release.  Despite the older version, the reserved interaction behavior appears to be working as intended from our testing, but perhaps the Oculus Pass/Fail test refuses to acknowledge older SDK versions.  We will be moving to Oculus Mobile SDK 1.0.

[2017-01-12 04:39] #1009 closed

[2017-01-12 18:47] liaxim commented on #874
Addressed by https://github.com/Samsung/GearVRf/pull/901

[2017-01-12 18:47] #874 closed

[2017-01-13 17:00] mwitchwilliams commented on #1012
Just some background on the issue, we use Java's SAX parser to parse X3D..
Java SAX parser is one of two parsers in Java imported from javax.xml.parsers.SAXParser
The parser will return floating point or integer numbers when requested, for example, to parse a vertex, we ask SAX to return 3 floating point numbers.

The problem is some of the 3d modeling tools will save exponentially large or small

[2017-01-16 13:23] niusounds opened #1015 "Wrong orientation at starting time with Gear VR"
Sometimes app starts in wrong orientation if I launch app with Gear VR (not in developer mode).
No problems with in developer mode (without GearVR) or running in Cardboard/Daydream mode.

I'm using GearVRf prebuilt .aar libraries (v3.1), Galaxy S6 edge, and Android 6.0.

My `ViewManager` is like this (nothing special):

[code]

I didn't check with latest master branch sources.

[2017-01-17 03:20] niusounds commented on #1015
I check with latest master sources. It was fixed.
Sorry.

[2017-01-17 03:20] #1015 closed

[2017-01-17 16:23] liaxim commented on #1015
@niusounds Hi. Actually this is not a known problem with 3.1. It would be nice if you could share logcat output with us. If possible please specify the device model number (Settings->About device->Model number). Thanks.

[2017-01-25 02:15] NolaDonato commented on #940
What I am seeing is that the entire scene appears to flicker to black periodically as the light moves around.

[2017-01-25 02:18] NolaDonato opened #1021 "text wrapping has changed"
The alpha to coverage unit test draws text into a text view scene object. The way the text wraps has changed. The test is in GearVRf-Tests/framework-tests class TextureTests, function testAlphaToCoverage.

Here is what it used to look like:
![testalphatocoverage](https://cloud.githubusercontent.com/assets/17577291/22275418/722b8696-e261-11e6-8c3f-05716ee61642.png)

Here is what it looks like now:

[2017-01-25 16:20] mwitchwilliams commented on #1021
Looks like it's cutting off the last word "text" now.  What changed in the algorithm for line breaks?

[2017-01-26 15:57] liaxim opened #1024 "Problems when the useAndroidWearTouchpad is set to true"
There is a report of ServiceConnection leak being flagged.

Also the sound control (volume up/down) doesn't work anymore.

[2017-01-30 22:48] liaxim opened #1026 "Occlusion culling doesn't work"
Pass true to GVRScene.setOcclusionQuery in gvr-simplesample or gvr-immersivepedia.

Nothing is visible on the screen (all black).

[2017-02-03 13:11] shaishav-mtech commented on #124
@rahul27 Have you been able to solve https://github.com/Samsung/GearVRf/issues/124#issuecomment-180479778 ?

[2017-02-03 18:20] rahul27 commented on #124
@shaishav-mtech That depends on what you are trying to accomplish.

I've managed to get only a part of the functionality to work i.e. to get an object to look at the camera. You can see an example implementation here:

https://github.com/Samsung/GearVRf/blob/master/GVRf/Extensions/3DCursor/3DCursorLibrary/src/main/java/org/gearvrf/io/cursor3d/Cursor.java#L815

I am sure that you can extend it to g

[2017-02-03 19:36] mkeblx commented on #1021
The font weight of the text is different between the two, which could effect breakpoints for text wrapping.

[2017-02-04 05:12] shaishav-mtech commented on #124
@rahul27 Thanks for the reply! looking at the code I think it might work in my case, will try out on Monday and let you know.

[2017-02-06 05:10] shaishav-mtech commented on #124
@rahul27 I've tried the snippets provided by you, but somehow it's not working as per I wanted it to.

My requirement: I am developing grid view containing n columns and 3 rows per column. Now I am positioning the grid items such as if there are 5 columns then 2 of them will be on the left, 1 in the centre, while the other two will be on the right. I have successfully positioned them by changing x

[2017-02-06 15:23] grueiam opened #1030 "how to get started"
hi. not sure how to get started with gear vr framework.  i apologize if this is not the place to post, but just wondering if there's a tutorial. i've seen some powerpoint tutorials but i can't seem to find the gearvrfinstaller.exe it talks about!  i've bounced around on samsungs developers site and downloaded a ton of stuff.  but it's just not all coming together :)  i have android studio installe

[2017-02-06 17:05] liaxim commented on #1030
Hi.

The demos will work for you without any other prerequisites. After cloning the repo please switch to the "release_v3.1" branch. I found out that you will need to either use Gradle 3.3 or update the gradle wrapper that was checked in the repo. (This is something new that was not needed in the past. Will look into it.)

You can import the gradle project from GearVRf-Demos in AS and you should b

[2017-02-06 17:37] rahul27 commented on #124
Hi @shaishav-mtech if I understand your issue correctly you want to place your views such that they face the camera. This can be achieved by simply placing your view along -Z and rotating it around the Y axis with a fixed pivot. Here is a sample that does exactly that:

https://github.com/gearvrf/GearVRf-Demos/blob/master/old/gvr-simplegallery/app/src/main/java/org/gearvrf/simplegallery/GalleryMai

[2017-02-06 19:22] grueiam commented on #1030
thanks.  so when i import a project, like the gradle project, i go to File > New > Import proejct, then i just navigate to and highlight the folder, as opposed to drilling down within the folder to find some specific file/file extension.

it seems like if i do a file > new > import project and highlight the GearVRf-Demos-master folder (aka directory) it imported everything in that folder! that doe

[2017-02-06 19:31] liaxim commented on #1030
Yes, just import the GearVRf-Demos folder. You will get a workspace with all the demos. Nothing screwed up.

It is very likely, at least initially, that you may find building and running the demos from the "release_v3.1" branch easier.

All the demos will need an Oculus signature you can obtain from https://developer.oculus.com/osig/. You could configure the build to include all signatures from a

[2017-02-06 21:32] grueiam commented on #1030
ugh.  i just started over ha!  i have the latest jdk installed, latest android studio, re-downloaded GearVRF-release_v3.1 (rather than using git i'm downloading zip files). i also downloaded a bunch of .aar files (3dcursorLibrary-debug.aar, backend..., framework-debug.aar... 9 in total).  i've downloaded the latest ovr_sdk_mobile too.  finally i have android sdk. finally i've downloaded the latest

[2017-02-06 21:45] liaxim commented on #1030
For the Demos (and your apps) you don't need to download anything to use the 3.1 release. Everything will be downloaded for you by AS as long as you have the right dependencies (see the gradle files in the Demos).

The instructions you are referring to are still at least partially true but there is a much simpler way in 3.1.

Any reference to libs-gvrf.zip is obsolete.

No problems discussing here

[2017-02-07 00:06] aviadmini opened #1032 "Force destroy texture"
Is there a way to destroy a texture to load another one instead?

My textures are quite large so I'm just hitting RAM limit and getting a crash.

In plain OpenGL I could simply call `glDestroyTextures` and I know there's one in GLTexture.cpp but I've not found neither low-level or high-level way to do it

Thanks ahead

[2017-02-07 02:47] thomasflynn commented on #1032
There is an update(Bitmap bitmap) method for GVRBitmapTexture if that is what you're using.  That way, you can allocate your BitmapTexture once and just reuse it.  Otherwise, releasing the java reference to the object will call glDeleteTextures() once it is garbage collected.

[2017-02-07 06:28] shaishav-mtech commented on #124
@rahul27  Thanks mate! It worked exactly as I wanted.

[2017-02-07 12:05] shaishav-mtech opened #1033 "Play youtube video"
Is there any way to play youtube video from url (e.g https://www.youtube.com/watch?v=55q9W6stwP0) ?

I am using mediaplayer and trying to load the video using `mediaplyer.setDataSource(url);` but getting **IOException prepare failed**.

P.S: If I use urls other than from youtube (e.g http://html5demos.com/assets/dizzy.mp4) and then do `mediaplayer.setDataSource(url);` then it works normally, but g

[2017-02-07 15:55] grueiam commented on #1030
ok thanks.

for # 1, i'm hitting clone or download, then hitting download zip.  then i unzip and drop into my c:\dev directory (c:\dev\GearVRf-Demos-master)

for #2 i did the same procedure, downloaded the zip and unzipped (c:\dev\GearVRf-release_v3.1)  and inside \GearVrf-release_v3.1 is \GVRf and \Installer, .gitignore, LICENSE, README.md

so i might be confused about #1 & #2 in terms of the pro

[2017-02-07 16:18] grueiam commented on #1030
sorry, also saw this error:
[code]

[2017-02-07 16:30] liaxim commented on #1033
Hi. http://stackoverflow.com/questions/11550797/playing-youtube-video-in-android-app contains good tips. When it comes specifically to GVRF, the RTSP URL method and MediaPlayer is the only way it may possibly work.

While we can show a WebView, there is no known way to us to have it successfully play YouTube videos.

The official YouTube API requires your activity to derive from theirs which makes

[2017-02-07 16:42] liaxim commented on #1030
Looks like you are using the source code from the master branch. That one needs the very latest framework which you'll have to build yourself.

To clone the 3.1 branch you can execute "git clone -b release_v3.1 git@github.com:gearvrf/GearVRf-Demos.git"

If you prefer downloading a zip then please open https://github.com/gearvrf/GearVRf-Demos/tree/release_v3.1 and then select "Download ZIP".

[2017-02-07 17:48] grueiam commented on #1030
i didn't catch on that there were v3.1 demos vs. the other one.  great, i downloaded those, imported to AS. i got the message about gradle:

[code]

sp o edited the gradle-wrapper.properties file as suggested.  same error, so i downloaded gradle 3.3, unzipped it and placed it in C:\Program Files\Android\Android Studio\gradle directory (along side the 2.14.1 version).

i pointed AS to this new vers

[2017-02-07 17:53] liaxim commented on #1030
Hi, please try going to File->Settings->Build, Execution, Deployment->Instant Run and uncheck "Enable Instant Run to hot swap..".

[2017-02-07 17:54] grueiam commented on #1030
yep! sorry, i edited my post above as you were replying.

[2017-02-07 17:54] liaxim commented on #1030
And about what instant run is: https://developer.android.com/studio/run/index.html#instant-run. In short, it is optional.

[2017-02-07 17:55] liaxim commented on #1030
To address the Thread Priority Exception you need a signature file from Oculus. See below:

All the demos will need an Oculus signature you can obtain from https://developer.oculus.com/osig/. You could configure the build to include all signatures from a certain directory in the apks. In gradle.properties define a OCULUS_SIGS_DIRECTORY property and specify the full path to the directory where you

[2017-02-07 17:57] grueiam commented on #1030
oh yeah, ok i have that osig file. i will move to the assets folder within the gvr-360photo.  will do this in a little while and update.

[2017-02-07 19:22] grueiam commented on #1030
dude, thanks a ton.  i got it up and running, works like a charm.

one thing i didn't realize was that once you do the build on your phone, it's basically an installed app, so i can launch it any time - for example if i build a nice demo and want to show it to others when i'm away from the computer. great.

any suggestions or comments about going through the tutorials?  maybe a gotcha or watch out

[2017-02-07 20:57] liaxim commented on #1030
Glad to hear it.

The tutorial is pretty good and straightforward. The demos can help discover features of the framework. Let us know if you encounter problems.

[2017-02-07 20:58] liaxim commented on #1030
Btw, can we close the issue?

[2017-02-07 20:59] grueiam commented on #1030
yes please close. or i'll just click that close and comment ha!

[2017-02-07 22:15] grueiam commented on #1030
darn, one more question!  so i have to point Android Studio to a location for the GearVRFramework v3.1, so when i type in "import org.gearvrf.GVRActivity;" it knows where to look correct?

i thought i found how to do that the other day, but drawing a blank today.  the demos all have it predefined so it's loading it from there and not quite helping me figure it out :)

[2017-02-07 22:20] liaxim commented on #1030
You can use GearVRf-Demos/common.gradle as a reference how to add the framework dependency to your own project. Will look into extracting the bare minimum out of that file.

[2017-02-07 22:22] thomasflynn commented on #1030
I think the bare minimum probably reduces down to adding the dependencies in the gradle file:

In AndroidStudio, Click on 'Gradle Scripts'
Click on build.gradle (app)
dependencies {
       compile fileTree(dir: 'libs', include: ['*.jar'])
       // add the following
       compile 'org.gearvrf:framework:3.1.0'
       compile 'org.gearvrf:backend_daydream:3.1.0'
       compile 'org.gearvrf:backend_

[2017-02-07 22:28] liaxim commented on #1030
These two repositories have to be added too:
[code]

Also I think the dependencies to google-vr and joml are also necessary
[code]

Will have to double-check it is all correct in a completely new app that is not using our gradle files.

[2017-02-07 22:36] grueiam commented on #1030
yikes. ok i working on it... but might not get to it until tomorrow  am.  thaks.

[2017-02-08 06:54] shaishav-mtech commented on #1033
@liaxim thanks for the reply! I've got it working using the RSTP way. For extracting the RSTP url from youtube url I've used [this](https://github.com/flipstudio/YouTubeExtractor/blob/master/src/main/java/com/flipstudio/youtube/extractor/YouTubeExtractor.java) github class.

Here is the snippet of my Scene which adds GVRVideoSceneObject by taking MediaPlayer instance.

[code]

[2017-02-08 14:22] grueiam commented on #1030
ok. wasn't sure where to add the maven stuff.  i added the compiles such that my build.gradle (Module: app) look like this:

[code]
with the compile...joml:joml... i got an error:

[code]

if i left out the compline 'org.joml:joml-android:${jomlVersion}'  then i would get error:

[code]

[2017-02-08 14:52] grueiam commented on #1030
update:  i looked at the "gvr-simplesample" build.gradle (Module: gvr-simplesample) file.  i looked back at my build.gradle (Module: app) file.  the two were quite different.

i combined the two in this way and the sync worked without error:

[code]

not sure if that is the correct way to do it, ha, but no errors so far. maybe when i build?  but i can continue going through the tutorial of buildin

[2017-02-08 14:55] grueiam commented on #1030
darn, nope, i can't continue with that tutorial, i get these errors:

[code]

[2017-02-08 19:19] aviadmini commented on #1032
Thanks for the answer.

Actually I ended up using pre-compressed textures because they load blazing fast. For that I use `GVRContext.loadTexture(callback, ...)` because `loadFutureTexture` introduces a really long delay (200+ ms at a glance) before textures are actually shown :(

However sometimes when I'm doing **a lot** of texture swapping I'm getting a weird crash in native code. My semi-random

[2017-02-08 21:02] #1030 closed

[2017-02-08 21:07] liaxim commented on #1033
Awesome. How do you find the quality? It was mentioned that the RTSP method gets a lower-res version.

[2017-02-08 21:13] liaxim commented on #1032
@aviadmini Please share with us the logcat output when the crash happens.

[2017-02-08 21:51] aviadmini commented on #1032
@liaxim I'm unable to reproduce it forcefully. Although I think the logcat output was totally meaningless: just error signal from native code and it dies (SIGEGV)

If I happen to encounter it again I'll try to grab logcat output anyway

[2017-02-08 22:16] liaxim commented on #1030
Minimal build.gradle:

[code]

AndroidManifest.xml: add the two permissions, the meta-data and launchMode and screenOrientation attributes per:
[code]

There might be a warning about android:icon; use the AS-recommended resolution (tools:replaceIcon).

[2017-02-08 22:38] liaxim commented on #1030
We probably should create a bare-bones template project to bootstrap people.

[2017-02-08 22:44] grueiam commented on #1030
wow thanks.  i did get one heck of a lot further, at least i'm not getting the GVRActivity Symbol error, but alas still some other errors that creep up.  i'm going to take a rest for a bit for this, that's why i closed it, but will monitor for any updates. haha, especially if you build a bare-bones template project :)

hopefully i'll have a fresher look in a few days.

thanks for all the help!  i

[2017-02-09 04:53] shaishav-mtech commented on #1033
@liaxim Well in my experience I found the quality to be nice! and in the [method](https://github.com/flipstudio/YouTubeExtractor/blob/master/src/main/java/com/flipstudio/youtube/extractor/YouTubeExtractor.java) I have mentioned to find the RTSP link, there is also an option to set the preferred quality for the video. I think you should test this method and if it works in most cases then add an exa

[2017-02-09 16:14] liaxim commented on #1030
Here it is - the barebones project. You just need to copy the Oculus signature to the assets folder.

[gvrfapp.zip](https://github.com/Samsung/GearVRf/files/764232/gvrfapp.zip)

[2017-02-09 16:18] liaxim commented on #1033
Thanks. For now we can definitely add more entry to our Q&A section (https://github.com/Samsung/GearVRf/wiki/Q&A).

[2017-02-09 16:18] #1033 closed

[2017-02-10 13:18] shaishav-mtech opened #1036 "Listview"
Is there any example that shows how to develop android like listview in gear vr?

[2017-02-10 15:38] liaxim commented on #1036
Hi. Not to my knowledge. We have integration with libgdx though - see the gvr-widgetviewer and the gvr-modelviewer2 samples which use it. See https://libgdx.badlogicgames.com/ for general libgdx information.

[2017-02-10 15:49] thomasflynn commented on #1036
Actually, take a look at gvr-events.  In there, an Android view is inflated that has buttons, checkbooks, and a list view.

[2017-02-14 11:38] sam16222 opened #1038 "Override back key"
The application always redirects to an oculus environment on tapping the back key (both device and HMD), whice has two options, one to exit to oculus home and one to exit. How to override this? I don't want to deal with this screen everytime I need to use the back key. Overriding onBackPressed doesn't work. Please reply ASAP. Thanks!

[2017-02-14 11:53] JacobLawtonClaro opened #1039 "Install on Android 7"
I have a gear-vrf based app on the store, it works fine with android 6, but now people are switching to android 7 it is not installing.
The app works fine when I install from Android Studio, but when installing from the store it gets a "Install failed for org.gearvrf.gvrmagX: UNTRUSTED_APK_ERROR." error, I have no idea why is, this a bug with the framework, or am I missing really simple for Androi

[2017-02-14 12:14] rolandrohde commented on #696
This is quite terrible on GearVR with my S7. If I use the GearVR with cardboard apps the image is much clearer, cleaner and sharper, and there is no flicker at all. I cannot understand, why Samsung won't allow this to he deactivated!

[2017-02-14 12:46] sp-1234 commented on #696
maybe something like public letter to Samsung would be a reasonable first step?

[2017-02-14 13:36] shaishav-mtech opened #1040 "Show outline/border"
Hi, I would like to show an outline to my 2D rectangle objects, is there any example that does the same? I have looked at gvr-outline example but has not been able to get it working for my need. I am rendering a 2d rectangle mesh with some background color and want some other color's outline/border around the rectangle mesh.

[2017-02-14 13:40] shaishav-mtech commented on #1036
@thomasflynn  Thanks. I have get it working by referencing gvr-events and by making some changes to handle scroll event as I am also dealing with click events in my app. You can close it.

[2017-02-14 15:34] #1036 closed

[2017-02-14 15:50] liaxim commented on #1039
The only thing I'd imagine the framework could be doing is having something in the manifest. Other than that the framework has no chance of executing since the Oculus installer service is rejecting the apk before the installation. The manifest contents are:
[code]
You can try removing the permission and the largeHeap.

It sounds like some kind of a certificate problem. Might be useful to try conta

[2017-02-14 16:02] liaxim commented on #1038
Checking

[2017-02-14 16:08] liaxim commented on #1038
Quickest fix: revert GVRActivity.java to the bd788ca06c75859cf5ec2664eff40f59afaccb13 commit. We have different configurations that have somewhat conflicting requirements that I will need to deal with differently.

[2017-02-14 16:36] JacobLawtonClaro commented on #1039
The framework Manifest is correct, I have contacted Oclulus just waiting for a reply. Just thought I would see if this bug has come up on other gvrf projects.

[2017-02-14 16:38] liaxim commented on #1039
First time I am seeing it.

[2017-02-14 17:22] liaxim commented on #1040
One way is to render two rectangles and use polygon offset like this:

[code]

[2017-02-14 18:03] thomasflynn commented on #696
It is an Oculus requirement and it is something that you do want inside the headset to reduce/eliminate motion blur.  Here are a few links that explain low-persistence mode:

https://vrwiki.wikispaces.com/Low+persistence
https://forums.oculus.com/vip/discussion/7181/persistence-101-how-low-persistence-reduces-motion-blur

That being said, it really shouldn't be bothersome inside the GearVR headset

[2017-02-14 18:13] thomasflynn commented on #1039
Here's a reply from one of our internal people, "I have no idea, the log seems to point to Oculus store preventing “untrusted apk..”?, something about missing provider info (maybe it needs to be defined on Android manifest) – purely guessing here."

[2017-02-14 18:31] robcuts commented on #1039
Does this occur on all devices with Nougat?
Also, what's the name of your app?

[2017-02-14 21:10] rolandrohde commented on #696
When I put the phone in the GearVR and look at anything bright the flickering is so extreme I can't use the device for more than a minute. My wife tried it and had the same problem. So this is something that is a complete showstopper for us. In Cardboard mode (without low persistence) everything works fine.

[2017-02-14 21:11] rolandrohde commented on #696
The first thing I did after trying the GearVR for the first time was google the flickering becausebI was sure my device was somehow broken.

[2017-02-15 05:11] shaishav-mtech commented on #1040
@liaxim Thanks! It worked. You can close it.

[2017-02-15 06:02] sam16222 commented on #1038
I am directly building examples. Is there a way to revert to the older release?

[2017-02-15 07:07] sam16222 opened #1044 "onInit not called on activity restart"
I am building an app that has multiple activities. When an activity (say activity B) is called first time from the main Activity(activity A), it creates the GVRMain object and initializes the scene using onInit. When I go back to the main Activity (A) and call activity B again, nothing happens. I am destroying activity B on backpress because I need a fresh new instantiation of the activity. Please

[2017-02-15 09:15] JacobLawtonClaro commented on #1039
It has failed on my device but I have reviews reporting it failing on other devices, the name of the app on the store is FotoFrezVR.
Also I was thinking the same about the manifest info but why would it still work on Android 6 and not 7?
It uses camera permissions, you think that could have something to do with it????

[2017-02-15 15:36] liaxim commented on #1038
Are you building the framework yourself or are you using the 3.1 release?

[2017-02-15 15:40] liaxim commented on #1044
Are both A and B deriving from GVRActivity?

[2017-02-15 16:24] liaxim commented on #1039
I doubt it since it installs fine through the Android installer when signed with the devkey. It must be something about Oculus. Some of the users mention having Facebook disabled and from personal experience I know that breaks Oculus. Will flash an N build and try it out.

[2017-02-15 18:59] felislynx-silae opened #1045 "Couldn't find libgrvrf.so on Pixel Daydream"
My app is correctly running on GearVR so after i obtained Pixel i've tried to run it (after adding backend_daydream) on daydream. Since there is no such wiki/tutorial how to setup project for daydream i don't know if it's a issue with lib or my setup. Here is logcat error:
02-15 19:53:15.588 23156-23163/? E/art: Failed sending reply to debugger: Broken pipe
02-15 19:53:15.697 23156-23156/? E/Andro

[2017-02-15 19:05] liaxim commented on #1045
Daydream has 64bit binaries but we do not. In your app's gradle file you need to add this:

[code]

[2017-02-15 20:56] robcuts commented on #696
It may be that you have significantly higher than average sensitivity to the low persistence mode effects. Similarly impacted individuals have suggested that turning down the brightness reduces the effect to manageable levels. If you are developing in Gear VR, it is also suggested that you use darker imagery to help reduce the effect.

[2017-02-16 03:57] sam16222 commented on #1044
Yes. Both are deriving from GVRActivty. Would this be happening because of context leak? What should be the procedure to destroy a GVRActivity? Considering the corresponding GVRMain class.

[2017-02-16 04:54] thomasflynn commented on #1039
send me an email offline at: tom.flynn@samsung.com
i have someone who wants to take a look at your apk.

[2017-02-16 05:57] felislynx-silae commented on #1045
Yup, it's working like a charm. Maybe rendering is little different but it's working. Thanks :) Issue is ready to be closed (but i think your answer should go to WIKI page) cheers

[2017-02-16 05:57] #1045 closed

[2017-02-16 08:00] sam16222 commented on #1038
I am using the gradel files given along with the gvrf demos. I just need help overriding the back button so that everytime it is clicked it doesn't go to the "Exit to oculus home" screen

[2017-02-16 09:49] shaishav-mtech commented on #1040
@liaxim Can you please also elaborate the other ways to do the same?

[2017-02-16 09:57] sp-1234 commented on #696
Nope, it doesn't reduce flickering, this is not even close to a solution.

[2017-02-16 09:59] sp-1234 commented on #696
Really? In real life, I'm yet to meet at least one human being who doesn't notice this madness. All who looked at it said that this is completely unusable.

[2017-02-16 15:39] liaxim commented on #1045
@felislynx-silae It is too late for your case but we will add a template project that will help starting apps from scratch: https://github.com/gearvrf/GearVRf-Demos/pull/403. Or at least serve as a reference.

[2017-02-16 16:13] liaxim commented on #1039
I am seeing the same failure on N but have nothing more to say.

[2017-02-16 16:21] JacobLawtonClaro commented on #1039
I am still waiting on a reply from Oculus, will update when it fixed, I don't think it will be a framework issue.

[2017-02-16 16:26] liaxim commented on #1040
This is a @NolaDonato question.

@shaishav-mtech You could tell us a bit more what you are trying to achieve. It may help getting a better answer.

[2017-02-16 16:35] liaxim commented on #1039
I think this might be related to your problem: http://stackoverflow.com/questions/37947323/google-play-shows-error-code-504-for-android-n-preview

I can directly install your apk on M devices but on my N this is the error I get from the Android package manager:
[code]

[2017-02-16 16:45] liaxim commented on #1038
It sounds like you are using the development snapshot we have available from the maven repo. It hasn't been updated in a while. I will look into how to get it up-to-date and include my fix.

Just in case, could you please confirm you are using the gradle files from the GearVRf-Demos master branch? Alternatively you can confirm that you are seeing ``ext.gearvrfVersion='3.1.1-SNAPSHOT'`` in your gra

[2017-02-16 18:07] liaxim commented on #1038
Ok, I updated the snapshots in the maven repo with the latest version plus the backkey fix. Assuming you are using the gradle files from the master branch, you can try again. I tested gvr-immersivepedia with the new version and it works as expected.

It is likely you will have to pass one time the ``--refresh-dependencies`` argument to gradlew if you are building from the command line. Or you can

[2017-02-16 19:09] liaxim commented on #1044
Having more than one GVRActivity is not something that we expect to work. So far we haven't seen a strong case that demands the support for more than one. If you do need that we can look into it but I am very curious to know why.

There are much faster and neater ways to switch between different scenes/screens in GVRF. Jumping from one activity to another is never going to be as fast and could pos

[2017-02-17 02:50] thomasflynn commented on #696
Are you running Android M (6) or N (7) and which model of phone?

[2017-02-17 03:34] sam16222 commented on #1044
Even I am not inclined towards using multiple GVRActivites in the application, but just wanted to know as to why it won't work. I am jumping from one scene to other only as of now. Let me know if you can figure out as to why it won't work. Thank you anyway.

[2017-02-17 04:00] shaishav-mtech commented on #1040
I am developing a grid view with n number of columns and 3 rows. Now the grid is rectangle with some color and text on it, and also having some other colored outline/border around it. Now this approach works for me, but sometimes some grids(2 or 3 of 15) are rendered in different color.

[2017-02-17 04:04] sam16222 commented on #1038
I am building the immersivepedia application via Android Studio. It shows the onBackPress function doesn't Override an function in superclass (GVRMain). Gradle needn't be updated here right? Let me know what I'm doing wrong.

[2017-02-17 07:52] rolandrohde commented on #696
Samsung Galaxy S7 Android N (7.0)

[2017-02-17 08:20] felislynx-silae commented on #1045
@liaxim IT's good to know. Also it might be interesting that if i put <category android:name="com.google.intent.category.DAYDREAM" /> into intent filter in manifest, app is black after i open it in daydream :) Without this category, it's working fine but it's not in daydream lobby

[2017-02-17 11:02] JacobLawtonClaro commented on #1038
Go to the GVRMain file, if the path to the file contains "/3.1.1-SNAPSHOT" then the Gradle will need to be updated, because you are using the maven repo.

[2017-02-17 11:18] sam16222 commented on #1038
It does have that. how do I update gradle then?

[2017-02-17 11:21] JacobLawtonClaro commented on #1038
I am not sure what the good way is but the simple way is to delete the gradle cache.

On windows go to %USER_HOME%.gradle/caches and just delete the cache, then do a clean build of the project and you should have the new SNAPSHOT.

[2017-02-17 11:22] shaishav-mtech opened #1046 "Video scale"
Hi,
Is there any way to disable video scaling? I am streaming youtube video and some of those videos are not fullscreen, but when I render them using GVRVideoSceneObject they are scaled to fullscreen (i.e the size of the mesh of the GVRVideoSceneObject). I want to render the video in original size.

Here's my code.

[code]

[2017-02-17 11:27] sam16222 commented on #1038
I tried it earlier, didn't work. I'll try again though. the common.gradle file has "ext.gearvrfVersion='3.1.1-SNAPSHOT'" in it. Is this the problem? Or is it supposed to be that.

[2017-02-17 11:31] JacobLawtonClaro commented on #1038
no that is fine, should work fine by deleting the .gradle file

[2017-02-17 11:48] sam16222 commented on #1038
It's working now. Thank you! For the future, can you tell me what changes should I make to my gradle files in order to keep the latest framework code?

[2017-02-17 12:05] JacobLawtonClaro commented on #1038
To keep up to data with the latest updates you will need to move away from the maven repo, otherwise you going to have to delete and rebuild every time it's updated.

- Clone this project and have it in the same root as the GVR-demo folder

- Then build the Framework project, this will put aar files in ..\..\GearVRf-Demos\gearvrf-libs

- GearVRf-Demos\common.gradle, and there are instructions in t

[2017-02-17 12:24] JacobLawtonClaro commented on #1039
Talked to Tom, he thinks it's the same thing, but I can't get the fix to work. Does this build file look right to you?

`apply plugin: 'com.android.application'

System.setProperty("appName", "gvr-magVR")

if(file("../../common.gradle").exists()) {
    apply from: '../../common.gradle'
}
else if(file("../../../../GearVRf-Demos/common.gradle").exists()) {
    apply from: '../../../../GearVRf-Demos/

[2017-02-17 16:30] konidk opened #1047 "Blur camera effect using GVRCameraSceneObject"
Hi,

I'm trying to apply a blur effect on the camera preview, I tried many things but nothing is working. I know that the proper way is to work with shaders, but I really don't know how to apply a **custom shader** to the **GVRCameraSceneObject**...
Should I work with the **GVRMaterial** instead ? If yes, how ?

I also tried to set up a **GVRViewSceneObject** and put a **TextureView** in it, then

[2017-02-17 22:52] ragner commented on #1039
Hi, could you send me the apk to ragner.n@samsung.com?
I would like to take a look also.

[2017-02-18 01:06] thomasflynn commented on #696
I'm guessing SM-G930F?  The letter at the end is important.  There is literally a different Android tree for each model :(.  One of our engineers has seen something on Android N on a 930F where the screen is dimmed far more than it should.  Though, it may just be the version of the engineering (not user) build he has on his device.  If it's not just an issue with his device, we'll contact HQ and s

[2017-02-18 02:44] sam16222 commented on #1038
Okay thank you for your help.

[2017-02-18 02:44] #1038 closed

[2017-02-18 02:56] #1044 closed

[2017-02-18 08:36] rolandrohde commented on #696
It's the 930F

[2017-02-18 20:55] grueiam commented on #1030
liaxim - thanks, download and started playing around with it. ha, have had to recreate it a couple of times!  i've been jamming on a couple of jobs that have popped up recently so only recently got to this.

so here's a question, are you or thomas developers for hire at all?  or would you know of someone i could work with to develop an app for our business?  maybe we could chat offline about it? t

[2017-02-20 15:13] ragner commented on #1039
Hi @JacobLawtonClaro, I created a signed apk of GearVRf-Demos/gvr-simplephysics to compare the results of `apksigner verify`   with your apk.

[code]

[code]

I followed https://developer.android.com/studio/publish/app-signing.html #"Build and sign your app from command line"
then selected `Android Studio ->Build ->Generate signed APK -> select your app module -> Choose existing key store(choose y

[2017-02-20 16:21] JacobLawtonClaro commented on #1039
Ok I tried that and it still does not install from the store, I ran akpsigner verify on the apk and got the correct result back, tested both manually signing and using Android Studio signing.

[2017-02-20 18:01] ragner commented on #1039
Please, send me both versions.
The version that `akpsigner verify` is returning the correct result and the other one downloaded from store ... I would like to check both.
Please send me each one in different emails because of my inbox limitations
ragner.n@samsung.com

Thank you.

[2017-02-20 18:08] ragner commented on #1039
I am not sure but the store may take a time to really publish the newest version

[2017-02-21 03:16] NolaDonato commented on #1047
The best way to do this is to make a custom shader and use it in a render pass. I will write up an example showing how to do this tonight, test it and post it here. I will also get the example added to the documentation.

In the mean time, here is a link to how to create a custom shader from the GearVRF Developers Guide: https://resources.samsungdevelopers.com/Gear_VR/020_GearVR_Framework_Project/

[2017-02-21 07:08] NolaDonato commented on #1047
I was wrong. You cannot do it with a render pass because OpenGL ES 3.0 won't let you read the framebuffer from a shader unless it is already in a texture. You can replace the OESShader with your blur shader though. You have to name the texture "main_texture" to match what GVRCameraSceneObject does and then call GVRRenderData.setShaderTemplate to force your custom shader into an existing material.

[2017-02-21 07:33] NolaDonato commented on #1040
Instead of using the polygon offset, you could try rendering the outline as lines. In this case you may need to make a different index table than you use for the triangles because you want to connect the four corners. The gvr-polyline sample in the GearVRf-Demos repos discusses lines in more detail.
In your case, this might do.
GVRMesh yourGridRect = yourGridObj.getRenderData().getMesh();
GVRMesh

[2017-02-21 10:34] sam16222 opened #1048 "what is the replacement for getNextMainScene()?"
Hello,
The framework maven repo got recently updated due to a previous query. In that, the GVRContext.getNextMainScene function has been removed. I wanted to know what that has been replaced by. I am trying to run the camera2renderscript example from the demos repo, but it's not compiling. Let me know what is to be done. Thank you.

[2017-02-21 11:39] stkim88 opened #1049 "cannot resolve method"
Hi
I built well the GearVRf-Demos on the android studio.
and the demos worked well on the phone.
I do not know what I'm doing wrong, but suddenly I can not build the GearVRf-Demos with the message "Cannot resolve method 'getNextMainScene()' ".

Specifically, gvr-360photo/app/src/main/java/Minimal360PhotoMain.java

// get a handle to the scene
        GVRScene scene = gvrContext.getNextMainScene();

[2017-02-21 12:54] konidk commented on #1048
getMainScene() is the new method to call

[2017-02-21 13:00] konidk commented on #1049
**gvrContext.getNextMainScene()** has been replaced by **gvrContext.getMainScene()** in the last update. Demos should have been updated as well but it doesn't seem to be the case !

[2017-02-21 14:53] ragner commented on #1039
Hi @JacobLawtonClaro,
could you try disable v2 signing in your build.gradle file
See https://developer.android.com/studio/releases/gradle-plugin.html, in particular, v2SigningEnabled.

This looks necessary because the store is modifying your apk. You can check it just with a `ls -l` or checking the content of downloaded apk you will see a new file META-INF/oculus_prod.OSIG

So If you sign your APK

[2017-02-21 15:32] liaxim commented on #1049
@stkim88 @konidk Assuming you are relying on the framework we push to the maven repo and not building it yourself, you need to invalidate your gradle cache. Last week the snapshot was updated and everything builds just fine.

Pass the ``--refresh-dependencies`` argument to gradlew if you are building from the command line. Or you can just delete the gradle cache via ``rm -rf ~/.gradle/caches/``. U

[2017-02-21 15:34] liaxim commented on #1048
@sam16222 Please pass the ``--refresh-dependencies`` argument to gradlew if you are building from the command line. Or you can just delete the gradle cache via ``rm -rf ~/.gradle/caches/``. Unfortunately I do not think there is a better way of getting a fresh snapshot from maven.

Alternatively you could use the 3.1 branch which is stable. After cloning the demos repo switch to the release_v3.1 br

[2017-02-21 15:40] JacobLawtonClaro commented on #1039
I posted my build file above, with the
`signingConfigs {
        defaultConfig{
            v2SigningEnabled false
        }
    }`
but when I build it is still signed with scheme v2 is there anything obvious in the file that I should change?

[2017-02-21 15:46] liaxim commented on #1044
I will open an issue to keep track of this officially.

[2017-02-21 15:50] liaxim opened #1050 "Support for apps with multiple GVRActivities"
See https://github.com/Samsung/GearVRf/issues/1044; there have been others too.

Investigate the technical limitations that prevents us from properly supporting this. While it is not likely a good idea to switch back and forth between activities in VR, we could figure out the details and have the capability to do so. Changes to the backends are probably necessary.

[2017-02-21 16:21] liaxim commented on #1038
@sam16222 If you are using the development version of the framework (*-SNAPSHOT) then you will have to delete the gradle cache every once in a while. Most people will find that to be worth it instead of building the framework themselves. The master branch of the GearVRf-Demos is using the development snapshots.

Alternatively you can use the latest stable version in your gradle file. Currently thi

[2017-02-21 16:31] liaxim commented on #1039
@JacobLawtonClaro Might be a redundant question but are you using the 2.2.3 version of Android's gradle plugin?

Also according to the documentation
[code]
should be
[code]

[2017-02-21 16:34] liaxim commented on #1039
According to https://developer.android.com/about/versions/nougat/android-7.0.html#apk_signature_v2 it should be more like
[code]

[2017-02-21 16:37] JacobLawtonClaro commented on #1039
I am using 2.2.3, I have seen the config style a few ways, I will try the two you posted, see if they actually disable the signing.

[2017-02-21 16:51] JacobLawtonClaro commented on #1039
I have tried both ways and the apk is still being signed with scheme v2, I even tried it with one of the demos and that was still signed.

[2017-02-21 16:51] NolaDonato commented on #1049
Try using getMainScene

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: konidk <notifications@github.com>
Date: 2/21/17 5:01 AM (GMT-08:00)
To: Samsung/GearVRf <GearVRf@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Samsung/GearVRf] cannot resolve method (#1049)

gvrContext.getNextMainScene() has been replaced by gvrContex

[2017-02-21 17:01] liaxim commented on #696
@rolandrohde Just out of curiosity, are you adjusting the brightness via the Oculus menu? Long-press back key, settings option. Reducing the brightness from there has no effect whatsoever for you?

[2017-02-21 17:06] konidk commented on #1047
Thank you for your answer !
I started working on the **BlurShader** class in order to use the code you've provided above. So I need to apply the shader directly inside a texture named "main_texture", and then call GVRRenderData.setShaderTemplate to apply the shader.

This is what I've done, please tell me if I'm doing it the right way (don't think so because I don't bind in the same way) :
[code]

[2017-02-21 17:10] rolandrohde commented on #696
I'll try it next time I dig out the GearVR. I'm pretty confident it won't make a huge difference though. It will probably reduce the issue slightly, since it will be dimmer, but that won't change the frequency of the flicker so the real issue remains. I know from experience that goes back to the era of CRT monitors, that anything below 75Hz is unpleasant to my eyes. Somewhere around 85Hz is stops

[2017-02-21 18:36] liaxim commented on #1039
Are you using Android Studio to generate the signed apk?

[2017-02-21 18:48] liaxim commented on #1039
Looks like AS is messing up the signing process. I tried with AS and always got the V2 signature.

Signing from the command line build worked. These are the changes I made to the gradle file:

[code]

Then just run ./gradlew assembleDebug.

[2017-02-21 19:26] liaxim commented on #1046
@shaishav-mtech It must be something with the MediaPlayer. Whatever the MediaPlayer produces we just texture map onto your mesh. Can you give an example of a youtube video that does it?

[2017-02-21 20:29] ragner commented on #1039
Hi all, `v2SigningEnabled false` hasn't  worked to me at AndroidStudio's apk build.
but  `$ ./gradlew assembleRelease` works fine:
[code]

[2017-02-21 20:29] NolaDonato commented on #1047
The code I sent will blur the camera external texture that is already set up by the camera scene object without modification.  Isn't  that what you wanted? If so you don't have to make another texture.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: konidk <notifications@github.com>
Date: 2/21/17 9:07 AM (GMT-08:00)
To: Samsung/GearVRf <GearVRf@noreply.gi

[2017-02-21 21:01] liaxim commented on #1045
@felislynx-silae Are you referring to ``<intent-filter> <action android:name="android.intent.action.MAIN" /> <category android:name="com.google.intent.category.DAYDREAM" /> </intent-filter>``? Any chance you could share with us the activity section of your AndroidManifest.xml? Thanks.

[2017-02-21 21:19] NolaDonato commented on #1047
Here is the code for the blur shader which will work with the GVRCameraSceneObject directly. You can replace the OESShader with this one to get a blurred image.

public class BlurShader extends org.gearvrf.GVRShaderTemplate
{
    private static final String VERTEX_SHADER =
              "in vec3 a_position;\n"
            + "in vec2 a_texcoord;\n"
            + "out vec2 vTextureCoord;\n"

[2017-02-21 22:54] konidk commented on #1047
Well, everything works finally fine ! Thanks a lot.

I had to change **GL_OES_EGL_image_external_essl3** to **GL_OES_EGL_image_external** because I use a galaxy s7 with mali GPU (not adreno). I would have never done this alone, I don't know anything related to GLSL and I would have never added the line **uniform samplerExternalOES main_texture** by myself.

[2017-02-21 23:08] NolaDonato commented on #1047
I am glad you got it to work!

Adding support for multiple lights was the first project I did last year when I got to Samsung. The hokey GVRRenderData.setShaderTemplate was to avoid making the API changes which would have been necessary to get it to work properly. In a future version, we will deprecate the setShaderTemplate call and just let you pass a shader ID for a custom shader to the GVRMater

[2017-02-22 00:59] konidk commented on #1047
It's great to see that this framework is still in active development, it is really useful. I think this would allow an easier comprehension by letting us passing a shader ID for custom shaders because there are a lot of functions related to shaders and it lead in so many directions... Sometimes it's hard to know where to begin with, hope this will be simplified in the future !

I've got one more q

[2017-02-22 02:13] NolaDonato commented on #1047
The best way to do this is to make two scene objects that both share the same texture and geometry but use different shaders. You start with a GVRCameraSceneObject as before but then make another GVRSceneObject that uses the same geometry but changes the shader to your BlurShader. You can put both of these under the same parent scene object and use a GVRSwitch component to switch between them.

He

[2017-02-22 03:45] sam16222 commented on #1048
I already have refreshed the dependencies and have the latest code for GVRF. The getNextMainScene function from the older versions has been removed, and what I wanted to know was the replacement. Also getMainScene() existed along with getNextMainScene earlier so it can't be a replacement.

[2017-02-22 04:33] thomasflynn commented on #1048
Sorry that it is confusing, but it is indeed the replacement.  The history is that getNextMainScene was introduced when we added support for having a splashscreen.  The splashscreen scene needed to be visible and executing while the application was loading assets into the 'nextMainScene'.  Adding that api wasn't elegent, but it worked out well enough for the deadline we had.  As you can see, we ha

[2017-02-22 06:04] felislynx-silae commented on #1045
Sure:
 <activity
            android:name=".ui.activities.ApplicationActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black

[2017-02-22 06:22] sam16222 opened #1051 "Obtaining Video frame being rendered onto the mesh"
Hello.
I am currently working on an application where I will need to process video frames being rendered on to a mesh. I want to capture the render in the users FOV and then process it for some further information. Is there a function in the framework to obtain the data (image/render) in the users FOV?

[2017-02-22 06:27] #1048 closed

[2017-02-22 08:47] sam16222 commented on #1050
In case this helps,

The onInit() method of the corresponding GVRMain classes is not called after the first execution(checked via logs). But if you don't follow the activity stack and instead navigate to the main activity via an intent, the entire setup resets and then corresponding activities work.

[2017-02-22 09:13] sp-1234 commented on #696
@rolandrohde CRTs have lower minimum scan frequency threshold, because the flickering is also softened a bit by the fact that luminophore doesn't instantly go dark. conversely, LED can be switched instantly so the flickering can be made more harsh. LED display backlights can inflict major suffering even at 240Hz (which is common for crappy PWM-driven backlights. Good ones either use much higher fr

[2017-02-22 09:36] rolandrohde commented on #696
Well, the Galaxy S7 uses OLED, so there is at least no chance of backlight flicker...

[2017-02-22 10:40] sp-1234 commented on #696
OLED can switch instantly, too. And in practice OLED displays are almost always flickering just as bad (don't know why do they do this, though)

[2017-02-22 15:28] liaxim commented on #1046
@shaishav-mtech This video is 288x386. You will need a quad with the same aspect ratio to texture map onto for it to look good. You could have this quad on top of a "fullscreen" black quad so you can end up with something that looks like youtube. You may need to use GVRRenderData's setOffset/setOffsetUnits/setOffsetFactor to ensure the video quad is always rendered on top.

[2017-02-22 15:37] liaxim commented on #1047
@NolaDonato Would (and should it) just changing the shader type for the material work instead?

[2017-02-22 15:42] liaxim commented on #1051
@sam16222 We use this functionality in our automated tests and to my knowledge it works. Will double-check. Are you using the MediaPlayer or the ExoPlayer for video playback? Something else? What is your phone model and the Android version? Thanks.

[2017-02-22 20:48] konidk commented on #1047
The switch works like a charm, switching from the Blurred Vision to the Normal One. Thanks for your solution! But there is still something that bothers me, in fact i'm adding a GVRViewSceneObject in the scene to act as an overlay to show information.

As you can see from these two screenshots, when the blur vision is disabled the GVRViewSceneObject have a fully transparent background but this feat

[2017-02-22 21:34] NolaDonato commented on #1047
Can you show me the code you use to construct the GVRViewSceneObject? I would like to try and duplicate your issue here. It could have something to do with transparency sorting, I am not sure.

[2017-02-22 21:54] konidk commented on #1047
Here is my code,

[code]

In order to show / hide **InfoView** I use the command,
//Hide InfoView
objectList.get(1).getRenderData().setRenderMask(0);
/// Show InfoView
objectList.get(1).getRenderData().setRenderMask(3);

[2017-02-22 22:13] NolaDonato commented on #1047
The GVRViewSceneObject uses the OES shader also. If you want it to appear transparent and and on top of everything else you need to do this:
GVRRenderData ivrd = InfoView.getRenderData();
ivrd.setAlphaBlend(true);
ivrd.setRenderingOrder(GVRRenderData.GVRRenderingOrder.TRANSPARENT);

These two lines enable alpha blending and make GearVRf render your InfoView last after rendering everything else.

[2017-02-22 22:28] konidk commented on #1047
That works perfectly ! Wow ! So happy :)
Now the last feature I need is having the possibility to vary the blur threshold when the program is running. I think I'll try to figure out how to do it by myself, I understand your time is precious. Something like adding a function to **BlurShader.java** should work.
[code]

**But it seems like it's not working**. I don't know how can I access to the curr

[2017-02-22 23:15] NolaDonato commented on #1047
Runtime parameters are passed to the shader thru the GVRMaterial. You need to tell the shader what their names are when you set it up:

public BlurShader(GVRContext gvrcontext)
{
    super("float blur_threshold", 300);
    setSegment("FragmentTemplate", FRAGMENT_SHADER);
    setSegment("VertexTemplate", VERTEX_SHADER);
}

You give it a value thru GVRMaterial:

GVRMaterial myBlurMaterial = new GVRM

[2017-02-23 00:24] konidk commented on #1047
Perfect ! Thank you.

[2017-02-23 00:57] konidk opened #1053 "Modifying content of GVRView"
I would like to display text (using a TextView contained in a GVRFrameLayout) and be able to modify it. The problem I face is that I am only able to modify it at init, then every call to setText() don't change the text on the screen (but requesting the text using getText() tells me that the text has been successfully updated).

The text is supposed to change when a ValueEventListener() function is

[2017-02-23 02:16] #1047 closed

[2017-02-23 03:17] sam16222 commented on #1051
I am using MediaPlayer for video playback. Just to be clear, I don't want the entire frame. I just want the part of the frame currently visible to the user (it's a 360 video playing on a spherical mesh). Phone Model is Galaxy S7 Edge SM-G935V, Android version 7.0.

Do you have any sample available where such a thing is done? It would be really helpful.

[2017-02-23 04:06] thomasflynn commented on #1051
I'm not 100% sure i understand what you're looking for, let me try rephrasing it and see if I understand:

You're looking to for which portion of the videotexture (the video being played back is actually a texture that is mapped onto the sphere) is within the viewer's view frustum?

you can get the view direction by calling the GVRCameraRig's getLookAt() method.
you can get the intersection of whe

[2017-02-23 04:18] sam16222 commented on #1051
I figured as much. But due to my lack of experience dealing with textures via GVRF, I was hoping for a little more detail for going about it. like extracting the texture and processing it as a bitmap. Have any idea about captureScreen?

[2017-02-23 04:27] shaishav-mtech commented on #1046
@liaxim Okay. any idea on how to create a quad dynamically that fits the aspect ratio of video. In this case if the video is of 288x386 then what should be the width and height for the mesh we create?

[2017-02-23 04:39] thomasflynn commented on #1051
Sorry, i think i should've read your initial post first :).  I was thinking you wanted to so some processing along the lines of something that could be done in a fragment shader.  In that case, you could so something similar to the following: https://github.com/Samsung/GearVRf/issues/1047

if you're looking to save, you can capture an eyebuffer (an eyebuffer is a buffer that a left/right eye is dr

[2017-02-23 06:22] sam16222 commented on #1051
I tried removing the mesh and setting the background blue, but it's still giving me an all black image. Am I doing anything wrong? This is my saveImage code:
private static void saveImage(Bitmap finalBitmap) {

        String root = Environment.getExternalStorageDirectory().getAbsolutePath();
        File myDir = new File(root + "/saved_images");
        myDir.mkdirs();
        String timeStamp =

[2017-02-23 09:36] JacobLawtonClaro commented on #1039
That worked!!!
It can be installed from the store, Oculus also finally got back to me they confirmed that they do not currently support v2 signing so until they do all projects that are going to be uploaded to the store should be signed the above way.

Thank you.

[2017-02-23 14:30] ragner commented on #1053
Hi @konidk,
could you try make the text's changes in UI thread!?

[code]

or you must  invalidate the layout in UI Thread:

[code]

[2017-02-23 14:34] ragner commented on #1053
Maybe we need improve this GVRView api to work in GL thread.
 But now it is safe change it's content in UI thread because it is a Android view.

[2017-02-23 15:18] liaxim commented on #1039
Awesome

[2017-02-23 15:18] #1039 closed

[2017-02-23 15:22] liaxim commented on #1051
@sam16222 We have a sample that captures screenshots amongst other things. When I had it capture screenshots it produced black results for me too. Will look into it. The sample is GearVRf-Demos/old/gvr-sample.

[2017-02-23 15:25] liaxim commented on #1046
@shaishav-mtech GVRContext.createQuad(2.88f, 3.86f), for example.

[2017-02-23 15:54] liaxim commented on #1051
@sam16222 For now in your gvr.xml file specify ``multiSamples="1"`` although you may not like how things look.

In Java_org_gearvrf_OvrViewManager_readRenderResultNative, glBlitFramebuffer returns GL_INVALID_OPERATION otherwise. Will be investigated.

[2017-02-23 18:57] konidk commented on #1053
Hi, thanks for your reply !
I'm not at home ATM, I will try and edit this post as soon as I can.

[2017-02-23 19:28] liaxim commented on #1051
@sam16222 To use multiSamples>1 you can try https://github.com/Samsung/GearVRf/pull/1054

[2017-02-23 21:42] thomasflynn commented on #1039
@liaxim , let's add this to the wiki/faq

[2017-02-23 21:57] liaxim commented on #1039
Added entry 15.

[2017-02-24 07:11] p122336 opened #1055 "How could we fully utilize COLOR_RGBA16F of VrAppSettings.EyeBufferParams.ColorFormat"
Greetings, and thank you for your dedication in the framework development.

I am working on an HDR related project right now. It appears to me that since GVRf supports 16 bit half precision numbers, it should also support loading HDR texture and performing tone mapping in the fragment shaders. However, I could not find any example or documentation regarding to this part of the framework. I am wond

[2017-02-24 08:41] sam16222 commented on #1051
@liaxim Screenshots started working fine after changing multiSamples to 1. I am not quite sure I understand how to make it work with #1054 . I am still using the dev snapshot and haven't updated the app to work with the on disk framework and thus cannot make changes to the code.

Can you explain why it doesn't work for >1

[2017-02-24 15:27] liaxim commented on #1051
@sam16222 One of these days the fix will be reviewed and merged. Then we will update the development snapshot so you'll get the fix automatically.

There is (unnecessary) glBlitFramebuffer operation performed when taking a screenshot. If multiSamples>1 then it fails because of "GL_INVALID_OPERATION is generated if the value of GL_SAMPLE_BUFFERS for the draw buffer is greater than zero.". Even afte

[2017-02-24 18:58] sam16222 commented on #1051
Thanks!, But isn't glReadPixels a little slow? In the future I plan to process every frame of the video and using glReadPixels would lead to a significant lag in the application. Is there a better way to directly obtain the buffer?

[2017-02-24 21:19] liaxim commented on #1051
Yes, our screen capturing uses the blocking variant. The better way would be to use PBO (https://www.khronos.org/opengl/wiki/Pixel_Buffer_Object) in conjunction with glReadPixels.

[2017-02-24 23:52] liaxim commented on #599
Was fixed some time ago

[2017-02-24 23:52] #599 closed

[2017-02-24 23:53] #408 closed

[2017-02-24 23:55] #1053 closed

[2017-02-25 12:38] felislynx-silae opened #1059 "Daydream intent filter results in black screen"
App is building correctly and running on Pixel phone but it's not listed in daydream app.
To list it, I have to set <category android:name="com.google.intent.category.DAYDREAM" /> in intent filter in manifest. After that, app is listed but trying to launch it results in black screen (full screen).
I've debugged app start and activity, scenes etc. are running like they should. There is no error, no

[2017-02-25 17:23] konidk opened #1060 "Integrating "gaussian blurs for GLSL" to OES Fragment Shader"
Hi,

I'm currently working on a project that requires reproducing the human eyesight using the camera passthrough and then add a blur filter to it in order to reproduce myopia. I need to be able to adjust the blur degree (from mild to important level of myopia).

The thing I've done is modifying the fragment shader from **OES Shader** (wich is used by **GVRCameraSceneObject**) by using the GLSL co

[2017-02-27 15:48] #1049 closed

[2017-02-27 15:49] #1032 closed

[2017-02-27 17:18] liaxim commented on #1059
We will have to get hold of a Pixel. It will take few days.

[2017-02-27 19:39] NolaDonato commented on #1060
Thanks so much for your project! My left eye cannot see distance at all but my right eye can so if you are successful you will make VR more comfortable for me. I will look at your filter and see if I can get it to work in a test app.

[2017-02-28 00:17] NolaDonato commented on #1060
The two pass method requires you to render the same mesh twice with different shaders. While this is possible in GearVRF, you must render into an external texture and it is somewhat messy. I have implemented a single-pass Gaussian blur which is less efficient than the two pass one but easier to code. Here is the shader:

#extension GL_OES_EGL_image_external_essl3 : require
precision mediump float;

[2017-02-28 02:42] thomasflynn commented on #1055
Well, I know we don't have any examples of it.  I think we once added support for floating point textures upon a request.  I don't think we have something that reads 16bit half.  We should add that.  @NolaDonato?

[2017-02-28 08:36] sam16222 commented on #1051
The thing is captureScreen gives a 1024*1024 bitmap, with quite some pixelation due to which the QR codes (object of interest) become unrecognizable. I am using a high res 360 video which looks great via the HMD. I want a way to extract the buffer in it's simplest form and then process it for information. Is there a way to obtain that?

[2017-02-28 17:41] liaxim commented on #1051
Try increasing the eye buffer resolution. It is not going to be for free performance-wise but there will be a value that works for you. Modify gvr.xml like this:
[code]

The bitmap you get is identical to what you see in the HMD. You could take a screenshot via the phone and via the GVRF facility and compare them. Let us know if you see discrepancies.

[2017-02-28 19:13] NolaDonato commented on #1055
Our current float support is 32 bit GL_RG format which is 2 32 bit floats per pixel. I can add support for 16 bit float textures to the upcoming release.

[2017-03-01 03:43] thomasflynn commented on #1051
correct, for better fidelity, you'll need to increase the eyebuffer resolution.  For faster readback, you'll need to use PBOs.  We used to have some code that was used by an internal project that was delivered a while back that did that.  I think we'll need to rearchitect it for a more general use case.

[2017-03-01 06:46] sam16222 commented on #1051
I can't afford any more performance lag. How to go about working with PBOs? I need to tap into the framework and get the buffer before it is being rendered onto the texture.

[2017-03-01 15:31] liaxim commented on #1051
I will look into adapting our code that uses PBOs for use by the screen capturing facility. It might be easier to just reuse bits. Generalizing that code might be better done after the major Vulkan-related changes are in.

[2017-03-01 22:41] konidk commented on #1060
The project is about helping to understand how visual impairments impact lives of visually impaired people. This should help the research in visual research ! We are working with an engineering school laboratory. I will give you more information once it's finished :)

The fragment shader you provided reproduce perfectly myopia, it's exactly what I'm searching for. This is a realistic blurry vision

[2017-03-02 02:29] NolaDonato commented on #1060
The two pass method may be faster because gaussian blur is a linearly separable operation. Mihail is working on improving the render to texture feature which is what is needed to do a two pass solution. I will look at implementing that in GearVRF but it might take a few days because we are working on getting out the next release.

[2017-03-02 21:32] p122336 commented on #1055
Thank you!

[2017-03-03 08:30] sam16222 opened #1066 "Error:Failed to resolve: org.gearvrf:backend_daydream:3.1.1-SNAPSHOT"
Getting this error while building a sample app from gvrf demos. What is the issue with this?

Error:Failed to resolve: org.gearvrf:backend_daydream:3.1.1-SNAPSHOT
Error:Failed to resolve: org.gearvrf:backend_oculus:3.1.1-SNAPSHOT
Error:Failed to resolve: org.gearvrf:framework:3.1.1-SNAPSHOT

[2017-03-03 11:09] sam16222 opened #1067 "Execution failed for task '"framework:buildInfo'."
I am trying to build the framework but end up with the error

Process 'command 'git'' finished with non-zero exit value 128

As I understand from the gradle files, the code is uploading/deleting files from the github repository. Due to company restrictions I have very limited access to github, in that I cannot clone directories. Sinse I have downloaded the zip manually, it gives the error 'not a g

[2017-03-03 14:50] konidk commented on #1060
I understand, please keep me updated about this new feature. Keep up the good work ! I will stay tuned.

[2017-03-06 11:28] guiyens commented on #1066
Same problem:

     Required by:
         GearVRf-Demos:gvr-video:unspecified

     Required by:
         GearVRf-Demos:gvr-video:unspecified

     Required by:
         GearVRf-Demos:gvr-video:unspecified

[2017-03-06 16:37] brian-faber commented on #1066
I also am getting this (just synced this morning but was fine before)

[2017-03-06 17:11] konidk commented on #1060
If this can help, this [link ](http://www.geeks3d.com/20100909/shader-library-gaussian-blur-post-processing-filter-in-glsl/) shows how to divide the process into two passes.

[2017-03-06 17:19] konidk commented on #1066
I also got this error.

[2017-03-07 00:10] NolaDonato commented on #1060
I worked on your issue this weekend. I grabbed PR #1028 that Mihail is working on and tried to use it to render a blurred version of the camera input to a texture and subsequently use that texture on another object. This is the only way I can get multiple passes to work - if I render to a texture. Unfortunately, when I tried this approach the resulting quad is black. Mihail is on PTO for a few day

[2017-03-07 00:31] roshanch commented on #1066
Whats your ~/.gradle/gradle.properties looks like? Does it have "useLocalDependencies=true" or "buildGvrfAndDemos=true" ?

[2017-03-07 01:30] roshanch commented on #1066
In your common.gradle of Demos, try changing line ext.gearvrfVersion='3.1.1-SNAPSHOT'" to ext.gearvrfVersion='3.1.1'

[2017-03-07 02:35] thomasflynn commented on #1066
i think something went wrong with the automated buiild.  sent a message to the build team.  will let you know.

[2017-03-07 02:39] thomasflynn commented on #1067
yes, that can be omitted.  those lines are in there to automatically stamp the GearVRf library with the git hash of the last commit which we will output to the logcat on startup.  This allows us to help identify what was in a daily build if a problem was discovered in some random build.

you can omit any lines referencing git.

[2017-03-07 03:19] thomasflynn commented on #439
should we close this now?

[2017-03-07 04:50] sam16222 commented on #1067
Can I omit the entire buildInfo task? because that task uses the output of 'git log -n 1 --format=%H' for creating .cpp and .java files.

[2017-03-07 05:39] thomasflynn commented on #1067
i think you can.

[2017-03-07 11:25] Endmaril commented on #762
Hi,

I kinda have the same issue as @arianaa30 had 6 months ago. I'd like to get the view frustum representing what the user actually views at each frame (the look at vector is not enough, I want the actual view frustum).
I tried out different things, like getting the headTransform matrix or the transform object from the camera rig but those are not updated as the user moves (perhaps they shouldn'

[2017-03-07 11:32] sam16222 commented on #1067
After commenting out the buildInfo tasks in both framework.gradle and backend_oculus.gradle, and commenting out the calls made to the buildInfo task, the build gives the following error

Error:(687) Android NDK: Module gvrf-oculus depends on undefined modules: systemutils

I am not quite sure how to go about it. Can you please build once without all the git commands and let me know what all needs

[2017-03-07 16:51] liaxim commented on #439
Addressed by https://github.com/Samsung/GearVRf/pull/1017

[2017-03-07 16:51] #439 closed

[2017-03-07 16:59] liaxim commented on #1066
Looks like since we made a 3.1.1 release the maven repo renamed the snapshot directory. Will create a 3.1.2 snapshot and update our release procedure wiki.

[2017-03-07 17:12] Nathipha opened #1069 "Use camera passthrough as background "video""
First of all: I'm using the the last version of the framework that still works with Eclipse (3.0.1 I think).

What I want to do:
Use the camera passthrough as a full half-screen background "video", similar to how you can set the background color for each eye with:

    scene.getMainCameraRig().getLeftCamera().setBackgroundColor(0.0f, 0.0f, 0.0f, 0.0f);
    scene.getMainCameraRig().getRightCamera()

[2017-03-07 17:15] liaxim commented on #1066
3.1.2 snapshot created, the framework and demos have been updated. The demos build without problems.

Updated the wiki with the steps we missed this time.

[2017-03-07 17:23] liaxim commented on #1067
@sam16222 If you download the latest master, the use of the git executable has been removed. The build now tries to read the information directly from the git metainfo and if it can't, it continues on.

I will look into what happens with the version you are using.

[2017-03-07 17:47] rahul27 commented on #1067
I get the same error when I try to build the framework with the latest version of the NDK :

`Error:(686, 0) Android NDK: Module gvrf-oculus depends on undefined modules: systemutils    `

Downgrading the NDK version builds the framework correctly. We might have to fix the build for the latest version of the NDK.

[2017-03-07 17:59] liaxim commented on #1067
The systemutls error was fixed by https://github.com/Samsung/GearVRf/pull/1070

[2017-03-07 18:00] liaxim commented on #1067
@sam16222 Alternatively remove the reference to systemutils from GearVRf/GVRf/Framework/framework/src/main/jni/Android.mk if you want to keep using your snapshot.

[2017-03-07 18:57] thomasflynn commented on #801
fwiw, i modified gvr-360photo to add the following:

    public void onStep() {
        if(frame == 300) {
            Future<GVRTexture> texture = mContext.getAssetLoader().loadFutureTexture(new GVRAndroidResource(mContext, R.raw.wavy));
            sphereObject.getRenderData().getMaterial().setMainTexture(texture);
        }
        frame++;
    }

and that worked fine.  Also modified the initia

[2017-03-07 19:25] liaxim commented on #801
Btw, Erik has reported on Feb 13th something very similar (pure virtual call by TextureShader::programInit) with much more recent framework. There might be some steps to reproduce with Erik's app. Will be investigating it. Whatever the problem is, it is not in GVRSphereSceneObject itself.

[2017-03-07 19:27] thomasflynn commented on #801
ah, ok.  let me know what you find.

[2017-03-08 01:04] NolaDonato commented on #679
I made a lot of modifications to the asset loader last year to handle cases like these. I tested by loading cube_notexture.fbx from gvr-modelviewer2 (which loads from the SD card). The cube appears without a texture (because the asset loader replaces missing textures with white). I think this one is fixed.

[2017-03-08 01:04] #679 closed

[2017-03-08 01:18] rahul27 commented on #1059
Hi @felislynx-silae I just tried the gvr-simplesample(https://github.com/gearvrf/GearVRf-Demos/tree/master/gvr-simplesample) and it ran fine on the Pixel. I had to add the following lines to the manifest to get it to run and show up on Daydream Home:

[code]

Could you let me know the sample you tried at your end? Also it would be great if you could try the simplesample and let me know if you see

[2017-03-08 01:20] NolaDonato commented on #762
The view frustum is expressed in camera coordinates. The camera is located at 0,0,0 and looks down the -Z axis. The frustum picker tries to pick ALL the objects that are within the view frustum - not surprising it picked everything :-) The view frustum is expressed as six planes. You can get access to the field of view, near and far clipping planes and aspect ratio from the GVRPerspectiveCamera:

[2017-03-08 02:10] thomasflynn commented on #772
Hi there @QKnows, it looks like this conversation went stale a long time ago, but I wanted to check in anyway.  I coded up a sample to match what you have here in the report:

https://github.com/thomasflynn/GearVRf-Demos/tree/mesh/gvr-meshchange

And that seems to work as expected with the latest top of trunk.  Let me know if there is something different I need to do to reproduce the issue or if t

[2017-03-08 02:34] NolaDonato commented on #800
Are you still having build problems or can I close this issue?

[2017-03-08 02:45] NolaDonato commented on #681
After all of the work I did last year on the asset loader, it appears to have fixed this bug. All of the little guys appear to be textured.

[2017-03-08 02:45] #681 closed

[2017-03-08 02:55] NolaDonato commented on #967
This is not a bug. It is a "feature" of the texture shader (which is the default shader if you don't specify anything). If you remove the setMainTexture call, you have to create the cube with the Phong shader (which uses "diffuseTexture" instead of "mainTexture"). Right now the way to do this is via GVRRenderData.setShaderTemplate. Replace the setMainTexture call with this:

groundObject.getRender

[2017-03-08 05:42] felislynx-silae commented on #1059
I'll try this week a simplesample. I might forgot that i'm using this:
[code]
instead of compiling framework by myself. So this might be an issue.

[2017-03-08 06:55] sam16222 commented on #1067
Okay it works. Thank you!

[2017-03-08 06:55] #1067 closed

[2017-03-08 07:36] Endmaril commented on #762
This is perfect !
Couldn't expect a more detailed answer.

Thank you very much for the explanation and code samples !

[2017-03-08 09:04] felislynx-silae commented on #1059
Ok, just builded Simplesample and it's same issue as before. Black screen with category DAYDREAM. Attaching build.gradle which i've used to build.
[code]

[2017-03-08 10:04] felislynx-silae opened #1072 "Galaxy S7 Nougat - libvrapi.so -> unauthorized access"
Maybe it's known to you guys. But after upgrading s7 to nougat, all my local builds show this: [MESSAGE](https://drive.google.com/open?id=0Bzu1FkBNLSmkaGlsM1FZRWtRS00). Any tips?

[2017-03-08 11:10] sam16222 commented on #1066
Okay thanks. It is working now.

[2017-03-08 11:10] #1066 closed

[2017-03-08 11:46] Malikkhoja commented on #557
Hi @aagocs @jason2kim,

I am facing the same issue with the libgvrf.so. It says UnsatisfiedLinkError dlopen failed: cannot locate symbol "ovr_DisplaySystemActivityError".

Can you please help?

[2017-03-08 14:05] felislynx-silae commented on #1059
And by the way, just checked on Moto Z, and it's the same behavior as Pixel.

[2017-03-08 14:08] Akadone opened #1073 "Reset orientation not working any more"
A few of weeks ago gandle was update on 3.1.1 snapshot and
scene.getMainCameraRig().reset();
was broken. Now I am upgraded it to 3.1.2, but it`s steel not working. Not working any of scene.getMainCameraRig(). scene.getMainCameraRig().getTransform() too - I tried to use it for reset orientation.

[2017-03-08 15:09] brian-faber commented on #1059
I just want to chime in and say I was seeing the same issue as felislynx-silae when I tried this a few weeks back. If I specify the daydream intent I get a black screen, if I don't it runs as a cardboard app on my pixel phone.

[2017-03-08 15:16] liaxim commented on #557
@Malikkhoja Which version of the framework are you using? Are you trying to run one of our demos? ovr_DisplaySystemActivityError is a symbol from the Oculus Mobile SDK 0.6.2. There is no such in 1.0.4 - the one we currently use.

[2017-03-08 15:46] liaxim commented on #1072
It has to be https://developer.android.com/about/versions/nougat/android-7.0-changes.html#ndk.

What is the API level of your app? Can you try using 23 or lower? What is your phone & Android version?  What is the version of your Oculus System Driver (in Settings->Applications->Applications Manager).

[2017-03-08 16:04] liaxim commented on #967
This is more complete excerpt from the simplephysics sample (MainHelper.java):

[code]

It is using the phong shader so that is why the use of the main texture is surprising.

Also it works without having to resort to the main texture if no new material is created but the existing is used instead.

[2017-03-08 16:11] liaxim commented on #967
I also sprinkled a bunch of bindShaders calls but it had no effect.

[2017-03-08 16:51] liaxim commented on #1073
@Akadone Can you share a sample that shows how it is broken?

I just tried ``getGVRContext().getMainScene().getMainCameraRig().reset()`` and it worked as expected. To be more specific, I modified gvr-simplesample so on a touch event it would invoke the aforementioned reset. When I launch this app I am facing a quad. Then I rotate my head, tap and the quad jumps back in front in my new orientation.

[2017-03-08 16:57] liaxim commented on #1051
@sam16222 Fyi, I will get to it but I can't promise it will happen very soon.

[2017-03-08 16:58] liaxim commented on #1046
@shaishav-mtech Assuming it is all good. Let us know if you have any questions.